Repository dotnet/dotnet-api-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @stevestein, @KathleenDollard, @karelz, @scottaddie

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is for global owners.

# This line tags the dotnet-docs team for review, so nothing falls through the cracks.

*     @dotnet/docs


# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/xml/Microsoft.SqlServer**/** @stevestein
/xml/Microsoft.VisualBasic**/** @KathleenDollard
/xml/System.Data**/** @stevestein
/xml/System.Net**/** @karelz
/xml/System.Web**/** @scottaddie

Rename RenderTable to RenderOuterTable
  xml/System.Web.UI.WebControls/FormView.xml
Owners: @scottaddie

Update DeflateStream.xml
  xml/System.IO.Compression/DeflateStream.xml
Owners: @dotnet/docs

Rename RenderTable to RenderOuterTable (#3890)
  xml/System.Web.UI.WebControls/FormView.xml
Owners: @scottaddie

Update xml/System.ComponentModel/INotifyPropertyChanged.xml
  xml/System.ComponentModel/INotifyPropertyChanged.xml
Owners: @dotnet/docs

Address comments by mairaw
  xml/System.Reflection.PortableExecutable/DebugDirectoryEntryType.xml
  xml/System.Reflection.PortableExecutable/PEStreamOptions.xml
  xml/System.Security.Cryptography/HashAlgorithmName.xml
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
Owners: @dotnet/docs

Remove unnecessary remark tags
  xml/System.Reflection.PortableExecutable/DebugDirectoryEntryType.xml
  xml/System.Reflection.PortableExecutable/PEStreamOptions.xml
Owners: @dotnet/docs

Remark for null in UWP (#3771)
  xml/System.ComponentModel/INotifyPropertyChanged.xml
Owners: @dotnet/docs

Update live with master (#3892)
  xml/System.ComponentModel/INotifyPropertyChanged.xml
  xml/System.Web.UI.WebControls/FormView.xml
  xml/System.Windows.Navigation/BaseUriHelper.xml
Owners: @dotnet/docs, @scottaddie

Added not for nuget packages in other versions
  xml/ns-System.Text.Json.xml
Owners: @dotnet/docs
