Repository dotnet/dotnet-api-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevestein, @KathleenDollard, @karelz, @scottaddie

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is for global owners.
# Not adding in this PR, but I'd like to try adding a global owner set with the entire team.
# One interpretation of the GitHub docs is that global owners are added only if not removed
# by a more local rule.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/xml/Microsoft.SqlServer**/** @stevestein
/xml/Microsoft.VisualBasic**/** @KathleenDollard
/xml/System.Data**/** @stevestein
/xml/System.Net**/** @karelz
/xml/System.Web**/** @scottaddie

recover deleted content
  xml/Microsoft.VisualBasic/FileSystem.xml
  xml/Microsoft.VisualBasic/Interaction.xml
  xml/Microsoft.Win32/RegistryKey.xml
  xml/System.Configuration.Install/AssemblyInstaller.xml
  xml/System.Configuration/ValidatorCallback.xml
  xml/System.DirectoryServices.ActiveDirectory/Forest.xml
  xml/System.Drawing.Imaging/EncoderParameter.xml
  xml/System.IO/DirectoryInfo.xml
  xml/System.Management/MethodDataCollection.xml
  xml/System.Security.Permissions/FileIOPermission.xml
  xml/System.Security/NamedPermissionSet.xml
  xml/System.ServiceModel/EndpointAddress.xml
  xml/System.Web.Services.Protocols/SoapException.xml
  xml/System.Web.Services.Protocols/SoapFaultSubCode.xml
Owners: @KathleenDollard, @scottaddie

Fix typos in return value documentation for Add/AddRange in both IImutableList<T> and ImmutableList<T>
  xml/System.Collections.Immutable/IImmutableList`1.xml
  xml/System.Collections.Immutable/ImmutableList`1.xml
Owners: none

Added GetFullPath example
  xml/System.IO/Path.xml
Owners: none

Remarks for ExecuteNonQuery additional reasons to return -1
  xml/System.Data.SqlClient/SqlCommand.xml
Owners: @stevestein

Fix typo
  xml/System.Net/Dns.xml
Owners: @karelz

add content for System.Text.Json from /// comments
  xml/System.Text.Json/JsonCommentHandling.xml
  xml/System.Text.Json/JsonReaderException.xml
  xml/System.Text.Json/JsonReaderOptions.xml
  xml/System.Text.Json/JsonReaderState.xml
  xml/System.Text.Json/JsonTokenType.xml
  xml/System.Text.Json/JsonWriterOptions.xml
  xml/System.Text.Json/JsonWriterState.xml
  xml/System.Text.Json/Utf8JsonReader.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Owners: none

missing tag added
  xml/System.Web.Configuration/BrowserCapabilitiesFactory.xml
Owners: @scottaddie
