Repository dotnet/dotnet-api-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @cston, @333fred, @maryamariyan, @michaelgsharp, @safern, @tarekgh, @adamsitnik, @carlossanlop, @jozkee, @dotnet/ncl, @Anipik, @ViktorHofer, @tannergooding, @pgovind, @buyaa-n, @krwq, @joperezr, @eiriktsarpalis, @layomia, @lajones, @ajcvickers, @cheenamalhotra, @david-engel, @karinazhou, @JRahnama, @tommcdon, @noahfalk, @bartonjs, @GrabYourPitchforks, @davidfowl, @halter73, @jkotalik, @steveharter, @StephenMolloy, @HongGit, @AaronRobinsonMSFT, @jkoritzinsky, @echesakovMSFT, @mconnew, @kouvel, @scottaddie, @dotnet/wpf-developers, @RussKie, @merriemcgaw

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/
# A CODEOWNERS file uses a pattern that follows the same rules in gitignore files: https://git-scm.com/docs/gitignore#_pattern_format

# The '*' pattern is for global owners.

# This line tags the dotnet-docs team for review, so nothing falls through the cracks.

*     @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Area owners of the dotnet/runtime repo: https://github.com/dotnet/runtime/blob/master/docs/area-owners.md 

/xml/Microsoft.CSharp*/ @cston @333fred
/xml/Microsoft.Extensions*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.DependencyModel*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.Caching*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.Configuration*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.DependencyInjection*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.FileSystem*/ @adamsitnik @carlossanlop @jozkee
/xml/Microsoft.Extensions.Hosting*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.Http*/ @dotnet/ncl
/xml/Microsoft.Extensions.Logging*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.Options*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.Extensions.Primitives*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/Microsoft.VisualBasic*/ @cston @333fred
/xml/Microsoft.Win32*/ @Anipik @ViktorHofer
/xml/System.Activities*/ @dotnet/docs
/xml/System.AddIn*/ @dotnet/docs
/xml/System.Buffers*/ @tannergooding @pgovind
/xml/System.CodeDom*/ @buyaa-n @krwq @joperezr
/xml/System.Collections*/ @eiriktsarpalis @layomia
/xml/System.ComponentModel*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/System.ComponentModel.Composition*/ @buyaa-n @joperezr @krwq
/xml/System.ComponentModel.DataAnnotations*/ @lajones @ajcvickers
/xml/System.Composition*/ @buyaa-n @joperezr @krwq
/xml/System.Configuration*/ @buyaa-n @joperezr @krwq
/xml/System.Data*/ @ajcvickers @cheenamalhotra @david-engel
/xml/System.Data.Odbc/ @ajcvickers
/xml/System.Data.OleDb/ @ajcvickers
/xml/System.Data.SqlClient/ @cheenamalhotra @david-engel @karinazhou @JRahnama
/xml/System.Deployment*/ @dotnet/docs
/xml/System.Device*/ @dotnet/docs
/xml/System.Diagnostics*/ @tommcdon @Anipik @ViktorHofer
/xml/System.Diagnostics/Activity*.xml @tarekgh
/xml/System.Diagnostics/Process*.xml @adamsitnik @eiriktsarpalis
/xml/System.Diagnostics.Tracing/ @noahfalk @tommcdon @Anipik @ViktorHofer @tarekgh
/xml/System.DirectoryServices*/ @buyaa-n @joperezr @krwq
/xml/System.Drawing*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/System.Dynamic*/ @dotnet/docs
/xml/System.EnterpriseServices*/ @dotnet/docs
/xml/System.Formats.Asn1/* @bartonjs @GrabYourPitchforks
/xml/System.Formats.Cbor/* @eiriktsarpalis @layomia
/xml/System.Globalization*/ @maryamariyan @michaelgsharp @safern @tarekgh
/xml/System.IO*/ @adamsitnik @carlossanlop @jozkee
/xml/System.IO.Compression*/ @adamsitnik @carlossanlop @jozkee
/xml/System.IO.Pipelines*/ @davidfowl @halter73 @jkotalik
/xml/System.IdentityModel*/ @dotnet/docs
/xml/System.Json*/ @dotnet/docs
/xml/System.Linq*/ @eiriktsarpalis @layomia
/xml/System.Linq.Expressions*/ @cston @333fred
/xml/System.Linq/Parallel*.xml @adamsitnik @carlossanlop @jozkee
/xml/System.Management*/ @Anipik @ViktorHofer
/xml/System.Media*/ @dotnet/docs
/xml/System.Messaging*/ @dotnet/docs
/xml/System.Net*/ @dotnet/ncl
/xml/System.Numerics*/ @tannergooding @pgovind
/xml/System.Printing*/ @dotnet/docs
/xml/System.Reflection*/ @buyaa-n @joperezr @krwq @steveharter
/xml/System.Reflection.Emit*/ @buyaa-n @joperezr @krwq @steveharter
/xml/System.Reflection.Metadata*/ @buyaa-n @joperezr @krwq @steveharter
/xml/System.Resources*/ @buyaa-n @joperezr @krwq
/xml/System.Runtime*/ @pgovind @tannergooding
/xml/System.Runtime.Caching*/ @StephenMolloy @HongGit
/xml/System.Runtime.CompilerServices*/ @buyaa-n @joperezr @krwq
/xml/System.Runtime.InteropServices*/ @AaronRobinsonMSFT @jkoritzinsky
/xml/System.Runtime.Intrinsics*/ @pgovind @tannergooding @echesakovMSFT
/xml/System.Runtime.Serialization*/ @StephenMolloy @HongGit
/xml/System.Runtime.Serialization.Formatters/ @pgovind @tannergooding
/xml/System.Security*/ @bartonjs @GrabYourPitchforks
/xml/System.ServiceModel*/ @HongGit @mconnew
/xml/System.ServiceModel.Syndication/ @StephenMolloy @HongGit
/xml/System.ServiceProcess*/ @Anipik @ViktorHofer
/xml/System.Speech*/ @dotnet/docs
/xml/System.Text*/  @dotnet/docs
/xml/System.Text/Encoding*.xml @eiriktsarpalis @layomia
/xml/System.Text.Encodings.Web*/ @eiriktsarpalis @layomia
/xml/System.Text.Json*/ @eiriktsarpalis @layomia @steveharter
/xml/System.Text.RegularExpressions*/ @pgovind @tannergooding
/xml/System.Threading*/ @kouvel
/xml/System.Threading.Channels*/ @adamsitnik @carlossanlop @jozkee
/xml/System.Threading.Tasks*/ @adamsitnik @carlossanlop @jozkee
/xml/System.Timers*/ @dotnet/docs
/xml/System.Transactions*/ @HongGit
/xml/System.Web*/ @scottaddie
/xml/System.Windows*/ @dotnet/wpf-developers
/xml/System.Windows.Forms*/ @RussKie @merriemcgaw
/xml/System.Workflow*/ @dotnet/docs
/xml/System.Xaml*/ @dotnet/wpf-developers
/xml/System.Xml*/ @buyaa-n @joperezr @krwq

# System.Console
/xml/System/Console* @adamsitnik @carlossanlop @jozkee

# System.Memory
/xml/System/Memory*.xml @adamsitnik @carlossanlop @jozkee
/xml/System/ReadOnlyMemory*.xml @adamsitnik @carlossanlop @jozkee
/xml/System/ReadOnlySpan*.xml @adamsitnik @carlossanlop @jozkee
/xml/System/Span*.xml @adamsitnik @carlossanlop @jozkee

# System.Array
/xml/System/Array.xml @pgovind @tannergooding

# System.Uri
/xml/System/Uri.xml @dotnet/ncl

Modifers -> Modifiers (#5051)
  samples/snippets/csharp/VS_Snippets_Wpf/CommandLibrarySnippets/CSharp/Window1.xaml.cs
  samples/snippets/visualbasic/VS_Snippets_Wpf/CommandLibrarySnippets/visualbasic/window1.xaml.vb
Owners: @dotnet/docs

Add unit
  xml/System.Net.NetworkInformation/IPv4InterfaceStatistics.xml
Owners: @dotnet/ncl

Add InvalidOperationException to Queryable.Max
  xml/System.Linq/Queryable.xml
Owners: @eiriktsarpalis, @layomia

fix typos, replace .net framework
  xml/System/Int32.xml
  xml/System/Single.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
Owners: @dotnet/docs

Remove misleading sentence in BinaryPrimitives remarks
  xml/System.Buffers.Binary/BinaryPrimitives.xml
Owners: @tannergooding, @pgovind

add see also links to formatting articles; .net framework -> .net
  xml/System.Numerics/BigInteger.xml
  xml/System/Byte.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Half.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
Owners: @tannergooding, @pgovind, @dotnet/docs

Added clarifying examples in Path.xml
  xml/System.IO/Path.xml
Owners: @adamsitnik, @carlossanlop, @jozkee

Remove reference to DEBUG value
  xml/System.Diagnostics.CodeAnalysis/DynamicDependencyAttribute.xml
Owners: @tommcdon, @Anipik, @ViktorHofer

add 'products' taxonomy metdata and values
  docfx.json
Owners: @dotnet/docs

Update xml/System/Delegate.xml
  xml/System/Delegate.xml
Owners: @dotnet/docs

Add exception doc for Queryable.Min as well
  xml/System.Linq/Queryable.xml
Owners: @eiriktsarpalis, @layomia

Add space character
  docfx.json
Owners: @dotnet/docs

Update HttpClient.xml
  xml/System.Net.Http/HttpClient.xml
Owners: @dotnet/ncl

update ecma links (#5362)
  xml/System.Reflection.Metadata/GenericParameter.xml
  xml/System.Reflection.Metadata/GenericParameterConstraint.xml
  xml/System.Reflection.Metadata/ManifestResource.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Speech.Recognition.SrgsGrammar/SrgsSemanticInterpretationTag.xml
  xml/System.Windows.Xps/XpsDocumentWriter.xml
Owners: @buyaa-n, @joperezr, @krwq, @steveharter, @dotnet/docs, @dotnet/wpf-developers
