Repository dotnet/dotnet-api-docs, pull requests merged in 2020-12, with the labels that each got.

#5138 .NET Interactive: Add_try_dotnet_to_batch_26a
  xml/System.Collections.Generic/EqualityComparer`1.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/Queryable.xml
  xml/System.Text/StringBuilder.xml
  xml/System/Buffer.xml
  xml/System/Converter`2.xml
  xml/System/DateTime.xml
  xml/System/Decimal.xml
  xml/System/Delegate.xml
  xml/System/MulticastDelegate.xml
  xml/System/Type.xml
Labels: :woman_technologist: .NET Interactive

#5108 Correct Rfc2898DeriveBytes example encryption class reference
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
Labels: area-System.Security

#5079 Fix reference to return type
  xml/System.Diagnostics/ActivityTraceId.xml
Labels: area-System.Diagnostics.Tracing

#5071 Document CultureInfo.CurrentCulture default on Unix-likes
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Globalization

#5159 Fix broken indentation
  samples/snippets/csharp/VS_Snippets_Remoting/TcpListener_Pending_LocalEndPoint/CS/source.cs
Labels: area-System.Net

#5182 Update download event snippets
  samples/snippets/cpp/VS_Snippets_Remoting/NCLWebClientAsync/CPP/asyncmethods.cpp
  samples/snippets/csharp/VS_Snippets_Remoting/NCLWebClientAsync/CS/NCLWebClientAsync.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/NCLWebClientAsync/CS/asyncmethods.cs
  samples/snippets/visualbasic/VS_Snippets_Remoting/NCLWebClientAsync/VB/asyncmethods.vb
  xml/System.Net/DownloadProgressChangedEventArgs.xml
  xml/System.Net/DownloadProgressChangedEventHandler.xml
  xml/System.Net/WebClient.xml
Labels: area-System.Net

#5186 Task.CompletedTask - Very tiny typo fix, missing indefinite article
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Runtime
