Repository dotnet/dotnet-api-docs, pull requests merged in 2020-11, with the labels that each got.

#5075 Add ISO 8601 hint to Calendar.xml
  xml/System.Globalization/Calendar.xml
Labels: area-System.Globalization

#5078 Regenerated intellisense xml from winforms triple slash comments
  xml/System.Windows.Forms.Design.Behavior/BehaviorServiceAdornerCollection.xml
  xml/System.Windows.Forms.VisualStyles/FontProperty.xml
  xml/System.Windows.Forms/AccessibleEvents.xml
  xml/System.Windows.Forms/AxHost.xml
  xml/System.Windows.Forms/BindingContext.xml
  xml/System.Windows.Forms/BindingSource.xml
  xml/System.Windows.Forms/CheckedListBox+CheckedIndexCollection.xml
  xml/System.Windows.Forms/DrawItemEventArgs.xml
  xml/System.Windows.Forms/ErrorProvider.xml
  xml/System.Windows.Forms/GridColumnStylesCollection.xml
  xml/System.Windows.Forms/GridTableStylesCollection.xml
  xml/System.Windows.Forms/HtmlElementCollection.xml
  xml/System.Windows.Forms/HtmlWindowCollection.xml
  xml/System.Windows.Forms/ImageList+ImageCollection.xml
  xml/System.Windows.Forms/ListBox+ObjectCollection.xml
  xml/System.Windows.Forms/ListView+CheckedIndexCollection.xml
  xml/System.Windows.Forms/ListView+CheckedListViewItemCollection.xml
  xml/System.Windows.Forms/ListView+ColumnHeaderCollection.xml
  xml/System.Windows.Forms/ListView+ListViewItemCollection.xml
  xml/System.Windows.Forms/ListView+SelectedIndexCollection.xml
  xml/System.Windows.Forms/ListView+SelectedListViewItemCollection.xml
  xml/System.Windows.Forms/ListView.xml
  xml/System.Windows.Forms/ListViewGroup.xml
  xml/System.Windows.Forms/ListViewGroupCollapsedState.xml
  xml/System.Windows.Forms/ListViewGroupCollection.xml
  xml/System.Windows.Forms/ListViewGroupEventArgs.xml
  xml/System.Windows.Forms/ListViewItem+ListViewSubItemCollection.xml
  xml/System.Windows.Forms/PaintEventArgs.xml
  xml/System.Windows.Forms/PropertyGrid.xml
  xml/System.Windows.Forms/ScrollBar.xml
  xml/System.Windows.Forms/ScrollableControl+DockPaddingEdges.xml
  xml/System.Windows.Forms/StatusBar+StatusBarPanelCollection.xml
  xml/System.Windows.Forms/TaskDialogRadioButtonCollection.xml
  xml/System.Windows.Forms/TextFormatFlags.xml
  xml/System.Windows.Forms/TextRenderer.xml
  xml/System.Windows.Forms/ToolBar+ToolBarButtonCollection.xml
  xml/System.Windows.Forms/TreeNodeCollection.xml
  xml/System.Windows.Forms/WebBrowserBase.xml
Labels: area-WinForms

#5087 Fix parameter definition for constructor in EventWaitHandle.xml
  xml/System.Threading/EventWaitHandle.xml
Labels: area-System.Threading

#5081 Correct note about ignoring read-only fields
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#5083 Update ICU info
  includes/unicode-categories.md
  xml/System/String.xml
Labels: area-System.Runtime

#5072 Fix minor typo
  xml/System.IO.Compression/ZipFile.xml
Labels: area-System.IO.Compression

#5099 Corrected a typo.
  xml/Microsoft.Extensions.Hosting/IHostEnvironment.xml
Labels: area-System.Runtime

#5042 Update ComWrappers.xml
  xml/System.Runtime.InteropServices/ComWrappers.xml
Labels: area-System.Runtime.InteropServices

#5093 Clarify ConfigureAppConfiguration
  xml/Microsoft.Extensions.Hosting/HostBuilder.xml
Labels: area-Extensions-Hosting

#5074 Fix documentation for Process.WaitForExit
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process

#5106 Add missing XML docs to System.Security.*
  xml/System.Security.Cryptography.Pkcs/Rfc3161TimestampToken.xml
  xml/System.Security.Cryptography/RSA.xml
  xml/System.Security.Cryptography/TripleDESCng.xml
  xml/System.Security.Permissions/KeyContainerPermissionAccessEntryCollection.xml
  xml/System.Security.Permissions/KeyContainerPermissionAccessEntryEnumerator.xml
Labels: area-System.Security

#5004 .NET Interactive: Add try dotnet to batch 24b
  xml/System.Security.Cryptography/CryptoStream.xml
  xml/System/Array.xml
  xml/System/BitConverter.xml
  xml/System/DateTime.xml
  xml/System/DivideByZeroException.xml
  xml/System/Type.xml
Labels: :woman_technologist: .NET Interactive

#5115 .NET Interactive: Add_try_dotnet_to_batch_25b
  xml/System.Globalization/Calendar.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/Queryable.xml
  xml/System.Numerics/Complex.xml
  xml/System.Text/StringBuilder.xml
  xml/System/Array.xml
  xml/System/DateTime.xml
  xml/System/Environment.xml
  xml/System/OverflowException.xml
  xml/System/Type.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5085 .NET Interactive: add_try_dotnet_to_batch_25a
  xml/System.Linq/Queryable.xml
  xml/System/Array.xml
  xml/System/Attribute.xml
  xml/System/Convert.xml
  xml/System/DateTime.xml
  xml/System/Enum.xml
  xml/System/ObjectDisposedException.xml
  xml/System/TimeSpan.xml
  xml/System/UInt32.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime
