Repository dotnet/dotnet-api-docs, pull requests merged in 2021-02, with the labels that each got.

#5286 Update Image.xml
  xml/System.Drawing/Image.xml
Labels: area-System.Net

#5302 Merge master into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/tostring3.cs
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Drawing/Image.xml
Labels: area-System.Net

#5263 Update SafeHandle guidance to recommend adding a public constructor
  xml/System.Runtime.InteropServices/SafeHandle.xml
Labels: area-System.Runtime.InteropServices

#5305 Merge master into live
  xml/System.Runtime.InteropServices/SafeHandle.xml
Labels: area-System.Runtime.InteropServices

#5057 Update image index docs
  xml/System.Windows.Forms/ButtonBase.xml
  xml/System.Windows.Forms/ColumnHeader.xml
  xml/System.Windows.Forms/Label.xml
  xml/System.Windows.Forms/ListViewItem.xml
  xml/System.Windows.Forms/TabPage.xml
  xml/System.Windows.Forms/ToolBarButton.xml
  xml/System.Windows.Forms/ToolStripItem.xml
  xml/System.Windows.Forms/TreeNode.xml
  xml/System.Windows.Forms/TreeView.xml
Labels: area-WinForms

#5311 Merge master into live
  xml/System.Windows.Forms/ButtonBase.xml
  xml/System.Windows.Forms/ColumnHeader.xml
  xml/System.Windows.Forms/Label.xml
  xml/System.Windows.Forms/ListViewItem.xml
  xml/System.Windows.Forms/TabPage.xml
  xml/System.Windows.Forms/ToolBarButton.xml
  xml/System.Windows.Forms/ToolStripItem.xml
  xml/System.Windows.Forms/TreeNode.xml
  xml/System.Windows.Forms/TreeView.xml
Labels: area-WinForms

#5316 Merge master into live
  xml/System.Runtime.InteropServices/ClassInterfaceType.xml
  xml/System.Runtime.InteropServices/CreateComInterfaceFlags.xml
  xml/System.Security.Authentication/HashAlgorithmType.xml
  xml/System.Security.Cryptography/DSASignatureFormat.xml
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
  xml/System.Text.Json/JsonSerializerDefaults.xml
  xml/System.Text.Json/JsonTokenType.xml
  xml/System.Web.Configuration/FormsAuthPasswordFormat.xml
  xml/System.Web.Security/MembershipPasswordFormat.xml
  xml/System.Windows.Forms/AccessibleEvents.xml
  xml/System.Windows.Forms/TaskDialogProgressBarState.xml
  xml/System.Windows.Forms/TaskDialogStartupLocation.xml
  xml/System.Xml/XmlNodeType.xml
  xml/System/GCKind.xml
  xml/System/StringSplitOptions.xml
Labels: area-System.Net

#5322 Don't filter new platform attributes
  xml/_filter.xml
Labels: area-System.Net

#5324 Merge master into live
  xml/System.Windows.Forms/NotifyIcon.xml
  xml/_filter.xml
Labels: area-WinForms

#5331 Merge master into live
  xml/System.Security.Cryptography/DSASignatureFormat.xml
Labels: area-System.Security

#5329 Remove broken links
  xml/System.Collections.Generic/List`1.xml
  xml/System.Web.Security/ActiveDirectoryMembershipProvider.xml
  xml/System.Xml.XPath/XPathExpression.xml
  xml/System/InvalidProgramException.xml
  xml/System/TimeSpan.xml
Labels: area-System.Net

#5333 Merge master into live
  xml/System.Collections.Generic/List`1.xml
  xml/System.Web.Security/ActiveDirectoryMembershipProvider.xml
  xml/System.Xml.XPath/XPathExpression.xml
  xml/System/InvalidProgramException.xml
  xml/System/TimeSpan.xml
Labels: area-System.Net

#4227 Remove incorrect return value descriptions from String.Join
  xml/System/String.xml
Labels: area-System.Runtime

#4439 Update FieldInfo docs to new language versions
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic FieldInfo.IsAssembly Example/CS/source.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_Classic/classic FieldInfo.IsAssembly Example/VB/source.vb
  xml/System.Reflection/FieldInfo.xml
Labels: area-System.Reflection

#4519 Update TypeDescriptionProvider.xml
  xml/System.ComponentModel/TypeDescriptionProvider.xml
Labels: area-System.ComponentModel

#4920 correct default info for CertificateRevocationCheckMode
  xml/System.Net.Security/SslClientAuthenticationOptions.xml
  xml/System.Net.Security/SslServerAuthenticationOptions.xml
Labels: area-System.Net.Security

#4945 Example what that attribute means in actual code
  xml/System.Diagnostics.CodeAnalysis/AllowNullAttribute.xml
Labels: area-System.Diagnostics

#4633 Indicate the fact that the bufferSize param on OpenStandardxxx methods has no effect
  xml/System/Console.xml
Labels: area-System.Console

#4738 Fixed output for Path.Join example.
  samples/snippets/csharp/api/system.io/path/combine3/Program.cs
Labels: area-System.IO

#4842 Update the conditions on GetEncodings
  xml/System.Text/Encoding.xml
Labels: area-System.Text.Encoding

#5339 Merge master into live
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic FieldInfo.IsAssembly Example/CS/source.cs
  samples/snippets/csharp/api/system.io/path/combine3/Program.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_Classic/classic FieldInfo.IsAssembly Example/VB/source.vb
  xml/System.ComponentModel/TypeDescriptionProvider.xml
  xml/System.Diagnostics.CodeAnalysis/AllowNullAttribute.xml
  xml/System.IO.MemoryMappedFiles/MemoryMappedFile.xml
  xml/System.Net.Security/SslClientAuthenticationOptions.xml
  xml/System.Net.Security/SslServerAuthenticationOptions.xml
  xml/System.Reflection/FieldInfo.xml
  xml/System.Text/Encoding.xml
  xml/System/Console.xml
  xml/System/String.xml
Labels: area-System.Net

#4711 Specify when DbDataReader.GetSchemaTable returns null
  xml/System.Data.Common/DbDataReader.xml
  xml/System.Data/IDataReader.xml
Labels: area-System.Data

#5347 Merge master into live
  xml/System.Data.Common/DbDataReader.xml
  xml/System.Data/IDataReader.xml
Labels: area-System.Net

#5314 Improve FileSystemWatcher examples
  samples/snippets/cpp/VS_Snippets_CLR_Classic/classic NotifyFilters Example/CPP/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic NotifyFilters Example/CS/source.cs
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic NotifyFilters Example/CS/source.exe
  samples/snippets/visualbasic/VS_Snippets_CLR_Classic/classic NotifyFilters Example/VB/source.vb
Labels: area-System.Security, doc-enhancement

#5303 Fix documentation for DlllImportAttribute.PreserveSig
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
  xml/System.Runtime.InteropServices/PreserveSigAttribute.xml
Labels: area-System.Runtime.InteropServices

#5015 Update Expression.xml
  xml/System.Linq.Expressions/Expression.xml
Labels: area-System.Linq.Expressions

#5156 Changed 'OrderedItems' to 'DinnerItems' as given in example
  xml/System/Enum.xml
Labels: area-System.Runtime

#5051 Modifers -> Modifiers
  samples/snippets/csharp/VS_Snippets_Wpf/CommandLibrarySnippets/CSharp/Window1.xaml.cs
  samples/snippets/visualbasic/VS_Snippets_Wpf/CommandLibrarySnippets/visualbasic/window1.xaml.vb
Labels: area-WPF

#5236 Update ClaimsIdentity.xml
  xml/System.Security.Claims/ClaimsIdentity.xml
Labels: area-System.Security
