Repository dotnet/dotnet-api-docs, pull requests merged in 2021-03, with the labels that each got.

#5362 Update ECMA links
  xml/System.Reflection.Metadata/GenericParameter.xml
  xml/System.Reflection.Metadata/GenericParameterConstraint.xml
  xml/System.Reflection.Metadata/ManifestResource.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Speech.Recognition.SrgsGrammar/SrgsSemanticInterpretationTag.xml
  xml/System.Windows.Xps/XpsDocumentWriter.xml
Labels: area-System.Net

#5377 Update codeowners file to match runtime repo
  .github/CODEOWNERS
Labels: area-System.Security

#5373 Add missing code tags
  xml/Microsoft.Extensions.Logging/LoggerExtensions.xml
Labels: area-Extensions-Logging

#5387 Improve numeric types
  xml/System.Numerics/BigInteger.xml
  xml/System/Byte.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Half.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
Labels: area-System.Numerics

#5326 Update AsyncTaskMethodBuilder.xml
  xml/System.Runtime.CompilerServices/AsyncTaskMethodBuilder.xml
Labels: area-System.Runtime.CompilerServices

#5256 Removing unnecessary class creation
  samples/snippets/csharp/VS_Snippets_CLR/ecdiffiehellmancng/cs/program.cs
Labels: area-System.Security

#5197 Exception in Interlocked.CompareExchange(Object..
  xml/System.Threading/Interlocked.xml
Labels: area-System.Threading

#5053 Correct wrong spelling
  samples/snippets/csharp/VS_Snippets_Wpf/HyperlinkSnippets/CSharp/Window1.xaml.cs
  samples/snippets/csharp/VS_Snippets_Wpf/XpsPrint/CSharp/XpsPrintHelper.cs
Labels: area-WPF

#5052 Fix a minor typo in var name
  samples/snippets/cpp/VS_Snippets_Wpf/XpsCreate/CPP/XpsCreate.cpp
  samples/snippets/csharp/VS_Snippets_Wpf/XpsCreate/CSharp/XpsCreate.cs
  samples/snippets/visualbasic/VS_Snippets_Wpf/XpsCreate/visualbasic/xpscreate.vb
Labels: area-WPF

#5040 Update Environment.ExitCode example
  xml/System/Environment.xml
Labels: area-System.Runtime

#4971 Update List`1.xml
  xml/System.Collections.Generic/List`1.xml
Labels: area-System.Collections

#4982 Remove comment from DataTable.Rows returning null
  xml/System.Data/DataTable.xml
Labels: area-System.Data

#5038 Update Equals_25051.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Double.Epsilon/cs/Equals_25051.cs
Labels: area-System.Runtime

#5361 Remove incorrect remark about empty GUID EventSources
  xml/System.Diagnostics.Tracing/EventListener.xml
Labels: area-System.Diagnostics.Tracing

#5381 Remove misleading sentence in BinaryPrimitives remarks
  xml/System.Buffers.Binary/BinaryPrimitives.xml
Labels: area-System.Net

#5386 add 'products' taxonomy metadata and values
  docfx.json
Labels: area-System.Security

#5199 Add a sample for N0 specifier
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int64.ToString/cs/ToString.cs
Labels: area-System.Runtime

#4769 Made snippet4 produce & consume concurrently
  samples/snippets/csharp/VS_Snippets_CLR_System/system.collections.concurrent.blockingcollection/cs/blockingcoll.cs
Labels: area-System.Collections

#4946 Add documentation for MethodImportAttributes
  xml/System.Reflection/MethodImportAttributes.xml
Labels: area-System.Reflection

#5141 Add an observation about delegates closed over their first argument.
  xml/System/Delegate.xml
Labels: area-System.Runtime

#5383 Merge master into live
  samples/snippets/cpp/VS_Snippets_CLR_Classic/classic NotifyFilters Example/CPP/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic NotifyFilters Example/CS/source.cs
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic NotifyFilters Example/CS/source.exe
  samples/snippets/csharp/VS_Snippets_Wpf/CommandLibrarySnippets/CSharp/Window1.xaml.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_Classic/classic NotifyFilters Example/VB/source.vb
  samples/snippets/visualbasic/VS_Snippets_Wpf/CommandLibrarySnippets/visualbasic/window1.xaml.vb
  xml/System.Linq.Expressions/Expression.xml
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
  xml/System.Runtime.InteropServices/PreserveSigAttribute.xml
  xml/System.Security.Claims/ClaimsIdentity.xml
  xml/System/Enum.xml
Labels: area-System.Security

#5388 Do not suggest users treat HttpClient as a base class.
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http

#5363 Move System.IO.Compression.ZipFile* lengthy remarks to files
  includes/remarks/System.IO.Compression/ZipFile/Open.md
  includes/remarks/System.IO.Compression/ZipFile/ZipFile.md
  includes/remarks/System.IO.Compression/ZipFileExtensions/ZipFileExtensions.md
  xml/System.IO.Compression/ZipFile.xml
  xml/System.IO.Compression/ZipFileExtensions.xml
Labels: area-System.IO.Compression

#5378 Move System.IO.Compression lengthy remarks to files
  includes/remarks/System.IO.Compression/CompressionLevel/CompressionLevel.md
  includes/remarks/System.IO.Compression/DeflateStream/.ctor_Stream_CompressionLevel_Boolean.md
  includes/remarks/System.IO.Compression/DeflateStream/.ctor_Stream_CompressionMode.md
  includes/remarks/System.IO.Compression/DeflateStream/.ctor_Stream_CompressionMode_Boolean.md
  includes/remarks/System.IO.Compression/DeflateStream/BeginRead_Byte_Int32_Int32_AsyncCallback_Object.md
  includes/remarks/System.IO.Compression/DeflateStream/BeginWrite_Byte_Int32_Int32_AsyncCallback_Object.md
  includes/remarks/System.IO.Compression/DeflateStream/DeflateStream.md
  includes/remarks/System.IO.Compression/GZipStream/BeginRead_Byte_Int32_Int32_AsyncCallback_Object.md
  includes/remarks/System.IO.Compression/GZipStream/GZipStream.md
  includes/remarks/System.IO.Compression/ZipArchive/.ctor_Stream_ZipArchiveMode_Boolean_Encoding.md
  includes/remarks/System.IO.Compression/ZipArchive/ZipArchive.md
  includes/remarks/System.IO.Compression/ZipArchiveEntry/FullName.md
  includes/remarks/System.IO.Compression/ZipArchiveEntry/LastWriteTime.md
  includes/remarks/System.IO.Compression/ZipArchiveEntry/Name.md
  includes/remarks/System.IO.Compression/ZipArchiveEntry/ZipArchiveEntry.md
  includes/remarks/System.IO.Compression/ZipArchiveMode/ZipArchiveMode.md
  xml/System.IO.Compression/CompressionLevel.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Compression/ZipArchive.xml
  xml/System.IO.Compression/ZipArchiveEntry.xml
  xml/System.IO.Compression/ZipArchiveMode.xml
Labels: area-System.IO.Compression

#5346 .NET Interactive: Add_try_dotnet_to_batch_30
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System/Array.xml
  xml/System/Attribute.xml
  xml/System/BitConverter.xml
  xml/System/Decimal.xml
  xml/System/Enum.xml
  xml/System/IComparable`1.xml
  xml/System/Nullable`1.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple`3.xml
  xml/System/Type.xml
  xml/System/Version.xml
Labels: :woman_technologist: .NET Interactive, area-System.Net

#5393 Merge master into live
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System/Array.xml
  xml/System/Attribute.xml
  xml/System/BitConverter.xml
  xml/System/Decimal.xml
  xml/System/Enum.xml
  xml/System/IComparable`1.xml
  xml/System/Nullable`1.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple`3.xml
  xml/System/Type.xml
  xml/System/Version.xml
Labels: area-System.Net

#5295 Recommend Channel<T> as async alternative to BlockingCollection<T>
  xml/System.Collections.Concurrent/BlockingCollection`1.xml
Labels: area-System.Collections

#5376 Update FUNCDESC.xml
  xml/System.Runtime.InteropServices.ComTypes/FUNCDESC.xml
Labels: area-System.Runtime.InteropServices

#5380 Add InvalidOperationException to Queryable.Max
  xml/System.Linq/Queryable.xml
Labels: area-System.Net

#5161 Update SingleOrDefault example description.
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#5395 Update master in links
  xml/System.Windows.Controls.Primitives/CustomPopupPlacementCallback.xml
  xml/System.Windows.Controls.Primitives/Popup.xml
  xml/System.Windows.Controls/ContextMenu.xml
  xml/System.Windows.Controls/ToolTip.xml
  xml/System.Windows/FrameworkElement.xml
  xml/System/DateTime.xml
Labels: area-System.Net

#5336 Correct disables -> enables in MARS example
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
Labels: area-Extensions-Logging

#5241 Fix WsHttpBinding.Security.Transport docs
  xml/System.ServiceModel/WSHttpSecurity.xml
Labels: area-System.Net

#5306 InvalidOperationException thrown by Single method
  xml/System.Linq/Queryable.xml
Labels: area-System.Net

#5330 Fix a typo: if you requires --> if you require
  xml/System.Text/Encoding.xml
Labels: area-System.Net

#5334 Add paramref in returns-comment.
  xml/System.Linq/Enumerable.xml
Labels: area-System.Net

#5396 Update live with latest main
  .openpublishing.publish.config.json
  xml/System.Collections.Concurrent/BlockingCollection`1.xml
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/Queryable.xml
  xml/System.Runtime.InteropServices.ComTypes/FUNCDESC.xml
  xml/System.ServiceModel/WSHttpSecurity.xml
  xml/System.Text/Encoding.xml
  xml/System.Windows.Controls.Primitives/CustomPopupPlacementCallback.xml
  xml/System.Windows.Controls.Primitives/Popup.xml
  xml/System.Windows.Controls/ContextMenu.xml
  xml/System.Windows.Controls/ToolTip.xml
  xml/System.Windows/FrameworkElement.xml
  xml/System/DateTime.xml
Labels: area-System.Net

#5367 Corrected terminology and added FCI
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
Labels: area-Extensions-Logging

#5398 Merge main into live
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
Labels: area-Extensions-Logging

#5382 Added clarifying examples in Path.xml #3579
  xml/System.IO/Path.xml
Labels: area-System.IO

#5368 Fix duplicated 'for' in MemoryExtensions.xml
  xml/System/MemoryExtensions.xml
Labels: area-System.Net

#5323 Fix typo in Span<T>.xml
  xml/System/Span`1.xml
Labels: area-System.Net

#5313 Fix another typo in Task.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-Extensions-Logging

#5375 Update Path.xml
  xml/System.IO/Path.xml
Labels: area-System.Net

#5312 Fix typo in Task.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-Extensions-Logging

#5348 Clarify the behavior of FilePatternMatch Path and Stem
  xml/Microsoft.Extensions.FileSystemGlobbing/FilePatternMatch.xml
Labels: area-Extensions-FileSystem

#5249 Better document File.Move across disk volumes.
  xml/System.IO/File.xml
Labels: area-System.IO

#4576 Add note about ValueTask and ValueTask<TResult> default constructors (#4397)
  xml/System.Threading.Tasks/ValueTask.xml
  xml/System.Threading.Tasks/ValueTask`1.xml
Labels: area-System.Threading.Tasks

#5350 Fix .NET 5.0 C# bool.TryParse signature.
  xml/System/Boolean.xml
Labels: area-System.Net

#5358 Update Double.xml
  xml/System/Double.xml
Labels: area-System.Net

#5357 Update Double.xml
  xml/System/Double.xml
Labels: area-System.Net

#5356 Fix typo in TransferCodingWithQualityHeaderValue.xml
  xml/System.Net.Http.Headers/TransferCodingWithQualityHeaderValue.xml
Labels: area-System.Net

#5349 Fix typo in HttpMessageHandler.xml
  xml/System.Net.Http/HttpMessageHandler.xml
Labels: area-System.Net

#5345 Backtick formatting update
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net

#5371 Create version-sweeper workflow YML file
  .github/workflows/version-sweep.yml
Labels: area-System.Security

#5262 Added HttpClient.PatchAsync method
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net

#5160 Compare CompareTo return with zero in examples
  samples/snippets/cpp/VS_Snippets_CLR/IComparable`1 Example/CPP/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR/IComparable`1 Example/CS/source.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/IComparable`1 Example/VB/source.vb
Labels: area-System.Runtime

#5401 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR/IComparable`1 Example/CPP/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR/IComparable`1 Example/CS/source.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/IComparable`1 Example/VB/source.vb
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Security

#5402 Removing line break before <![CDATA[
  xml/System/Enum.xml
Labels: area-System.Net

#5405 Merge main into live
  samples/snippets/csharp/VS_Snippets_WebNet/HttpCapabilitiesBase.IsMobileDevice/CS/sample_cs.aspx
  xml/System/Enum.xml
  xml/System/Nullable.xml
Labels: area-System.Security

#5406 Empty file in live branch
  .github/CODEOWNERS
Labels: area-System.Security

#5301 Update DoDragDrop sample to make code more readable
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.Control.DoDragDrop/CS/form1.cs
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.Control.DoDragDrop/VB/form1.vb
Labels: area-WinForms

#5325 Update StructLayoutAttribute.xml
  xml/System.Runtime.InteropServices/StructLayoutAttribute.xml
Labels: area-System.Runtime.InteropServices

#5344 Update DateTime.xml
  xml/System/DateTime.xml
Labels: area-System.Net

#5196 Update docs for Environment.Version
  xml/System/Environment.xml
Labels: area-System.Runtime

#5420 Remove invalid inheritdoc tags
  xml/Microsoft.Extensions.Caching.Memory/MemoryCache.xml
  xml/Microsoft.Extensions.Configuration.AzureKeyVault/DefaultKeyVaultSecretManager.xml
  xml/Microsoft.Extensions.Configuration/ChainedConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationRoot.xml
  xml/Microsoft.Extensions.Configuration/FileConfigurationProvider.xml
  xml/Microsoft.Extensions.DependencyInjection/DefaultServiceProviderFactory.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollection.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProvider.xml
  xml/Microsoft.Extensions.FileProviders.Embedded/EmbeddedResourceFileInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalDirectoryInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalFileInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PollingWildCardChangeToken.xml
  xml/Microsoft.Extensions.FileProviders/ManifestEmbeddedFileProvider.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundFileInfo.xml
  xml/Microsoft.Extensions.Hosting.Systemd/SystemdNotifier.xml
  xml/Microsoft.Extensions.Localization/ResourceManagerStringLocalizer.xml
  xml/Microsoft.Extensions.Localization/ResourceNamesCache.xml
  xml/Microsoft.Extensions.Localization/StringLocalizer`1.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerFactory.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger`1.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices/BatchingLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Configuration/LoggerProviderOptionsChangeTokenSource`2.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLogger.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLogger.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventSource/EventSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.TraceSource/TraceSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerExternalScopeProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerFactory.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
  xml/Microsoft.Extensions.Primitives/CancellationChangeToken.xml
  xml/Microsoft.Extensions.Primitives/CompositeChangeToken.xml
  xml/System.Buffers/ReadOnlySequence`1.xml
  xml/System.IO.Pipelines/PipeWriter.xml
Labels: area-Extensions-Primitives

#5265 .NET Interactive: Add_try_dotnet_batch_29
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Text.RegularExpressions/GroupCollection.xml
  xml/System.Text.RegularExpressions/Match.xml
  xml/System.Text.RegularExpressions/MatchCollection.xml
  xml/System/Char.xml
  xml/System/Decimal.xml
  xml/System/Exception.xml
  xml/System/OutOfMemoryException.xml
  xml/System/String.xml
  xml/System/TimeSpan.xml
  xml/System/UInt16.xml
Labels: :woman_technologist: .NET Interactive, verify-build-before-merge

#5418 Batch 30 sample fixes
  samples/snippets/cpp/VS_Snippets_CLR/GetCustomAttributes/CPP/custattrs.cpp
  samples/snippets/csharp/VS_Snippets_CLR/GetCustomAttributes/CS/ca5.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Single.Parse/CS/parse3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.array.rank/cs/rank1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.single.tryparse/cs/tryparse1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/GetCustomAttributes/VB/ca5.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.array.rank/vb/rank1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.single.tryparse/vb/tryparse1.vb
Labels: :woman_technologist: .NET Interactive, area-System.Security

#5421 Batch 29 fixes
  samples/snippets/cpp/VS_Snippets_CLR/InnerEx/CPP/innerex.cpp
  samples/snippets/csharp/VS_Snippets_CLR/InnerEx/CS/innerex.cs
  samples/snippets/csharp/VS_Snippets_CLR/Regex_Words/CS/words.cs
  samples/snippets/csharp/VS_Snippets_CLR/string.toupper1/CS/toupper.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Enumerable/CS/enumerable.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Text.RegularExpressions.GroupCollection/cs/Example1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Text.RegularExpressions.Match.Class/cs/Match2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Text.RegularExpressions.Match.Class/cs/Match3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.char.toupper/cs/toupper1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.datetimeformatinfo.class/cs/example2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.datetimeformatinfo.class/cs/example3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.datetimeformatinfo.class/cs/formatprovider1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.math.round.overload/cs/midpoint1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/InnerEx/VB/innerex.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/Regex_Words/VB/words.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Linq.Enumerable/VB/Enumerable.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Text.RegularExpressions.GroupCollection/vb/Example1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.globalization.datetimeformatinfo.class/vb/example2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.math.round.overload/vb/midpoint1.vb
Labels: :woman_technologist: .NET Interactive

#5424 Fix copy-paste bug in GetType C# example
  samples/snippets/csharp/VS_Snippets_CLR_System/system.object.gettype/cs/GetTypeEx2.cs
Labels: area-System.Runtime

#5425 Fix copy-paste bug in GetType VB example
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.object.gettype/vb/GetTypeEx2.vb
Labels: area-System.Runtime

#5415 Path APIs behavior with invalid path chars
  xml/System.IO/Path.xml
Labels: area-System.IO

#5419 Remove reference to paths ending with backslashes, make more platform-agnostic
  xml/System.IO/Path.xml
Labels: area-System.IO

#5436 Publish live from main branch
  xml/System.IO/Path.xml
Labels: area-System.Net

#5435 Fix copy paste mistake
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#5439 Replace reference to \r\n with System.Environment.NewLine
  xml/System/Console.xml
Labels: area-System.Runtime

#5440 Merge main into live
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System/Console.xml
Labels: area-Meta

#5441 .NET Interactive: Add_try_dotnet_to_batch_31b
  xml/System.Collections.Specialized/BitVector32.xml
  xml/System/BitConverter.xml
  xml/System/Enum.xml
  xml/System/Type.xml
  xml/System/UInt64.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5438 .NET Interactive: Add_try_dotnet_batch_31a
  xml/System.Globalization/CultureInfo.xml
  xml/System/BitConverter.xml
  xml/System/Convert.xml
  xml/System/Random.xml
  xml/System/Type.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5443 Merge main into live
  xml/System.Collections.Specialized/BitVector32.xml
  xml/System/BitConverter.xml
  xml/System/Enum.xml
  xml/System/Type.xml
  xml/System/UInt64.xml
Labels: area-Meta

#5446 .NET Interactive: Add_try_dotnet_to_batch_31c
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System/Array.xml
  xml/System/BitConverter.xml
  xml/System/TimeSpan.xml
Labels: area-System.Runtime

#5448 Merge main into live
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System/Array.xml
  xml/System/BitConverter.xml
  xml/System/TimeSpan.xml
Labels: area-Meta

#5450 Code fence "True" and "False" strings
  xml/System/Boolean.xml
Labels: area-System.Runtime

#5451 .NET Interactive: Add_try_dotnet_batch_31d
  xml/System/BitConverter.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/TimeSpan.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5457 Merge main into live
  xml/System/BitConverter.xml
  xml/System/Boolean.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/TimeSpan.xml
Labels: area-Meta

#5461 .NET Interactive: Add_try_dotnet_To_batch_32a
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Text/StringBuilder.xml
  xml/System/BitConverter.xml
  xml/System/TimeSpan.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5453 Remove refs to Windows 9x
  xml/Microsoft.VisualBasic.ApplicationServices/AssemblyInfo.xml
  xml/Microsoft.VisualBasic.ApplicationServices/User.xml
  xml/Microsoft.VisualBasic.ApplicationServices/WebUser.xml
  xml/Microsoft.VisualBasic.Devices/Ports.xml
  xml/Microsoft.VisualBasic.MyServices/RegistryProxy.xml
  xml/Microsoft.VisualBasic/DateAndTime.xml
  xml/Microsoft.Win32/Registry.xml
  xml/Microsoft.Win32/RegistryKey.xml
  xml/System.Diagnostics/EventSchemaTraceListener.xml
  xml/System.Diagnostics/XmlWriterTraceListener.xml
  xml/System.Drawing.Printing/PaperKind.xml
  xml/System.IO.MemoryMappedFiles/MemoryMappedFile.xml
  xml/System.IO.Pipes/NamedPipeServerStream.xml
  xml/System.IO/File.xml
  xml/System.IO/FileStream.xml
  xml/System.IO/FileSystemInfo.xml
  xml/System.IO/FileSystemWatcher.xml
  xml/System.Net.Security/NegotiateStream.xml
  xml/System.Net.Security/SslStream.xml
  xml/System.Net.Sockets/IOControlCode.xml
  xml/System.Net/AuthenticationManager.xml
  xml/System.Runtime.InteropServices/BestFitMappingAttribute.xml
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/StructLayoutAttribute.xml
  xml/System.Runtime.InteropServices/UnmanagedType.xml
  xml/System.Runtime.Remoting.Channels.Tcp/TcpChannel.xml
  xml/System.Runtime.Remoting.Channels.Tcp/TcpServerChannel.xml
  xml/System.Runtime.Remoting.Channels/ChannelServices.xml
  xml/System.Security.AccessControl/EventWaitHandleAccessRule.xml
  xml/System.Security.AccessControl/EventWaitHandleAuditRule.xml
  xml/System.Security.AccessControl/EventWaitHandleRights.xml
  xml/System.Security.AccessControl/EventWaitHandleSecurity.xml
  xml/System.Security.AccessControl/MutexAccessRule.xml
  xml/System.Security.AccessControl/MutexAuditRule.xml
  xml/System.Security.AccessControl/MutexRights.xml
  xml/System.Security.AccessControl/MutexSecurity.xml
  xml/System.Security.AccessControl/SemaphoreAccessRule.xml
  xml/System.Security.AccessControl/SemaphoreAuditRule.xml
  xml/System.Security.AccessControl/SemaphoreRights.xml
  xml/System.Security.AccessControl/SemaphoreSecurity.xml
  xml/System.Security.Principal/WindowsIdentity.xml
  xml/System.Security.Principal/WindowsImpersonationContext.xml
  xml/System.Security.Principal/WindowsPrincipal.xml
  xml/System.Threading/EventWaitHandle.xml
  xml/System.Threading/Mutex.xml
  xml/System.Threading/Semaphore.xml
  xml/System.Threading/WaitHandle.xml
  xml/System.Transactions/CommittableTransaction.xml
  xml/System.Windows.Forms/OSFeature.xml
  xml/System.Windows.Forms/SystemInformation.xml
  xml/System/Environment+SpecialFolder.xml
Labels: area-System.Diagnostics.Process

#5470 IgnoreNullValues isn't for deserialization
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#5474 Fix 'returns' documentation for method bool System.Type.IsAssignableTo(Type)
  xml/System/Type.xml
Labels: area-System.Runtime

#5479 Merge main into live
  xml/System/Type.xml
Labels: area-System.Runtime

#5478 Fix sample output - batch 33
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tostring2/cs/tostring7.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.security.cryptography.symmetricalgorithm.blocksize/cs/program.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.security.cryptography.symmetricalgorithm.blocksize/vb/program.vb
Labels: :woman_technologist: .NET Interactive

#5486 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tostring2/cs/tostring7.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.security.cryptography.symmetricalgorithm.blocksize/cs/program.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.security.cryptography.symmetricalgorithm.blocksize/vb/program.vb
Labels: area-Meta

#5484 Add WinForms exceptions for .NET 6
  xml/System.Windows.Forms/DataGridViewRowStateChangedEventArgs.xml
  xml/System.Windows.Forms/DataGridViewTopLeftHeaderCell+DataGridViewTopLeftHeaderCellAccessibleObject.xml
  xml/System.Windows.Forms/TreeNodeCollection.xml
Labels: area-WinForms

#5490 Merge main into live
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System.Text/ASCIIEncoding.xml
  xml/System.Text/Decoder.xml
  xml/System.Windows.Forms/DataGridViewRowStateChangedEventArgs.xml
  xml/System.Windows.Forms/DataGridViewTopLeftHeaderCell+DataGridViewTopLeftHeaderCellAccessibleObject.xml
  xml/System.Windows.Forms/TreeNodeCollection.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple`8.xml
Labels: area-Meta

#5434 Explain event waited for specified number of ms
  xml/System.Collections.Concurrent/BlockingCollection`1.xml
Labels: area-System.Collections
