Repository dotnet/dotnet-api-docs, pull requests merged in 2021-08, with the labels that each got.

#5343 Improve remarks
  xml/System/Array.xml
Labels: area-System.Runtime

#6955 Typos in Principal class documentation
  xml/System.DirectoryServices.AccountManagement/Principal.xml
Labels: area-System.DirectoryServices

#6960 Doc updates for collections
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Collections.Generic/List`1.xml
  xml/System.Collections.Generic/PriorityQueue`2+UnorderedItemsCollection+Enumerator.xml
  xml/System.Collections.Generic/PriorityQueue`2+UnorderedItemsCollection.xml
  xml/System.Collections.Generic/PriorityQueue`2.xml
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Collections.Generic/SortedList`2.xml
  xml/System.Collections.Generic/Stack`1.xml
Labels: area-System.Collections

#6932 Names -> Keywords batch 8
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/BadSearch.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/EmptyString1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/Enumerator1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/FindWords1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/NoElements.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/NoFind1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/NoFind2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/OOR1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/OOR2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/Race1.cs
Labels: area-System.Runtime

#6933 Names -> Keywords batch 9
  samples/snippets/csharp/VS_Snippets_CLR_System/System.ArgumentOutOfRangeException/cs/Race2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Array.AsReadOnly/CS/arrayasreadonly.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.ArraySegment/CS/arraysegment.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.BitConverter.Class/CS/example1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.BitConverter.DoubleInt64/CS/bitstodbl.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.array.exists/cs/exists1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.array.exists/cs/exists2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.array.trueforall/cs/trueforall1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.array.trueforall/cs/trueforall2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.arraysegment.class/cs/example1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.badimageformatexception.class/cs/stringlib.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.bitconverter.toint32/cs/toint32.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.boolean.structure/cs/binary1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.boolean.structure/cs/format3.cs
Labels: area-System.Runtime

#6931 Names -> Keywords batch 7
  samples/snippets/csharp/VS_Snippets_CLR_System/System.AppContext.Class/cs/Example4.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.AppContext.Class/cs/Example6.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.AppContext.Class/cs/Example8.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.AppContext.Class/cs/ForConsumers1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/System.AppContext.Class/cs/GetSwitches3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Action~4/cs/Anon.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Action~4/cs/Delegate.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Action~4/cs/Lambda.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.activator.createinstance/cs/CreateInstance5.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.activator.createinstance/cs/createinstance2.cs
Labels: area-System.Runtime

#6967 Correct WebSocketState.Aborted description
  xml/System.Net.WebSockets/WebSocketState.xml
Labels: area-System.Net

#6944 Add note about non-Windows OS
  includes/system-drawing-common.md
  xml/System.Drawing.Drawing2D/AdjustableArrowCap.xml
  xml/System.Drawing.Drawing2D/CustomLineCap.xml
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Drawing2D/GraphicsPathIterator.xml
  xml/System.Drawing.Drawing2D/GraphicsState.xml
  xml/System.Drawing.Drawing2D/HatchBrush.xml
  xml/System.Drawing.Drawing2D/LinearGradientBrush.xml
  xml/System.Drawing.Drawing2D/Matrix.xml
  xml/System.Drawing.Drawing2D/PathGradientBrush.xml
  xml/System.Drawing.Imaging/Encoder.xml
  xml/System.Drawing.Imaging/EncoderParameter.xml
  xml/System.Drawing.Imaging/EncoderParameters.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Imaging/ImageCodecInfo.xml
  xml/System.Drawing.Imaging/ImageFormat.xml
  xml/System.Drawing.Imaging/Metafile.xml
  xml/System.Drawing.Imaging/MetafileHeader.xml
  xml/System.Drawing.Imaging/PlayRecordCallback.xml
  xml/System.Drawing.Printing/PageSettings.xml
  xml/System.Drawing.Printing/PreviewPageInfo.xml
  xml/System.Drawing.Printing/PrintController.xml
  xml/System.Drawing.Printing/PrintDocument.xml
  xml/System.Drawing.Printing/PrintEventArgs.xml
  xml/System.Drawing.Printing/PrintEventHandler.xml
  xml/System.Drawing.Printing/PrintPageEventArgs.xml
  xml/System.Drawing.Printing/PrintPageEventHandler.xml
  xml/System.Drawing.Printing/PrinterSettings.xml
  xml/System.Drawing.Text/FontCollection.xml
  xml/System.Drawing.Text/InstalledFontCollection.xml
  xml/System.Drawing.Text/PrivateFontCollection.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Brush.xml
  xml/System.Drawing/Brushes.xml
  xml/System.Drawing/BufferedGraphics.xml
  xml/System.Drawing/BufferedGraphicsContext.xml
  xml/System.Drawing/Font.xml
  xml/System.Drawing/FontConverter.xml
  xml/System.Drawing/FontFamily.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Drawing/IconConverter.xml
  xml/System.Drawing/Image.xml
  xml/System.Drawing/ImageAnimator.xml
  xml/System.Drawing/Pen.xml
  xml/System.Drawing/Pens.xml
  xml/System.Drawing/Region.xml
  xml/System.Drawing/SolidBrush.xml
  xml/System.Drawing/StringFormat.xml
  xml/System.Drawing/SystemBrushes.xml
  xml/System.Drawing/SystemFonts.xml
  xml/System.Drawing/SystemIcons.xml
  xml/System.Drawing/SystemPens.xml
  xml/System.Drawing/TextureBrush.xml
  xml/System.Windows.Forms/PictureBox.xml
  xml/System.Windows.Forms/Screen.xml
  xml/ns-System.Drawing.Imaging.xml
Labels: area-Meta

#6972 Update GC.xml
  xml/System/GC.xml
Labels: area-System.Runtime

#6982 Add snippets 5000 check
  .github/workflows/build-validation.yml
  .github/workflows/dependencies/Get-MSBuildResults.ps1
  .github/workflows/dependencies/Out-GithubActionStatus.ps1
  .github/workflows/dependencies/run-dotnet-whatsnew.sh
Labels: area-Infrastructure

#5068 Correct IPv4InterfaceStatistics.OutputQueueLength docs
  xml/System.Net.NetworkInformation/IPv4InterfaceStatistics.xml
Labels: area-System.Net

#6970 HttpReponseMessage.Dispose can ask server to discard response
  xml/System.Net.Http/HttpResponseMessage.xml
Labels: area-System.Net.Http

#6985 Add snippets nukpg
  .github/workflows/dependencies/DotnetDocsTools.LocateProjects.1.0.10.nupkg
Labels: area-Infrastructure

#6988 Merge main into live
  .github/workflows/dependencies/DotnetDocsTools.LocateProjects.1.0.10.nupkg
  xml/System.Net.Http/HttpResponseMessage.xml
  xml/System/GCNotificationStatus.xml
Labels: area-Meta

#6962 Doc updates for StringInfo
  xml/System.Globalization/StringInfo.xml
Labels: area-System.Globalization

#6961 Doc updates for CodeDOM
  xml/System.CodeDom.Compiler/IndentedTextWriter.xml
Labels: area-Infrastructure

#6990 Update DateAndTime.xml
  xml/Microsoft.VisualBasic/DateAndTime.xml
Labels: area-Microsoft.VisualBasic

#6963 Update docs for Json API
  xml/System.Json/JsonArray.xml
  xml/System.Json/JsonObject.xml
  xml/System.Json/JsonValue.xml
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Nodes/JsonNodeOptions.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Nodes/JsonValue.xml
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo`1.xml
  xml/System.Text.Json.Serialization/JsonKnownNamingPolicy.xml
  xml/System.Text.Json.Serialization/JsonSerializableAttribute.xml
  xml/System.Text.Json.Serialization/JsonSerializerContext.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationMode.xml
  xml/System.Text.Json.Serialization/JsonUnknownTypeHandling.xml
  xml/System.Text.Json.Serialization/ReferenceHandler.xml
  xml/System.Text.Json/JsonElement.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerDefaults.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonTokenType.xml
Labels: area-System.Text.Json

#7002 Merge main into live
  xml/Microsoft.VisualBasic/DateAndTime.xml
  xml/System.CodeDom.Compiler/IndentedTextWriter.xml
  xml/System.Globalization/StringInfo.xml
  xml/System.Json/JsonArray.xml
  xml/System.Json/JsonObject.xml
  xml/System.Json/JsonValue.xml
  xml/System.Reflection.Metadata/ISimpleTypeProvider`1.xml
  xml/System.Reflection.Metadata/MethodDebugInformation.xml
  xml/System.Reflection/FieldInfo.xml
  xml/System.Reflection/MetadataLoadContext.xml
  xml/System.Reflection/MethodBase.xml
  xml/System.Reflection/PropertyInfo.xml
  xml/System.Runtime.Caching/ChangeMonitor.xml
  xml/System.Runtime.Caching/ObjectCache.xml
  xml/System.Runtime.CompilerServices/ConditionalWeakTable`2.xml
  xml/System.Runtime.InteropServices/ComAwareEventInfo.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
  xml/System.Runtime.Intrinsics/Vector128.xml
  xml/System.Runtime.Intrinsics/Vector256.xml
  xml/System.Runtime.Intrinsics/Vector64.xml
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Nodes/JsonNodeOptions.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Nodes/JsonValue.xml
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo`1.xml
  xml/System.Text.Json.Serialization/JsonKnownNamingPolicy.xml
  xml/System.Text.Json.Serialization/JsonSerializableAttribute.xml
  xml/System.Text.Json.Serialization/JsonSerializerContext.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationMode.xml
  xml/System.Text.Json.Serialization/JsonUnknownTypeHandling.xml
  xml/System.Text.Json.Serialization/ReferenceHandler.xml
  xml/System.Text.Json/JsonElement.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerDefaults.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonTokenType.xml
  xml/System.Web.Configuration/WebConfigurationManager.xml
  xml/System.Web.Hosting/SimpleWorkerRequest.xml
  xml/System.Web.Hosting/VirtualPathProvider.xml
  xml/System.Web.Security/MembershipPasswordFormat.xml
  xml/System.Web.UI.Design/IControlDesignerBehavior.xml
  xml/System.Web.UI.Design/IHtmlControlDesignerBehavior.xml
  xml/System.Web.UI.MobileControls/AdRotator.xml
  xml/System.Web.UI.WebControls/CustomValidator.xml
  xml/System.Web.UI.WebControls/FontUnitConverter.xml
  xml/System.Web.UI.WebControls/HyperLink.xml
  xml/System.Web.UI.WebControls/ImageMap.xml
  xml/System.Web.UI.WebControls/TreeNode.xml
  xml/System.Web.UI.WebControls/TreeNodeBinding.xml
  xml/System.Web.UI.WebControls/TreeView.xml
  xml/System.Web/HttpBrowserCapabilitiesBase.xml
  xml/System.Web/HttpBrowserCapabilitiesWrapper.xml
  xml/System.Web/SiteMapProvider.xml
Labels: area-Meta

#6959 Doc updates for extensions
  xml/Microsoft.Extensions.Caching.Memory/MemoryCache.xml
  xml/Microsoft.Extensions.Configuration.KeyPerFile/KeyPerFileConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationExtensions.xml
  xml/Microsoft.Extensions.Configuration/FileConfigurationProvider.xml
  xml/Microsoft.Extensions.DependencyInjection/AsyncServiceScope.xml
  xml/Microsoft.Extensions.DependencyInjection/DefaultServiceProviderFactory.xml
  xml/Microsoft.Extensions.DependencyInjection/IServiceProviderIsService.xml
  xml/Microsoft.Extensions.DependencyInjection/OptionsBuilderExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceLifetime.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProviderServiceExtensions.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PollingFileChangeToken.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PollingWildCardChangeToken.xml
  xml/Microsoft.Extensions.FileProviders/NullChangeToken.xml
  xml/Microsoft.Extensions.Hosting.Internal/ConsoleLifetime.xml
  xml/Microsoft.Extensions.Hosting/BackgroundService.xml
  xml/Microsoft.Extensions.Hosting/BackgroundServiceExceptionBehavior.xml
  xml/Microsoft.Extensions.Hosting/HostOptions.xml
  xml/Microsoft.Extensions.Hosting/HostingHostBuilderExtensions.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerFactory.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger`1.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Console/LoggerColorBehavior.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLogger.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLogger.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventLog/WindowsEventLog.xml
  xml/Microsoft.Extensions.Logging.EventSource/EventSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging/ActivityTrackingOptions.xml
  xml/Microsoft.Extensions.Logging/LoggerExternalScopeProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerMessageAttribute.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
  xml/Microsoft.Extensions.Primitives/StringSegment.xml
  xml/Microsoft.Extensions.Primitives/StringValues.xml
Labels: area-Extensions-Configuration

#6994 HTML tag cleanup
  xml/System.Windows.Automation/ToggleState.xml
  xml/System.Windows.Documents/Hyperlink.xml
  xml/System.Windows.Forms/CheckBox.xml
  xml/System.Windows.Forms/ContextMenu.xml
  xml/System.Windows.Forms/Control+ControlCollection.xml
  xml/System.Windows.Forms/Control.xml
  xml/System.Windows.Forms/DataGrid.xml
  xml/System.Windows.Forms/Label.xml
  xml/System.Windows.Forms/MainMenu.xml
  xml/System.Windows.Forms/Menu.xml
  xml/System.Windows.Forms/MenuItem.xml
  xml/System.Windows.Forms/NotifyIcon.xml
  xml/System.Windows.Forms/StatusBar.xml
  xml/System.Windows.Forms/StatusBarPanel.xml
  xml/System.Windows.Forms/ToolBar.xml
  xml/System.Windows.Forms/ToolBarButton.xml
  xml/System.Windows.Forms/ToolStripDropDown.xml
  xml/System.Windows.Forms/ToolStripDropDownMenu.xml
  xml/System.Windows.Forms/ToolStripMenuItem.xml
Labels: area-WinForms

#6992 HTML tag cleanup
  xml/System.Data/DataSet.xml
  xml/System.Data/DataTableCollection.xml
  xml/System.Diagnostics.CodeAnalysis/SuppressMessageAttribute.xml
  xml/System.Diagnostics.Tracing/DiagnosticCounter.xml
  xml/System.Diagnostics/Activity.xml
  xml/System.Diagnostics/DiagnosticSource.xml
  xml/System.Reflection/Assembly.xml
  xml/System.Reflection/AssemblyName.xml
  xml/System.Reflection/ConstructorInfo.xml
  xml/System.Reflection/EventInfo.xml
  xml/System/Activator.xml
  xml/System/AppDomainSetup.xml
  xml/System/Half.xml
  xml/System/IAsyncResult.xml
  xml/System/IEquatable`1.xml
  xml/System/Object.xml
  xml/System/Single.xml
  xml/System/Type.xml
  xml/System/UriBuilder.xml
  xml/System/WindowsRuntimeSystemExtensions.xml
  xml/ns-System.Drawing.xml
Labels: area-Meta

#7014 Explain value comparer usage for immutable dictionaries
  xml/System.Collections.Immutable/ImmutableDictionary`2.xml
  xml/System.Collections.Immutable/ImmutableSortedDictionary.xml
  xml/System.Collections.Immutable/ImmutableSortedDictionary`2.xml
Labels: area-System.Collections

#7020 Revert "Add note about non-Windows OS"
  includes/system-drawing-common.md
  xml/System.Drawing.Drawing2D/AdjustableArrowCap.xml
  xml/System.Drawing.Drawing2D/CustomLineCap.xml
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Drawing2D/GraphicsPathIterator.xml
  xml/System.Drawing.Drawing2D/GraphicsState.xml
  xml/System.Drawing.Drawing2D/HatchBrush.xml
  xml/System.Drawing.Drawing2D/LinearGradientBrush.xml
  xml/System.Drawing.Drawing2D/Matrix.xml
  xml/System.Drawing.Drawing2D/PathGradientBrush.xml
  xml/System.Drawing.Imaging/Encoder.xml
  xml/System.Drawing.Imaging/EncoderParameter.xml
  xml/System.Drawing.Imaging/EncoderParameters.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Imaging/ImageCodecInfo.xml
  xml/System.Drawing.Imaging/ImageFormat.xml
  xml/System.Drawing.Imaging/Metafile.xml
  xml/System.Drawing.Imaging/MetafileHeader.xml
  xml/System.Drawing.Imaging/PlayRecordCallback.xml
  xml/System.Drawing.Printing/PageSettings.xml
  xml/System.Drawing.Printing/PreviewPageInfo.xml
  xml/System.Drawing.Printing/PrintController.xml
  xml/System.Drawing.Printing/PrintDocument.xml
  xml/System.Drawing.Printing/PrintEventArgs.xml
  xml/System.Drawing.Printing/PrintEventHandler.xml
  xml/System.Drawing.Printing/PrintPageEventArgs.xml
  xml/System.Drawing.Printing/PrintPageEventHandler.xml
  xml/System.Drawing.Printing/PrinterSettings.xml
  xml/System.Drawing.Text/FontCollection.xml
  xml/System.Drawing.Text/InstalledFontCollection.xml
  xml/System.Drawing.Text/PrivateFontCollection.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Brush.xml
  xml/System.Drawing/Brushes.xml
  xml/System.Drawing/BufferedGraphics.xml
  xml/System.Drawing/BufferedGraphicsContext.xml
  xml/System.Drawing/Font.xml
  xml/System.Drawing/FontConverter.xml
  xml/System.Drawing/FontFamily.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Drawing/IconConverter.xml
  xml/System.Drawing/Image.xml
  xml/System.Drawing/ImageAnimator.xml
  xml/System.Drawing/Pen.xml
  xml/System.Drawing/Pens.xml
  xml/System.Drawing/Region.xml
  xml/System.Drawing/SolidBrush.xml
  xml/System.Drawing/StringFormat.xml
  xml/System.Drawing/SystemBrushes.xml
  xml/System.Drawing/SystemFonts.xml
  xml/System.Drawing/SystemIcons.xml
  xml/System.Drawing/SystemPens.xml
  xml/System.Drawing/TextureBrush.xml
  xml/System.Windows.Forms/PictureBox.xml
  xml/System.Windows.Forms/Screen.xml
  xml/ns-System.Drawing.Imaging.xml
Labels: area-Meta

#6993 HTML tag cleanup
  xml/System.IO.Pipelines/PipeWriter.xml
  xml/System.IO/Path.xml
  xml/System.IO/StreamWriter.xml
  xml/System.IO/TextWriter.xml
  xml/System.IO/WindowsRuntimeStreamExtensions.xml
  xml/System.Net.Http/IHttpClientFactory.xml
  xml/System.Net.Security/SslStreamCertificateContext.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System.Net/IWebRequestCreate.xml
  xml/System.Net/WebRequest.xml
  xml/System.Security.Cryptography/ECDsa.xml
  xml/System.ServiceModel.Channels/BufferManager.xml
  xml/System.ServiceModel.Description/ServiceHealthBehavior.xml
  xml/System.ServiceModel.Description/ServiceHealthModel+CommunicationTimeoutsModel.xml
  xml/System.ServiceModel.Description/ServiceMetadataExtension.xml
Labels: area-Meta

#7011 Update SC doc
  xml/System.ServiceProcess/ServiceController.xml
Labels: area-System.ServiceProcess

#7010 Update diagnostics docs
  xml/System.Diagnostics.CodeAnalysis/DynamicallyAccessedMemberTypes.xml
  xml/System.Diagnostics.CodeAnalysis/RequiresAssemblyFilesAttribute.xml
  xml/System.Diagnostics/StackTraceHiddenAttribute.xml
Labels: area-System.Diagnostics

#6995 HTML tag cleanup
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/ReferenceHandler`1.xml
  xml/System.Text.Json/JsonElement+ObjectEnumerator.xml
  xml/System.Threading/ThreadPoolBoundHandle.xml
  xml/System.Threading/WaitHandle.xml
  xml/System.Workflow.Activities.Rules/RuleHaltAction.xml
  xml/System.Xml.Xsl/XslCompiledTransform.xml
  xml/System.Xml/XmlNode.xml
  xml/System.Xml/XmlNodeChangedEventArgs.xml
  xml/System.Xml/XmlReader.xml
  xml/System.Xml/XmlReaderSettings.xml
  xml/System.Xml/XmlTextWriter.xml
  xml/System.Xml/XmlValidatingReader.xml
  xml/System.Xml/XmlWriterSettings.xml
  xml/ns-System.Printing.Interop.xml
Labels: area-Meta

#6886 Update ChannelReader`1.xml
  xml/System.Threading.Channels/ChannelReader`1.xml
Labels: area-System.Threading.Tasks

#7025 Merge main into live
  xml/System.Diagnostics.CodeAnalysis/DynamicallyAccessedMemberTypes.xml
  xml/System.Diagnostics.CodeAnalysis/RequiresAssemblyFilesAttribute.xml
  xml/System.Diagnostics/StackTraceHiddenAttribute.xml
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/ReferenceHandler`1.xml
  xml/System.Text.Json/JsonElement+ObjectEnumerator.xml
  xml/System.Threading.Channels/ChannelReader`1.xml
  xml/System.Threading/ThreadPoolBoundHandle.xml
  xml/System.Threading/WaitHandle.xml
  xml/System.Workflow.Activities.Rules/RuleHaltAction.xml
  xml/System.Xml.Xsl/XslCompiledTransform.xml
  xml/System.Xml/XmlNode.xml
  xml/System.Xml/XmlNodeChangedEventArgs.xml
  xml/System.Xml/XmlReader.xml
  xml/System.Xml/XmlReaderSettings.xml
  xml/System.Xml/XmlTextWriter.xml
  xml/System.Xml/XmlValidatingReader.xml
  xml/System.Xml/XmlWriterSettings.xml
  xml/ns-System.Printing.Interop.xml
Labels: area-Meta

#6608 Update exceptions for invalid characters in path
  xml/System.IO/Directory.xml
  xml/System.IO/DirectoryInfo.xml
  xml/System.IO/File.xml
  xml/System.IO/FileInfo.xml
  xml/System.IO/FileStream.xml
Labels: area-System.IO

#7024 Add some missing PNSEs
  xml/System.CodeDom.Compiler/CodeDomProvider.xml
  xml/System.Configuration/RsaProtectedConfigurationProvider.xml
  xml/System.Text.RegularExpressions/Regex.xml
Labels: area-Infrastructure

#7026 Update CancellationTokenSource.xml
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-System.Threading

#7027 Merge main into live
  xml/System.CodeDom.Compiler/CodeDomProvider.xml
  xml/System.Configuration/RsaProtectedConfigurationProvider.xml
  xml/System.IO/Directory.xml
  xml/System.IO/DirectoryInfo.xml
  xml/System.IO/File.xml
  xml/System.IO/FileInfo.xml
  xml/System.IO/FileStream.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-Meta

#7008 Update buffers docs
  xml/System.Buffers.Binary/BinaryPrimitives.xml
Labels: area-System.Buffers

#7003 Update CompilerServices docs
  xml/System.Runtime.CompilerServices/CallConvMemberFunction.xml
  xml/System.Runtime.CompilerServices/CallConvSuppressGCTransition.xml
  xml/System.Runtime.CompilerServices/DefaultInterpolatedStringHandler.xml
  xml/System.Runtime.CompilerServices/InterpolatedStringHandlerArgumentAttribute.xml
  xml/System.Runtime.CompilerServices/InterpolatedStringHandlerAttribute.xml
  xml/System.Runtime.CompilerServices/PoolingAsyncValueTaskMethodBuilder.xml
  xml/System.Runtime.CompilerServices/PoolingAsyncValueTaskMethodBuilder`1.xml
  xml/System.Runtime.CompilerServices/ReadOnlyCollectionBuilder`1.xml
  xml/System.Runtime.CompilerServices/RuntimeFeature.xml
Labels: area-System.Runtime.CompilerServices

#7001 Update Numerics docs
  xml/System.Numerics/BitOperations.xml
Labels: area-System.Numerics

#6999 Update Threading
  xml/System.Threading.Channels/Channel.xml
  xml/System.Threading.Channels/ChannelReader`1.xml
  xml/System.Threading.Tasks.Dataflow/DataflowBlock.xml
  xml/System.Threading.Tasks/Parallel.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/Task`1.xml
  xml/System.Threading/CancellationTokenSource.xml
  xml/System.Threading/PreAllocatedOverlapped.xml
  xml/System.Threading/ThreadPoolBoundHandle.xml
Labels: area-System.Threading

#7007 Update docs for System.Runtime.* namespaces
  xml/System.Runtime.ExceptionServices/ExceptionDispatchInfo.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal+MessageSendFunction.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal+UnhandledExceptionPropagationHandler.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCTrackedTypeAttribute.xml
  xml/System.Runtime.InteropServices/CreateComInterfaceFlags.xml
  xml/System.Runtime.InteropServices/CreateObjectFlags.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
  xml/System.Runtime.InteropServices/UnmanagedCallConvAttribute.xml
  xml/System.Runtime.Serialization/SerializationInfoEnumerator.xml
  xml/System.Runtime.Versioning/SupportedOSPlatformGuardAttribute.xml
  xml/System.Runtime.Versioning/UnsupportedOSPlatformGuardAttribute.xml
Labels: area-System.Runtime.InteropServices

#7016 Update Reflection docs
  xml/System.Reflection.Emit/AssemblyBuilder.xml
  xml/System.Reflection.Emit/ConstructorBuilder.xml
  xml/System.Reflection.Emit/FieldBuilder.xml
  xml/System.Reflection.Emit/GenericTypeParameterBuilder.xml
  xml/System.Reflection.Emit/MethodBuilder.xml
  xml/System.Reflection.Emit/TypeBuilder.xml
  xml/System.Reflection.Metadata/AssemblyExtensions.xml
  xml/System.Reflection.PortableExecutable/DebugDirectoryBuilder.xml
  xml/System.Reflection/Pointer.xml
Labels: area-System.Reflection

#7009 Update DirectoryServices docs
  xml/System.DirectoryServices.AccountManagement/PrincipalCollection.xml
  xml/System.DirectoryServices.AccountManagement/PrincipalSearchResult`1.xml
  xml/System.DirectoryServices.AccountManagement/PrincipalValueCollection`1.xml
  xml/System.DirectoryServices.Protocols/DsmlRequestDocument.xml
  xml/System.DirectoryServices.Protocols/DsmlResponseDocument.xml
Labels: area-System.DirectoryServices

#6998 Update System/*
  xml/System/Array.xml
  xml/System/ArraySegment`1+Enumerator.xml
  xml/System/BinaryData.xml
  xml/System/BitConverter.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/Enum.xml
  xml/System/Environment.xml
  xml/System/GCKind.xml
  xml/System/Guid.xml
  xml/System/ISpanFormattable.xml
  xml/System/Math.xml
  xml/System/MathF.xml
  xml/System/MemoryExtensions.xml
  xml/System/OperatingSystem.xml
  xml/System/Random.xml
  xml/System/String.xml
  xml/System/StringComparer.xml
  xml/System/StringSplitOptions.xml
  xml/System/TimeOnly.xml
  xml/System/TimeZoneInfo+AdjustmentRule.xml
  xml/System/TimeZoneInfo.xml
  xml/System/Type.xml
  xml/System/UIntPtr.xml
  xml/System/Version.xml
Labels: area-System.Runtime

#7012 Update LINQ docs
  xml/System.Data.Linq/EntitySet`1.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/ImmutableArrayExtensions.xml
  xml/System.Linq/Queryable.xml
  xml/System.Xml.Linq/XElement.xml
Labels: area-System.Linq

#7006 Update Net docs
  xml/System.Net.Http.Headers/HeaderStringValues+Enumerator.xml
  xml/System.Net.Http.Headers/HeaderStringValues.xml
  xml/System.Net.Http.Headers/HttpHeaders.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated+Enumerator.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated.xml
  xml/System.Net.Http/SocketsHttpConnectionContext.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Net.Http/SocketsHttpPlaintextStreamFilterContext.xml
  xml/System.Net.Http/WinHttpHandler.xml
  xml/System.Net.Quic/QuicClientConnectionOptions.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicListenerOptions.xml
  xml/System.Net.Quic/QuicOptions.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.Sockets/TcpClient.xml
  xml/System.Net.WebSockets/ClientWebSocketOptions.xml
  xml/System.Net.WebSockets/WebSocket.xml
  xml/System.Net.WebSockets/WebSocketCreationOptions.xml
  xml/System.Net.WebSockets/WebSocketDeflateOptions.xml
  xml/System.Net.WebSockets/WebSocketMessageFlags.xml
  xml/System.Net/CookieContainer.xml
  xml/System.Net/Dns.xml
  xml/System.Net/HttpVersion.xml
  xml/System.Net/IPAddress.xml
Labels: area-System.Net

#7005 Update IO docs
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/CompressionLevel.xml
  xml/System.IO.Compression/ZLibStream.xml
  xml/System.IO.Pipelines/PipeReader.xml
  xml/System.IO.Pipelines/StreamPipeReaderOptions.xml
  xml/System.IO/BinaryReader.xml
  xml/System.IO/BinaryWriter.xml
  xml/System.IO/EnumerationOptions.xml
  xml/System.IO/File.xml
  xml/System.IO/FileInfo.xml
  xml/System.IO/FileStream.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/RandomAccess.xml
  xml/System.IO/Stream.xml
Labels: area-System.IO

#7035 Fix FileStream xrefs
  xml/System.IO/File.xml
  xml/System.IO/FileInfo.xml
Labels: area-System.IO

#6939 System.Drawing.Common updates
  includes/drawing.md
Labels: area-System.Drawing

#7023 Add note about Drawing on non-Windows OS
  includes/system-drawing-common.md
  xml/System.Drawing.Drawing2D/AdjustableArrowCap.xml
  xml/System.Drawing.Drawing2D/CustomLineCap.xml
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Drawing2D/GraphicsPathIterator.xml
  xml/System.Drawing.Drawing2D/GraphicsState.xml
  xml/System.Drawing.Drawing2D/HatchBrush.xml
  xml/System.Drawing.Drawing2D/LinearGradientBrush.xml
  xml/System.Drawing.Drawing2D/Matrix.xml
  xml/System.Drawing.Drawing2D/PathGradientBrush.xml
  xml/System.Drawing.Imaging/Encoder.xml
  xml/System.Drawing.Imaging/EncoderParameter.xml
  xml/System.Drawing.Imaging/EncoderParameters.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Imaging/ImageCodecInfo.xml
  xml/System.Drawing.Imaging/ImageFormat.xml
  xml/System.Drawing.Imaging/Metafile.xml
  xml/System.Drawing.Imaging/MetafileHeader.xml
  xml/System.Drawing.Imaging/PlayRecordCallback.xml
  xml/System.Drawing.Printing/PageSettings.xml
  xml/System.Drawing.Printing/PreviewPageInfo.xml
  xml/System.Drawing.Printing/PrintController.xml
  xml/System.Drawing.Printing/PrintDocument.xml
  xml/System.Drawing.Printing/PrintEventArgs.xml
  xml/System.Drawing.Printing/PrintEventHandler.xml
  xml/System.Drawing.Printing/PrintPageEventArgs.xml
  xml/System.Drawing.Printing/PrintPageEventHandler.xml
  xml/System.Drawing.Printing/PrinterSettings.xml
  xml/System.Drawing.Text/FontCollection.xml
  xml/System.Drawing.Text/InstalledFontCollection.xml
  xml/System.Drawing.Text/PrivateFontCollection.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Brush.xml
  xml/System.Drawing/Brushes.xml
  xml/System.Drawing/BufferedGraphics.xml
  xml/System.Drawing/BufferedGraphicsContext.xml
  xml/System.Drawing/Font.xml
  xml/System.Drawing/FontConverter.xml
  xml/System.Drawing/FontFamily.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Drawing/IconConverter.xml
  xml/System.Drawing/Image.xml
  xml/System.Drawing/ImageAnimator.xml
  xml/System.Drawing/Pen.xml
  xml/System.Drawing/Pens.xml
  xml/System.Drawing/Region.xml
  xml/System.Drawing/SolidBrush.xml
  xml/System.Drawing/StringFormat.xml
  xml/System.Drawing/SystemBrushes.xml
  xml/System.Drawing/SystemFonts.xml
  xml/System.Drawing/SystemIcons.xml
  xml/System.Drawing/SystemPens.xml
  xml/System.Drawing/TextureBrush.xml
  xml/System.Windows.Forms/PictureBox.xml
  xml/System.Windows.Forms/Screen.xml
  xml/ns-System.Drawing.Imaging.xml
Labels: area-Infrastructure

#7041 Merge main into live
  includes/drawing.md
  includes/system-drawing-common.md
  xml/System.Drawing.Drawing2D/AdjustableArrowCap.xml
  xml/System.Drawing.Drawing2D/CustomLineCap.xml
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Drawing2D/GraphicsPathIterator.xml
  xml/System.Drawing.Drawing2D/GraphicsState.xml
  xml/System.Drawing.Drawing2D/HatchBrush.xml
  xml/System.Drawing.Drawing2D/LinearGradientBrush.xml
  xml/System.Drawing.Drawing2D/Matrix.xml
  xml/System.Drawing.Drawing2D/PathGradientBrush.xml
  xml/System.Drawing.Imaging/Encoder.xml
  xml/System.Drawing.Imaging/EncoderParameter.xml
  xml/System.Drawing.Imaging/EncoderParameters.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Imaging/ImageCodecInfo.xml
  xml/System.Drawing.Imaging/ImageFormat.xml
  xml/System.Drawing.Imaging/Metafile.xml
  xml/System.Drawing.Imaging/MetafileHeader.xml
  xml/System.Drawing.Imaging/PlayRecordCallback.xml
  xml/System.Drawing.Printing/PageSettings.xml
  xml/System.Drawing.Printing/PreviewPageInfo.xml
  xml/System.Drawing.Printing/PrintController.xml
  xml/System.Drawing.Printing/PrintDocument.xml
  xml/System.Drawing.Printing/PrintEventArgs.xml
  xml/System.Drawing.Printing/PrintEventHandler.xml
  xml/System.Drawing.Printing/PrintPageEventArgs.xml
  xml/System.Drawing.Printing/PrintPageEventHandler.xml
  xml/System.Drawing.Printing/PrinterSettings.xml
  xml/System.Drawing.Text/FontCollection.xml
  xml/System.Drawing.Text/InstalledFontCollection.xml
  xml/System.Drawing.Text/PrivateFontCollection.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Brush.xml
  xml/System.Drawing/Brushes.xml
  xml/System.Drawing/BufferedGraphics.xml
  xml/System.Drawing/BufferedGraphicsContext.xml
  xml/System.Drawing/Font.xml
  xml/System.Drawing/FontConverter.xml
  xml/System.Drawing/FontFamily.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Drawing/IconConverter.xml
  xml/System.Drawing/Image.xml
  xml/System.Drawing/ImageAnimator.xml
  xml/System.Drawing/Pen.xml
  xml/System.Drawing/Pens.xml
  xml/System.Drawing/Region.xml
  xml/System.Drawing/SolidBrush.xml
  xml/System.Drawing/StringFormat.xml
  xml/System.Drawing/SystemBrushes.xml
  xml/System.Drawing/SystemFonts.xml
  xml/System.Drawing/SystemIcons.xml
  xml/System.Drawing/SystemPens.xml
  xml/System.Drawing/TextureBrush.xml
  xml/System.Windows.Forms/PictureBox.xml
  xml/System.Windows.Forms/Screen.xml
  xml/ns-System.Drawing.Imaging.xml
Labels: area-Meta

#7042 Port System.Threading documentation from triple slash
  xml/System.Threading/PeriodicTimer.xml
  xml/System.Threading/PreAllocatedOverlapped.xml
Labels: area-System.Threading

#7045 Removal of needless gendering
  xml/System/NullReferenceException.xml
Labels: area-System.Runtime

#7039 Fix unescaped backslash
  xml/System.IO.Enumeration/FileSystemName.xml
Labels: area-System.IO

#7044 Merge main into live
  xml/System.Threading/PeriodicTimer.xml
  xml/System.Threading/PreAllocatedOverlapped.xml
Labels: area-System.Threading

#7043 Port System.IO triple slash to docs
  xml/System.IO.Pipelines/PipeWriter.xml
  xml/System.IO.Pipes/AnonymousPipeServerStreamAcl.xml
  xml/System.IO.Pipes/NamedPipeServerStreamAcl.xml
  xml/System.IO/Directory.xml
  xml/System.IO/File.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/FileSystemInfo.xml
  xml/System.IO/RandomAccess.xml
  xml/System.IO/StreamReader.xml
  xml/System.IO/StreamWriter.xml
Labels: area-System.IO

#7052 Port System.Net triple slash to docs
  xml/System.Net.Http/HttpVersionPolicy.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Net.Sockets/SafeSocketHandle.xml
  xml/System.Net.Sockets/UdpClient.xml
Labels: area-System.Net

#7051 Port Microsoft.Win32.SafeHandles triple slash to docs
  xml/Microsoft.Win32.SafeHandles/SafeAccessTokenHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeMemoryMappedFileHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafePipeHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeProcessHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeRegistryHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeWaitHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeX509ChainHandle.xml
Labels: area-Meta

#7055 Port System.Text triple slash to docs
  xml/System.Text/Rune.xml
  xml/System.Text/SpanLineEnumerator.xml
  xml/System.Text/StringBuilder+AppendInterpolatedStringHandler.xml
  xml/System.Text/StringBuilder.xml
Labels: area-System.Text.Encoding

#7053 Port System.Diagnostics triple slash to docs
  xml/System.Diagnostics.CodeAnalysis/RequiresAssemblyFilesAttribute.xml
  xml/System.Diagnostics/Debug+AssertInterpolatedStringHandler.xml
  xml/System.Diagnostics/Debug+WriteIfInterpolatedStringHandler.xml
  xml/System.Diagnostics/DistributedContextPropagator+PropagatorGetterCallback.xml
  xml/System.Diagnostics/DistributedContextPropagator+PropagatorSetterCallback.xml
  xml/System.Diagnostics/DistributedContextPropagator.xml
Labels: area-System.Diagnostics

#7054 Port System.Runtime triple slash to docs
  xml/System.Runtime.CompilerServices/CreateNewOnMetadataUpdateAttribute.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/NativeMemory.xml
  xml/System.Runtime.InteropServices/PosixSignal.xml
  xml/System.Runtime.InteropServices/PosixSignalContext.xml
  xml/System.Runtime.InteropServices/PosixSignalRegistration.xml
  xml/System.Runtime.Versioning/RequiresPreviewFeaturesAttribute.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Runtime/JitInfo.xml
Labels: area-System.Runtime.InteropServices

#7058 Merge main into live
  xml/Microsoft.JSInterop.Implementation/JSInProcessObjectReference.xml
  xml/Microsoft.JSInterop.Implementation/JSObjectReference.xml
  xml/Microsoft.JSInterop/DotNetObjectReference`1.xml
  xml/Microsoft.JSInterop/JSRuntime.xml
  xml/Microsoft.JScript/JSObject.xml
  xml/Microsoft.SqlServer.Server/SqlDataRecord.xml
  xml/Microsoft.Vsa/VsaLoader.xml
  xml/Microsoft.Win32.SafeHandles/SafeAccessTokenHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeMemoryMappedFileHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafePipeHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeProcessHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeRegistryHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeWaitHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeX509ChainHandle.xml
  xml/System.CodeDom/CodeNamespaceImportCollection.xml
  xml/System.Collections.ObjectModel/ObservableCollection`1.xml
  xml/System.Diagnostics.CodeAnalysis/RequiresAssemblyFilesAttribute.xml
  xml/System.Diagnostics/Debug+AssertInterpolatedStringHandler.xml
  xml/System.Diagnostics/Debug+WriteIfInterpolatedStringHandler.xml
  xml/System.Diagnostics/DistributedContextPropagator+PropagatorGetterCallback.xml
  xml/System.Diagnostics/DistributedContextPropagator+PropagatorSetterCallback.xml
  xml/System.Diagnostics/DistributedContextPropagator.xml
  xml/System.IO.Enumeration/FileSystemName.xml
  xml/System.IO.Pipelines/PipeWriter.xml
  xml/System.IO.Pipes/AnonymousPipeServerStreamAcl.xml
  xml/System.IO.Pipes/NamedPipeServerStreamAcl.xml
  xml/System.IO/Directory.xml
  xml/System.IO/File.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/FileSystemInfo.xml
  xml/System.IO/RandomAccess.xml
  xml/System.IO/StreamReader.xml
  xml/System.IO/StreamWriter.xml
  xml/System.Net.Http/HttpVersionPolicy.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Net.Sockets/SafeSocketHandle.xml
  xml/System.Net.Sockets/UdpClient.xml
  xml/System.Runtime.CompilerServices/CreateNewOnMetadataUpdateAttribute.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/NativeMemory.xml
  xml/System.Runtime.InteropServices/PosixSignal.xml
  xml/System.Runtime.InteropServices/PosixSignalContext.xml
  xml/System.Runtime.InteropServices/PosixSignalRegistration.xml
  xml/System.Runtime.Versioning/RequiresPreviewFeaturesAttribute.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Runtime/JitInfo.xml
  xml/System.Text/Rune.xml
  xml/System.Text/SpanLineEnumerator.xml
  xml/System.Text/StringBuilder+AppendInterpolatedStringHandler.xml
  xml/System.Text/StringBuilder.xml
  xml/System/NullReferenceException.xml
Labels: area-Meta

#7038 Add PNSE to SecurityContext
  xml/System.Security/SecurityContext.xml
Labels: area-System.Security

#7061 Merge main into live
  xml/Microsoft.Build.Conversion/ProjectFileConverter.xml
  xml/Microsoft.Build.Tasks.Deployment.ManifestUtilities/DeployManifest.xml
  xml/Microsoft.Build.Tasks/CreateProperty.xml
  xml/Microsoft.Build.Tasks/GenerateDeploymentManifest.xml
  xml/System.Linq/Queryable.xml
  xml/System.Messaging/Message.xml
  xml/System.Printing/PrintQueue.xml
  xml/System.Security/SecurityContext.xml
  xml/System.Timers/Timer.xml
  xml/System.Web.DynamicData/MetaChildrenColumn.xml
  xml/System.Web.Profile/ProfileMigrateEventArgs.xml
  xml/System.Web.Security/ActiveDirectoryMembershipProvider.xml
  xml/System.Web.Security/ActiveDirectoryMembershipUser.xml
  xml/System.Web.Security/Membership.xml
  xml/System.Web.Security/MembershipUser.xml
  xml/System.Web.Security/SqlMembershipProvider.xml
  xml/System.Web.UI.DataVisualization.Charting/ImageAnnotation.xml
  xml/System.Web.UI.Design.WebControls.WebParts/WebPartDesigner.xml
  xml/System.Web.UI.WebControls.WebParts/PageCatalogPart.xml
  xml/System.Web.UI.WebControls/ChangePassword.xml
  xml/System.Web.UI.WebControls/CreateUserWizardStep.xml
  xml/System.Web.UI.WebControls/HyperLinkField.xml
  xml/System.Web.UI.WebControls/ListItem.xml
  xml/System.Web.UI.WebControls/Login.xml
  xml/System.Web.UI.WebControls/LoginStatus.xml
  xml/System.Web.UI.WebControls/LoginView.xml
  xml/System.Web.UI.WebControls/LogoutAction.xml
  xml/System.Web.UI.WebControls/PasswordRecovery.xml
  xml/System.Web.UI.WebControls/WizardStepBase.xml
  xml/System.Windows.Forms.DataVisualization.Charting/ImageAnnotation.xml
  xml/System.Windows.Input/InputBinding.xml
  xml/System.Windows.Input/InputBindingCollection.xml
  xml/System.Windows/Vector.xml
  xml/System/Exception.xml
  xml/System/Tuple`5.xml
Labels: area-Meta

#7048 Port System.Text.Json triple slash to docs
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization/IJsonOnDeserialized.xml
  xml/System.Text.Json.Serialization/IJsonOnDeserializing.xml
  xml/System.Text.Json.Serialization/IJsonOnSerialized.xml
  xml/System.Text.Json.Serialization/IJsonOnSerializing.xml
  xml/System.Text.Json.Serialization/JsonKnownNamingPolicy.xml
  xml/System.Text.Json.Serialization/JsonPropertyOrderAttribute.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationMode.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Labels: area-System.Text.Json

#7064 Fix bad character
  xml/System/TimeZoneInfo.xml
Labels: area-System.Runtime

#6918 Document System.Security API from the doc comments in code.
  xml/System.Security.Cryptography.Pkcs/Rfc3161TimestampTokenInfo.xml
  xml/System.Security.Cryptography.X509Certificates/PublicKey.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2Collection.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2Enumerator.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainElementCollection.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainElementEnumerator.xml
  xml/System.Security.Cryptography.X509Certificates/X509ExtensionCollection.xml
  xml/System.Security.Cryptography.X509Certificates/X509ExtensionEnumerator.xml
  xml/System.Security.Cryptography/ChaCha20Poly1305.xml
  xml/System.Security.Cryptography/CngProvider.xml
  xml/System.Security.Cryptography/DSASignatureFormat.xml
  xml/System.Security.Cryptography/ECDiffieHellmanPublicKey.xml
  xml/System.Security.Cryptography/ECDsaOpenSsl.xml
  xml/System.Security.Cryptography/HKDF.xml
  xml/System.Security.Cryptography/HMACMD5.xml
  xml/System.Security.Cryptography/HMACSHA1.xml
  xml/System.Security.Cryptography/HMACSHA256.xml
  xml/System.Security.Cryptography/HMACSHA384.xml
  xml/System.Security.Cryptography/HMACSHA512.xml
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSAOpenSsl.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
  xml/System.Security.Cryptography/RandomNumberGenerator.xml
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
  xml/System.Security.Cryptography/SymmetricAlgorithm.xml
  xml/System.Security.Policy/UrlMembershipCondition.xml
Labels: area-System.Security

#7066 Merge main into live
  xml/Microsoft.Extensions.Configuration/BinderOptions.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationManager.xml
  xml/Microsoft.Extensions.Logging/LogDefineOptions.xml
  xml/Microsoft.Extensions.Logging/LoggerMessage.xml
  xml/Microsoft.Extensions.Logging/LoggerMessageAttribute.xml
  xml/Microsoft.Extensions.Options/OptionsSnapshot`1.xml
  xml/System.Security.Cryptography.Pkcs/Rfc3161TimestampTokenInfo.xml
  xml/System.Security.Cryptography.X509Certificates/PublicKey.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2Collection.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2Enumerator.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainElementCollection.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainElementEnumerator.xml
  xml/System.Security.Cryptography.X509Certificates/X509ExtensionCollection.xml
  xml/System.Security.Cryptography.X509Certificates/X509ExtensionEnumerator.xml
  xml/System.Security.Cryptography/ChaCha20Poly1305.xml
  xml/System.Security.Cryptography/CngProvider.xml
  xml/System.Security.Cryptography/DSASignatureFormat.xml
  xml/System.Security.Cryptography/ECDiffieHellmanPublicKey.xml
  xml/System.Security.Cryptography/ECDsaOpenSsl.xml
  xml/System.Security.Cryptography/HKDF.xml
  xml/System.Security.Cryptography/HMACMD5.xml
  xml/System.Security.Cryptography/HMACSHA1.xml
  xml/System.Security.Cryptography/HMACSHA256.xml
  xml/System.Security.Cryptography/HMACSHA384.xml
  xml/System.Security.Cryptography/HMACSHA512.xml
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSAOpenSsl.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
  xml/System.Security.Cryptography/RandomNumberGenerator.xml
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
  xml/System.Security.Cryptography/SymmetricAlgorithm.xml
  xml/System.Security.Policy/UrlMembershipCondition.xml
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization/IJsonOnDeserialized.xml
  xml/System.Text.Json.Serialization/IJsonOnDeserializing.xml
  xml/System.Text.Json.Serialization/IJsonOnSerialized.xml
  xml/System.Text.Json.Serialization/IJsonOnSerializing.xml
  xml/System.Text.Json.Serialization/JsonKnownNamingPolicy.xml
  xml/System.Text.Json.Serialization/JsonPropertyOrderAttribute.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationMode.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
  xml/System/TimeZoneInfo.xml
Labels: area-Meta

#7067 Fixed typo
  xml/System.Text.Json/JsonElement.xml
Labels: area-System.Text.Json

#7068 Update String.xml docs to reflect usage of `CultureInfo` arguments
  xml/System/String.xml
Labels: area-System.Globalization

#7062 Add remaining missing docs to System.Runtime.CompilerServices
  xml/System.Runtime.CompilerServices/Unsafe.xml
Labels: area-System.Runtime.CompilerServices

#7069 Merge main into live
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Text.Json/JsonElement.xml
  xml/System/String.xml
Labels: area-Meta

#7073 Fix string.StartsWith(char) and string.EndsWith(char) remarks
  xml/System/String.xml
Labels: area-System.Runtime

#7079 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.cultureinfo.currentuiculture/cs/Async1.cs
Labels: area-Meta

#7081 Fix spacing between curly brackets
  samples/snippets/csharp/VS_Snippets_CLR_System/system.collections.generic.list.addremoveinsert/cs/program.cs
Labels: area-System.Collections

#7071 Add missing docs in new EnsureCapacity methods
  xml/System.Collections.Generic/List`1.xml
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Collections.Generic/Stack`1.xml
Labels: area-System.Collections

#6968 Enabling IDN
  xml/System/Uri.xml
Labels: area-System.Net

#7085 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.collections.generic.list.addremoveinsert/cs/program.cs
  xml/Microsoft.Build.Utilities/ToolLocationHelper.xml
  xml/System.Collections.Generic/List`1.xml
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Collections.Generic/Stack`1.xml
  xml/System/Environment.xml
  xml/System/Uri.xml
Labels: area-Meta

#7070 Add Try Donet
  xml/System.Reflection/PropertyInfo.xml
Labels: area-System.Reflection
