Repository dotnet/dotnet-api-docs, pull requests merged in 2021-12, with the labels that each got.

#7423 Correcting the ArgumentNullException.xml string constructor example text
  xml/System/ArgumentNullException.xml
Labels: area-System.Runtime

#7446 Add pod board automation rules
  .github/fabricbot.json
Labels: area-Infrastructure

#7417 Fix #7415 System.Net.Sockets.Socket.Receive code example does not work.
  samples/snippets/csharp/VS_Snippets_Remoting/Socket_Sync_Send_Receive/CS/Socket_Sync_Send_Receive.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/Socket_Sync_Send_Receive/CS/source.cs
Labels: area-System.Net

#7449 Default has been changed to 1 minute.
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#7448 Merge main into live
  .github/fabricbot.json
  samples/snippets/csharp/VS_Snippets_Remoting/Socket_Sync_Send_Receive/CS/Socket_Sync_Send_Receive.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/Socket_Sync_Send_Receive/CS/source.cs
Labels: area-Meta

#7452 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/Example4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/Example6.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/Example8.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/ForConsumers1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/ForConsumers1/ForConsumers1.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/TestValue1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AppContext.Class/fs/appcontext.fsproj
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System/AppContext.xml
Labels: area-Meta

#7447 System.ArraySegment F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArraySegment/FS/arraysegment.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArraySegment/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArraySegment/FS/segmentexample.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.arraysegment.class/fs/example1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.arraysegment.class/fs/fs.fsproj
  xml/System/ArraySegment`1.xml
Labels: area-System.Runtime

#7436 Interop doc issues
  xml/System.Runtime.InteropServices/DefaultDllImportSearchPathsAttribute.xml
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#7454 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArraySegment/FS/arraysegment.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArraySegment/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArraySegment/FS/segmentexample.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.arraysegment.class/fs/example1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.arraysegment.class/fs/fs.fsproj
  xml/System.Runtime.InteropServices/DefaultDllImportSearchPathsAttribute.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System/ArraySegment`1.xml
Labels: area-Meta

#7459 Fix PipeReader typo
  xml/System.IO.Pipelines/PipeReader.xml
Labels: area-System.IO

#7450 BeginReceive --> BeginSendTo in remarks for EndSendTo
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#7462 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR/Int32_Equals/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/Int32_Equals/FS/int32_equals.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.CompareTo/fs/CompareTo1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.CompareTo/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Formatting/fs/Formatting1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Formatting/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Instantiation/fs/Instantiate1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Instantiation/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Parse/fs/Parse1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Parse/fs/Parse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Parse/fs/Parse3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.Parse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.ToString/fs/ToString.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.ToString/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.TryParse/fs/TryParse1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.TryParse/fs/TryParse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int32.TryParse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.convert.toint32/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.convert.toint32/fs/toint32_1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int32.equals/fs/equalsoverloads2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int32.equals/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int32.maxvalue/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int32.maxvalue/fs/maxvalue1.fs
  xml/System.IO.Pipelines/PipeReader.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System/Int32.xml
  xml/ns-System.Web.xml
Labels: area-Meta

#7466 Fix Type.Namespace remarks
  xml/System/Type.xml
Labels: area-System.Reflection

#7464 Remove pointless .Net 5 remark
  xml/System.Net.Http/HttpRequestException.xml
Labels: area-System.Net.Http

#7471 Remove example that shows different overload
  xml/System.Threading/EventWaitHandle.xml
Labels: area-System.Threading

#7476 Remove version-dependant marker for ArgumentException thrown by Copy methods
  xml/System.IO/File.xml
Labels: area-System.IO

#7472 Preserve view moniker
  xml/System.Threading/EventWaitHandle.xml
Labels: area-System.Threading

#7468 Add note about timing of type loader exceptions
  xml/System.IO/DirectoryNotFoundException.xml
  xml/System.IO/FileLoadException.xml
  xml/System.IO/FileNotFoundException.xml
  xml/System.IO/PathTooLongException.xml
  xml/System/MissingMethodException.xml
  xml/System/TypeLoadException.xml
Labels: area-System.IO

#7475 Merge main into live
  xml/System.Net.Http/HttpRequestException.xml
  xml/System.Threading/EventWaitHandle.xml
  xml/System/Type.xml
Labels: area-Meta

#7480 Merge main into live
  xml/System.IO/DirectoryNotFoundException.xml
  xml/System.IO/File.xml
  xml/System.IO/FileLoadException.xml
  xml/System.IO/FileNotFoundException.xml
  xml/System.IO/PathTooLongException.xml
  xml/System.Threading/EventWaitHandle.xml
  xml/System/MissingMethodException.xml
  xml/System/TypeLoadException.xml
Labels: area-Meta

#7335 F# Snippets for System.Random
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/RandomCtor.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/ctor.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/ctor1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/ctor4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/Next2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/RandomNext.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Sample/FS/sample.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Sample/FS/sample.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/array1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/booleans1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/booleans2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/bytes1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/doublerange1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/doublerange2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/doublerange3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/long1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/nextbytes1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/nextdoubleex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/nextex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/range1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/range2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/same1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/threadsafeex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/threadsafeex2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/unique.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/uniquearray1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.random.nextdouble/fs/nextdouble1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.random.nextdouble/fs/nextdouble1.fsproj
  xml/System/Random.xml
Labels: area-System.Runtime

#7473 System.Int16 F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR/Int16_Equals/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/Int16_Equals/FS/int16_equals.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.MaxValue/fs/MaxValue.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.MaxValue/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.Parse/fs/Parse.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.Parse/fs/Parse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.Parse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.ToString/fs/ToString1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.ToString/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.TryParse/fs/TryParse1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.TryParse/fs/TryParse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.TryParse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int16.equals/fs/equalsoverl.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int16.equals/fs/fs.fsproj
  xml/System/Int16.xml
Labels: area-System.Runtime

#7482 MSBuild: fix warnings for MSBuild 17.0
  xml/Microsoft.Build.Construction/ProjectRootElement.xml
  xml/Microsoft.Build.Evaluation.Context/EvaluationContext.xml
  xml/Microsoft.Build.Evaluation/Project.xml
  xml/Microsoft.Build.Evaluation/ProjectCollection.xml
  xml/Microsoft.Build.Framework/BuildEventArgs.xml
  xml/Microsoft.Build.Graph/ProjectGraph.xml
  xml/Microsoft.Build.Tasks/Copy.xml
  xml/Microsoft.Build.Tasks/ResolveAssemblyReference.xml
Labels: area-Infrastructure

#7483 MSBuild: fix xref warning
  xml/Microsoft.Build.Evaluation.Context/EvaluationContext.xml
Labels: area-Infrastructure

#7484 MSbuild: fix overwritten comment improvements
  xml/Microsoft.Build.Evaluation/ProjectCollection.xml
  xml/Microsoft.Build.Framework/SdkReference.xml
  xml/Microsoft.Build.Framework/SdkResolver.xml
  xml/Microsoft.Build.Framework/SdkResolverContext.xml
  xml/Microsoft.Build.Framework/SdkResult.xml
  xml/Microsoft.Build.Logging/BinaryLogger.xml
  xml/Microsoft.Build.Logging/BuildEventArgsReader.xml
  xml/Microsoft.Build.Logging/ProfilerLogger.xml
  xml/Microsoft.Build.Tasks/CodeTaskFactory.xml
  xml/Microsoft.Build.Tasks/Copy.xml
  xml/Microsoft.Build.Tasks/DownloadFile.xml
  xml/Microsoft.Build.Tasks/Hash.xml
  xml/Microsoft.Build.Tasks/Unzip.xml
Labels: area-Infrastructure

#7486 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR/Int16_Equals/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/Int16_Equals/FS/int16_equals.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.MaxValue/fs/MaxValue.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.MaxValue/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.Parse/fs/Parse.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.Parse/fs/Parse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.Parse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.ToString/fs/ToString1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.ToString/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.TryParse/fs/TryParse1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.TryParse/fs/TryParse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int16.TryParse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/RandomCtor.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/ctor.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/ctor1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/ctor4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/Next2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/RandomNext.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/next4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Sample/FS/sample.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random.Sample/FS/sample.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/array1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/booleans1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/booleans2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/bytes1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/doublerange1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/doublerange2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/doublerange3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/long1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/nextbytes1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/nextdoubleex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/nextex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/range1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/range2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/same1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/threadsafeex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/threadsafeex2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/unique.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/uniquearray1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int16.equals/fs/equalsoverl.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int16.equals/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.random.nextdouble/fs/nextdouble1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.random.nextdouble/fs/nextdouble1.fsproj
  xml/System/Int16.xml
  xml/System/Random.xml
Labels: area-Meta

#7492 Update Math.xml
  xml/System/Math.xml
Labels: area-System.Runtime

#7494 Merge main into live
  xml/System/Math.xml
Labels: area-System.Runtime

#7405 System.Action<T1,T2,T3,T4> F# Snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Action4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Action4.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Lambda.fs
  xml/System/Action`4.xml
Labels: area-Meta

#7495 Port new triple slash docs for .NET 7 Alpha [Nov - Dec '21]
  xml/Microsoft.Build.Tasks/Copy.xml
  xml/System.Workflow.ComponentModel.Compiler/CompileWorkflowTask.xml
Labels: area-Meta, area-msbuild

#7499 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR/Int64_Equals/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/Int64_Equals/FS/int64_equals.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Action4.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Action4.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~4/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int64.ToString/fs/ToString.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int64.ToString/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int64.TryParse/fs/TryParse1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int64.TryParse/fs/TryParse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Int64.TryParse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.convert.toint64/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.convert.toint64/fs/toint64_1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.equals/fs/equalsoverl.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.equals/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.formatting/fs/formatting1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.formatting/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.instantiation/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.instantiation/fs/instantiate1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.parse/fs/Parse1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.parse/fs/Parse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.parse/fs/Parse3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.int64.parse/fs/fs.fsproj
  xml/Microsoft.Build.Tasks/Copy.xml
  xml/System.Workflow.ComponentModel.Compiler/CompileWorkflowTask.xml
  xml/System/Action`4.xml
  xml/System/Int64.xml
Labels: area-Meta

#7498 Doc: Adjust language about metadata order [Ported from MDS]
  xml/System.Data.SqlClient/SqlDataReader.xml
Labels: area-System.Data.SqlClient

#7506 Merge main into live
  xml/System.Data.SqlClient/SqlDataReader.xml
Labels: area-System.Data.SqlClient

#7502 Update some parameters
  xml/System/ISpanFormattable.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/MemoryExtensions+TryWriteInterpolatedStringHandler.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
Labels: area-Meta

#7503 Update some parameters for Date*/Time* types
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
  xml/System/TimeZoneInfo.xml
Labels: area-Meta

#7501 Update some parameter descriptions
  xml/System/Boolean.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Half.xml
Labels: area-Meta

#7509 Update HostingAbstractionsHostExtensions.xml
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostExtensions.xml
Labels: area-Extensions-Hosting

#7508 Update IHost.xml
  xml/Microsoft.Extensions.Hosting/IHost.xml
Labels: area-Extensions-Hosting

#7512 Merge main into live
  .gitignore
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostExtensions.xml
  xml/Microsoft.Extensions.Hosting/IHost.xml
  xml/System/AppDomain.xml
  xml/System/Attribute.xml
  xml/System/Boolean.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/Convert.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Enum.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/ISpanFormattable.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/Math.xml
  xml/System/MemoryExtensions+TryWriteInterpolatedStringHandler.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/StringComparer.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
  xml/System/TimeZoneInfo.xml
  xml/System/TupleExtensions.xml
  xml/System/Type.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
  xml/System/Uri.xml
  xml/System/UriParser.xml
  xml/System/Version.xml
Labels: area-Meta

#7510 Add see also links to conceptual docs
  xml/System.Diagnostics.Metrics/Counter`1.xml
  xml/System.Diagnostics.Metrics/Histogram`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/ObservableCounter`1.xml
  xml/System.Diagnostics.Metrics/ObservableGauge`1.xml
  xml/System.Diagnostics.Tracing/EventCounter.xml
  xml/System.Diagnostics.Tracing/IncrementingEventCounter.xml
  xml/System.Diagnostics.Tracing/IncrementingPollingCounter.xml
  xml/System.Diagnostics.Tracing/PollingCounter.xml
  xml/System.Diagnostics/PerformanceCounter.xml
Labels: area-System.Diagnostics.PerformanceCounter

#7517 Various improvements to STJ docs
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Nodes/JsonNodeOptions.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Nodes/JsonValue.xml
  xml/System.Text.Json.Serialization.Metadata/JsonCollectionInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonObjectInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonParameterInfoValues.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization/IJsonOnDeserialized.xml
  xml/System.Text.Json.Serialization/JsonConverterFactory.xml
  xml/System.Text.Json.Serialization/JsonConverter`1.xml
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/JsonIgnoreAttribute.xml
  xml/System.Text.Json.Serialization/JsonPropertyOrderAttribute.xml
  xml/System.Text.Json.Serialization/JsonSerializableAttribute.xml
  xml/System.Text.Json.Serialization/JsonSerializerContext.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json.Serialization/ReferenceHandler.xml
  xml/System.Text.Json.Serialization/ReferenceHandler`1.xml
  xml/System.Text.Json.Serialization/ReferenceResolver.xml
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text.Json/JsonException.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonWriterOptions.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Labels: area-System.Text.Json

#7520 Merge main into live
  xml/System.Diagnostics.Metrics/Counter`1.xml
  xml/System.Diagnostics.Metrics/Histogram`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/ObservableCounter`1.xml
  xml/System.Diagnostics.Metrics/ObservableGauge`1.xml
  xml/System.Diagnostics.Tracing/EventCounter.xml
  xml/System.Diagnostics.Tracing/IncrementingEventCounter.xml
  xml/System.Diagnostics.Tracing/IncrementingPollingCounter.xml
  xml/System.Diagnostics.Tracing/PollingCounter.xml
  xml/System.Diagnostics/PerformanceCounter.xml
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Nodes/JsonNodeOptions.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Nodes/JsonValue.xml
  xml/System.Text.Json.Serialization.Metadata/JsonCollectionInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonObjectInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonParameterInfoValues.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization/IJsonOnDeserialized.xml
  xml/System.Text.Json.Serialization/JsonConverterFactory.xml
  xml/System.Text.Json.Serialization/JsonConverter`1.xml
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/JsonIgnoreAttribute.xml
  xml/System.Text.Json.Serialization/JsonPropertyOrderAttribute.xml
  xml/System.Text.Json.Serialization/JsonSerializableAttribute.xml
  xml/System.Text.Json.Serialization/JsonSerializerContext.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json.Serialization/ReferenceHandler.xml
  xml/System.Text.Json.Serialization/ReferenceHandler`1.xml
  xml/System.Text.Json.Serialization/ReferenceResolver.xml
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text.Json/JsonException.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonWriterOptions.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Labels: area-Meta

#7523 Typo in System.Data.DataColumn.xml
  xml/System.Data/DataColumn.xml
Labels: area-System.Data

#7533 Merge main into live
  xml/System.Data/DataColumn.xml
Labels: area-System.Data
