Repository dotnet/dotnet-api-docs, pull requests merged in 2021-11, with the labels that each got.

#7230 Fix typo and change postfix decrement operator to prefix increment op…
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.Compare5/cs/Example.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.Compare5/cs/Example.csproj
Labels: area-System.Runtime

#7282 Adds reference to IAsyncDisposable interface
  xml/System/ObjectDisposedException.xml
Labels: area-System.Runtime

#7341 Fix sample from `ApartmentState` to `GetApartmentState()`
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.Thread.ApartmentState/CS/ApartmentExample.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.Thread.ApartmentState/CS/source.cs
Labels: area-System.Threading

#7338 Improve CallerArgumentExpressionAttribute
  xml/System.Runtime.CompilerServices/CallerArgumentExpressionAttribute.xml
Labels: area-System.Runtime.CompilerServices

#7348 Miscellaneous improvements
  xml/Microsoft.Extensions.Primitives/StringValues.xml
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Formats.Asn1/AsnDecoder.xml
  xml/System.Formats.Asn1/AsnReader.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System/Index.xml
Labels: area-Meta

#7350 Fix up PriorityQueue docs
  xml/System.Collections.Generic/PriorityQueue`2.xml
Labels: area-System.Collections

#5412 Add remarks and example for MetadataBuilder
  samples/snippets/csharp/api/system.reflection.metadata.ecma335/metadatabuilder/MetadataBuilderSnippets.cs
  samples/snippets/csharp/api/system.reflection.metadata.ecma335/metadatabuilder/MetadataBuilderSnippets.csproj
  samples/snippets/csharp/api/system.reflection.metadata.ecma335/metadatabuilder/Program.cs
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
Labels: area-System.Reflection.Metadata

#7353 Merge main into live
  samples/snippets/csharp/api/system.reflection.metadata.ecma335/metadatabuilder/MetadataBuilderSnippets.cs
  samples/snippets/csharp/api/system.reflection.metadata.ecma335/metadatabuilder/MetadataBuilderSnippets.csproj
  samples/snippets/csharp/api/system.reflection.metadata.ecma335/metadatabuilder/Program.cs
  xml/Microsoft.Extensions.Primitives/StringValues.xml
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Collections.Generic/PriorityQueue`2.xml
  xml/System.Formats.Asn1/AsnDecoder.xml
  xml/System.Formats.Asn1/AsnReader.xml
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System/Index.xml
Labels: area-Meta

#7351 Update note for CallerArgumentExpression
  xml/System.Runtime.CompilerServices/CallerArgumentExpressionAttribute.xml
Labels: area-System.Runtime.CompilerServices

#7342 Update NativeLibrary.GetExport/TryGetExport remarks
  xml/System.Runtime.InteropServices/NativeLibrary.xml
Labels: area-System.Runtime.InteropServices

#7346 ArgumentOutOfRangeException code example modernization
  samples/snippets/csharp/VS_Snippets_CLR/ArgumentOutOfRangeException/CS/cs.csproj
  samples/snippets/csharp/VS_Snippets_CLR/ArgumentOutOfRangeException/CS/program.cs
Labels: area-System.Runtime

#7334 Add remarks to last error Marshal APIs
  samples/snippets/csharp/System.Runtime.InteropServices/Marshal/GetLastPInvokeError.cs
  samples/snippets/csharp/System.Runtime.InteropServices/Marshal/Marshal.csproj
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#7357 Merge main into live
  samples/snippets/csharp/System.Runtime.InteropServices/Marshal/GetLastPInvokeError.cs
  samples/snippets/csharp/System.Runtime.InteropServices/Marshal/Marshal.csproj
  samples/snippets/csharp/VS_Snippets_CLR/ArgumentOutOfRangeException/CS/cs.csproj
  samples/snippets/csharp/VS_Snippets_CLR/ArgumentOutOfRangeException/CS/program.cs
  xml/System.Runtime.CompilerServices/CallerArgumentExpressionAttribute.xml
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/NativeLibrary.xml
Labels: area-Meta

#7356 Add remarks to UnmanagedCallConvAttribute documentation
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/Attributes.cs
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/Attributes.csproj
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/UnmanagedCallConv.cs
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/UnmanagedCallersOnly.cs
  xml/System.Runtime.InteropServices/UnmanagedCallConvAttribute.xml
  xml/System.Runtime.InteropServices/UnmanagedCallersOnlyAttribute.xml
Labels: area-System.Runtime.InteropServices

#7347 Enumerable improvements
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#7323 `CNG` classes don't work on non-windows platforms
  xml/System.Security.Cryptography/CngAlgorithm.xml
  xml/System.Security.Cryptography/CngAlgorithmGroup.xml
  xml/System.Security.Cryptography/CngKey.xml
  xml/System.Security.Cryptography/CngKeyBlobFormat.xml
  xml/System.Security.Cryptography/CngKeyCreationParameters.xml
  xml/System.Security.Cryptography/CngProvider.xml
  xml/System.Security.Cryptography/CngUIPolicy.xml
Labels: area-System.Security

#7361 Merge main into live
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/Attributes.cs
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/Attributes.csproj
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/UnmanagedCallConv.cs
  samples/snippets/csharp/System.Runtime.InteropServices/Attributes/UnmanagedCallersOnly.cs
  xml/System.Linq/Enumerable.xml
  xml/System.Runtime.InteropServices/UnmanagedCallConvAttribute.xml
  xml/System.Runtime.InteropServices/UnmanagedCallersOnlyAttribute.xml
  xml/System.Security.Cryptography/CngAlgorithm.xml
  xml/System.Security.Cryptography/CngAlgorithmGroup.xml
  xml/System.Security.Cryptography/CngKey.xml
  xml/System.Security.Cryptography/CngKeyBlobFormat.xml
  xml/System.Security.Cryptography/CngKeyCreationParameters.xml
  xml/System.Security.Cryptography/CngProvider.xml
  xml/System.Security.Cryptography/CngUIPolicy.xml
Labels: area-Meta

#7364 Mention C# native integers in IntPtr/UIntPtr docs
  xml/System/IntPtr.xml
  xml/System/UIntPtr.xml
Labels: area-System.Runtime

#7365 Fixed identation
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.cancellationtokensource.class/cs/cancel1.cs
Labels: area-System.Threading

#7359 Update obsoletion note in summary
  xml/System.Net.Mail/SmtpClient.xml
Labels: area-System.Net

#7344 Update SecureString.xml
  xml/System.Security/SecureString.xml
Labels: area-System.Security

#7360 Add ArgumentNullException to AddProvider
  xml/Microsoft.Extensions.Logging/LoggerFactory.xml
Labels: area-Extensions-Logging

#7367 Add new exceptions
  xml/Microsoft.Extensions.DependencyInjection/ISupportRequiredService.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProviderServiceExtensions.xml
Labels: area-Extensions-DependencyInjection

#7368 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.cancellationtokensource.class/cs/cancel1.cs
  xml/Microsoft.Extensions.Configuration/IConfiguration.xml
  xml/Microsoft.Extensions.DependencyInjection/ISupportRequiredService.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProviderServiceExtensions.xml
  xml/Microsoft.Extensions.Logging/LoggerFactory.xml
  xml/System.Net.Mail/SmtpClient.xml
  xml/System.Security/SecureString.xml
  xml/System/IntPtr.xml
  xml/System/UIntPtr.xml
Labels: area-Meta

#7362 Give more information on thread-abort safe
  xml/System.Threading/ReaderWriterLockSlim.xml
Labels: area-System.Threading

#7370 Fix RFC links
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
  xml/System.Xml/XmlReader.xml
Labels: area-Meta

#7373 Merge main into live
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
  xml/System.Threading/ReaderWriterLockSlim.xml
  xml/System.Xml/XmlReader.xml
Labels: area-Meta

#7378 Merge main into live
  samples/snippets/csharp/api/system.reflection.metadata/metadatareader/MetadataReaderSnippets.csproj
Labels: area-Meta

#7377 Remove code.msdn.microsoft.com links
  xml/System.Collections.Generic/IEnumerable`1.xml
  xml/System.Collections/IEnumerable.xml
  xml/System.Data.SqlClient/SqlConnection.xml
  xml/System.Data/DataSet.xml
  xml/System.Data/DataTable.xml
  xml/System.Data/IsolationLevel.xml
  xml/System.Diagnostics/Process.xml
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/EastAsianLunisolarCalendar.xml
  xml/System.Globalization/GregorianCalendar.xml
  xml/System.Globalization/HebrewCalendar.xml
  xml/System.Globalization/HijriCalendar.xml
  xml/System.Globalization/JapaneseCalendar.xml
  xml/System.Globalization/JapaneseLunisolarCalendar.xml
  xml/System.Globalization/JulianCalendar.xml
  xml/System.Globalization/KoreanCalendar.xml
  xml/System.Globalization/KoreanLunisolarCalendar.xml
  xml/System.Globalization/PersianCalendar.xml
  xml/System.Globalization/TaiwanCalendar.xml
  xml/System.Globalization/TaiwanLunisolarCalendar.xml
  xml/System.Globalization/ThaiBuddhistCalendar.xml
  xml/System.Globalization/UmAlQuraCalendar.xml
  xml/System.Text/EncoderFallback.xml
  xml/System.Text/EncoderFallbackBuffer.xml
  xml/System.Web.UI.WebControls/DataGrid.xml
  xml/System.Web.UI.WebControls/ObjectDataSource.xml
  xml/System.Xml/XmlDocument.xml
  xml/System/Convert.xml
Labels: area-Meta

#7381 Fix typo in HostingAbstractionsHostExtensions.xml
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostExtensions.xml
Labels: area-Extensions-Hosting

#7382 Add Activity.SetParentId remarks
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics

#7383 Merge main into live
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostExtensions.xml
  xml/System.Collections.Generic/IEnumerable`1.xml
  xml/System.Collections/IEnumerable.xml
  xml/System.Data.SqlClient/SqlConnection.xml
  xml/System.Data/DataSet.xml
  xml/System.Data/DataTable.xml
  xml/System.Data/IsolationLevel.xml
  xml/System.Diagnostics/Activity.xml
  xml/System.Diagnostics/Process.xml
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/EastAsianLunisolarCalendar.xml
  xml/System.Globalization/GregorianCalendar.xml
  xml/System.Globalization/HebrewCalendar.xml
  xml/System.Globalization/HijriCalendar.xml
  xml/System.Globalization/JapaneseCalendar.xml
  xml/System.Globalization/JapaneseLunisolarCalendar.xml
  xml/System.Globalization/JulianCalendar.xml
  xml/System.Globalization/KoreanCalendar.xml
  xml/System.Globalization/KoreanLunisolarCalendar.xml
  xml/System.Globalization/PersianCalendar.xml
  xml/System.Globalization/TaiwanCalendar.xml
  xml/System.Globalization/TaiwanLunisolarCalendar.xml
  xml/System.Globalization/ThaiBuddhistCalendar.xml
  xml/System.Globalization/UmAlQuraCalendar.xml
  xml/System.Text/EncoderFallback.xml
  xml/System.Text/EncoderFallbackBuffer.xml
  xml/System.Web.UI.WebControls/DataGrid.xml
  xml/System.Web.UI.WebControls/ObjectDataSource.xml
  xml/System.Xml/XmlDocument.xml
  xml/System/Convert.xml
Labels: area-Meta

#7380 Add System.Action<T> F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action_PrintExample/fs/action.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action_PrintExample/fs/action.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Action1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Action1.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Lambda.fs
  xml/System/Action`1.xml
Labels: area-Meta

#7379 Mention the breaking change on reading CryptoStream in .NET 6.
  xml/System.Security.Cryptography/CryptoStream.xml
Labels: area-System.Security

#7388 Merge main into live
  .github/workflows/build-validation.yml
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action_PrintExample/fs/action.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action_PrintExample/fs/action.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Action1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Action1.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Lambda.fs
  xml/System.Security.Cryptography/CryptoStream.xml
  xml/System/Action`1.xml
Labels: area-Meta

#7223 Add InvalidOperationException for ListViewGroupCollection methods
  xml/System.Windows.Forms/ListViewGroupCollection.xml
Labels: area-WinForms

#7392 Merge main into live
  xml/System.Windows.Forms/ListViewGroupCollection.xml
Labels: area-WinForms

#7321 Update List`1.xml
  xml/System.Collections.Generic/List`1.xml
Labels: area-System.Collections

#7395 Merge main into live
  xml/System.Collections.Generic/List`1.xml
Labels: area-System.Collections

#7399 fix: sort list by level instead of name
  xml/Microsoft.Extensions.Logging/LogLevel.xml
Labels: area-Extensions-Logging

#7401 Update snippets workflow config
  .github/workflows/build-validation.yml
Labels: area-Meta

#7376 Remove outdated references to Windows 8.x Store
  xml/System.IO.Pipes/PipeStream.xml
Labels: area-System.IO

#7391 Fix a typo in the HashAlgorithm example.
  xml/System.Security.Cryptography/HashAlgorithm.xml
Labels: area-System.Security

#7398 Add FIFO clarification in PriorityQueue docs
  xml/System.Collections.Generic/PriorityQueue`2.xml
Labels: area-System.Collections

#7408 Merge main into live
  .github/workflows/build-validation.yml
  xml/System.Collections.Generic/PriorityQueue`2.xml
  xml/System.IO.Pipes/PipeStream.xml
  xml/System.Security.Cryptography/HashAlgorithm.xml
Labels: area-Meta

#7407 System.AggregateException F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.aggregateexception.class/fs/exception1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.aggregateexception.class/fs/exception1.fsproj
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/flatten2.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/handlemethod2.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/taskexceptions.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/taskexceptions2.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/tpl_exceptions.fsproj
  xml/System/AggregateException.xml
Labels: area-Meta

#7413 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.aggregateexception.class/fs/exception1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.aggregateexception.class/fs/exception1.fsproj
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/flatten2.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/handlemethod2.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/taskexceptions.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/taskexceptions2.fs
  samples/snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/tpl_exceptions.fsproj
  xml/System/AggregateException.xml
Labels: area-Meta

#7412 Replace sensitive language where possible
  xml/System.ComponentModel.Design/DesignSurface.xml
  xml/System.ComponentModel/INestedContainer.xml
  xml/System.Data.Common/DataAdapter.xml
  xml/System.Data.Common/DataTableMapping.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCngProvider.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCspProvider.xml
  xml/System.Data/IDataAdapter.xml
  xml/System.Diagnostics.Tracing/EventCounter.xml
  xml/System.Diagnostics/Activity.xml
  xml/System.Diagnostics/DiagnosticListener.xml
  xml/System.Diagnostics/DiagnosticSource.xml
  xml/System.DirectoryServices.ActiveDirectory/ConfigurationSet.xml
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
  xml/System.Reflection.Metadata/Document.xml
  xml/System.Reflection.Metadata/ImportScope.xml
  xml/System.Reflection.Metadata/LocalConstant.xml
  xml/System.Reflection.Metadata/LocalScope.xml
  xml/System.Reflection.Metadata/LocalVariable.xml
  xml/System.Reflection.Metadata/MethodDebugInformation.xml
  xml/System.Reflection.PortableExecutable/DebugDirectoryEntryType.xml
  xml/System.Reflection.PortableExecutable/PdbChecksumDebugDirectoryData.xml
  xml/System.Runtime.CompilerServices/ModuleInitializerAttribute.xml
  xml/System.Runtime.InteropServices/SuppressGCTransitionAttribute.xml
  xml/System.Text.Encodings.Web/HtmlEncoder.xml
  xml/System.Text.Encodings.Web/JavaScriptEncoder.xml
  xml/System.Text.Encodings.Web/TextEncoder.xml
  xml/System.Text.Encodings.Web/TextEncoderSettings.xml
  xml/System.Text.Encodings.Web/UrlEncoder.xml
  xml/System.Web.UI/Control.xml
  xml/System.Windows.Forms/DomainUpDown+DomainUpDownAccessibleObject.xml
  xml/System.Xaml/XamlMember.xml
  xml/System/Environment.xml
  xml/ns-System.Web.Security.AntiXss.xml
Labels: area-Meta

#7403 System.Action<T1,T2> F# Snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Action2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Action2.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Lambda.fs
  xml/System/Action`2.xml
Labels: area-Meta

#7404 System.Action<T1,T2,T3> F# Snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Action3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Action3.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Lambda.fs
  xml/System/Action`3.xml
Labels: area-Meta

#7416 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action/fs/Action.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action/fs/Action.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Action2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Action2.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Action3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Action3.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Lambda.fs
  xml/System.ComponentModel.Design/DesignSurface.xml
  xml/System.ComponentModel/INestedContainer.xml
  xml/System.Data.Common/DataAdapter.xml
  xml/System.Data.Common/DataTableMapping.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCngProvider.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCspProvider.xml
  xml/System.Data/IDataAdapter.xml
  xml/System.Diagnostics.Tracing/EventCounter.xml
  xml/System.Diagnostics/Activity.xml
  xml/System.Diagnostics/DiagnosticListener.xml
  xml/System.Diagnostics/DiagnosticSource.xml
  xml/System.DirectoryServices.ActiveDirectory/ConfigurationSet.xml
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
  xml/System.Reflection.Metadata/Document.xml
  xml/System.Reflection.Metadata/ImportScope.xml
  xml/System.Reflection.Metadata/LocalConstant.xml
  xml/System.Reflection.Metadata/LocalScope.xml
  xml/System.Reflection.Metadata/LocalVariable.xml
  xml/System.Reflection.Metadata/MethodDebugInformation.xml
  xml/System.Reflection.PortableExecutable/DebugDirectoryEntryType.xml
  xml/System.Reflection.PortableExecutable/PdbChecksumDebugDirectoryData.xml
  xml/System.Runtime.CompilerServices/ModuleInitializerAttribute.xml
  xml/System.Runtime.InteropServices/SuppressGCTransitionAttribute.xml
  xml/System.Text.Encodings.Web/HtmlEncoder.xml
  xml/System.Text.Encodings.Web/JavaScriptEncoder.xml
  xml/System.Text.Encodings.Web/TextEncoder.xml
  xml/System.Text.Encodings.Web/TextEncoderSettings.xml
  xml/System.Text.Encodings.Web/UrlEncoder.xml
  xml/System.Web.UI/Control.xml
  xml/System.Windows.Forms/DomainUpDown+DomainUpDownAccessibleObject.xml
  xml/System.Xaml/XamlMember.xml
  xml/System/Action.xml
  xml/System/Action`2.xml
  xml/System/Action`3.xml
  xml/System/Environment.xml
  xml/ns-System.Web.Security.AntiXss.xml
Labels: area-Meta

#7299 Expose CallerArgumentExpression attributes
  xml/_filter.xml
Labels: area-System.Runtime

#7366 Grammar - Delete unneeded "the"
  xml/System.Security.AccessControl/AccessRule.xml
Labels: area-System.Security

#7402 Clarify return value for HttpHeaders#Remove(String)
  xml/System.Net.Http.Headers/HttpHeaders.xml
Labels: area-System.Net

#7410 Current thread culture -> current culture
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/ToString1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/ToString2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/ToString4.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/tostring.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/tostring3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTime.ToString/cs/tostring5.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.CultureInfo.CurrentCulture2/CS/currentculture.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.CultureInfo.CurrentCulture2/CS/currentculture.csproj
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTime.ToString/vb/ToString1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTime.ToString/vb/ToString2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTime.ToString/vb/ToString4.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTime.ToString/vb/tostring.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTime.ToString/vb/tostring3.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTime.ToString/vb/tostring5.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CultureInfo.CurrentCulture2/VB/currentculture.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CultureInfo.CurrentCulture2/VB/currentculture.vbproj
  xml/System.Globalization/CultureAndRegionInfoBuilder.xml
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Globalization/HebrewCalendar.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector3.xml
  xml/System.Numerics/Vector4.xml
  xml/System.Numerics/Vector`1.xml
  xml/System/Convert.xml
  xml/System/DateTime.xml
  xml/System/Double.xml
  xml/System/FormatException.xml
Labels: area-Meta

#7418 Standardize .NET 5 terminology
  xml/System.Diagnostics/Activity.xml
  xml/System.Net.Http/HttpClient.xml
  xml/System.Net.Http/HttpRequestException.xml
  xml/System.Net.Http/WinHttpHandler.xml
  xml/System.Net.Security/SslClientAuthenticationOptions.xml
  xml/System.Net.Sockets/MulticastOption.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net/ServicePoint.xml
  xml/System.Net/WebHeaderCollection.xml
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector4.xml
  xml/System.Numerics/Vector`1.xml
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
  xml/System.Reflection/Assembly.xml
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
  xml/System.Security.Cryptography/AsymmetricAlgorithm.xml
  xml/System.Security.Cryptography/HMAC.xml
  xml/System.Security.Cryptography/HashAlgorithm.xml
  xml/System.Security.Cryptography/KeyedHashAlgorithm.xml
  xml/System.Security.Cryptography/Oid.xml
  xml/System.Security.Cryptography/SymmetricAlgorithm.xml
  xml/System.Text/Encoding.xml
  xml/System.Text/EncodingProvider.xml
  xml/System.Text/Rune.xml
  xml/System.Threading/ReaderWriterLockSlim.xml
  xml/System.Threading/Thread.xml
  xml/System/AppContext.xml
  xml/System/Environment.xml
  xml/System/IntPtr.xml
  xml/System/MarshalByRefObject.xml
  xml/System/UIntPtr.xml
Labels: area-Meta

#7427 JsonElement and Utf8JsonReader consistency for TryParse... methods
  xml/System.Text.Json/JsonElement.xml
  xml/System.Text.Json/Utf8JsonReader.xml
Labels: area-System.Text.Json

#7419 Standardize .NET 5 terminology - WinForms
  xml/System.Windows.Forms.VisualStyles/VisualStyleRenderer.xml
  xml/System.Windows.Forms/Control+ControlCollection.xml
  xml/System.Windows.Forms/DataFormats.xml
  xml/System.Windows.Forms/DataGridViewButtonCell+DataGridViewButtonCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewCheckBoxCell+DataGridViewCheckBoxCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewColumnHeaderCell+DataGridViewColumnHeaderCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewComboBoxEditingControl.xml
  xml/System.Windows.Forms/DataGridViewImageCell+DataGridViewImageCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewLinkCell+DataGridViewLinkCellAccessibleObject.xml
  xml/System.Windows.Forms/InputLanguageChangedEventArgs.xml
  xml/System.Windows.Forms/ListBox+IntegerCollection.xml
  xml/System.Windows.Forms/ListBox+ObjectCollection.xml
  xml/System.Windows.Forms/ListView+ListViewItemCollection.xml
  xml/System.Windows.Forms/ListView+SelectedIndexCollection.xml
  xml/System.Windows.Forms/ListViewGroup.xml
  xml/System.Windows.Forms/NotifyIcon.xml
  xml/System.Windows.Forms/RichTextBox.xml
  xml/System.Windows.Forms/ScrollableControl.xml
  xml/System.Windows.Forms/StatusBar.xml
  xml/System.Windows.Forms/StatusBarPanel.xml
  xml/System.Windows.Forms/StatusStrip.xml
  xml/System.Windows.Forms/TabControl.xml
  xml/System.Windows.Forms/TableLayoutControlCollection.xml
  xml/System.Windows.Forms/ToolStripRenderer.xml
  xml/System.Windows.Forms/ToolStripStatusLabel.xml
  xml/System.Windows.Forms/TreeNode.xml
  xml/System.Windows.Forms/TreeNodeCollection.xml
Labels: area-WinForms

#7440 Merge main into live
  samples/snippets/fsharp/VS_Snippets_CLR/ActivatorX/fs/ActivatorX.fs
  samples/snippets/fsharp/VS_Snippets_CLR/ActivatorX/fs/ActivatorX.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/ActivatorX/fs/source2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activation.createinstance~~1/fs/remarks.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activation.createinstance~~1/fs/remarks.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/CreateInstance5.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/PersonInfo/PersonInfo.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/createinstance.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/createinstance2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/createinstanceex1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/createinstanceex1a.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.activator.createinstance/fs/personinfo.fs
  xml/System.Text.Json/JsonElement.xml
  xml/System.Text.Json/Utf8JsonReader.xml
  xml/System.Windows.Forms.VisualStyles/VisualStyleRenderer.xml
  xml/System.Windows.Forms/Control+ControlCollection.xml
  xml/System.Windows.Forms/DataFormats.xml
  xml/System.Windows.Forms/DataGridViewButtonCell+DataGridViewButtonCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewCheckBoxCell+DataGridViewCheckBoxCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewColumnHeaderCell+DataGridViewColumnHeaderCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewComboBoxEditingControl.xml
  xml/System.Windows.Forms/DataGridViewImageCell+DataGridViewImageCellAccessibleObject.xml
  xml/System.Windows.Forms/DataGridViewLinkCell+DataGridViewLinkCellAccessibleObject.xml
  xml/System.Windows.Forms/InputLanguageChangedEventArgs.xml
  xml/System.Windows.Forms/ListBox+IntegerCollection.xml
  xml/System.Windows.Forms/ListBox+ObjectCollection.xml
  xml/System.Windows.Forms/ListView+ListViewItemCollection.xml
  xml/System.Windows.Forms/ListView+SelectedIndexCollection.xml
  xml/System.Windows.Forms/ListViewGroup.xml
  xml/System.Windows.Forms/NotifyIcon.xml
  xml/System.Windows.Forms/RichTextBox.xml
  xml/System.Windows.Forms/ScrollableControl.xml
  xml/System.Windows.Forms/StatusBar.xml
  xml/System.Windows.Forms/StatusBarPanel.xml
  xml/System.Windows.Forms/StatusStrip.xml
  xml/System.Windows.Forms/TabControl.xml
  xml/System.Windows.Forms/TableLayoutControlCollection.xml
  xml/System.Windows.Forms/ToolStripRenderer.xml
  xml/System.Windows.Forms/ToolStripStatusLabel.xml
  xml/System.Windows.Forms/TreeNode.xml
  xml/System.Windows.Forms/TreeNodeCollection.xml
  xml/System/Activator.xml
  xml/ns-System.Web.Security.AntiXss.xml
Labels: area-Meta

#7442 Move FabricBot automation to Config-as-Code
  .github/fabricbot.json
Labels: area-Infrastructure
