Repository dotnet/dotnet-api-docs, pull requests merged in 2021-07, with the labels that each got.

#6852 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Func~2/cpp/Example.cpp
  xml/System/Func`2.xml
Labels: area-Meta

#6850 Clarify the binary representation
  xml/System/Decimal.xml
Labels: area-System.Runtime

#6851 Update IDisposable.xml
  xml/System/IDisposable.xml
Labels: area-System.Runtime

#6854 Merge main into live
  xml/System/Decimal.xml
  xml/System/IDisposable.xml
Labels: area-Meta

#6856 Correct typo
  samples/snippets/cpp/VS_Snippets_CLR/Generic.SortedList/cpp/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR/Generic.SortedList/CS/source.cs
Labels: area-System.Runtime

#6860 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR/Generic.SortedList/cpp/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR/Generic.SortedList/CS/source.cs
Labels: area-Meta

#6855 Remove stale / erroneous implementation details from ToBase64Transform docs
  xml/System.Security.Cryptography/ToBase64Transform.xml
Labels: area-System.Security

#6866 Merge main into live
  xml/System.Security.Cryptography/ToBase64Transform.xml
Labels: area-System.Security

#6853 Update CacheExtensions.xml
  xml/Microsoft.Extensions.Caching.Memory/CacheExtensions.xml
Labels: area-Extensions-Caching

#6868 Clarify memory load
  xml/System/GCMemoryInfo.xml
Labels: area-System.Runtime

#6870 Merge main into live
  xml/Microsoft.Extensions.Caching.Memory/CacheExtensions.xml
  xml/System/GCMemoryInfo.xml
Labels: area-Extensions-Caching

#6869 InterlockedAdd -- clarify atomic operation result value
  xml/System.Threading/Interlocked.xml
Labels: area-System.Threading

#6863 ToolStripControlHost is not abstract
  xml/System.Windows.Forms/ToolStripControlHost.xml
Labels: area-WinForms

#6872 Merge main into live
  xml/System.Threading/Interlocked.xml
  xml/System.Windows.Forms/ToolStripControlHost.xml
Labels: area-Meta

#6874 Update idisposabledispose.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IDisposable.Dispose Example/CS/idisposabledispose.cs
Labels: area-System.Runtime

#6859 Add docs for 6.0 APIs in System.Runtime.InteropServices
  xml/System.Runtime.InteropServices/CLong.xml
  xml/System.Runtime.InteropServices/CULong.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/ComWrappers.xml
  xml/System.Runtime.InteropServices/CreateObjectFlags.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Runtime.InteropServices/SafeBuffer.xml
Labels: area-System.Runtime.InteropServices

#6835 Update DllImportResolver.xml
  xml/System.Runtime.InteropServices/DllImportResolver.xml
Labels: area-System.Runtime.InteropServices

#6876 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IDisposable.Dispose Example/CS/idisposabledispose.cs
  xml/System.Runtime.InteropServices/CLong.xml
  xml/System.Runtime.InteropServices/CULong.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/ComWrappers.xml
  xml/System.Runtime.InteropServices/CreateObjectFlags.xml
  xml/System.Runtime.InteropServices/DllImportResolver.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Runtime.InteropServices/SafeBuffer.xml
Labels: area-System.Runtime.InteropServices

#6865 Add statement about UmanagedCallersOnly + generics
  xml/System.Runtime.InteropServices/UnmanagedCallersOnlyAttribute.xml
Labels: area-System.Runtime.InteropServices

#6881 Merge main into live
  xml/System.Runtime.InteropServices/UnmanagedCallersOnlyAttribute.xml
Labels: area-System.Runtime.InteropServices

#6883 Fix method signature format and clarify functional complements
  xml/System.Linq/Enumerable.xml
  xml/System/GC.xml
Labels: area-System.Linq

#6809 Remove incorrect exception
  includes/remarks/System.IO.Compression/ZipFile/ZipFile.md
  xml/System.IO.Compression/ZipFile.xml
  xml/System.IO.Compression/ZipFileExtensions.xml
Labels: area-System.IO

#6873 Fixing a spelling error in XmlWriterSettings.xml
  xml/System.Xml/XmlWriterSettings.xml
Labels: area-System.Xml

#6875 fix typos
  xml/System.IO/FileSystemWatcher.xml
Labels: area-System.IO

#6884 Normalization to prep for preview 6 updates
  xml/System.Globalization/TextInfo.xml
  xml/System.IO.Compression/ZipFile.xml
  xml/System.Security.Cryptography/ToBase64Transform.xml
  xml/System/GC.xml
Labels: area-WCF

#6885 Merge main into live
  includes/remarks/System.IO.Compression/ZipFile/ZipFile.md
  xml/System.Globalization/TextInfo.xml
  xml/System.IO.Compression/ZipFile.xml
  xml/System.IO.Compression/ZipFileExtensions.xml
  xml/System.IO/FileSystemWatcher.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Net.Http/HttpClient.xml
  xml/System.Security.Cryptography/ToBase64Transform.xml
  xml/System.Xml/XmlWriterSettings.xml
Labels: area-Meta

#6888 Fix broken links
  xml/System.IdentityModel.Configuration/SecurityTokenServiceConfiguration.xml
  xml/System.IdentityModel.Protocols.WSTrust/RequestSecurityToken.xml
  xml/System.IdentityModel.Services/FederatedPassiveSecurityTokenServiceOperations.xml
  xml/System.IdentityModel.Services/WSFederationAuthenticationModule.xml
  xml/System.IdentityModel.Tokens/SecurityToken.xml
  xml/System.IdentityModel.Tokens/SecurityTokenHandler.xml
  xml/System.IdentityModel.Tokens/SessionSecurityTokenHandler.xml
  xml/System.IdentityModel/SecurityTokenService.xml
  xml/System.Security.Claims/AuthorizationContext.xml
  xml/System.Security.Claims/ClaimsAuthorizationManager.xml
Labels: area-Infrastructure

#6893 Update some threading docs with xml comments
  xml/System.Threading/CancellationToken.xml
  xml/System.Threading/EventWaitHandleAcl.xml
  xml/System.Threading/MutexAcl.xml
  xml/System.Threading/SemaphoreAcl.xml
  xml/System.Threading/Thread.xml
Labels: area-System.Threading

#6897 Merge main into live
  xml/System.Threading/CancellationToken.xml
  xml/System.Threading/EventWaitHandleAcl.xml
  xml/System.Threading/MutexAcl.xml
  xml/System.Threading/SemaphoreAcl.xml
  xml/System.Threading/Thread.xml
Labels: area-Meta

#6892 Mark exceptions as .NET Framework only
  xml/System/Version.xml
Labels: area-System.Runtime

#6880 Update ICustomMarshaler docs to talk a little bit about interaction with SetLastError
  xml/System.Runtime.InteropServices/ICustomMarshaler.xml
Labels: area-System.Runtime.InteropServices

#6898 Clarify ThreadLocal's trackAllValues / Values behavior with regards to exited threads
  xml/System.Threading/ThreadLocal`1.xml
Labels: area-System.Threading

#6900 Using more modern syntax for try parse
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int32.TryParse/cs/TryParse1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int32.TryParse/cs/TryParse2.cs
Labels: area-System.Runtime

#6896 Update JsonElement.xml: update link description
  xml/System.Text.Json/JsonElement.xml
Labels: area-System.Text.Json

#6905 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int32.TryParse/cs/TryParse1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int32.TryParse/cs/TryParse2.cs
  xml/System.Text.Json/JsonElement.xml
  xml/System.Threading/ThreadLocal`1.xml
Labels: area-Meta

#6901 Documenting important FileInfo.Extension behavior directly in <summary>
  xml/System.IO/FileSystemInfo.xml
Labels: area-System.IO

#6908 Clarify cancellation behavior of ChannelReader.ReadAsync
  xml/System.Threading.Channels/ChannelReader`1.xml
Labels: area-System.Threading

#6909 Merge main into live
  samples/snippets/csharp/VS_Snippets_CFX/s_ue_httpcookiesession/cs/inputqueue.cs
  samples/snippets/csharp/VS_Snippets_CLR/SafeHandle/CS/program.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IDisposable.Dispose Example/CS/idisposabledispose.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.collections.generic.ienumerableex/cs/program.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.gc.suppressfinalize/cs/suppressfinalize1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.object.finalize/cs/finalize_safe.cs
  samples/snippets/csharp/VS_Snippets_Remoting/StreamingContext Example/CS/streamingcontext.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.IDisposable.Dispose Example/VB/idisposabledispose.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.collections.generic.ienumerableex/vb/module1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.gc.suppressfinalize/vb/suppressfinalize1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.object.finalize/vb/finalize_safe.vb
  samples/snippets/visualbasic/VS_Snippets_Remoting/StreamingContext Example/VB/streamingcontext.vb
  xml/System.IO/FileSystemInfo.xml
  xml/_filter.xml
Labels: area-Meta

#6912 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/System.Globalization.UnicodeCategory/cs/Characters1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Char.IsSeparator/CS/isseparator1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Console.WriteLine/CS/WriteLine6.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.MemoryStream/CS/memstream.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StringReaderWriter/CS/stringrw.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int16.MaxValue/cs/MaxValue.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int16.TryParse/cs/TryParse2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Int64.TryParse/cs/TryParse2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Enumerable/CS/enumerable.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Random/cs/booleans1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Random/cs/booleans2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.SByte.TryParse/cs/tryparse2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.Class/cs/immutable.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.Class/cs/immutable1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.Class/cs/normalize1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.Class/cs/surrogate1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.GetEnumerator/CS/getenumerator.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.String.ToUpper/cs/ToUpperEx.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.LockRecursionPolicy/cs/ClassExample1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.ReaderWriterLock/CS/source.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.ReaderWriterLockSlim_Shadow/cs/classexample1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.TimeZone2.Concepts/CS/TimeZone2Concepts.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.console.backgroundcolor/cs/backgroundcolor1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.console.class/cs/example3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.console.class/cs/unicode1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.charunicodeinfo.getnumericvalue/cs/getnumericvalue1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.charunicodeinfo.getunicodecategory/cs/getunicodecategory1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.idnmapping.class/cs/conversion1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.idnmapping.getascii/cs/conversion1a.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.idnmapping.usestd3asciirules/cs/usestd3asciirules1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.stringinfo.class/cs/indexing1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.int32.maxvalue/cs/maxvalue1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.io.filestream.seek/cs/source.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.string.concat/cs/concat2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.string.ctor/cs/chptrctor_null.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.string.ctor/cs/ptrctor_null.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.string.join/cs/join4.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.tasks.taskfactory.startnew/cs/startnew1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.uint16.tryparse/cs/tryparse2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.uint32.tryparse/cs/tryparse2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.uint64.tryparse/cs/tryparse2.cs
  xml/System.Threading.Channels/ChannelReader`1.xml
Labels: area-Meta

#6916 Change "is" to "if"
  xml/System.Net.Http.Headers/HttpHeaders.xml
Labels: area-System.Net.Http

#6922 Update MouseEventArgs.Location description
  xml/System.Windows.Forms/MouseEventArgs.xml
Labels: area-WinForms

#6923 Space added in description text
  xml/System.Net/HttpStatusCode.xml
Labels: area-System.Net

#6919 Merge main into live
  includes/calendar-era.md
  includes/floating-point-equality.md
  includes/sqo-diff-overload-example-elementtype-md.md
  includes/sqo-diff-overload-example-func-md.md
  includes/tlasharptla-xamlxmlnsv1-md.md
  includes/unnamed-parm-md.md
  includes/wif-samlmeta-ref-md.md
  xml/System.IdentityModel.Metadata/ContactPerson.xml
  xml/System.Net.Http.Headers/HttpHeaders.xml
  xml/System.Windows.Markup/ArrayExtension.xml
  xml/System.Windows.Markup/NullExtension.xml
  xml/System.Windows.Markup/Reference.xml
Labels: area-Meta

#6878 Update form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.VisualStyles.VisualStyleRenderer/cpp/form1.cpp
Labels: area-WinForms

#6879 Update form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.VisualStyles.VisualStyleRenderer/VB/form1.vb
Labels: area-WinForms

#6915 Update CultureInfo exception info
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/RegionInfo.xml
Labels: area-System.Globalization

#6914 Update AnonymousIdentificationSection.xml
  xml/System.Web.Configuration/AnonymousIdentificationSection.xml
Labels: area-System.Web

#6877 Update form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.VisualStyles.VisualStyleRenderer/CS/form1.cs
Labels: area-WinForms

#6937 Merge main into live
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.VisualStyles.VisualStyleRenderer/cpp/form1.cpp
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.VisualStyles.VisualStyleRenderer/CS/form1.cs
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.VisualStyles.VisualStyleRenderer/VB/form1.vb
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Net/HttpStatusCode.xml
  xml/System.Web.Configuration/AnonymousIdentificationSection.xml
  xml/System.Windows.Forms/MouseEventArgs.xml
Labels: area-Meta

#6949 Unify docs for (Try)EnsureSufficientExecutionStack
  xml/System.Runtime.CompilerServices/RuntimeHelpers.xml
Labels: area-System.Runtime.CompilerServices

#6942 Update NativeOverlapped.xml
  xml/System.Threading/NativeOverlapped.xml
Labels: area-System.Threading

#6952 Fix escaping
  xml/System.Xml/XmlTextWriter.xml
Labels: area-System.Xml
