Repository dotnet/dotnet-api-docs, pull requests merged in 2021-06, with the labels that each got.

#6773 .NET Interactive: Add_try_dotnet_to_batch_40a
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System/Tuple`3.xml
  xml/System/Tuple`8.xml
Labels: area-System.Runtime

#6774 Update AppDomain.Unload exceptions for .NET 6
  xml/System/AppDomain.xml
Labels: area-System.Runtime

#6757 .NET Interactive: Add_try_dotnet_to_batch_38a
  xml/System.Security.Cryptography/DESCryptoServiceProvider.xml
  xml/System.Security.Cryptography/RijndaelManaged.xml
  xml/System.Text/UnicodeEncoding.xml
  xml/System/Attribute.xml
  xml/System/Buffer.xml
  xml/System/Convert.xml
  xml/System/FlagsAttribute.xml
  xml/System/Int16.xml
  xml/System/TimeSpan.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime, verify-build-before-merge

#6763 .NET Interactive: Add_try_dotnet_to_batch_39a
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Collections.Specialized/BitVector32+Section.xml
  xml/System.Collections.Specialized/BitVector32.xml
  xml/System.Collections.Specialized/IOrderedDictionary.xml
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System.Collections.Specialized/StringEnumerator.xml
Labels: :woman_technologist: .NET Interactive, area-System.Collections

#6766 .NET Interactive: Add_try_dotnet_to_batch_39b
  xml/System.Collections.Specialized/BitVector32.xml
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System.Collections.Specialized/StringEnumerator.xml
  xml/System/ArraySegment`1.xml
  xml/System/Tuple`2.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6782 .NET Interactive: Add_try_dotnet_to_batch_40b
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Collections.Specialized/StringEnumerator.xml
  xml/System/Tuple`1.xml
  xml/System/Tuple`4.xml
  xml/System/Tuple`5.xml
  xml/System/Tuple`6.xml
  xml/System/Tuple`7.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6787 Merge main into live
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Collections.Specialized/BitVector32+Section.xml
  xml/System.Collections.Specialized/BitVector32.xml
  xml/System.Collections.Specialized/IOrderedDictionary.xml
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System.Collections.Specialized/StringEnumerator.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Security.Cryptography/CspParameters.xml
  xml/System.Security.Cryptography/DESCryptoServiceProvider.xml
  xml/System.Security.Cryptography/RSACryptoServiceProvider.xml
  xml/System.Security.Cryptography/RijndaelManaged.xml
  xml/System.Text/UTF7Encoding.xml
  xml/System.Text/UnicodeEncoding.xml
  xml/System/AppDomain.xml
  xml/System/ArraySegment`1.xml
  xml/System/ArrayTypeMismatchException.xml
  xml/System/Attribute.xml
  xml/System/Buffer.xml
  xml/System/Convert.xml
  xml/System/FlagsAttribute.xml
  xml/System/Func`5.xml
  xml/System/Int16.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple`1.xml
  xml/System/Tuple`2.xml
  xml/System/Tuple`3.xml
  xml/System/Tuple`4.xml
  xml/System/Tuple`5.xml
  xml/System/Tuple`6.xml
  xml/System/Tuple`7.xml
  xml/System/Tuple`8.xml
  xml/System/UInt32.xml
Labels: area-Meta

#6783 Improve formatting
  xml/System/ArrayTypeMismatchException.xml
Labels: area-System.Runtime

#6784 Batches 38-40 - Fix sample output
  samples/snippets/cpp/VS_Snippets_CLR/sys.glob.regioninfo.rgn5props/cpp/rgn5props.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Attribute.Equals/CPP/equals.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Collection.Specialized.StringDictionary_Enumeration/CPP/values.cpp
  samples/snippets/csharp/VS_Snippets_CLR/sys.glob.regioninfo.rgn5props/CS/rgn5props.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Attribute.Equals/CS/equals.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Collection.Specialized.StringDictionary_Enumeration/CS/values.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.toint16/cs/toint16_1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.tuple`7.equals/cs/equals2.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/sys.glob.regioninfo.rgn5props/VB/rgn5props.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Attribute.Equals/VB/equals.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.toint16/vb/toint16_1.vb
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6789 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR/sys.glob.regioninfo.rgn5props/cpp/rgn5props.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Attribute.Equals/CPP/equals.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Collection.Specialized.StringDictionary_Enumeration/CPP/values.cpp
  samples/snippets/csharp/VS_Snippets_CLR/sys.glob.regioninfo.rgn5props/CS/rgn5props.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Attribute.Equals/CS/equals.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Collection.Specialized.StringDictionary_Enumeration/CS/values.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.toint16/cs/toint16_1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.tuple`7.equals/cs/equals2.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/sys.glob.regioninfo.rgn5props/VB/rgn5props.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Attribute.Equals/VB/equals.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.toint16/vb/toint16_1.vb
  xml/System/ArrayTypeMismatchException.xml
Labels: area-Meta

#6795 Added remark on Console.BackgroundColor and ForegroundColor.
  xml/System/Console.xml
Labels: area-System.Runtime

#6800 Sample and output fixes
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.YearMonthPattern/CPP/dtfi_yearmonthpattern.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.TextElementEnumerator.Summary/CPP/tee_summary.cpp
  samples/snippets/csharp/VS_Snippets_CLR/IdnMapping.GetX/CS/getx.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.YearMonthPattern/CS/dtfi_yearmonthpattern.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.TextElementEnumerator.Summary/CS/tee_summary.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tosingle/cs/tosingle1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.touint32/cs/touint32_1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.touint32/cs/touint32_3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.uint64.tostring/cs/tostring4.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/IdnMapping.GetX/VB/getx.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.YearMonthPattern/VB/dtfi_yearmonthpattern.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.TextElementEnumerator.Summary/VB/tee_summary.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.tosingle/vb/tosingle1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.touint32/vb/touint32_1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.uint64.tostring/vb/tostring4.vb
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6805 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.YearMonthPattern/CPP/dtfi_yearmonthpattern.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.TextElementEnumerator.Summary/CPP/tee_summary.cpp
  samples/snippets/csharp/VS_Snippets_CLR/IdnMapping.GetX/CS/getx.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.YearMonthPattern/CS/dtfi_yearmonthpattern.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.TextElementEnumerator.Summary/CS/tee_summary.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tosingle/cs/tosingle1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.touint32/cs/touint32_1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.touint32/cs/touint32_3.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.uint64.tostring/cs/tostring4.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/IdnMapping.GetX/VB/getx.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.YearMonthPattern/VB/dtfi_yearmonthpattern.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.TextElementEnumerator.Summary/VB/tee_summary.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.tosingle/vb/tosingle1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.touint32/vb/touint32_1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.uint64.tostring/vb/tostring4.vb
  xml/System/Exception.xml
Labels: area-Meta

#6750 DbAdapter updates - round II
  xml/System.Data.Common/DbDataAdapter.xml
Labels: area-System.Data

#6675 Fixed docs for ExtractToDirectory(..., bool overwriteFiles) overloads
  xml/System.IO.Compression/ZipFile.xml
Labels: area-System.IO.Compression

#6807 Update IHostApplicationLifetime.xml
  xml/Microsoft.Extensions.Hosting/IHostApplicationLifetime.xml
Labels: area-Extensions-Hosting

#6811 Merge main into live
  xml/Microsoft.Extensions.Hosting/IHostApplicationLifetime.xml
  xml/System.Data.Common/DbDataAdapter.xml
  xml/System.IO.Compression/ZipFile.xml
Labels: area-Meta

#6817 Merge main into live
  .ghal.rules.json
  .repoman.yml
Labels: area-Meta

#6818 Add additional examples of directed rounding
  xml/System/MidpointRounding.xml
Labels: area-System.Runtime

#6808 if -> in
  xml/System.Windows.Input/StylusPointDescription.xml
Labels: area-WPF

#6813 Add language tags to code
  xml/Microsoft.Extensions.Configuration/CommandLineConfigurationExtensions.xml
  xml/Microsoft.Extensions.Http/ITypedHttpClientFactory`1.xml
  xml/Microsoft.Extensions.Logging.Internal/FormattedLogValues.xml
  xml/Microsoft.Extensions.Logging.Internal/LogValuesFormatter.xml
  xml/Microsoft.Extensions.Logging/LoggerExtensions.xml
  xml/System.Configuration.Internal/DelegatingConfigHost.xml
  xml/System.Data.SqlClient/SqlConnection.xml
  xml/System.Diagnostics.CodeAnalysis/AllowNullAttribute.xml
  xml/System.Formats.Asn1/AsnDecoder.xml
  xml/System.Formats.Asn1/AsnReader.xml
  xml/System.IO/MatchType.xml
  xml/System.Linq.Expressions/Expression.xml
  xml/System.Security.Cryptography/DSASignatureFormat.xml
  xml/System.Text.RegularExpressions/RegexParseError.xml
  xml/System.Web.UI.Design/ControlPersister.xml
  xml/System.Windows.Forms/AccessibleEvents.xml
  xml/System.Xml.Xsl/XslTransform.xml
  xml/System.Xml/XmlConvert.xml
  xml/System/OperatingSystem.xml
Labels: area-Meta

#6762 Update ReaderWriterLockSlim.xml to state that it is not thread-abort safe.
  xml/System.Threading/ReaderWriterLockSlim.xml
Labels: area-System.Threading

#6814 Remove exception from IPAddress.TryParse(string, out IPAddress)
  xml/System.Net/IPAddress.xml
Labels: area-System.Net

#6792 .NET Interactive: Add_try_dotnet_to_batch_41a
  xml/System.Security.Cryptography/CspParameters.xml
  xml/System/ArraySegment`1.xml
  xml/System/Convert.xml
  xml/System/DateTimeOffset.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple`2.xml
  xml/System/UInt64.xml
  xml/System/Version.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6798 .NET Interactive: Add_try_dotnet_to_batch_41b
  xml/System.Text/StringBuilder.xml
  xml/System/Decimal.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6816 .NET Interactive: Add_try_dotnet_to_batch_42a
  xml/System/Decimal.xml
  xml/System/Single.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6819 Lock HTTP header names
  xml/System.Net/HttpWebRequest.xml
Labels: area-System.Net

#6823 Merge main into live
  xml/System.Net/HttpWebRequest.xml
Labels: area-System.Net

#6822 Fix output
  samples/snippets/csharp/VS_Snippets_CLR_System/system.decimal.operators/cs/inequality1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.decimal.operators/vb/inequality1.vb
Labels: :woman_technologist: .NET Interactive

#6825 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.decimal.operators/cs/inequality1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.decimal.operators/vb/inequality1.vb
Labels: area-Meta

#6830 Update .ToLookup() sample code
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Enumerable/CS/enumerable.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.ILookup/cs/ILookup.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Lookup/CS/lookup.cs
Labels: area-System.Runtime

#6821 .NET Interactive: Add_try_dotnet_to_batch_42b
  xml/System/Decimal.xml
  xml/System/Single.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6824 Update DataRowView.xml
  xml/System.Data/DataRowView.xml
Labels: area-System.Data

#6828 .NET Interactive: Add_try_dotnet_to_batch_43a
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/IdnMapping.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Globalization/TextElementEnumerator.xml
Labels: :woman_technologist: .NET Interactive, area-System.Globalization, verify-build-before-merge

#6834 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Enumerable/CS/enumerable.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.ILookup/cs/ILookup.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Linq.Lookup/CS/lookup.cs
  xml/System.Data/DataRowView.xml
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/IdnMapping.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Globalization/TextElementEnumerator.xml
  xml/System/Decimal.xml
  xml/System/Single.xml
Labels: area-Meta

#6833 Update ComWrappers.xml
  xml/System.Runtime.InteropServices/ComWrappers.xml
Labels: area-System.Runtime.InteropServices

#6836 .NET Interactive: Add_try_dotnet_to_batch_43b
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/StringInfo.xml
  xml/System.Globalization/TextInfo.xml
  xml/System/Int16.xml
  xml/System/Int64.xml
  xml/System/Single.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime, verify-build-before-merge

#6839 Merge main into live
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/StringInfo.xml
  xml/System.Globalization/TextInfo.xml
  xml/System.Runtime.InteropServices/ComWrappers.xml
  xml/System/Int16.xml
  xml/System/Int64.xml
  xml/System/Single.xml
Labels: area-Meta

#6837 Fix misspelling of the word initialize in code samples
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.ComboBoxSelectedText/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.MenuItemMergeOrder/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.NotifyIconExample/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.TrackBarExample/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.TreeViewAndPrintPreview/CPP/form1.cpp
  samples/snippets/csharp/VS_Snippets_CLR_System/system.TimeSpan.ToString/cs/ToString1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.TimeSpan.ToString/cs/ToString2.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.ComboBoxSelectedText/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.MenuItemMergeOrder/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.NotifyIconExample/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.TrackBarExample/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.TreeViewAndPrintPreview/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Wpf/DocumentSerialize/CSharp/HtmlXmlConverter/HtmlSchema.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.TimeSpan.ToString/vb/ToString1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.TimeSpan.ToString/vb/ToString2.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.ComboBoxSelectedText/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.MenuItemMergeOrder/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.NotifyIconExample/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.TrackBarExample/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.TreeViewAndPrintPreview/VB/form1.vb
Labels: area-WinForms

#6838 Escape backslash
  xml/System/AppContext.xml
Labels: area-System.Runtime

#6841 Verb remarks added
  xml/System.Diagnostics/ProcessStartInfo.xml
Labels: area-System.Diagnostics.Process

#6840 Format exceptions for CI
  xml/System.IO.Compression/ZipFile.xml
Labels: area-System.IO.Compression

#6842 Merge main into live
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.ComboBoxSelectedText/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.MenuItemMergeOrder/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.NotifyIconExample/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.TrackBarExample/CPP/form1.cpp
  samples/snippets/cpp/VS_Snippets_Winforms/System.Windows.Forms.TreeViewAndPrintPreview/CPP/form1.cpp
  samples/snippets/csharp/VS_Snippets_CLR_System/system.TimeSpan.ToString/cs/ToString1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.TimeSpan.ToString/cs/ToString2.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.ComboBoxSelectedText/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.MenuItemMergeOrder/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.NotifyIconExample/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.TrackBarExample/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.TreeViewAndPrintPreview/CS/form1.cs
  samples/snippets/csharp/VS_Snippets_Wpf/DocumentSerialize/CSharp/HtmlXmlConverter/HtmlSchema.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.TimeSpan.ToString/vb/ToString1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.TimeSpan.ToString/vb/ToString2.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.ComboBoxSelectedText/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.MenuItemMergeOrder/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.NotifyIconExample/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.TrackBarExample/VB/form1.vb
  samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.TreeViewAndPrintPreview/VB/form1.vb
  xml/System/AppContext.xml
Labels: area-WinForms

#6843 WinForms Timer is not .Net Framework only
  xml/System.Threading/Timer.xml
  xml/System.Timers/Timer.xml
Labels: area-System.Threading

#6846 Merge main into live
  xml/System.Diagnostics/ProcessStartInfo.xml
  xml/System.IO.Compression/ZipFile.xml
  xml/System.Threading/Timer.xml
  xml/System.Timers/Timer.xml
Labels: area-Meta

#6844 .NET Interactive: Add_try_dotnet_to_batch_44a
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/CharUnicodeInfo.xml
  xml/System.Globalization/GregorianCalendarTypes.xml
  xml/System.Globalization/IdnMapping.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/StringInfo.xml
Labels: :woman_technologist: .NET Interactive, area-System.Globalization, verify-build-before-merge

#6847 .NET Interactive: Add_try_dotnet_to_batch_44b
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/CalendarAlgorithmType.xml
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/GregorianCalendar.xml
  xml/System.Globalization/HijriCalendar.xml
  xml/System.Globalization/JapaneseCalendar.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/TextInfo.xml
Labels: :woman_technologist: .NET Interactive, area-System.Globalization

#6848 Merge main into live
  xml/System.Globalization/Calendar.xml
  xml/System.Globalization/CalendarAlgorithmType.xml
  xml/System.Globalization/CharUnicodeInfo.xml
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/GregorianCalendar.xml
  xml/System.Globalization/GregorianCalendarTypes.xml
  xml/System.Globalization/HijriCalendar.xml
  xml/System.Globalization/IdnMapping.xml
  xml/System.Globalization/JapaneseCalendar.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/StringInfo.xml
  xml/System.Globalization/TextInfo.xml
Labels: area-Meta

#6832 Added c++ example to Func<T,TResult>
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Func~2/cpp/Example.cpp
  xml/System/Func`2.xml
Labels: area-System.Runtime
