Repository dotnet/dotnet-api-docs, pull requests merged in 2021-05, with the labels that each got.

#6708 Merge main into live
  xml/System.Net.NetworkInformation/PhysicalAddress.xml
Labels: area-System.Net

#6709 Fix ToSingle doc
  xml/System/BitConverter.xml
Labels: area-System.Runtime

#6712 Add note that SafeCanonicalizationMethods is static-like.
  xml/System.Security.Cryptography.Xml/SignedXml.xml
Labels: area-System.Security

#6715 Fix a typo in PointExample.cs; Fix #6714
  samples/snippets/csharp/VS_Snippets_Wpf/PointExamples_snip/CSharp/PointExample.cs
Labels: area-WPF

#6723 Add Rick as owner of System.Web
  .github/CODEOWNERS
Labels: area-Infrastructure

#5251 Fix escaping of backslashes (#5250)
  xml/System.IO/Path.xml
Labels: area-System.IO

#6677 .NET Interactive: Add_try_dotnet_to_batch_36a
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System/Array.xml
  xml/System/Convert.xml
  xml/System/Nullable`1.xml
  xml/System/Single.xml
  xml/System/UInt32.xml
  xml/System/Version.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6683 .NET Interactive: Add_try_dotnet_to_batch_36b
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System.Security.Cryptography/RC2CryptoServiceProvider.xml
  xml/System/Version.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6729 Add missing periods (System.Net etc.)
  xml/System.Net.Http.Headers/HttpHeaderValueCollection`1.xml
  xml/System.Net.Http/HttpRequestMessage.xml
  xml/System.Net.Http/WinHttpHandler.xml
  xml/System.Net.NetworkInformation/NetworkInformationPermission.xml
  xml/System.Net.PeerToPeer.Collaboration/Peer.xml
  xml/System.Net.PeerToPeer.Collaboration/PeerApplicationCollection.xml
  xml/System.Net.PeerToPeer.Collaboration/PeerContactCollection.xml
  xml/System.Net.PeerToPeer.Collaboration/PeerEndPointCollection.xml
  xml/System.Net/HttpStatusCode.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System.Net/WebClient.xml
  xml/System.Net/WebHeaderCollection.xml
  xml/System.Net/WebRequest.xml
  xml/System.Reflection.Emit/EnumBuilder.xml
  xml/System.Reflection.Emit/ILGenerator.xml
  xml/System.Reflection.Emit/ModuleBuilder.xml
  xml/System.Reflection.Emit/PropertyBuilder.xml
  xml/System.Reflection.Emit/TypeBuilder.xml
  xml/System.Reflection.Metadata/MetadataReaderProvider.xml
  xml/System.Reflection.Metadata/MethodDebugInformation.xml
  xml/System.Reflection.Metadata/PEReaderExtensions.xml
  xml/System.Reflection.Metadata/TypeReference.xml
  xml/System.Reflection.PortableExecutable/CorFlags.xml
  xml/System.Reflection.PortableExecutable/PEReader.xml
  xml/System.Security.AccessControl/ObjectSecurity`1.xml
  xml/System.Security.Cryptography.Xml/XmlDecryptionTransform.xml
  xml/System.Security.Cryptography/AesManaged.xml
  xml/System.Security/SecureString.xml
  xml/System.Threading.Tasks/ParallelLoopResult.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/TaskFactory.xml
  xml/System.Threading/Barrier.xml
  xml/System.Threading/SpinWait.xml
  xml/System.Threading/Thread.xml
  xml/System.Transactions/SubordinateTransaction.xml
Labels: area-Meta

#6725 Bulk clean-up
  xml/System.Composition.Hosting.Core/ExportDescriptorPromise.xml
  xml/System.Configuration.Internal/DelegatingConfigHost.xml
  xml/System.Configuration.Internal/IInternalConfigHost.xml
  xml/System.Configuration/ConfigurationElement.xml
  xml/System.Configuration/ConfigurationPropertyCollection.xml
  xml/System.Configuration/ElementInformation.xml
  xml/System.Configuration/UriSection.xml
  xml/System.Data.Common.CommandTrees.ExpressionBuilder/DbExpressionBuilder.xml
  xml/System.Data.Common.CommandTrees.ExpressionBuilder/EdmFunctions.xml
  xml/System.Data.Common.CommandTrees/DbExpression.xml
  xml/System.Data.Common.CommandTrees/DbLambda.xml
  xml/System.Data.Common/DbProviderServices.xml
  xml/System.Data.Design/TypedDataSetSchemaImporterExtension.xml
  xml/System.Data.Entity.Design/MetadataExtensionMethods.xml
  xml/System.Data.EntityClient/EntityDataReader.xml
  xml/System.Data.Linq/ChangeConflictCollection.xml
  xml/System.Data.Linq/DataLoadOptions.xml
  xml/System.Data.Objects.SqlClient/SqlFunctions.xml
  xml/System.Data.Objects.SqlClient/SqlSpatialFunctions.xml
  xml/System.Data.Services.Client/DataServiceContext.xml
  xml/System.Data.Services.Client/DataServiceQuery`1.xml
  xml/System.Data.Services.Client/EntityCollectionChangedParams.xml
  xml/System.Data.Services.Design/EdmToObjectNamespaceMap.xml
  xml/System.Data.Spatial/DbGeography.xml
  xml/System.Data.Spatial/DbGeometry.xml
  xml/System.Data.Spatial/DbSpatialDataReader.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCertificateStoreProvider.xml
  xml/System.Data.SqlClient/SqlConnection.xml
  xml/System.Data.SqlTypes/SqlFileStream.xml
  xml/System.Data.SqlTypes/SqlXml.xml
  xml/System.Data/DataRow.xml
  xml/System.Data/DataRowCollection.xml
  xml/System.Data/DataRowView.xml
  xml/System.Data/DataTableReader.xml
  xml/System.EnterpriseServices/SharedPropertyGroup.xml
Labels: area-System.Data

#6730 Sample fixes for batch 36
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Security.Cryptography.RC2CryptoServiceProvider Example/CS/class1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.toint64/cs/toint64_1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Security.Cryptography.RC2CryptoServiceProvider Example/VB/class1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.toint64/vb/toint64_1.vb
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6727 Add missing periods (System.Collections/System.ComponentModel/System.IdentityModel)
  xml/System.Collections.Concurrent/ConcurrentBag`1.xml
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Collections.Generic/IReadOnlySet`1.xml
  xml/System.Collections.Generic/SynchronizedCollection`1.xml
  xml/System.Collections.Immutable/IImmutableList`1.xml
  xml/System.Collections.Immutable/ImmutableArray`1+Builder.xml
  xml/System.Collections.Immutable/ImmutableArray`1.xml
  xml/System.Collections.Immutable/ImmutableDictionary`2.xml
  xml/System.Collections.Immutable/ImmutableInterlocked.xml
  xml/System.Collections.Immutable/ImmutableSortedSet`1+Builder.xml
  xml/System.ComponentModel.Composition.ReflectionModel/ReflectionModelServices.xml
  xml/System.ComponentModel.Design.Data/DesignerDataColumn.xml
  xml/System.ComponentModel.Design.Data/DesignerDataConnection.xml
  xml/System.ComponentModel.Design.Serialization/BasicDesignerLoader.xml
  xml/System.ComponentModel.Design.Serialization/CodeDomDesignerLoader.xml
  xml/System.ComponentModel.Design.Serialization/CodeDomLocalizationProvider.xml
  xml/System.ComponentModel.Design.Serialization/CollectionCodeDomSerializer.xml
  xml/System.ComponentModel.Design/DesignerOptionService+DesignerOptionCollection.xml
  xml/System.ComponentModel.Design/DesignerOptionService.xml
  xml/System.ComponentModel.Design/IComponentDesignerDebugService.xml
  xml/System.ComponentModel.Design/UndoEngine.xml
  xml/System.ComponentModel/BindingList`1.xml
  xml/System.ComponentModel/ComplexBindingPropertiesAttribute.xml
  xml/System.ComponentModel/DefaultBindingPropertyAttribute.xml
  xml/System.ComponentModel/ListSortDescriptionCollection.xml
  xml/System.ComponentModel/LookupBindingPropertiesAttribute.xml
  xml/System.IO.IsolatedStorage/IsolatedStorageFile.xml
  xml/System.IO.IsolatedStorage/IsolatedStorageFileStream.xml
  xml/System.IO.Pipes/PipeSecurity.xml
  xml/System.IO/StreamWriter.xml
  xml/System.IdentityModel.Configuration/IdentityConfiguration.xml
  xml/System.IdentityModel.Metadata/MetadataSerializer.xml
  xml/System.IdentityModel.Services.Configuration/WsFederationConfiguration.xml
  xml/System.IdentityModel.Services/CookieHandler.xml
  xml/System.IdentityModel.Services/WSFederationAuthenticationModule.xml
  xml/System.IdentityModel.Tokens/Saml2AuthenticationContext.xml
  xml/System.IdentityModel.Tokens/SamlAssertionKeyIdentifierClause.xml
  xml/System.IdentityModel.Tokens/SamlSecurityTokenHandler.xml
  xml/System.IdentityModel.Tokens/SessionSecurityTokenCacheKey.xml
  xml/System.IdentityModel.Tokens/SymmetricProofDescriptor.xml
  xml/System.IdentityModel/DelegatingXmlDictionaryReader.xml
  xml/System.IdentityModel/RsaEncryptionCookieTransform.xml
Labels: area-Infrastructure

#6724 Add missing periods (various namespaces)
  xml/System.Formats.Asn1/Asn1Tag.xml
  xml/System.Formats.Asn1/AsnDecoder.xml
  xml/System.Formats.Asn1/AsnEncodingRules.xml
  xml/System.Formats.Asn1/AsnReader.xml
  xml/System.Formats.Asn1/AsnWriter.xml
  xml/System.Formats.Asn1/TagClass.xml
  xml/System.Formats.Cbor/CborWriter.xml
  xml/System.Numerics/Matrix4x4.xml
  xml/System.Numerics/Vector.xml
  xml/System.Runtime.CompilerServices/CallerArgumentExpressionAttribute.xml
  xml/System.Runtime.DurableInstancing/InstancePersistenceEvent.xml
  xml/System.Runtime.DurableInstancing/InstancePersistenceException.xml
  xml/System.Runtime.DurableInstancing/InstanceStore.xml
  xml/System.Runtime.InteropServices/UCOMITypeLib.xml
  xml/System.Runtime.Intrinsics.Arm/ArmBase+Arm64.xml
  xml/System.Runtime.Intrinsics.X86/Avx2.xml
  xml/System.Runtime.Intrinsics.X86/FloatComparisonMode.xml
  xml/System.Runtime.Intrinsics.X86/Sse2.xml
  xml/System.Runtime.Intrinsics.X86/Sse41.xml
  xml/System.Runtime.Remoting.Metadata.W3cXsd2001/SoapYearMonth.xml
  xml/System.Runtime.Remoting/ServerException.xml
  xml/System/Array.xml
  xml/System/Half.xml
  xml/System/Lazy`2.xml
  xml/System/MemoryExtensions.xml
  xml/System/TupleExtensions.xml
  xml/System/Tuple`4.xml
  xml/System/Tuple`5.xml
  xml/System/Tuple`6.xml
  xml/System/Tuple`7.xml
  xml/System/Tuple`8.xml
  xml/System/ValueTuple.xml
  xml/ns-System.Buffers.xml
  xml/ns-System.Runtime.Intrinsics.xml
Labels: area-Meta

#6728 Add missing periods (System.D*/System.Linq)
  xml/System.Diagnostics.Design/LogConverter.xml
  xml/System.Diagnostics.Tracing/IncrementingEventCounter.xml
  xml/System.Diagnostics/ActivityTagsCollection.xml
  xml/System.Diagnostics/DiagnosticsConfigurationHandler.xml
  xml/System.Diagnostics/EventLog.xml
  xml/System.Diagnostics/ProcessModuleCollection.xml
  xml/System.DirectoryServices.AccountManagement/AdvancedFilters.xml
  xml/System.DirectoryServices.AccountManagement/NoMatchingPrincipalException.xml
  xml/System.DirectoryServices.AccountManagement/PrincipalCollection.xml
  xml/System.DirectoryServices.AccountManagement/PrincipalValueCollection`1.xml
  xml/System.DirectoryServices.ActiveDirectory/ActiveDirectorySchemaClass.xml
  xml/System.DirectoryServices.ActiveDirectory/ReplicationCursor.xml
  xml/System.Drawing/FontConverter+FontNameConverter.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Point.xml
  xml/System.Drawing/Rectangle.xml
  xml/System.Drawing/SizeF.xml
  xml/System.Drawing/SystemFonts.xml
  xml/System.Linq.Expressions/Expression.xml
  xml/System.Linq.Expressions/LabelExpression.xml
  xml/System.Linq.Expressions/LabelTarget.xml
  xml/System.Linq.Expressions/SymbolDocumentInfo.xml
  xml/System.Linq/ParallelEnumerable.xml
  xml/System.Management/TextFormat.xml
  xml/System.Messaging/MessageQueue.xml
  xml/System.Messaging/MessageQueueInstaller.xml
  xml/System.Speech.Synthesis.TtsEngine/FragmentState.xml
  xml/System.Speech.Synthesis/PromptBuilder.xml
Labels: area-Meta

#6726 Add missing periods (System.Workflow/System.Xml)
  xml/System.Printing/PageMediaSizeName.xml
  xml/System.Printing/PrintServer.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Workflow.Activities.Rules/RuleCondition.xml
  xml/System.Workflow.Activities/EventQueueName.xml
  xml/System.Workflow.Activities/SendActivity.xml
  xml/System.Workflow.ComponentModel.Compiler/PropertyValidationContext.xml
  xml/System.Workflow.ComponentModel.Compiler/TypeProvider.xml
  xml/System.Workflow.ComponentModel.Compiler/WorkflowCompilerError.xml
  xml/System.Workflow.ComponentModel.Compiler/WorkflowMarkupSourceAttribute.xml
  xml/System.Workflow.ComponentModel.Design/ActivityDesignerPaint.xml
  xml/System.Workflow.ComponentModel.Design/ActivityPreviewDesigner.xml
  xml/System.Workflow.ComponentModel.Design/ActivityToolboxItem.xml
  xml/System.Workflow.ComponentModel.Design/ConnectionPoint.xml
  xml/System.Workflow.ComponentModel.Design/ConnectorAccessibleObject.xml
  xml/System.Workflow.ComponentModel.Design/FreeformActivityDesigner.xml
  xml/System.Workflow.ComponentModel.Design/SequentialWorkflowHeaderFooter.xml
  xml/System.Workflow.ComponentModel.Design/WorkflowViewAccessibleObject.xml
  xml/System.Workflow.ComponentModel/Activity.xml
  xml/System.Workflow.ComponentModel/ThrowActivity.xml
  xml/System.Workflow.Runtime.DebugEngine/IInstanceTable.xml
  xml/System.Workflow.Runtime.DebugEngine/IWorkflowDebugger.xml
  xml/System.Workflow.Runtime.Tracking/ActivityTrackingCondition.xml
  xml/System.Workflow.Runtime/TimerEventSubscription.xml
  xml/System.Xaml.Schema/XamlValueConverter`1.xml
  xml/System.Xaml/XamlType.xml
  xml/System.Xml.Serialization/XmlSerializationWriter.xml
  xml/System.Xml.XPath/XPathNodeType.xml
  xml/System.Xml.Xsl.Runtime/XsltFunctions.xml
  xml/System.Xml.Xsl/IXsltContextFunction.xml
  xml/System.Xml/XmlAttribute.xml
  xml/System.Xml/XmlConvert.xml
  xml/System.Xml/XmlDictionaryReaderQuotas.xml
  xml/System.Xml/XmlDocument.xml
  xml/System.Xml/XmlNamespaceManager.xml
  xml/System.Xml/XmlTextWriter.xml
Labels: area-Meta

#6733 .NET Interactive: Add_try_dotnet_to_batch_37a
  xml/System.Numerics/Complex.xml
Labels: :woman_technologist: .NET Interactive, area-System.Numerics

#6736 Update NewLine examples to use string interpolation
  samples/snippets/cpp/VS_Snippets_CLR/Environment.NewLine/CPP/newline.cpp
  samples/snippets/csharp/VS_Snippets_CLR/Environment.NewLine/CS/newline.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/Environment.NewLine/VB/newline.vb
  xml/System/Environment.xml
Labels: area-System.Runtime

#6734 Fix batch 37 sample output
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Numerics.BigInteger.Remainder/cs/Remainder1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.numerics.complex.abs/cs/abs1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Numerics.BigInteger.Remainder/vb/Remainder1.vb
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6737 .NET Interactive: Add_try_dotnet_to_batch_37b
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
Labels: :woman_technologist: .NET Interactive, area-System.Numerics

#6739 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR/Environment.NewLine/CPP/newline.cpp
  samples/snippets/csharp/VS_Snippets_CLR/Environment.NewLine/CS/newline.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Numerics.BigInteger.Remainder/cs/Remainder1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.numerics.complex.abs/cs/abs1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/Environment.NewLine/VB/newline.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Numerics.BigInteger.Remainder/vb/Remainder1.vb
  xml/Microsoft.Extensions.Caching.Memory/EvictionReason.xml
  xml/Microsoft.Extensions.Configuration.KeyPerFile/KeyPerFileConfigurationSource.xml
  xml/Microsoft.Extensions.Configuration.UserSecrets/PathHelper.xml
  xml/Microsoft.Extensions.DependencyInjection/ActivatorUtilities.xml
  xml/Microsoft.Extensions.DependencyInjection/IServiceProviderFactory`1.xml
  xml/Microsoft.Extensions.FileProviders.Composite/CompositeDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders.Embedded/EmbeddedResourceFileInfo.xml
  xml/Microsoft.Extensions.FileProviders.Internal/PhysicalDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalDirectoryInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PollingFileChangeToken.xml
  xml/Microsoft.Extensions.FileProviders/CompositeFileProvider.xml
  xml/Microsoft.Extensions.FileProviders/EmbeddedFileProvider.xml
  xml/Microsoft.Extensions.FileProviders/IFileInfo.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundFileInfo.xml
  xml/Microsoft.Extensions.FileProviders/NullChangeToken.xml
  xml/Microsoft.Extensions.FileProviders/PhysicalFileProvider.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Abstractions/DirectoryInfoBase.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Abstractions/DirectoryInfoWrapper.xml
  xml/Microsoft.Extensions.FileSystemGlobbing/FilePatternMatch.xml
  xml/Microsoft.Extensions.FileSystemGlobbing/Matcher.xml
  xml/Microsoft.Extensions.Localization/ResourceManagerStringLocalizerFactory.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/AzureBlobLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/BackgroundSink.xml
  xml/Microsoft.Extensions.Logging.Configuration/ILoggerProviderConfigurationFactory.xml
  xml/Microsoft.Extensions.Logging.Configuration/ILoggerProviderConfiguration`1.xml
  xml/Microsoft.Extensions.Logging.Configuration/LoggerProviderOptions.xml
  xml/Microsoft.Extensions.Logging.Console/SimpleConsoleFormatterOptions.xml
  xml/Microsoft.Extensions.Logging/AzureAppServicesLoggerFactoryExtensions.xml
  xml/Microsoft.Extensions.Logging/ConsoleLoggerExtensions.xml
  xml/Microsoft.Extensions.Logging/DebugLoggerFactoryExtensions.xml
  xml/Microsoft.Extensions.Logging/EventLoggerFactoryExtensions.xml
  xml/Microsoft.Extensions.Logging/IExternalScopeProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerFactory.xml
  xml/Microsoft.Extensions.Logging/LoggerMessage.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System/Environment.xml
Labels: area-Meta

#6738 Fix up exceptions
  xml/Microsoft.VisualBasic.FileIO/FileSystem.xml
  xml/Microsoft.VisualBasic.MyServices/FileSystemProxy.xml
  xml/Microsoft.VisualBasic/Interaction.xml
  xml/Microsoft.Win32/RegistryKey.xml
  xml/System.CodeDom.Compiler/CodeGenerator.xml
  xml/System.Data.Common.CommandTrees.ExpressionBuilder/EdmFunctions.xml
  xml/System.Data.Common.CommandTrees/DbLambda.xml
  xml/System.Data.Common.CommandTrees/DbLambdaExpression.xml
  xml/System.Data.Services.Client/DataServiceContext.xml
  xml/System.Data.SqlClient/SqlDataReader.xml
  xml/System.Drawing/Image.xml
  xml/System.Formats.Cbor/CborReader.xml
  xml/System.Formats.Cbor/CborWriter.xml
  xml/System.IdentityModel.Configuration/IdentityConfiguration.xml
  xml/System.Net.Sockets/SendPacketsElement.xml
  xml/System.Speech.Recognition/Grammar.xml
  xml/System.Threading/Barrier.xml
  xml/System.Web.Caching/SqlCacheDependencyAdmin.xml
  xml/System.Web.Security/MachineKey.xml
  xml/System.Web.UI.WebControls.WebParts/ProxyWebPart.xml
  xml/System.Web.UI.WebControls.WebParts/WebPartDescriptionCollection.xml
  xml/System.Windows.Forms/SendKeys.xml
  xml/System.Workflow.Activities.Rules/UpdatedRuleSetAction.xml
  xml/System.Xml.Xsl/XslCompiledTransform.xml
  xml/System.Xml/XmlElement.xml
  xml/System.Xml/XmlNamespaceManager.xml
  xml/System.Xml/XmlTextWriter.xml
Labels: area-Meta

#6745 Merge main into live
  xml/Microsoft.VisualBasic.FileIO/FileSystem.xml
  xml/Microsoft.VisualBasic.MyServices/FileSystemProxy.xml
  xml/Microsoft.VisualBasic/Interaction.xml
  xml/Microsoft.Win32/RegistryKey.xml
  xml/System.CodeDom.Compiler/CodeGenerator.xml
  xml/System.Data.Common.CommandTrees.ExpressionBuilder/EdmFunctions.xml
  xml/System.Data.Common.CommandTrees/DbLambda.xml
  xml/System.Data.Common.CommandTrees/DbLambdaExpression.xml
  xml/System.Data.Services.Client/DataServiceContext.xml
  xml/System.Data.SqlClient/SqlDataReader.xml
  xml/System.Drawing/Image.xml
  xml/System.Formats.Cbor/CborReader.xml
  xml/System.Formats.Cbor/CborWriter.xml
  xml/System.IdentityModel.Configuration/IdentityConfiguration.xml
  xml/System.Net.Sockets/SendPacketsElement.xml
  xml/System.Speech.Recognition/Grammar.xml
  xml/System.Threading/Barrier.xml
  xml/System.Web.Caching/SqlCacheDependencyAdmin.xml
  xml/System.Web.Security/MachineKey.xml
  xml/System.Web.UI.WebControls.WebParts/ProxyWebPart.xml
  xml/System.Web.UI.WebControls.WebParts/WebPartDescriptionCollection.xml
  xml/System.Windows.Forms/SendKeys.xml
  xml/System.Workflow.Activities.Rules/UpdatedRuleSetAction.xml
  xml/System.Xml.Xsl/XslCompiledTransform.xml
  xml/System.Xml/XmlElement.xml
  xml/System.Xml/XmlNamespaceManager.xml
  xml/System.Xml/XmlTextWriter.xml
Labels: area-Meta

#5390 Add missing docs
  xml/System.Reflection/MethodInfo.xml
Labels: area-System.Reflection

#6747 Fix typo in comment in processstart.* - "is is".
  samples/snippets/cpp/VS_Snippets_CLR/Process.Start_instance/CPP/processstart.cpp
  samples/snippets/csharp/VS_Snippets_CLR/Process.Start_instance/CS/processstart.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/Process.Start_instance/VB/processstart.vb
Labels: area-System.Runtime

#6748 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR/Process.Start_instance/CPP/processstart.cpp
  samples/snippets/csharp/VS_Snippets_CLR/Process.Start_instance/CS/processstart.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/Process.Start_instance/VB/processstart.vb
  xml/System.Reflection/MethodInfo.xml
Labels: area-Meta

#6761 Fix braces typo in IComparable csharp example
  samples/snippets/csharp/VS_Snippets_CLR/IComparable Example/CS/source.cs
Labels: area-System.Security

#6759 Fix link to article, as it was renamed, and currently the link gives 404.
  xml/System.Text.Json/JsonDocument.xml
Labels: area-System.Text.Json

#6678 Nomenclature: Prefer 'your code' over 'your app'
  xml/System.Text/StringBuilder.xml
Labels: area-System.Text.Encoding

#6764 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR/IComparable Example/CS/source.cs
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text/StringBuilder.xml
Labels: area-Meta

#6771 Merge main into live
  xml/System.Net.Security/SslStreamCertificateContext.xml
Labels: area-System.Net

#6770 Update PNSE for .NET 6
  xml/System.Data.Common/DbDataReader.xml
  xml/System.Diagnostics/Process.xml
  xml/System.IO.MemoryMappedFiles/MemoryMappedFile.xml
  xml/System.IO/FileSystemInfo.xml
  xml/System.Net/AuthenticationManager.xml
  xml/System.Net/WebRequest.xml
  xml/System.Reflection/Assembly.xml
  xml/System.Reflection/AssemblyName.xml
  xml/System.Reflection/StrongNameKeyPair.xml
  xml/System.Runtime.CompilerServices/DebugInfoGenerator.xml
  xml/System.Runtime.InteropServices/RuntimeEnvironment.xml
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
  xml/System.Security.Cryptography.Pkcs/CmsSigner.xml
  xml/System.Security.Cryptography.Pkcs/SignedCms.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
  xml/System.Security.Cryptography/ProtectedData.xml
  xml/System.Security.Cryptography/RSA.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Text/Encoding.xml
  xml/System.Threading/Thread.xml
  xml/System/MarshalByRefObject.xml
  xml/System/Type.xml
  xml/System/Uri.xml
Labels: area-Meta

#6743 Remove note about ArgumentException being thrown
  xml/System.Threading/Thread.xml
Labels: area-System.Threading

#6775 Remove System.Drawing.Common
  includes/drawing.md
Labels: area-System.Drawing

#6776 Merge main into live
  includes/drawing.md
  xml/System.Data.Common/DbDataReader.xml
  xml/System.Diagnostics/Process.xml
  xml/System.IO.MemoryMappedFiles/MemoryMappedFile.xml
  xml/System.IO/FileSystemInfo.xml
  xml/System.Net/AuthenticationManager.xml
  xml/System.Net/WebRequest.xml
  xml/System.Reflection/Assembly.xml
  xml/System.Reflection/AssemblyName.xml
  xml/System.Reflection/StrongNameKeyPair.xml
  xml/System.Runtime.CompilerServices/DebugInfoGenerator.xml
  xml/System.Runtime.InteropServices/RuntimeEnvironment.xml
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
  xml/System.Security.Cryptography.Pkcs/CmsSigner.xml
  xml/System.Security.Cryptography.Pkcs/SignedCms.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
  xml/System.Security.Cryptography/ProtectedData.xml
  xml/System.Security.Cryptography/RSA.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Text/Encoding.xml
  xml/System.Threading/Thread.xml
  xml/System/MarshalByRefObject.xml
  xml/System/Type.xml
  xml/System/Uri.xml
Labels: area-Meta
