Repository dotnet/dotnet-api-docs, pull requests merged in 2021-01, with the labels that each got.

#5174 Update Process.WorkingSet64 docs and mention Refresh
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process

#5096 Put default values into a table
  xml/System.Windows.Forms/ListView.xml
Labels: area-WinForms

#5097 Put enum defaults into summary
  xml/System.Windows.Forms/TextFormatFlags.xml
Labels: area-System.Text.RegularExpressions

#5193 Fix M24 parameter description
  xml/System.Numerics/Matrix4x4.xml
Labels: area-System.Net

#5211 Clarify UseSocketsHttpHandler version availability
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net

#5150 .NET Interactive: Add_try_dotnet_to_batch_27a
  xml/System.Linq/Queryable.xml
Labels: :woman_technologist: .NET Interactive

#5155 .NET Interactive: Add_try_dotnet_to_batch_27b
  xml/System.Linq/Queryable.xml
Labels: :woman_technologist: .NET Interactive

#5172 .NET Interactive: Add_try_dotnet_to_batch_27c
  xml/System.Linq/Queryable.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5224 Updated example section for MouseEventArgs
  xml/System.Windows.Forms/MouseEventArgs.xml
Labels: area-WinForms

#5187 .NET Interactive: Add_try_dotnet_to_batch_28
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/UnicodeCategory.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/IGrouping`2.xml
  xml/System.Linq/IOrderedEnumerable`1.xml
  xml/System.Text/StringBuilder.xml
  xml/System/Array.xml
  xml/System/MissingMethodException.xml
  xml/System/Nullable.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple.xml
  xml/System/Type.xml
Labels: :woman_technologist: .NET Interactive

#5209 Add remarks about EventSource.GetGuid
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-System.Diagnostics.Tracing

#5255 Fixed a missing element open bracket
  xml/System.Globalization/JapaneseCalendar.xml
Labels: :sparkles: 1st-time dotnet-api-docs contributor!

#5247 Updating FileSystem.AccessControl examples
  samples/snippets/csharp/VS_Snippets_CLR/IO.FileSystem.AccessControl/DirectoryInfoCreateDirectory.cs
  samples/snippets/csharp/VS_Snippets_CLR/IO.FileSystem.AccessControl/FileInfoCreate.cs
  xml/System.IO/FileSystemAclExtensions.xml
Labels: area-System.IO

#5245 Add FileSystemEnumerable usage example
  samples/snippets/csharp/VS_Snippets_CLR/IO.Enumeration.FileSystemEnumerable/CS/Sample1.cs
  xml/System.IO.Enumeration/FileSystemEnumerable`1.xml
Labels: area-System.IO, doc-enhancement

#5232 Update ns-System.Drawing for supported apps
  includes/drawing.md
  xml/ns-System.Drawing.xml
Labels: area-System.Security

#5285 Fix links
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-Extensions-Hosting

#5287 Merge master into live
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-Extensions-Hosting

#5284 Fix typo in "implementation"
  xml/System.Data.Common/DbConnection.xml
Labels: area-System.Net

#5290 Merge master into live
  xml/System.Data.Common/DbConnection.xml
  xml/System.Net.Http/HttpMessageHandler.xml
  xml/System.Windows.Forms/TableLayoutPanel.xml
  xml/System.Windows.Forms/TableLayoutSettings.xml
Labels: area-System.Net

#5291 Fix broken links from the splitting of JSON articles.
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/JsonIgnoreAttribute.xml
  xml/System.Text.Json.Serialization/JsonPropertyNameAttribute.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter.xml
  xml/System.Text.Json/JsonCommentHandling.xml
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text.Json/JsonElement.xml
  xml/System.Text.Json/JsonNamingPolicy.xml
  xml/System.Text.Json/JsonReaderOptions.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonTokenType.xml
  xml/System.Text.Json/JsonValueKind.xml
  xml/System.Text.Json/JsonWriterOptions.xml
  xml/System.Text.Json/Utf8JsonReader.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Labels: area-System.Net

#5288 Update note block about 3-character extensions
  includes/enumerate-files-net-framework.md
  xml/System.IO/Directory.xml
Labels: area-System.IO

#5294 Merge master into live
  includes/enumerate-files-net-framework.md
  xml/System.IO/Directory.xml
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/JsonIgnoreAttribute.xml
  xml/System.Text.Json.Serialization/JsonPropertyNameAttribute.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter.xml
  xml/System.Text.Json/JsonCommentHandling.xml
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text.Json/JsonElement.xml
  xml/System.Text.Json/JsonNamingPolicy.xml
  xml/System.Text.Json/JsonReaderOptions.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonTokenType.xml
  xml/System.Text.Json/JsonValueKind.xml
  xml/System.Text.Json/JsonWriterOptions.xml
  xml/System.Text.Json/Utf8JsonReader.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Labels: area-System.Net

#5293 Update SuppressMessageAttribute
  xml/System.Diagnostics.CodeAnalysis/SuppressMessageAttribute.xml
Labels: area-System.Security

#5264 Updating the Math and MathF docs to indicate which functions may vary across OS or architecture
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-System.Numerics

#5296 Merge master into live
  xml/System.Diagnostics.CodeAnalysis/SuppressMessageAttribute.xml
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-System.Net
