Repository dotnet/dotnet-api-docs, pull requests merged in 2021-09, with the labels that each got.

#7087 Merge main into live
  xml/System.Reflection/PropertyInfo.xml
Labels: area-System.Reflection

#7083 Touchups to EnsureCapacity
  xml/System.Collections.Generic/List`1.xml
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Collections.Generic/Stack`1.xml
Labels: area-System.Collections

#7090 Fixes #56131 API get back public and non-public members
  xml/System.Reflection/TypeInfo.xml
Labels: area-System.Reflection

#7092 Merge main into live
  xml/System.Collections.Generic/List`1.xml
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Reflection/TypeInfo.xml
Labels: area-System.Collections

#7074 Port System.Data triple slash to docs
  xml/System.Data.Common/DbBatch.xml
  xml/System.Data.Common/DbBatchCommandCollection.xml
  xml/System.Data.Common/DbConnectionStringBuilder.xml
  xml/System.Data.Common/DbParameter.xml
  xml/System.Data.Common/DbTransaction.xml
  xml/System.Data.Metadata.Edm/ReadOnlyMetadataCollection`1+Enumerator.xml
  xml/System.Data.Objects.DataClasses/EntityCollection`1.xml
  xml/System.Data.Objects/ObjectResult.xml
  xml/System.Data.Odbc/OdbcCommand.xml
  xml/System.Data.Odbc/OdbcConnection.xml
  xml/System.Data.Odbc/OdbcDataReader.xml
  xml/System.Data.Odbc/OdbcTransaction.xml
  xml/System.Data.OleDb/OleDbCommand.xml
  xml/System.Data.OleDb/OleDbConnection.xml
  xml/System.Data.OleDb/OleDbDataReader.xml
  xml/System.Data.OleDb/OleDbTransaction.xml
  xml/System.Data.OracleClient/OracleDataReader.xml
  xml/System.Data.Services.Client/DataServiceResponse.xml
  xml/System.Data.SqlClient/SqlBulkCopyColumnMappingCollection.xml
  xml/System.Data.SqlClient/SqlCommand.xml
  xml/System.Data.SqlClient/SqlDataReader.xml
  xml/System.Data.SqlTypes/SqlBoolean.xml
  xml/System.Data.SqlTypes/SqlByte.xml
  xml/System.Data.SqlTypes/SqlBytes.xml
  xml/System.Data.SqlTypes/SqlChars.xml
  xml/System.Data.SqlTypes/SqlDateTime.xml
  xml/System.Data.SqlTypes/SqlDecimal.xml
  xml/System.Data.SqlTypes/SqlDouble.xml
  xml/System.Data.SqlTypes/SqlGuid.xml
  xml/System.Data.SqlTypes/SqlInt16.xml
  xml/System.Data.SqlTypes/SqlInt32.xml
  xml/System.Data.SqlTypes/SqlInt64.xml
  xml/System.Data.SqlTypes/SqlMoney.xml
  xml/System.Data.SqlTypes/SqlSingle.xml
  xml/System.Data.SqlTypes/SqlString.xml
  xml/System.Data/TypedTableBase`1.xml
Labels: area-System.Data

#7108 Merge main into live
  xml/System.Data.Common/DbBatch.xml
  xml/System.Data.Common/DbBatchCommandCollection.xml
  xml/System.Data.Common/DbConnectionStringBuilder.xml
  xml/System.Data.Common/DbParameter.xml
  xml/System.Data.Common/DbTransaction.xml
  xml/System.Data.Metadata.Edm/ReadOnlyMetadataCollection`1+Enumerator.xml
  xml/System.Data.Objects.DataClasses/EntityCollection`1.xml
  xml/System.Data.Objects/ObjectResult.xml
  xml/System.Data.Odbc/OdbcCommand.xml
  xml/System.Data.Odbc/OdbcConnection.xml
  xml/System.Data.Odbc/OdbcDataReader.xml
  xml/System.Data.Odbc/OdbcTransaction.xml
  xml/System.Data.OleDb/OleDbCommand.xml
  xml/System.Data.OleDb/OleDbConnection.xml
  xml/System.Data.OleDb/OleDbDataReader.xml
  xml/System.Data.OleDb/OleDbTransaction.xml
  xml/System.Data.OracleClient/OracleDataReader.xml
  xml/System.Data.Services.Client/DataServiceResponse.xml
  xml/System.Data.SqlClient/SqlBulkCopyColumnMappingCollection.xml
  xml/System.Data.SqlClient/SqlCommand.xml
  xml/System.Data.SqlClient/SqlDataReader.xml
  xml/System.Data.SqlTypes/SqlBoolean.xml
  xml/System.Data.SqlTypes/SqlByte.xml
  xml/System.Data.SqlTypes/SqlBytes.xml
  xml/System.Data.SqlTypes/SqlChars.xml
  xml/System.Data.SqlTypes/SqlDateTime.xml
  xml/System.Data.SqlTypes/SqlDecimal.xml
  xml/System.Data.SqlTypes/SqlDouble.xml
  xml/System.Data.SqlTypes/SqlGuid.xml
  xml/System.Data.SqlTypes/SqlInt16.xml
  xml/System.Data.SqlTypes/SqlInt32.xml
  xml/System.Data.SqlTypes/SqlInt64.xml
  xml/System.Data.SqlTypes/SqlMoney.xml
  xml/System.Data.SqlTypes/SqlSingle.xml
  xml/System.Data.SqlTypes/SqlString.xml
  xml/System.Data/TypedTableBase`1.xml
Labels: area-Meta

#7107 Update InteropServices doc
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal+UnhandledExceptionPropagationHandler.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal.xml
  xml/System.Runtime.InteropServices/Architecture.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
  xml/System.Runtime.InteropServices/PosixSignalContext.xml
  xml/System.Runtime.InteropServices/UnmanagedCallConvAttribute.xml
  xml/ns-System.Runtime.InteropServices.ObjectiveC.xml
Labels: area-System.Runtime.InteropServices

#7103 Port triple-slash comments to docs for Microsoft.Extensions.Http
  xml/Microsoft.Extensions.Http.Logging/LoggingHttpMessageHandler.xml
  xml/Microsoft.Extensions.Http.Logging/LoggingScopeHttpMessageHandler.xml
  xml/Microsoft.Extensions.Http/HttpMessageHandlerBuilder.xml
  xml/Microsoft.Extensions.Http/IHttpMessageHandlerBuilderFilter.xml
Labels: area-Extensions-HttpClientFactory

#7110 Add remaining docs to Microsoft.Extensions.Http
  xml/Microsoft.Extensions.Http/HttpClientFactoryOptions.xml
  xml/Microsoft.Extensions.Http/HttpMessageHandlerBuilder.xml
  xml/Microsoft.Extensions.Http/PolicyHttpMessageHandler.xml
  xml/ns-Microsoft.Extensions.Http.Logging.xml
  xml/ns-Microsoft.Extensions.Http.xml
Labels: area-Extensions-HttpClientFactory

#7113 ComWrappers Tutorial feedback
  xml/System.Runtime.InteropServices/ComWrappers.xml
Labels: area-System.Runtime.InteropServices

#7114 Porting WinForms triple slash to docs
  xml/System.Windows.Forms.Analyzers/HighDpiMode.xml
  xml/System.Windows.Forms/Application.xml
  xml/System.Windows.Forms/ComboBox+ObjectCollection.xml
  xml/System.Windows.Forms/Control.xml
  xml/System.Windows.Forms/DialogResult.xml
  xml/System.Windows.Forms/FolderBrowserDialog.xml
  xml/System.Windows.Forms/Form.xml
  xml/System.Windows.Forms/LinkClickedEventArgs.xml
  xml/System.Windows.Forms/MessageBoxButtons.xml
  xml/System.Windows.Forms/MessageBoxDefaultButton.xml
  xml/System.Windows.Forms/TaskDialogButton.xml
  xml/System.Windows.Forms/TaskDialogCommandLinkButton.xml
  xml/System.Windows.Forms/TextRenderer.xml
Labels: area-WinForms

#7116 Add WebSocket and HttpHeadersNonValidated missing APIs
  xml/System.Net.Http.Headers/HttpHeadersNonValidated.xml
  xml/System.Net.WebSockets/WebSocket.xml
  xml/System.Net.WebSockets/WebSocketCreationOptions.xml
  xml/System.Net.WebSockets/WebSocketDeflateOptions.xml
Labels: area-System.Net

#7082 CI Update
  xml/FrameworksIndex/msbuild-16-netcore.xml
  xml/Microsoft.Build.Tasks.Deployment.ManifestUtilities/DeployManifest.xml
  xml/Microsoft.Extensions.Configuration/BinderOptions.xml
  xml/Microsoft.Extensions.Options/OptionsSnapshot`1.xml
  xml/System.Diagnostics/DistributedContextPropagator+PropagatorSetterCallback.xml
  xml/System.IO.Compression/ZLibStream.xml
  xml/System.IO.Pipes/AnonymousPipeServerStreamAcl.xml
  xml/System.IO.Pipes/NamedPipeServerStreamAcl.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/StreamReader.xml
  xml/System.IO/StreamWriter.xml
  xml/System.Numerics/BitOperations.xml
  xml/System.Reflection.PortableExecutable/DebugDirectoryBuilder.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Runtime/JitInfo.xml
  xml/System.Security.Cryptography.Pkcs/Rfc3161TimestampTokenInfo.xml
  xml/System.Security.Cryptography/ECDsaOpenSsl.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
  xml/System.Threading.Channels/ChannelReader`1.xml
  xml/System.Xml.Linq/XElement.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/MemoryExtensions.xml
  xml/System/OperatingSystem.xml
  xml/System/TimeOnly.xml
Labels: area-Meta

#7105 Port System.Net triple slash to docs
  xml/System.Net.Http/SocketsHttpConnectionContext.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Net.Http/SocketsHttpPlaintextStreamFilterContext.xml
  xml/System.Net.Security/NegotiateStream.xml
  xml/System.Net.Security/SslStream.xml
  xml/System.Net.Sockets/NetworkStream.xml
  xml/System.Net/IPAddress.xml
Labels: area-System.Net

#7094 Port System.Text.Json triple slash to docs
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization.Metadata/JsonObjectInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonParameterInfoValues.xml
  xml/System.Text.Json.Serialization/JsonConverter`1.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.RegularExpressions/Capture.xml
Labels: area-System.Text.Json

#7100 Port System.Diagnostics triple slash to docs
  xml/System.Diagnostics.Metrics/Counter`1.xml
  xml/System.Diagnostics.Metrics/Histogram`1.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics/CounterSample.xml
  xml/System.Diagnostics/EventLogEntryCollection.xml
  xml/System.Diagnostics/TagList.xml
Labels: area-System.Diagnostics

#7118 Update symlink documentation
  xml/System.IO/Directory.xml
  xml/System.IO/File.xml
  xml/System.IO/FileSystemInfo.xml
Labels: area-System.IO

#7106 Port System triple slash to docs
  xml/System/ArgumentNullException.xml
  xml/System/BinaryData.xml
  xml/System/HashCode.xml
  xml/System/MemoryExtensions.xml
  xml/System/String.xml
Labels: area-System.Runtime

#7102 Port System.Runtime.Versioning.RequiresPreviewFeaturesAttribute triple slash to docs
  xml/System.Runtime.Versioning/RequiresPreviewFeaturesAttribute.xml
Labels: area-System.Runtime

#7099 Port System.Reflection triple slash to docs
  xml/System.Reflection.Metadata/MetadataUpdateHandlerAttribute.xml
  xml/System.Reflection.Metadata/MetadataUpdater.xml
  xml/System.Reflection/NullabilityInfo.xml
  xml/System.Reflection/NullabilityInfoContext.xml
  xml/System.Reflection/NullabilityState.xml
Labels: area-System.Reflection

#7097 Port Security.Cryptography.Pkcs, Security.Permissions, Security.Policy triple slash to docs
  xml/System.Security.Cryptography.Pkcs/SignedCms.xml
  xml/System.Security.Cryptography.Pkcs/SignerInfo.xml
  xml/System.Security.Permissions/StorePermission.xml
  xml/System.Security.Policy/ApplicationTrust.xml
  xml/System.Security.Policy/PolicyStatement.xml
  xml/System.Security.Policy/UrlMembershipCondition.xml
Labels: area-System.Security

#7096 Port System.Security.Cryptography.Xml triple slash to docs
  xml/System.Security.Cryptography.Xml/CipherReference.xml
  xml/System.Security.Cryptography.Xml/CryptoSignedXmlRecursionException.xml
  xml/System.Security.Cryptography.Xml/DataReference.xml
  xml/System.Security.Cryptography.Xml/EncryptedReference.xml
  xml/System.Security.Cryptography.Xml/EncryptedXml.xml
  xml/System.Security.Cryptography.Xml/EncryptionMethod.xml
  xml/System.Security.Cryptography.Xml/EncryptionProperty.xml
  xml/System.Security.Cryptography.Xml/KeyInfoEncryptedKey.xml
  xml/System.Security.Cryptography.Xml/KeyInfoRetrievalMethod.xml
  xml/System.Security.Cryptography.Xml/KeyReference.xml
Labels: area-System.Security

#7123 Remove extra summary text
  xml/System.Security.Cryptography/DSASignatureFormat.xml
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
Labels: area-System.Security

#7091 Update ButtonBase.xml to indicate that AutoElipsis property shows control text in a tooltip
  xml/System.Windows.Forms/ButtonBase.xml
  xml/System.Windows.Forms/Label.xml
Labels: area-WinForms

#7124 Add missing code dom comments
  xml/System.CodeDom.Compiler/IndentedTextWriter.xml
Labels: area-Meta

#7098 Port System.Security.Cryptography triple slash to docs
  xml/System.Security.Cryptography/HMACMD5.xml
  xml/System.Security.Cryptography/HMACSHA1.xml
  xml/System.Security.Cryptography/HMACSHA512.xml
  xml/System.Security.Cryptography/SymmetricAlgorithm.xml
Labels: area-System.Security

#7095 Port System.Security.Cryptography.X509Certificates triple slash to docs
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
Labels: area-System.Security

#7117 Ported docs from System.Net
  xml/System.Net.Http/HeaderEncodingSelector`1.xml
  xml/System.Net.Http/HttpContent.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Net.Security/NegotiateStream.xml
  xml/System.Net.Security/SslApplicationProtocol.xml
Labels: area-System.Net.Http

#7125 Merge main into live
  xml/FrameworksIndex/msbuild-16-netcore.xml
  xml/Microsoft.Build.Tasks.Deployment.ManifestUtilities/DeployManifest.xml
  xml/Microsoft.Extensions.Configuration/BinderOptions.xml
  xml/Microsoft.Extensions.Options/OptionsSnapshot`1.xml
  xml/System.Diagnostics/DistributedContextPropagator+PropagatorSetterCallback.xml
  xml/System.IO.Compression/ZLibStream.xml
  xml/System.IO.Pipes/AnonymousPipeServerStreamAcl.xml
  xml/System.IO.Pipes/NamedPipeServerStreamAcl.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/StreamReader.xml
  xml/System.IO/StreamWriter.xml
  xml/System.Numerics/BitOperations.xml
  xml/System.Reflection.PortableExecutable/DebugDirectoryBuilder.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Runtime/JitInfo.xml
  xml/System.Security.Cryptography.Pkcs/Rfc3161TimestampTokenInfo.xml
  xml/System.Security.Cryptography/DSASignatureFormat.xml
  xml/System.Security.Cryptography/ECDsaOpenSsl.xml
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
  xml/System.Threading.Channels/ChannelReader`1.xml
  xml/System.Windows.Forms/ButtonBase.xml
  xml/System.Windows.Forms/Label.xml
  xml/System.Xml.Linq/XElement.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/MemoryExtensions.xml
  xml/System/OperatingSystem.xml
  xml/System/TimeOnly.xml
Labels: area-Meta

#7126 Fix missing space
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#7127 Add "To be added" typeparam docs to AppendInterpolatedStringHandler
  xml/System.Text/StringBuilder+AppendInterpolatedStringHandler.xml
Labels: area-System.Text.Encoding

#7121 Add some missing System.Text docs
  xml/System.Text/Rune.xml
  xml/System.Text/SpanLineEnumerator.xml
Labels: area-System.Runtime

#7130 Add missing documentation for System.CompilerServices namespace
  xml/System.Runtime.CompilerServices/CreateNewOnMetadataUpdateAttribute.xml
Labels: area-System.Runtime.CompilerServices

#7128 Add missing documentation for APIs in System.Configuration
  xml/System.Configuration/SettingsAttributeDictionary.xml
  xml/System.Configuration/SettingsContext.xml
Labels: area-System.Configuration

#7120 Add security note to SetRemoteStackTrace
  xml/System.Runtime.ExceptionServices/ExceptionDispatchInfo.xml
Labels: area-System.Runtime

#7131 Port IntPtr and MemoryExtensions triple slash to docs
  xml/System/IntPtr.xml
  xml/System/MemoryExtensions+TryWriteInterpolatedStringHandler.xml
Labels: area-System.Runtime

#7093 Update and improve EventSource documentation
  samples/snippets/csharp/VS_Snippets_CLR/etwtrace/cs/etwtrace.csproj
  samples/snippets/csharp/VS_Snippets_CLR/etwtrace/cs/program.cs
  samples/snippets/csharp/VS_Snippets_CLR/etwtracelarge/cs/program.cs
  samples/snippets/csharp/VS_Snippets_CLR/etwtracelarge/etwtracelarge.csproj
  samples/snippets/csharp/VS_Snippets_CLR/etwtracesmall/cs/etwtracesmall.csproj
  samples/snippets/csharp/VS_Snippets_CLR/etwtracesmall/cs/program.cs
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-System.Diagnostics.Tracing

#7129 missing doc for HttpRequestOptions
  xml/System.Net.Http/HttpRequestMessage.xml
  xml/System.Net.Http/HttpRequestOptions.xml
  xml/System.Net.Http/HttpRequestOptionsKey`1.xml
Labels: area-System.Net.Http

#7135 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR/etwtrace/cs/etwtrace.csproj
  samples/snippets/csharp/VS_Snippets_CLR/etwtrace/cs/program.cs
  samples/snippets/csharp/VS_Snippets_CLR/etwtracelarge/cs/program.cs
  samples/snippets/csharp/VS_Snippets_CLR/etwtracelarge/etwtracelarge.csproj
  samples/snippets/csharp/VS_Snippets_CLR/etwtracesmall/cs/etwtracesmall.csproj
  samples/snippets/csharp/VS_Snippets_CLR/etwtracesmall/cs/program.cs
  xml/System.Diagnostics.Tracing/EventSource.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Runtime.ExceptionServices/ExceptionDispatchInfo.xml
Labels: area-Meta

#7089 Fix xref warnings
  xml/System.Diagnostics.Metrics/Meter.xml
Labels: area-System.Diagnostics

#7136 Add documentation for missing ssl bits
  xml/System.Net.Security/SslCertificateTrust.xml
  xml/System.Net.Security/SslStream.xml
  xml/System.Net.Security/SslStreamCertificateContext.xml
Labels: area-Meta

#6991 HTML tag cleanup
  xml/Microsoft.CSharp/Compiler.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpClientFactoryServiceCollectionExtensions.xml
  xml/Microsoft.VisualBasic.Compatibility.VB6/BaseControlArray.xml
  xml/System.Buffers/ReadOnlySequence`1.xml
  xml/System.ComponentModel.Design/ObjectSelectorEditor.xml
  xml/System.ComponentModel/AsyncOperation.xml
  xml/System.ComponentModel/PropertyDescriptor.xml
  xml/System.ComponentModel/TypeConverter.xml
  xml/System.Composition.Hosting.Core/LifetimeContext.xml
  xml/System.Composition/CompositionContext.xml
  xml/System.Configuration/Configuration.xml
  xml/System.Configuration/ConfigurationSection.xml
  xml/System.Configuration/ConfigurationSettings.xml
  xml/System.Configuration/SectionInformation.xml
Labels: area-Meta

#7133 Add missing documentation for System.Security.Cryptography.*
  xml/System.Security.Cryptography.Pkcs/Pkcs9LocalKeyId.xml
  xml/System.Security.Cryptography.Xml/CryptoSignedXmlRecursionException.xml
  xml/System.Security.Cryptography/AesCcm.xml
  xml/System.Security.Cryptography/AesGcm.xml
  xml/System.Security.Cryptography/ChaCha20Poly1305.xml
  xml/System.Security.Cryptography/CryptoStream.xml
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
  xml/System.Security.Cryptography/RijndaelManaged.xml
  xml/System.Security.Cryptography/SafeEvpPKeyHandle.xml
Labels: area-System.Security

#7137 Clarify/fix some threading API docs
  xml/System.Threading/LazyThreadSafetyMode.xml
  xml/System.Threading/ManualResetEventSlim.xml
  xml/System.Threading/Thread.xml
  xml/System.Threading/Volatile.xml
Labels: area-System.Threading

#7153 Document missing Socket APIs
  xml/System.Net.Sockets/SendPacketsElement.xml
  xml/System.Net.Sockets/TcpListener.xml
Labels: area-System.Net.Sockets

#7154 Add missing System.Linq API docs
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/Queryable.xml
Labels: area-System.Linq

#7157 Add missing System.Text.Json API docs
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json/JsonSerializer.xml
Labels: area-System.Text.Json

#7158 Document Microsoft.Win32.Handles 6.0 APIs
  xml/Microsoft.Win32.SafeHandles/SafeFileHandle.xml
  xml/Microsoft.Win32.SafeHandles/SafeMemoryMappedViewHandle.xml
Labels: area-Meta

#7159 Add missing doc for guard attributes
  xml/System.Runtime.Versioning/SupportedOSPlatformGuardAttribute.xml
  xml/System.Runtime.Versioning/UnsupportedOSPlatformGuardAttribute.xml
Labels: area-System.Runtime

#7140 WPF/UIAutomationClient: Generate XML files from most recent RC1 WPF source and update docs with DocsPortingTool
  xml/System.Windows.Automation/AutomationElement.xml
  xml/System.Windows.Automation/CacheRequest.xml
Labels: area-WPF

#7167 Add docs for 6.0 drawing public APIs
  xml/System.Drawing/PointF.xml
  xml/System.Drawing/RectangleF.xml
  xml/System.Drawing/SizeF.xml
Labels: area-System.Drawing

#7168 Port Diagnostics.TagList+Enumerator docs from triple slash
  xml/System.Diagnostics/TagList+Enumerator.xml
  xml/System.Diagnostics/TagList.xml
Labels: area-System.Diagnostics

#7173 DistributedContextPropagator documentation
  xml/System.Diagnostics/DistributedContextPropagator.xml
Labels: area-System.Diagnostics

#7170 Add System.Diagnostics.Debug API docs
  xml/System.Diagnostics/Debug+AssertInterpolatedStringHandler.xml
  xml/System.Diagnostics/Debug+WriteIfInterpolatedStringHandler.xml
  xml/System.Diagnostics/Debug.xml
Labels: area-System.Diagnostics

#7175 Experiments to fix the issue of Attached property
  xml/System.Windows.Media.Animation/Storyboard.xml
Labels: area-WPF

#7174 Merge main into live
  xml/Microsoft.CSharp/Compiler.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpClientFactoryServiceCollectionExtensions.xml
  xml/Microsoft.VisualBasic.Compatibility.VB6/BaseControlArray.xml
  xml/System.Buffers/ReadOnlySequence`1.xml
  xml/System.ComponentModel.Design/ObjectSelectorEditor.xml
  xml/System.ComponentModel/AsyncOperation.xml
  xml/System.ComponentModel/PropertyDescriptor.xml
  xml/System.ComponentModel/TypeConverter.xml
  xml/System.Composition.Hosting.Core/LifetimeContext.xml
  xml/System.Composition/CompositionContext.xml
  xml/System.Configuration/Configuration.xml
  xml/System.Configuration/ConfigurationSection.xml
  xml/System.Configuration/ConfigurationSettings.xml
  xml/System.Configuration/SectionInformation.xml
  xml/System.Net.Sockets/SendPacketsElement.xml
  xml/System.Net.Sockets/TcpListener.xml
  xml/System.Threading/LazyThreadSafetyMode.xml
  xml/System.Threading/ManualResetEventSlim.xml
  xml/System.Threading/Thread.xml
  xml/System.Threading/Volatile.xml
Labels: area-Meta

#7179 Document missing System.Net.Http.Json APIs
  xml/System.Net.Http.Json/HttpClientJsonExtensions.xml
  xml/System.Net.Http.Json/HttpContentJsonExtensions.xml
Labels: area-System.Text.Json

#7180 Add missing System.Text.Json API docs
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/ns-System.Text.Json.Nodes.xml
Labels: area-System.Text.Json

#7172 System.Diagnostics.Meter API documentation
  xml/System.Diagnostics.Metrics/Counter`1.xml
  xml/System.Diagnostics.Metrics/Histogram`1.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics.Metrics/MeasurementCallback`1.xml
  xml/System.Diagnostics.Metrics/Measurement`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/MeterListener.xml
  xml/System.Diagnostics.Metrics/ObservableCounter`1.xml
  xml/System.Diagnostics.Metrics/ObservableInstrument`1.xml
  xml/ns-System.Diagnostics.Metrics.xml
Labels: area-System.Diagnostics

#6894 Mark SocketException versions
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#7181 IsPathRooted typo fix
  xml/System.IO/Path.xml
Labels: area-System.IO

#7184 Remove exception message from CreateSymbolicLink
  xml/System.IO/Directory.xml
  xml/System.IO/File.xml
  xml/System.IO/FileSystemInfo.xml
Labels: area-System.IO

#7187 Merge main into live
  xml/System.IO/Directory.xml
  xml/System.IO/File.xml
  xml/System.IO/FileSystemInfo.xml
Labels: area-Meta

#7047 Fix remark in documentation
  xml/System.Security.Cryptography.X509Certificates/X509ChainPolicy.xml
Labels: area-System.Security

#7186 Fix moniker warnings 2
  xml/FrameworksIndex/dotnet-plat-ext-3.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-3.1.xml
  xml/FrameworksIndex/dotnet-plat-ext-5.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-6.0.xml
Labels: area-Infrastructure

#7189 Adding basic doc comments for System.Math.Sign, System.Math.SinCos, and System.MathF.SinCos
  samples/snippets/csharp/VS_Snippets_CLR/math.sign/CS/sign.cs
  samples/snippets/csharp/VS_Snippets_CLR/math.sign/System.Math.Sign.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Math.SinCos/CS/sincos.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Math.SinCos/System.Math.SinCos.csproj
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-System.Runtime

#7193 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR/math.sign/CS/sign.cs
  samples/snippets/csharp/VS_Snippets_CLR/math.sign/System.Math.Sign.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Math.SinCos/CS/sincos.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Math.SinCos/System.Math.SinCos.csproj
  xml/FrameworksIndex/dotnet-plat-ext-3.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-3.1.xml
  xml/FrameworksIndex/dotnet-plat-ext-5.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-6.0.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainPolicy.xml
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-Meta

#7192 Clarify NewGuid not to be used for cryptographic purposes
  xml/System/Guid.xml
Labels: area-System.Runtime

#7199 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.span.getpinnablereference/cs/cs.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.span.getpinnablereference/cs/getpinnablereference1.cs
  xml/System/Guid.xml
  xml/System/ReadOnlySpan`1.xml
  xml/System/Span`1.xml
  xml/System/String.xml
Labels: area-Meta

#7198 Replaced cref with xref
  xml/System.Windows.Media.Animation/Storyboard.xml
Labels: area-WPF

#7201 CODEAREAOWNERS of dotnet-api-docs: Use new team aliases for Runtime
  .github/CODEOWNERS
Labels: area-Infrastructure

#7204 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IDisposable.Dispose Example/CS/idisposabledispose.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IDisposable.Dispose Example/CS/system.IDisposable.Dispose.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/example20.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/example21.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/example22.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/example23.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/example24.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/example25.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/logger.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.StreamWriter/CS/system.IO.StreamWriter.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.gc.suppressfinalize/cs/suppressfinalize1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.gc.suppressfinalize/cs/system.gc.suppressfinalize.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/System.Runtime.Remoting.Services.TrackingServices/CS/System.Runtime.Remoting.Services.TrackingServices.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/System.Runtime.Remoting.Services.TrackingServices/CS/client.cs
  samples/snippets/csharp/VS_Snippets_Remoting/System.Runtime.Remoting.Services.TrackingServices/CS/remoteservice.cs
Labels: area-Meta

#7197 Note that current culture is read-only
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Globalization

#7200 Update Application.xml
  xml/System.Windows.Forms/Application.xml
Labels: area-WinForms

#7210 Merge main into live
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Globalization

#7213 Merge main into live
  xml/System.Windows.Forms/Application.xml
Labels: area-WinForms

#7196 Revert moniker changes
  xml/FrameworksIndex/dotnet-plat-ext-3.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-3.1.xml
  xml/FrameworksIndex/dotnet-plat-ext-5.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-6.0.xml
  xml/System.Security.Policy/Evidence.xml
  xml/System/HashCode.xml
Labels: area-Infrastructure

#7221 Merge main into live
  xml/FrameworksIndex/dotnet-plat-ext-3.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-3.1.xml
  xml/FrameworksIndex/dotnet-plat-ext-5.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-6.0.xml
  xml/System.Runtime.Loader/AssemblyLoadContext.xml
  xml/System.Security.Policy/Evidence.xml
  xml/System/HashCode.xml
Labels: area-Meta

#7217 Clarify SetBaggage behavior with parents baggage
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics

#5014 Clarify semantics of digits on Parse.
  xml/System/Guid.xml
Labels: area-System.Runtime

#6680 Unfilter FileProviders.Internal and FileSystemGlobbing.Internal namespaces
  xml/Microsoft.Extensions.FileProviders.Internal/PhysicalDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalDirectoryInfo.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments/CurrentPathSegment.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments/LiteralPathSegment.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments/ParentPathSegment.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments/RecursiveWildcardSegment.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PathSegments/WildcardPathSegment.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextLinear+FrameData.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextLinear.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextLinearExclude.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextLinearInclude.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextRagged+FrameData.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextRagged.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextRaggedExclude.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContextRaggedInclude.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.PatternContexts/PatternContext`1.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal.Patterns/PatternBuilder.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/ILinearPattern.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/IPathSegment.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/IPattern.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/IPatternContext.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/IRaggedPattern.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/MatcherContext.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Internal/PatternTestResult.xml
  xml/_filter.xml
Labels: area-Extensions-FileSystem

#7239 Fix a small typo in System.Numerics.BitOperations documentation
  xml/System.Numerics/BitOperations.xml
Labels: area-System.Numerics

#7224 Fix CODEOWNERS syntax
  .github/CODEOWNERS
Labels: area-Infrastructure

#7245 Corrected typo
  xml/System.Security.AccessControl/AccessControlModification.xml
Labels: area-System.Security

#7211 Fix description for RegexOptions.Compiled
  xml/System.Text.RegularExpressions/RegexOptions.xml
Labels: area-System.Text.RegularExpressions

#7251 Correct XmlReader Remarks
  xml/System.Xml/XmlReader.xml
Labels: area-System.Xml

#6742 Add exception documentation for System.Linq.Enumerable.GroupBy
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#7207 Fix return value doc for Math.Asinh/MathF.Asinh
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-System.Runtime

#4537 Clarify the default behavior for Type.GetTypeCode with enums
  xml/System/Type.xml
Labels: area-System.Runtime

#7254 Disable recommendations
  docfx.json
Labels: area-Infrastructure

#7257 Disable recommendations - merge to live
  docfx.json
Labels: area-Infrastructure

#7256 Fix delegate type in AsyncLocal's ctor
  xml/System.Threading/AsyncLocal`1.xml
Labels: area-System.Threading

#7138 WPF/WindowsBase: Generate XML files from most recent RC1 WPF source and update docs with DocsPortingTool.
  xml/Microsoft.Build.Tasks/CreateProperty.xml
  xml/System.Windows.Data/DataSourceProvider.xml
  xml/System.Windows.Threading/Dispatcher.xml
  xml/System.Windows.Threading/DispatcherHooks.xml
  xml/System.Windows.Threading/DispatcherOperation.xml
  xml/System.Windows.Threading/DispatcherOperation`1.xml
  xml/System.Windows.Threading/DispatcherPriorityAwaiter.xml
  xml/System.Windows/DependencyObject.xml
  xml/System.Windows/Freezable.xml
  xml/System.Windows/NameScope.xml
  xml/System.Windows/SizeConverter.xml
  xml/System.Windows/VectorConverter.xml
Labels: area-WPF
