Repository dotnet/dotnet-api-docs, pull requests merged in 2021-04, with the labels that each got.

#5488 Remove useless line in sample code for EventSource
  samples/snippets/csharp/VS_Snippets_CLR/etwtracesmall/cs/program.cs
Labels: area-System.Security

#6597 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR/etwtracesmall/cs/program.cs
Labels: area-Meta

#5489 .NET Interactive: Add_try_dotnet_batch_32c
  xml/System.Globalization/RegionInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System/Array.xml
  xml/System/Decimal.xml
  xml/System/Guid.xml
  xml/System/Int16.xml
  xml/System/Type.xml
  xml/System/Version.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6601 Merge main into live
  xml/System.Globalization/RegionInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System/Array.xml
  xml/System/Decimal.xml
  xml/System/Guid.xml
  xml/System/Int16.xml
  xml/System/Type.xml
  xml/System/Version.xml
Labels: area-Meta

#6595 .NET Interactive: Add_try_dotnet_to_batch_33a
  xml/System/Convert.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6598 .NET Interactive: Add try dotnet batch 33b
  xml/System.Globalization/CompareOptions.xml
  xml/System.Globalization/JulianCalendar.xml
  xml/System/Convert.xml
  xml/System/Tuple`2.xml
  xml/System/ValueType.xml
  xml/System/Version.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#5437 Add clarification for `private protected`
  xml/System.Runtime.CompilerServices/InternalsVisibleToAttribute.xml
Labels: area-System.Runtime.CompilerServices

#6602 Update LoggingEventSource.xml
  xml/Microsoft.Extensions.Logging.EventSource/LoggingEventSource.xml
Labels: area-Extensions-Logging

#6607 Update version-sweep.yml
  .github/workflows/version-sweep.yml
Labels: area-Infrastructure

#6606 Fix typo in HttpClientHandler.xml
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net.Http

#5492 Update DualMode default
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#5426 Remove inheritdoc tag on static method
  xml/Microsoft.Extensions.ObjectPool/ObjectPool.xml
Labels: area-Extensions-ObjectPool

#6614 Fix cross-ref warnings
  xml/Microsoft.Extensions.DependencyInjection/DefaultServiceProviderFactory.xml
  xml/Microsoft.Extensions.FileSystemGlobbing/FilePatternMatch.xml
  xml/Microsoft.Extensions.Http/IHttpMessageHandlerBuilderFilter.xml
  xml/Microsoft.Extensions.Logging.EventSource/EventSourceLoggerProvider.xml
Labels: area-Meta

#6628 Merge main into live
  xml/Microsoft.Extensions.DependencyInjection/DefaultServiceProviderFactory.xml
  xml/Microsoft.Extensions.FileSystemGlobbing/FilePatternMatch.xml
  xml/Microsoft.Extensions.Http/IHttpMessageHandlerBuilderFilter.xml
  xml/Microsoft.Extensions.Logging.EventSource/EventSourceLoggerProvider.xml
Labels: area-Meta

#6629 Added missing space
  xml/Microsoft.Win32/Registry.xml
Labels: area-Infrastructure

#6627 Update ArrayBufferWriter`1.xml
  xml/System.Buffers/ArrayBufferWriter`1.xml
Labels: area-System.Buffers

#6626 Add link from each attribute class to conceptual article
  xml/System.Diagnostics.CodeAnalysis/AllowNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/DisallowNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/DoesNotReturnAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/DoesNotReturnIfAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MaybeNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MaybeNullWhenAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MemberNotNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MemberNotNullWhenAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/NotNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/NotNullIfNotNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/NotNullWhenAttribute.xml
Labels: area-Meta

#4175 Add .net interactive
  xml/System/String.xml
Labels: :woman_technologist: .NET Interactive

#6596 Add ANE for DrawTreeNodeEventArgs ctor
  xml/System.Windows.Forms/DrawTreeNodeEventArgs.xml
Labels: area-WinForms

#6613 .NET Interactive: Add_try_dotnet_to_batch_33c
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Security.Cryptography/SymmetricAlgorithm.xml
  xml/System.Text/UnicodeEncoding.xml
  xml/System/Base64FormattingOptions.xml
  xml/System/Convert.xml
  xml/System/TimeSpan.xml
Labels: :woman_technologist: .NET Interactive, area-Infrastructure

#6620 .NET Interactive: Add_try_dotnet_to_batch_34a
  xml/System.Collections.Generic/SortedList`2.xml
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System/Action`3.xml
  xml/System/Single.xml
  xml/System/Tuple`2.xml
  xml/System/UInt32.xml
Labels: :woman_technologist: .NET Interactive, area-Meta

#6625 .NET Interactive: Add_try_dotnet_to_batch_34b
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Text/StringBuilder.xml
  xml/System/AppDomain.xml
  xml/System/Array.xml
  xml/System/ArraySegment`1.xml
  xml/System/Attribute.xml
  xml/System/Int16.xml
  xml/System/MissingMemberException.xml
  xml/System/Single.xml
  xml/System/TimeSpan.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6635 Merge main into live
  xml/Microsoft.Win32/Registry.xml
  xml/System.Buffers/ArrayBufferWriter`1.xml
  xml/System.Collections.Generic/SortedList`2.xml
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Collections.Specialized/NameObjectCollectionBase.xml
  xml/System.Diagnostics.CodeAnalysis/AllowNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/DisallowNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/DoesNotReturnAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/DoesNotReturnIfAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MaybeNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MaybeNullWhenAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MemberNotNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/MemberNotNullWhenAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/NotNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/NotNullIfNotNullAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/NotNullWhenAttribute.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Security.Cryptography/SymmetricAlgorithm.xml
  xml/System.Text/StringBuilder.xml
  xml/System.Text/UnicodeEncoding.xml
  xml/System.Windows.Forms/DrawTreeNodeEventArgs.xml
  xml/System/Action`3.xml
  xml/System/AppDomain.xml
  xml/System/Array.xml
  xml/System/ArraySegment`1.xml
  xml/System/Attribute.xml
  xml/System/Base64FormattingOptions.xml
  xml/System/Convert.xml
  xml/System/Int16.xml
  xml/System/MissingMemberException.xml
  xml/System/Single.xml
  xml/System/String.xml
  xml/System/TimeSpan.xml
  xml/System/Tuple`2.xml
  xml/System/UInt32.xml
Labels: area-Meta

#6634 Fix sample output for batch 34 samples
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.FullDateTimePattern/CPP/dtfi_fulldatetimepattern.cpp
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.FullDateTimePattern/CS/dtfi_fulldatetimepattern.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.FullDateTimePattern/VB/dtfi_fulldatetimepattern.vb
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6636 Link to System.Drawing.Common official MS pkg
  includes/drawing.md
Labels: area-System.Drawing

#6640 Merge main into live
  includes/drawing.md
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.FullDateTimePattern/CPP/dtfi_fulldatetimepattern.cpp
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.FullDateTimePattern/CS/dtfi_fulldatetimepattern.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.DateTimeFormatInfo.FullDateTimePattern/VB/dtfi_fulldatetimepattern.vb
Labels: area-Meta

#6638 Setting query and fragment props on .NET Core
  samples/snippets/cpp/VS_Snippets_Remoting/UriBuilderSample/cpp/main.cpp
  samples/snippets/csharp/VS_Snippets_Remoting/UriBuilderSample/cs/main.cs
  xml/System/UriBuilder.xml
Labels: area-System.Net

#6643 Add version for abstract class (AssemblyLoadContext)
  xml/System.Runtime.Loader/AssemblyLoadContext.xml
Labels: area-System.Runtime

#6645 Merge main into live
  samples/snippets/cpp/VS_Snippets_Remoting/UriBuilderSample/cpp/main.cpp
  samples/snippets/csharp/VS_Snippets_Remoting/UriBuilderSample/cs/main.cs
  xml/System.Runtime.Loader/AssemblyLoadContext.xml
  xml/System/UriBuilder.xml
Labels: area-Meta

#6642 Update JsonDocument.xml
  xml/System.Text.Json/JsonDocument.xml
Labels: area-System.Text.Json

#6647 Minor change at Line 18 to align with the output.
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.tasks.task.run/cs/Run11.cs
Labels: area-System.Runtime

#6650 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.tasks.task.run/cs/Run11.cs
  xml/System.Text.Json/JsonDocument.xml
Labels: area-Meta

#6652 Fix code snippet in `Math.Round` for `RoundApproximate`
  xml/System/Math.xml
Labels: area-System.Runtime

#6644 Fix BitConverter issues
  xml/System/BitConverter.xml
Labels: area-System.Runtime

#6646 Correct some references within System.Buffers
  xml/System.Buffers.Text/Utf8Formatter.xml
  xml/System.Buffers/ArrayBufferWriter`1.xml
  xml/System.Buffers/MemoryHandle.xml
Labels: area-System.Buffers

#6623 DllImportAttribute: add information about the default on Linux
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
Labels: area-System.Runtime.InteropServices

#6654 Merge main into live
  xml/System/BitConverter.xml
  xml/System/Math.xml
Labels: area-Meta

#6622 Update documentation for HatchStyle.Max
  xml/System.Drawing.Drawing2D/HatchStyle.xml
Labels: area-System.Drawing

#6657 Merge main into live
  xml/System.Buffers.Text/Utf8Formatter.xml
  xml/System.Buffers/ArrayBufferWriter`1.xml
  xml/System.Buffers/MemoryHandle.xml
  xml/System.Drawing.Drawing2D/HatchStyle.xml
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
Labels: area-Meta

#6653 Update XmlDocument.xml
  xml/System.Xml/XmlDocument.xml
Labels: area-System.Xml

#6639 Socket updates for .NET Core and 5+
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#6662 Merge main into live
  xml/System.Net.Sockets/Socket.xml
  xml/System.Xml/XmlDocument.xml
Labels: area-Meta

#6664 remove an 's'
  xml/System/IAsyncDisposable.xml
Labels: area-System.Runtime

#6665 Merge main into live
  xml/System/IAsyncDisposable.xml
Labels: area-System.Runtime

#6656 Update StrongNameKeyPair docs
  xml/System.Reflection/StrongNameKeyPair.xml
Labels: area-System.Reflection

#6663 Improve Half docs a bit
  xml/System/Half.xml
  xml/System/Single.xml
Labels: area-System.Runtime

#6669 Fix sample output for batch 35 samples
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_Char/CPP/charunicodeinfo_char.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_String/CPP/charunicodeinfo_string.cpp
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_Char/CS/charunicodeinfo_char.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_String/CS/charunicodeinfo_string.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tochar/cs/tochar1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_Char/VB/charunicodeinfo_char.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_String/VB/charunicodeinfo_string.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.tochar/vb/tochar1.vb
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#4979 GlobalAssemblyCache updates
  xml/System.Reflection/Assembly.xml
Labels: area-System.Reflection

#6672 Merge main into live
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_Char/CPP/charunicodeinfo_char.cpp
  samples/snippets/cpp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_String/CPP/charunicodeinfo_string.cpp
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_Char/CS/charunicodeinfo_char.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_String/CS/charunicodeinfo_string.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tochar/cs/tochar1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_Char/VB/charunicodeinfo_char.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CharUnicodeInfo_String/VB/charunicodeinfo_string.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.tochar/vb/tochar1.vb
  xml/System.Reflection/Assembly.xml
  xml/System.Security.Cryptography.X509Certificates/X509VerificationFlags.xml
Labels: area-Meta

#6674 Fix HKDF Expand to Extract
  xml/System.Security.Cryptography/HKDF.xml
Labels: area-System.Security

#6649 .NET Interactive: Add_try_dotnet_to batch_35b
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System.Globalization/CharUnicodeInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Security.Cryptography/HashAlgorithm.xml
  xml/System.Security.Cryptography/RNGCryptoServiceProvider.xml
  xml/System.Security.Cryptography/RSAPKCS1SignatureDeformatter.xml
  xml/System.Security.Cryptography/RijndaelManaged.xml
  xml/System/Attribute.xml
  xml/System/Convert.xml
  xml/System/Double.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6637 .NET Interactive: Add_try_dotnet_to_batch_35a
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tochar/cs/tochar1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.tochar/vb/tochar1.vb
  xml/System.Globalization/CharUnicodeInfo.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Security.Cryptography/RSAPKCS1KeyExchangeFormatter.xml
  xml/System.Security.Cryptography/RijndaelManaged.xml
  xml/System/Convert.xml
  xml/System/Double.xml
  xml/System/MissingFieldException.xml
  xml/System/TimeSpan.xml
Labels: :woman_technologist: .NET Interactive, area-System.Runtime

#6655 DbDataAdapter: Explain parameters and add exceptions
  xml/System.Data.Common/DbDataAdapter.xml
Labels: area-System.Data

#6668 Update Environment.ProcessorCount for containers
  xml/System/Environment.xml
Labels: area-System.Runtime

#6681 Merge main into live
  samples/snippets/csharp/VS_Snippets_CLR_System/system.convert.tochar/cs/tochar1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.convert.tochar/vb/tochar1.vb
  xml/Microsoft.Extensions.Hosting.Internal/ApplicationLifetime.xml
  xml/Microsoft.Extensions.Hosting.Internal/ConsoleLifetime.xml
  xml/Microsoft.Extensions.Hosting.Internal/HostingEnvironment.xml
  xml/Microsoft.Extensions.Internal/ISystemClock.xml
  xml/Microsoft.Extensions.Internal/SystemClock.xml
  xml/System.Collections.Specialized/StringDictionary.xml
  xml/System.Data.Common/DbDataAdapter.xml
  xml/System.Globalization/CharUnicodeInfo.xml
  xml/System.Globalization/DateTimeFormatInfo.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Security.Cryptography/HKDF.xml
  xml/System.Security.Cryptography/HashAlgorithm.xml
  xml/System.Security.Cryptography/RNGCryptoServiceProvider.xml
  xml/System.Security.Cryptography/RSAPKCS1KeyExchangeFormatter.xml
  xml/System.Security.Cryptography/RSAPKCS1SignatureDeformatter.xml
  xml/System.Security.Cryptography/RijndaelManaged.xml
  xml/System/Attribute.xml
  xml/System/Convert.xml
  xml/System/Double.xml
  xml/System/Environment.xml
  xml/System/MissingFieldException.xml
  xml/System/TimeSpan.xml
  xml/_filter.xml
  xml/ns-Microsoft.Extensions.Hosting.Internal.xml
  xml/ns-Microsoft.Extensions.Internal.xml
Labels: area-Meta

#6685 Merge main into live
  xml/Microsoft.Extensions.Logging.Abstractions.Internal/NullScope.xml
  xml/Microsoft.Extensions.Logging.Abstractions.Internal/TypeNameHelper.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/AzureAppServicesDiagnosticsLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/AzureBlobLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/AzureBlobSink.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/BackgroundSink.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/BlobAppendReferenceWrapper.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/FileLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/ICloudAppendBlob.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/IWebAppContext.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/IWebAppLogConfigurationReader.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/WebAppContext.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/WebAppLogConfiguration.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/WebAppLogConfigurationBuilder.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/WebAppLogConfigurationReader.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/WebConfigurationReaderLevelSwitch.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices/FileLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Console.Internal/AnsiLogConsole.xml
  xml/Microsoft.Extensions.Logging.Console.Internal/IAnsiSystemConsole.xml
  xml/Microsoft.Extensions.Logging.Console.Internal/IConsole.xml
  xml/Microsoft.Extensions.Logging.Console.Internal/WindowsLogConsole.xml
  xml/Microsoft.Extensions.Logging.EventLog.Internal/IEventLog.xml
  xml/Microsoft.Extensions.Logging.Filter.Internal/FilterLogger.xml
  xml/Microsoft.Extensions.Logging.Filter.Internal/FilterLoggerFactory.xml
  xml/Microsoft.Extensions.Logging.Filter.Internal/FilterLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Internal/FormattedLogValues.xml
  xml/Microsoft.Extensions.Logging.Internal/LogValuesFormatter.xml
  xml/_filter.xml
Labels: area-Meta
