Repository dotnet/dotnet-api-docs, pull requests merged in 2022-10, with the labels that each got.

#8445 Add remarks about GC memory info
  xml/System/GCMemoryInfo.xml
Labels: area-System.Runtime

#8452 Unify port on client and server in SslStream examples
  snippets/cpp/VS_Snippets_Remoting/NclSslClientAsync/CPP/NclSslClientAsync.cpp
  snippets/cpp/VS_Snippets_Remoting/NclSslClientSync/CPP/clientsync.cpp
  snippets/cpp/VS_Snippets_Remoting/NclSslServerAsync/CPP/NclSslServerAsync.cpp
  snippets/cpp/VS_Snippets_Remoting/NclSslServerSync/CPP/NclSslServerSync.cpp
  snippets/csharp/System.Net.Security/LocalCertificateSelectionCallback/Overview/clientasync.cs
  snippets/csharp/System.Net.Security/RemoteCertificateValidationCallback/Overview/clientsync.cs
  snippets/csharp/System.Net.Security/SslStream/BeginWrite/serverasync.cs
  snippets/csharp/System.Net.Security/SslStream/Overview/serversync.cs
  snippets/visualbasic/VS_Snippets_Remoting/NclSslClientAsync/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/NclSslClientAsync/VB/clientasync.vb
  snippets/visualbasic/VS_Snippets_Remoting/NclSslClientSync/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/NclSslClientSync/VB/clientsync.vb
  snippets/visualbasic/VS_Snippets_Remoting/NclSslServerSync/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/NclSslServerSync/VB/serversync.vb
Labels: area-System.Net.Security

#8450 Add remark about MaxConnectionsPerServer clarifying word 'server'
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#8451 Add annotations for UriFormatException in HttpClient methods
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http

#8453 Clarify remark on SslStream.SslProtocol property
  xml/System.Net.Security/SslStream.xml
Labels: area-System.Net.Security

#8457 Mention default value for HttpClientHandler.MaxConnectionsPerServer
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/WinHttpHandler.xml
Labels: area-System.Net

#8461 Fix ending snippet tag position for ShowNetworkInterfaces
  snippets/csharp/System.Net.NetworkInformation/IcmpV4Statistics/Overview/netinfo.cs
Labels: area-System.Net

#8460 Make sure TcpClient is disposed in connect examples
  snippets/cpp/VS_Snippets_Remoting/System.Net.Sockets.TcpClient/CPP/tcpclient.cpp
  snippets/csharp/System.Net.Sockets/TcpClient/Overview/tcpclient.cs
  snippets/csharp/System.Net.Sockets/TcpListener/Overview/tcpserver.cs
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.Sockets.TcpClient/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.Sockets.TcpClient/VB/tcpclient.vb
Labels: area-System.Net.Sockets

#8471 Resolve Namespace Description and Parameterless ctors in Extensions.Hosting
  xml/Microsoft.Extensions.Hosting/BackgroundService.xml
  xml/Microsoft.Extensions.Hosting/ConsoleLifetimeOptions.xml
  xml/Microsoft.Extensions.Hosting/HostOptions.xml
  xml/ns-Microsoft.Extensions.Hosting.Systemd.xml
  xml/ns-Microsoft.Extensions.Hosting.WindowsServices.xml
  xml/ns-Microsoft.Extensions.Hosting.xml
Labels: area-Extensions-Hosting

#8469 Mention default HttpCompletionOption value in remarks
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net

#8467 Scrub references to WebRequest from examples
  snippets/cpp/VS_Snippets_Remoting/Classic HttpStatusCode Example/CPP/source.cpp
  snippets/cpp/VS_Snippets_Remoting/Classic NetworkCredential Example/CPP/source.cpp
  snippets/cpp/VS_Snippets_Remoting/Classic Uri Example/CPP/source.cpp
  snippets/cpp/VS_Snippets_Remoting/Classic WebProxy Example/CPP/source.cpp
  snippets/cpp/VS_Snippets_Remoting/HttpVersion_Version10/CPP/httpversion_version10.cpp
  snippets/csharp/System.Net/HttpStatusCode/Overview/source.cs
  snippets/csharp/System.Net/HttpVersion/Overview/httpversion_version10.cs
  snippets/csharp/System.Net/NetworkCredential/Overview/Project.csproj
  snippets/csharp/System.Net/NetworkCredential/Overview/source.cs
  snippets/csharp/System.Net/WebProxy/Overview/source.cs
  snippets/csharp/System/Uri/Overview/source.cs
  snippets/fsharp/System/Uri/Overview/source.fs
  snippets/visualbasic/VS_Snippets_Remoting/Classic HttpStatusCode Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_Remoting/Classic NetworkCredential Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/Classic NetworkCredential Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_Remoting/Classic Uri Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/Classic Uri Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_Remoting/Classic WebProxy Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/Classic WebProxy Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_Remoting/HttpVersion_Version10/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/HttpVersion_Version10/VB/httpversion_version10.vb
  xml/System.Net.Security/SslStream.xml
  xml/System.Net/HttpListener.xml
  xml/System.Net/HttpStatusCode.xml
  xml/System.Net/HttpVersion.xml
  xml/System.Net/IWebProxy.xml
  xml/System.Net/NetworkCredential.xml
  xml/System.Net/WebProxy.xml
  xml/System/Uri.xml
  xml/ns-System.Net.xml
Labels: area-System.Net

#8472 Details about AutomaticDecompression
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#8477 Move period out of code fences
  xml/System.ComponentModel.DataAnnotations/ScaffoldColumnAttribute.xml
  xml/System.ComponentModel.DataAnnotations/ScaffoldTableAttribute.xml
  xml/System.Net.PeerToPeer.Collaboration/NameChangedEventArgs.xml
  xml/System.Net.PeerToPeer.Collaboration/Peer.xml
  xml/System.Runtime.CompilerServices/IsVolatile.xml
  xml/System.ServiceModel.Channels/Message.xml
  xml/System.Web.Security/ActiveDirectoryMembershipProvider.xml
  xml/System.Web.UI.MobileControls/MobileListItem.xml
  xml/System.Web.UI.WebControls.WebParts/PersonalizationAdministration.xml
  xml/System.Web.UI.WebControls/CreateUserWizard.xml
  xml/System.Web.UI/HtmlTextWriter.xml
  xml/System.Windows.Annotations/ContentLocator.xml
  xml/System.Windows.Annotations/ContentLocatorBase.xml
  xml/System.Windows.Annotations/ContentLocatorGroup.xml
  xml/System.Windows.Annotations/ContentLocatorPart.xml
  xml/System.Windows.Forms/DateTimePicker+DateTimePickerAccessibleObject.xml
  xml/System.Windows.Forms/LinkLabel+LinkCollection.xml
  xml/System.Windows.Forms/ListView+ColumnHeaderCollection.xml
  xml/System.Windows.Forms/ListViewItem+ListViewSubItemCollection.xml
  xml/System.Windows.Forms/Menu+MenuItemCollection.xml
  xml/System.Windows.Forms/StatusBar+StatusBarPanelCollection.xml
  xml/System.Windows.Forms/ToolBar+ToolBarButtonCollection.xml
  xml/System.Windows.Ink/DrawingAttributes.xml
  xml/System.Windows.Markup.Primitives/MarkupProperty.xml
  xml/System.Windows.Media/VisualBrush.xml
  xml/System.Windows/FrameworkElement.xml
  xml/System.Workflow.Activities.Rules/RuleEvaluationIncompatibleTypesException.xml
Labels: area-Meta

#8482 Copy remark about DNS to SendPingAsync
  xml/System.Net.NetworkInformation/Ping.xml
Labels: area-System.Net

#8483 Dispose of WebClient and Stream in examples
  snippets/cpp/VS_Snippets_Remoting/NCLWebClientUserAgent/CPP/useragent.cpp
  snippets/csharp/System.Net/WebClient/Overview/useragent.cs
  snippets/visualbasic/VS_Snippets_Remoting/NCLWebClientUserAgent/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/NCLWebClientUserAgent/VB/useragent.vb
Labels: area-System.Net

#8470 Document when async HttpListener send completes
  xml/System.Net/HttpListener.xml
  xml/System.Net/HttpListenerResponse.xml
Labels: area-System.Net

#8484 Clarify that the array passed to ByteArrayContent should not be modified.
  xml/System.Net.Http/ByteArrayContent.xml
Labels: area-System.Net

#8464 Fix api documentation for System.Runtime.Intrinsics
  xml/System.Numerics/Vector.xml
  xml/System.Numerics/Vector`1.xml
  xml/System.Runtime.Intrinsics/Vector128.xml
  xml/System.Runtime.Intrinsics/Vector128`1.xml
  xml/System.Runtime.Intrinsics/Vector256.xml
  xml/System.Runtime.Intrinsics/Vector256`1.xml
  xml/System.Runtime.Intrinsics/Vector64.xml
  xml/System.Runtime.Intrinsics/Vector64`1.xml
Labels: area-System.Runtime.Intrinsics

#8220 Adjust documentation for BitDecrement and BitIncrement
  xml/System.Numerics/IFloatingPointIeee754`1.xml
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-System.Numerics

#8377 Fixes #7669 by updating doc of Enumerable.Sum as suggested
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq, community-contribution

#8491 Fix typo DistributedContextPropagator.xml
  xml/System.Diagnostics/DistributedContextPropagator.xml
Labels: area-System.Diagnostics, community-contribution

#8492 Update IMultiplyOperators`3.xml
  xml/System.Numerics/IMultiplyOperators`3.xml
Labels: area-System.Numerics, community-contribution

#8485 Poll clarification
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8486 Add using to NetworkStream/WriteTimeout examples
  snippets/cpp/VS_Snippets_Remoting/NclTcpServerSync/cpp/tcplistener.cpp
  snippets/csharp/System.Net.Sockets/NetworkStream/WriteTimeout/tcplistener.cs
Labels: area-System.Net.Sockets

#8490 Update parameter type
  xml/System.Runtime.Intrinsics/Vector128.xml
  xml/System.Runtime.Intrinsics/Vector256.xml
  xml/System.Runtime.Intrinsics/Vector64.xml
Labels: area-System.Runtime.Intrinsics

#8497 Typos and wording
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net

#8500 Fix smart quotes
  snippets/csharp/System.Security/IPermission/Overview/Permission.cs
  snippets/visualbasic/VS_Snippets_CLR/Permission/vb/permission.vb
  xml/System.Xaml.Schema/XamlTypeName.xml
Labels: area-System.Security, community-contribution

#8262 Update Process.xml
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process

#8379 Clarify Process.HasExited and that it raises Exited
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process, community-contribution

#8499 Mention endiannes of the resulting array in GetAddressBytes
  xml/System.Net/IPAddress.xml
Labels: area-System.Net

#8504 Mention (Read/Write)Async on (Read/Write)Timeout.
  xml/System.Net.Sockets/NetworkStream.xml
Labels: area-System.Net

#8476 Update reflection metadata doc
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
  xml/ns-System.Reflection.Metadata.Ecma335.xml
  xml/ns-System.Reflection.Metadata.xml
  xml/ns-System.Reflection.PortableExecutable.xml
Labels: area-System.Reflection.Metadata

#8303 Update Enum.xml
  xml/System/Enum.xml
Labels: area-System.Runtime, community-contribution

#8510 API Debt - Microsoft.Extensions.DependencyInjection
  xml/Microsoft.Extensions.DependencyInjection/ActivatorUtilitiesConstructorAttribute.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollection.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProviderOptions.xml
  xml/ns-Microsoft.Extensions.DependencyInjection.xml
Labels: area-Extensions-DependencyInjection

#7139 WPF/UIAutomationTypes: Generate XML files from most recent RC1 WPF source and update docs with DocsPortingTool
  xml/System.Windows.Automation/ActiveTextPositionChangedEventArgs.xml
  xml/System.Windows.Automation/AutomationIdentifier.xml
  xml/System.Windows.Automation/AutomationNotificationKind.xml
  xml/System.Windows.Automation/AutomationNotificationProcessing.xml
  xml/System.Windows.Automation/NotificationEventArgs.xml
Labels: area-WPF

#8256 Add property defaults for EnumerationOperations
  xml/System.IO/EnumerationOptions.xml
Labels: area-System.IO

#8306 Add remark about Unix for SetEnvironmentVariable
  xml/System/Environment.xml
Labels: area-System.Runtime, community-contribution

#8507 HttpContent sample implementation
  snippets/csharp/System.Net.Http/HttpContent/Project.csproj
  snippets/csharp/System.Net.Http/HttpContent/source.cs
  xml/System.Net.Http/HttpContent.xml
Labels: area-System.Net.Http

#8506 Fix wording on UdpClient.DontFragment
  xml/System.Net.Sockets/UdpClient.xml
Labels: area-System.Net

#8505 Add more IPAddress Parse examples
  xml/System.Net/IPAddress.xml
Labels: area-System.Net

#8503 Copy exception annotations to SendPingAsync
  xml/System.Net.NetworkInformation/Ping.xml
Labels: area-System.Net

#8518 Remove SocketException from an Receive overload that doesn't throw
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8519 Remove code example for SmtpClient.ServicePoint
  snippets/cpp/VS_Snippets_Remoting/NCLMailSync/CPP/NclMailSync.cpp
  snippets/csharp/System.Net.Mail/Attachment/Overview/mail.cs
  xml/System.Net.Mail/SmtpClient.xml
Labels: area-System.Net

#8522 Remove ArgumentNullException from WebClient.Proxy
  xml/System.Net/WebClient.xml
Labels: area-System.Net

#8521 Add examples to HttpResponseMessage.
  snippets/csharp/System.Net.Http/HttpClient/source.cs
  snippets/fsharp/System.Net.Http/HttpClient/source.fs
  snippets/visualbasic/VS_Snippets_Misc/system.net.http.httpclient/vb/Project.vbproj
  snippets/visualbasic/VS_Snippets_Misc/system.net.http.httpclient/vb/source.vb
  xml/System.Net.Http/HttpResponseMessage.xml
Labels: area-System.Net

#8524 Replaced class keyword with struct keyword
  xml/System.Runtime.InteropServices/GCHandleType.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#8514 API Debt - Microsoft.Extensions.Options
  xml/Microsoft.Extensions.Options/OptionsCache`1.xml
  xml/Microsoft.Extensions.Options/ValidateOptionsResult.xml
Labels: area-Extensions-Options

#8528 Add missing whitespaces
  xml/System.IO/DirectoryInfo.xml
Labels: area-System.IO, community-contribution

#8515 Add namespace docs for logging
  xml/ns-Microsoft.Extensions.Logging.Abstractions.xml
  xml/ns-Microsoft.Extensions.Logging.Configuration.xml
  xml/ns-Microsoft.Extensions.Logging.Console.xml
  xml/ns-Microsoft.Extensions.Logging.Debug.xml
  xml/ns-Microsoft.Extensions.Logging.EventLog.xml
  xml/ns-Microsoft.Extensions.Logging.EventSource.xml
  xml/ns-Microsoft.Extensions.Logging.TraceSource.xml
  xml/ns-Microsoft.Extensions.Logging.xml
Labels: area-Extensions-Logging

#8520 Improve WebResponse.GetResponseStream example
  snippets/csharp/System.Net/WebResponse/GetResponseStream/webresponse_getresponsestream.cs
  snippets/visualbasic/VS_Snippets_Remoting/WebResponse_GetResponseStream/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/WebResponse_GetResponseStream/VB/webresponse_getresponsestream.vb
  xml/System.Net/HttpWebResponse.xml
Labels: area-System.Net

#8494 Document default headers for web socket requests
  xml/System.Net.WebSockets/ClientWebSocket.xml
Labels: area-System.Net

#8501 Elaborate on WebSocket multiple sends/receives
  xml/System.Net.WebSockets/ClientWebSocket.xml
  xml/System.Net.WebSockets/WebSocket.xml
Labels: area-System.Net

#8530 Clarify usage of TimeSeparator in standard formats
  xml/System.Globalization/DateTimeFormatInfo.xml
Labels: area-System.Globalization, community-contribution

#8407 Add some more info about the name in named wait handle constructors and methods
  xml/System.Threading/EventWaitHandle.xml
  xml/System.Threading/EventWaitHandleAcl.xml
  xml/System.Threading/Mutex.xml
  xml/System.Threading/MutexAcl.xml
  xml/System.Threading/Semaphore.xml
  xml/System.Threading/SemaphoreAcl.xml
Labels: area-System.Threading

#8523 Fix issues in AuthenticationManager code example.
  snippets/cpp/VS_Snippets_Remoting/System.Net.Authentication/CPP/custombasicauthentication.cpp
  snippets/csharp/System.Net/AuthenticationManager/Overview/custombasicauthentication.cs
  snippets/csharp/System.Net/AuthenticationManager/Register/custombasicauthentication.cs
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.Authentication/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.Authentication/VB/custombasicauthentication.vb
Labels: area-System.Net

#8527 NOTE for NetworkStream's CanRead and CanWrite
  xml/System.Net.Sockets/NetworkStream.xml
Labels: area-System.Net.Sockets

#8533 Update SqlConnection.xml
  xml/System.Data.SqlClient/SqlConnection.xml
Labels: community-contribution

#8531 Fix documentation for Uri.IsBaseOf
  xml/System/Uri.xml
Labels: area-System.Runtime

#8538 Add note about CopyString
  xml/System.Text.Json/Utf8JsonReader.xml
Labels: area-System.Text.Json

#8534 AsyncSocketServer sample: delete the AsyncUserToken class
  snippets/csharp/System.Net.Sockets/SocketAsyncEventArgs/Overview/AsyncSocketServer.cs
Labels: area-System.Net.Sockets

#8539 Fix the name of the LocationTracker object in the documentation examp…
  xml/System/IObservable`1.xml
Labels: area-System.Runtime, community-contribution

#8543 Add Warning for Full Cache Unexpected Behavior
  xml/Microsoft.Extensions.Caching.Memory/MemoryCacheOptions.xml
Labels: area-Extensions-Caching

#8541 Update CancellationTokenSource.xml
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-System.Threading, community-contribution

#8568 fix: Add missing whitespace in the summary doc
  xml/Microsoft.Extensions.Configuration/CommandLineConfigurationExtensions.xml
Labels: area-Extensions-Configuration, community-contribution

#8556 UploadFileCompleted no event handler method
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8557 UploadStringCompleted no event handler method
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8555 UploadDataCompleted no event handler method
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8554 OpenWriteCompleted no event handler method
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8553 OpenReadCompleted no event handler method
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8552 DownloadStringCompleted no event handler method
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8551 Missing event handler DownloadDataCompleted
  xml/System.Net/WebClient.xml
Labels: area-System.Net, community-contribution

#8562 Fix #7515 by updating File.ReadAllText supported encoding in the remarks
  xml/System.IO/File.xml
Labels: area-System.IO, community-contribution

#8560 Fix snippet buffered read logic
  snippets/csharp/System.IO/FileStream/Overview/fstream class.cs
Labels: area-System.IO, community-contribution

#8570 Update MultipartContent.xml
  xml/System.Net.Http/MultipartContent.xml
Labels: area-System.Net, community-contribution

#8537 Improve NetworkStream remarks and samples
  snippets/cpp/VS_Snippets_Remoting/NetworkStream_Synch_SendAndReceive/CPP/source.cpp
  snippets/csharp/System.Net.Sockets/NetworkStream/Overview/source.cs
  snippets/visualbasic/VS_Snippets_Remoting/NetworkStream_Synch_SendAndReceive/VB/source.vb
  xml/System.Net.Sockets/NetworkStream.xml
Labels: area-System.Net.Sockets

#8571 Remove trailing backslashes from System.Globalization.CultureInfo
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Globalization, community-contribution

#8565 Fix escaped XML characters
  snippets/csharp/System.Xml/XmlElement/InnerText/source.cs
Labels: area-System.Xml, community-contribution

#8566 Fix Stack<T> type reference
  xml/System.Collections.Generic/Stack`1.xml
Labels: area-System.Collections, community-contribution

#8563 Fix type reference
  xml/System/DateOnly.xml
Labels: area-System.Runtime, community-contribution

#8559 Missing using for Stream and StreamReader variables
  snippets/visualbasic/VS_Snippets_Remoting/NCLWebClientUserAgent/VB/useragent.vb
Labels: community-contribution

#8572 Scrap APM samples for NetworkStream
  snippets/cpp/VS_Snippets_Remoting/NetworkStream_Async_SendAndReceive/CPP/source.cpp
  snippets/csharp/System.Net.Sockets/NetworkStream/.ctor/Project.csproj
  snippets/csharp/System.Net.Sockets/NetworkStream/.ctor/source.cs
  snippets/visualbasic/VS_Snippets_Remoting/NetworkStream_Async_SendAndReceive/VB/source.vb
  xml/System.Net.Sockets/NetworkStream.xml
Labels: area-System.Net

#8547 Fix documentation for INumberBase IsComplex and IsImaginary
  xml/System.Numerics/INumberBase`1.xml
Labels: area-System.Numerics

#6604 Update SortDescription.xml
  xml/System.ComponentModel/SortDescription.xml
Labels: area-System.ComponentModel

#8577 remove imagesharp recommendation
  includes/drawing.md
Labels: area-System.Drawing

#8581 Update `Memory<T>`: Link for "ref struct" is wrong
  xml/System/Memory`1.xml
Labels: area-System.Runtime, community-contribution

#8517 Fix wrong words
  xml/System.Windows.Forms/Control.xml
Labels: area-WinForms, community-contribution

#8576 Create Directory.Build.props
  snippets/Directory.Build.props
Labels: area-Meta

#8589 Remove incomplete sentence
  xml/System.Windows.Input/KeyGesture.xml
Labels: area-WPF, community-contribution

#8591 Update link to OSVersion net5.0 breaking change
  xml/System/Environment.xml
Labels: area-System.Runtime, community-contribution

#8593 Fix link to XML Encryption standard
  xml/ns-System.Security.Cryptography.Xml.xml
Labels: area-System.Security, community-contribution

#8583 Socket.Receive(Message)From*: fix misleading docs about the RemoteEndPoint argument
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8463 Clarify remark on DirectoryInfo.Create (#8212)
  xml/System.IO/DirectoryInfo.xml
Labels: area-System.IO, community-contribution

#8592 Change the name of the en-GB culture
  xml/System.Resources/MissingManifestResourceException.xml
  xml/System.Text/StringBuilder.xml
  xml/System/DateTime.xml
Labels: area-Meta

#8597 Fix minor issues in String.Substring documentation
  xml/System/String.xml
Labels: area-System.Runtime, community-contribution
