Repository dotnet/dotnet-api-docs, pull requests merged in 2022-01, with the labels that each got.

#7521 Replace method name Ceiling -> Floor
  xml/System/Math.xml
Labels: area-System.Runtime

#7500 Update some parameter descriptions for Microsoft.Extensions
  xml/Microsoft.Extensions.Caching.Memory/IMemoryCache.xml
  xml/Microsoft.Extensions.Configuration/ChainedConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/IConfigurationProvider.xml
Labels: area-Extensions-Caching

#7488 Add remark for JsonNumberHandling of Special Numbers in System.Text.Json
  xml/System.Text.Json.Serialization/JsonNumberHandling.xml
Labels: area-System.Text.Json

#7541 Update Stack`1.xml
  xml/System.Collections.Generic/Stack`1.xml
Labels: area-System.Collections

#7544 Merge main into live
  xml/Microsoft.Extensions.Caching.Memory/IMemoryCache.xml
  xml/Microsoft.Extensions.Configuration/ChainedConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/IConfigurationProvider.xml
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Text.Json.Serialization/JsonNumberHandling.xml
  xml/System/Math.xml
Labels: area-Meta

#7487 Remove float exception for x.Equals(x)
  xml/System/Object.xml
Labels: area-System.Runtime

#7518 System.AsyncCallback F# snippet
  samples/snippets/fsharp/VS_Snippets_CLR/AsyncDesignPattern/FS/AsyncDelegateNoStateObject.fs
  samples/snippets/fsharp/VS_Snippets_CLR/AsyncDesignPattern/FS/fs.fsproj
  xml/System/AsyncCallback.xml
Labels: area-System.Runtime

#7526 System.AttributeUsageAttribute F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_Classic/classic AttributeUsageAttribute.AttributeUsageAttribute Example/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_Classic/classic AttributeUsageAttribute.AttributeUsageAttribute Example/FS/source.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AttributeUsageAttribute.Inherited/fs/Inherited1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AttributeUsageAttribute.Inherited/fs/fs.fsproj
  xml/System/AttributeUsageAttribute.xml
Labels: area-Meta

#7527 System.BadImageFormatException F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/condition1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/loadstringlib.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/stringlib.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/targetplatform1.fs
  xml/System/BadImageFormatException.xml
Labels: area-System.Runtime

#7528 System.Base64FormattingOptions F# snippet
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.Convert.ToBase64String/fs/ToBase64String3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.Convert.ToBase64String/fs/fs.fsproj
  xml/System/Base64FormattingOptions.xml
Labels: area-System.Runtime

#7536 System.CharEnumerator F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.CharEnumerator.Class/fs/CharEnumerator1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.CharEnumerator.Class/fs/fs.fsproj
  xml/System/CharEnumerator.xml
Labels: area-System.Runtime

#7545 Fix inline code formatting in GetType documentation
  xml/System/Type.xml
Labels: area-System.Reflection

#7547 Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: area-Infrastructure

#7550 Update .openpublishing.publish.config.json
  .openpublishing.publish.config.json
Labels: area-Infrastructure

#7549 Merge main into live
  samples/snippets/csharp/VS_Snippets_Remoting/ClassicTcpClient.PublicMethodsAndPropertiesExample/CS/TcpClient.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/ClassicTcpClient.PublicMethodsAndPropertiesExample/CS/source.cs
  samples/snippets/fsharp/VS_Snippets_CLR/ArrayTypeMisMatch_Constructor1/FS/arraytypemismatch_constructor1.fs
  samples/snippets/fsharp/VS_Snippets_CLR/ArrayTypeMisMatch_Constructor1/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/ArrayTypeMisMatch_Constructor2/FS/arraytypemismatch_constructor2.fs
  samples/snippets/fsharp/VS_Snippets_CLR/ArrayTypeMisMatch_Constructor2/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/ArrayTypeMisMatch_Constructor3/FS/arraytypemismatch_constructor3.fs
  samples/snippets/fsharp/VS_Snippets_CLR/ArrayTypeMisMatch_Constructor3/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/AsyncDesignPattern/FS/AsyncDelegateNoStateObject.fs
  samples/snippets/fsharp/VS_Snippets_CLR/AsyncDesignPattern/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_Classic/classic AttributeUsageAttribute.AttributeUsageAttribute Example/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_Classic/classic AttributeUsageAttribute.AttributeUsageAttribute Example/FS/source.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AttributeUsageAttribute.Inherited/fs/Inherited1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.AttributeUsageAttribute.Inherited/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.Convert.ToBase64String/fs/ToBase64String3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/System.Convert.ToBase64String/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArrayTypeMismatch/FS/class1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.ArrayTypeMismatch/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.BlockCopy/FS/bcopy.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.BlockCopy/FS/buffer.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.BlockCopy/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.BlockCopy/FS/overlap1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.Bytes/FS/bytelength.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.Bytes/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.Bytes/FS/getbyte.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Buffer.Bytes/FS/setbyte.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.CharEnumerator.Class/fs/CharEnumerator1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.CharEnumerator.Class/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/condition1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/loadstringlib.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/stringlib.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.badimageformatexception.class/fs/targetplatform1.fs
  xml/System/ArrayTypeMismatchException.xml
  xml/System/AsyncCallback.xml
  xml/System/AttributeUsageAttribute.xml
  xml/System/BadImageFormatException.xml
  xml/System/Base64FormattingOptions.xml
  xml/System/Buffer.xml
  xml/System/CharEnumerator.xml
  xml/System/Object.xml
  xml/System/Type.xml
Labels: area-Meta

#7529 Binary Reader sample: using should protect File.Open too
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.BinaryReaderWriter/CS/BinaryReaderWriter.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.BinaryReaderWriter/CS/source.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.BinaryReaderWriter/CS/source3.cs
Labels: area-System.IO

#7522 System.Attribute F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR/AnimalAttributes/FS/customattribute.fs
  samples/snippets/fsharp/VS_Snippets_CLR/AnimalAttributes/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/GetCustomAttributes/FS/ca1.fs
  samples/snippets/fsharp/VS_Snippets_CLR/GetCustomAttributes/FS/ca2.fs
  samples/snippets/fsharp/VS_Snippets_CLR/GetCustomAttributes/FS/ca4.fs
  samples/snippets/fsharp/VS_Snippets_CLR/GetCustomAttributes/FS/ca5.fs
  samples/snippets/fsharp/VS_Snippets_CLR/GetCustomAttributes/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/GetHashCode/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/GetHashCode/FS/hashcode.fs
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefaultAttribute/FS/defattr.fs
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefaultAttribute/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefined/FS/IsDef1FS.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefined/FS/id1.fs
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefined/FS/id2.fs
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefined/FS/id4.fs
  samples/snippets/fsharp/VS_Snippets_CLR/IsDefined/FS/id5.fs
  samples/snippets/fsharp/VS_Snippets_CLR/Match/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/Match/FS/match.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.Equals/FS/equals.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.Equals/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.GetCustomAttribute/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.GetCustomAttribute/FS/getcustattrparam.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.GetCustomAttribute/FS/getcustattrprminh.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.TypeId/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Attribute.TypeId/FS/typeid.fs
  xml/System/Attribute.xml
Labels: area-System.Runtime

#7530 System.BitConverter F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.Class/FS/bitconv.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.Class/FS/example1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.Class/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.Class/FS/littleend.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.Class/FS/networkorder1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.DoubleInt64/FS/bitstodbl.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.DoubleInt64/FS/dbltobits.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.DoubleInt64/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.Others/FS/bytesbool.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.Others/FS/byteschar.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.Others/FS/bytesdouble.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.Others/FS/bytessingle.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.Others/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.SInts/FS/bytesint16.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.SInts/FS/bytesint32.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.SInts/FS/bytesint64.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.SInts/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.UInts/FS/bytesuint16.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.UInts/FS/bytesuint32.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.UInts/FS/bytesuint64.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.GetBytes.UInts/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToString/FS/batostring.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToString/FS/batostringii.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToString/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.Others/FS/batobool.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.Others/FS/batochar.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.Others/FS/batodouble.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.Others/FS/batosingle.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.Others/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.SInts/FS/batoint16.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.SInts/FS/batoint64.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.SInts/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.UInts/FS/batouint16.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.UInts/FS/batouint32.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.UInts/FS/batouint64.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.BitConverter.ToXXX.UInts/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.bitconverter.toint32/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.bitconverter.toint32/fs/toint32.fs
  xml/System/BitConverter.xml
Labels: area-System.Runtime

#7532 System.Byte F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte Examples/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte Examples/FS/systembyte.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.Parse/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.Parse/FS/parse.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.ToString/FS/NewByteMembers.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.ToString/FS/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.TryParse/fs/TryParse.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.TryParse/fs/TryParse2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Byte.TryParse/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.bitwise/fs/bitwise1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.bitwise/fs/bitwise2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.bitwise/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.equals/fs/eq.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.equals/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.formatting/fs/formatting1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.formatting/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.instantiation/fs/byteinstantiation1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.byte.instantiation/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.convert.tobyte/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.convert.tobyte/fs/tobyte1.fs
  xml/System/Byte.xml
Labels: area-System.Runtime

#7553 Fixed typo error in NumberFormatInfo.NegativeSign Property example
  samples/snippets/csharp/VS_Snippets_CLR_System/system.globalization.numberformatinfo.negativesign/cs/negativesign1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.globalization.numberformatinfo.negativesign/vb/negativesign1.vb
Labels: area-System.Globalization

#7555 ThrowIfCancellationRequested doesn't throw ObjectDisposedException
  xml/System.Threading/CancellationToken.xml
Labels: area-System.Threading.Tasks

#7556 Fix issue: AbandandMutexException for .net 6
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.Mutex 1Arg Ctor Example/CS/class1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.Mutex 1Arg Ctor Example/CS/class1.csproj
Labels: area-System.Threading

#7525 System.AttributeTargets F# snippet
  samples/snippets/fsharp/VS_Snippets_CLR/AttrTargs/FS/attrtargs.fs
  samples/snippets/fsharp/VS_Snippets_CLR/AttrTargs/FS/fs.fsproj
  xml/System/AttributeTargets.xml
Labels: area-System.Runtime

#7537 System.Comparison<T> F# Snippets
  samples/snippets/fsharp/VS_Snippets_CLR/List`1_SortComparison/fs/fs.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/List`1_SortComparison/fs/source.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.comparison`1/fs/comparisont1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.comparison`1/fs/fs.fsproj
  xml/System/Comparison`1.xml
Labels: area-System.Runtime

#7560 Update CODEOWNERS for System.Data
  .github/CODEOWNERS
Labels: area-Infrastructure

#7433 Add example for System.Reflection.Metadata.Document
  samples/snippets/csharp/System.Reflection.Metadata/Document/DocumentSnippets.cs
  samples/snippets/csharp/System.Reflection.Metadata/Document/DocumentSnippets.csproj
  samples/snippets/csharp/System.Reflection.Metadata/Document/Program.cs
  xml/System.Reflection.Metadata/Document.xml
Labels: area-System.Reflection.Metadata

#5304 Add documentation for MethodBodyBlock
  samples/snippets/csharp/System.Reflection.Metadata/MethodBodyBlock/MethodBodyBlockSnippets.cs
  samples/snippets/csharp/System.Reflection.Metadata/MethodBodyBlock/MethodBodyBlockSnippets.csproj
  samples/snippets/csharp/System.Reflection.Metadata/MethodBodyBlock/Program.cs
  xml/System.Reflection.Metadata/MethodBodyBlock.xml
Labels: area-System.Security

#7566 Update documentation on the *Uni APIs.
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#7511 Add links to conceptual docs with examples
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#7481 Add using to SHA256 example
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic SHA256 Example/CS/source.cs
Labels: area-System.Security

#7571 Merge main into live
  samples/snippets/csharp/System.Reflection.Metadata/MethodBodyBlock/MethodBodyBlockSnippets.cs
  samples/snippets/csharp/System.Reflection.Metadata/MethodBodyBlock/MethodBodyBlockSnippets.csproj
  samples/snippets/csharp/System.Reflection.Metadata/MethodBodyBlock/Program.cs
  samples/snippets/csharp/VS_Snippets_CLR_Classic/classic SHA256 Example/CS/source.cs
  xml/System.Linq/Enumerable.xml
  xml/System.Reflection.Metadata/MethodBodyBlock.xml
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-Meta

#7586 Fix grammar in comment
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.countdownevent/cs/countdownevent.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.threading.countdownevent/cs/countdownevent.csproj
Labels: area-System.Threading

#7574 Update SortedList`2.xml
  xml/System.Collections.Generic/SortedList`2.xml
Labels: area-System.Collections

#7602 Merge main into live
  xml/System.Collections.Generic/SortedList`2.xml
Labels: area-System.Collections

#7428 System.ArgumentException F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR/ArgumentException/FS/argumentexception.fs
  samples/snippets/fsharp/VS_Snippets_CLR/ArgumentException/FS/argumentexception.fsproj
  samples/snippets/fsharp/VS_Snippets_CLR/ArgumentException/FS/argumentexception2.fs
  xml/System/ArgumentException.xml
Labels: area-System.Runtime

#7597 System.DayOfWeek F# snippet
  samples/snippets/fsharp/VS_Snippets_CLR/DateTime.DayOfWeek/FS/dow.fs
  samples/snippets/fsharp/VS_Snippets_CLR/DateTime.DayOfWeek/FS/fs.fsproj
  xml/System/DayOfWeek.xml
Labels: area-System.Runtime

#7598 System.DBNull F# snippet
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.DBNull.Class/fs/DBNullExamples.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.DBNull.Class/fs/fs.fsproj
  xml/System/DBNull.xml
Labels: area-System.Runtime

#7599 System.DivideByZeroException F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.dividebyzeroexception.class/fs/exception1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.dividebyzeroexception.class/fs/exception2.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.dividebyzeroexception.class/fs/fs.fsproj
  xml/System/DivideByZeroException.xml
Labels: area-Meta

#5491 Update AssemblyBuilder documentation
  samples/snippets/cpp/VS_Snippets_CLR/AssemblyBuilderClass/cpp/24895.cpp
  samples/snippets/cpp/VS_Snippets_CLR/AssemblyBuilderClass/cpp/AssemblyBuilderClass.vcxproj
  samples/snippets/cpp/VS_Snippets_CLR/AssemblyBuilderClass/cpp/snippets.5000.json
  samples/snippets/csharp/VS_Snippets_CLR/AssemblyBuilderClass/cs/24895.cs
  samples/snippets/csharp/VS_Snippets_CLR/AssemblyBuilderClass/cs/AssemblyBuilderClass.csproj
  samples/snippets/visualbasic/VS_Snippets_CLR/AssemblyBuilderClass/vb/24895.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/AssemblyBuilderClass/vb/AssemblyBuilderClass.vbproj
  xml/System.Reflection.Emit/AssemblyBuilder.xml
Labels: area-System.Reflection

#7607 System.Func<TResult> F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Example.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Func1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/fs.fsproj
  xml/System/Func`1.xml
Labels: area-System.Runtime

#7613 Merge main into live
  samples/snippets/csharp/System.Reflection.Metadata/SequencePoint/Overview/Program.cs
  samples/snippets/csharp/System.Reflection.Metadata/SequencePoint/Overview/SequencePointSnippets.cs
  samples/snippets/csharp/System.Reflection.Metadata/SequencePoint/Overview/SequencePointSnippets.csproj
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Example.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Func1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~1/fs/fs.fsproj
  xml/System.Messaging/MessageQueue.xml
  xml/System.Reflection.Metadata/SequencePoint.xml
  xml/System/Func`1.xml
Labels: area-Meta

#7611 System.Func<T,TResult> F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~2/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~2/fs/Example.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~2/fs/Func2_1.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~2/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~2/fs/fs.fsproj
  xml/System/Func`2.xml
Labels: area-System.Runtime

#7615 System.Func<T1,T2,TResult> F# snippets
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~3/fs/Delegate.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~3/fs/Example.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~3/fs/Func3.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~3/fs/Lambda.fs
  samples/snippets/fsharp/VS_Snippets_CLR_System/system.Func~3/fs/fs.fsproj
  xml/System/Func`3.xml
Labels: area-System.Runtime

#7604 Remove references from Winforms ScrollEventHandler
  xml/System.Windows.Forms/ScrollEventHandler.xml
Labels: area-WinForms

#7614 Replace FB issue tagging mentionees with dotnet teams
  .github/fabricbot.json
Labels: area-Meta

#7620 Remove .NET Libraries code owners
  .github/CODEOWNERS
Labels: area-Infrastructure

#7610 Regenerate pod board automation rules
  .github/fabricbot.json
Labels: area-Meta

#7626 Onboard new Triage & PR Boards
  .github/fabricbot.json
Labels: area-Meta

#7617 Update Directory.Move remarks
  xml/System.IO/Directory.xml
Labels: area-System.IO

#7581 Fix RuntimeHelpers.Equals return documentation
  xml/System.Runtime.CompilerServices/RuntimeHelpers.xml
Labels: area-System.Runtime.CompilerServices

#7631 Standardize exception wording - extensions
  xml/Microsoft.Extensions.Caching.Distributed/DistributedCacheExtensions.xml
  xml/Microsoft.Extensions.Configuration/UserSecretsConfigurationExtensions.xml
Labels: area-Extensions-Caching

#7633 Standardize exception wording - Collections
  xml/System.Collections.Generic/CollectionExtensions.xml
  xml/System.Collections.Immutable/ImmutableArray`1.xml
  xml/System.Collections.Immutable/ImmutableList.xml
  xml/System.Collections.Immutable/ImmutableList`1.xml
  xml/System.Collections.Immutable/ImmutableQueue`1.xml
  xml/System.Collections.Immutable/ImmutableStack`1.xml
  xml/System.Linq/ImmutableArrayExtensions.xml
  xml/System.Linq/ParallelEnumerable.xml
Labels: area-System.Collections

#7629 Add ANEs for WinForms
  xml/System.Windows.Forms/ComboBox+ChildAccessibleObject.xml
  xml/System.Windows.Forms/ControlPaint.xml
  xml/System.Windows.Forms/DataGridViewEditingControlShowingEventArgs.xml
  xml/System.Windows.Forms/ToolStripArrowRenderEventArgs.xml
  xml/System.Windows.Forms/ToolStripContentPanelRenderEventArgs.xml
  xml/System.Windows.Forms/ToolStripItemRenderEventArgs.xml
  xml/System.Windows.Forms/ToolStripPanelRenderEventArgs.xml
Labels: area-WinForms

#7634 Standardize exception wording - miscellaneous
  xml/System.Data.Services.Client/QueryOperationResponse.xml
  xml/System.IdentityModel.Metadata/MetadataSerializer.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Speech.Recognition/SemanticValue.xml
  xml/System.Web.UI/ControlCollection.xml
Labels: area-Meta

#7641 Merge main into live
  .github/fabricbot.json
  samples/snippets/fsharp/System/FuncT1,T2,T3,T4,TResult/Overview/Delegate.fs
  samples/snippets/fsharp/System/FuncT1,T2,T3,T4,TResult/Overview/Func5.fs
  samples/snippets/fsharp/System/FuncT1,T2,T3,T4,TResult/Overview/Lambda.fs
  samples/snippets/fsharp/System/FuncT1,T2,T3,T4,TResult/Overview/fs.fsproj
  samples/snippets/fsharp/System/FuncT1,T2,T3,TResult/Overview/Delegate.fs
  samples/snippets/fsharp/System/FuncT1,T2,T3,TResult/Overview/Func4.fs
  samples/snippets/fsharp/System/FuncT1,T2,T3,TResult/Overview/Lambda.fs
  samples/snippets/fsharp/System/FuncT1,T2,T3,TResult/Overview/fs.fsproj
  samples/snippets/fsharp/System/GC/CancelFullGCNotification/Program.fs
  samples/snippets/fsharp/System/GC/CancelFullGCNotification/fs.fsproj
  samples/snippets/fsharp/System/GC/Collect/Program.fs
  samples/snippets/fsharp/System/GC/Collect/class1.fs
  samples/snippets/fsharp/System/GC/Collect/collect4.fs
  samples/snippets/fsharp/System/GC/Collect/fs.fsproj
  samples/snippets/fsharp/System/GC/Collect/lohcompactionmode1.fs
  samples/snippets/fsharp/System/GC/EndNoGCRegion/endnogcregion1.fs
  samples/snippets/fsharp/System/GC/EndNoGCRegion/fs.fsproj
  samples/snippets/fsharp/System/GC/GetGeneration/fs.fsproj
  samples/snippets/fsharp/System/GC/GetGeneration/systemgcgetgenerationweak.fs
  samples/snippets/fsharp/System/GC/KeepAlive/fs.fsproj
  samples/snippets/fsharp/System/GC/KeepAlive/gckeepalive.fs
  samples/snippets/fsharp/System/GC/Overview/class1.fs
  samples/snippets/fsharp/System/GC/Overview/fs.fsproj
  samples/snippets/fsharp/System/GC/ReRegisterForFinalize/class1.fs
  samples/snippets/fsharp/System/GC/ReRegisterForFinalize/fs.fsproj
  samples/snippets/fsharp/System/GC/SuppressFinalize/fs.fsproj
  samples/snippets/fsharp/System/GC/SuppressFinalize/suppressfinalize1.fs
  samples/snippets/fsharp/System/GC/WaitForPendingFinalizers/class1.fs
  samples/snippets/fsharp/System/GC/WaitForPendingFinalizers/fs.fsproj
  xml/Microsoft.Extensions.Caching.Distributed/DistributedCacheExtensions.xml
  xml/Microsoft.Extensions.Configuration/UserSecretsConfigurationExtensions.xml
  xml/System.Collections.Generic/CollectionExtensions.xml
  xml/System.Collections.Immutable/ImmutableArray`1.xml
  xml/System.Collections.Immutable/ImmutableList.xml
  xml/System.Collections.Immutable/ImmutableList`1.xml
  xml/System.Collections.Immutable/ImmutableQueue`1.xml
  xml/System.Collections.Immutable/ImmutableStack`1.xml
  xml/System.Data.Services.Client/QueryOperationResponse.xml
  xml/System.IO/Directory.xml
  xml/System.IdentityModel.Metadata/MetadataSerializer.xml
  xml/System.Linq/ImmutableArrayExtensions.xml
  xml/System.Linq/ParallelEnumerable.xml
  xml/System.Runtime.CompilerServices/RuntimeHelpers.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Speech.Recognition/SemanticValue.xml
  xml/System.Web.UI/ControlCollection.xml
  xml/System.Windows.Forms/ComboBox+ChildAccessibleObject.xml
  xml/System.Windows.Forms/ControlPaint.xml
  xml/System.Windows.Forms/DataGridViewEditingControlShowingEventArgs.xml
  xml/System.Windows.Forms/ToolStripArrowRenderEventArgs.xml
  xml/System.Windows.Forms/ToolStripContentPanelRenderEventArgs.xml
  xml/System.Windows.Forms/ToolStripItemRenderEventArgs.xml
  xml/System.Windows.Forms/ToolStripPanelRenderEventArgs.xml
  xml/System/Func`4.xml
  xml/System/Func`5.xml
  xml/System/GC.xml
  xml/System/GCCollectionMode.xml
  xml/System/GCNotificationStatus.xml
Labels: area-Meta

#7630 Standardize wording
  xml/System.DirectoryServices.Protocols/DsmlSoapConnection.xml
  xml/System.DirectoryServices.Protocols/DsmlSoapHttpConnection.xml
  xml/System.DirectoryServices.Protocols/LdapConnection.xml
  xml/System.DirectoryServices.Protocols/LdapDirectoryIdentifier.xml
Labels: area-System.DirectoryServices

#7644 Temporarily turn off Snippets 5000
  .github/workflows/build-validation.yml
Labels: area-Infrastructure

#7619 Update TypeBuilder remarks
  xml/System.Reflection.Emit/TypeBuilder.xml
Labels: area-System.Reflection.Emit

#7635 Add link to Configure Await info
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks

#7648 Fix AssemblyBuilder remarks
  xml/System.Reflection.Emit/AssemblyBuilder.xml
Labels: area-System.Reflection.Emit

#7638 Delete bad WPF themes link
  xml/System.Windows.Controls.Primitives/DatePickerTextBox.xml
  xml/System.Windows.Controls.Primitives/RepeatButton.xml
  xml/System.Windows.Controls.Primitives/ScrollBar.xml
  xml/System.Windows.Controls.Primitives/StatusBar.xml
  xml/System.Windows.Controls.Primitives/StatusBarItem.xml
  xml/System.Windows.Controls.Primitives/Thumb.xml
  xml/System.Windows.Controls.Primitives/ToggleButton.xml
  xml/System.Windows.Controls/Button.xml
  xml/System.Windows.Controls/Calendar.xml
  xml/System.Windows.Controls/CheckBox.xml
  xml/System.Windows.Controls/ComboBox.xml
  xml/System.Windows.Controls/ComboBoxItem.xml
  xml/System.Windows.Controls/ContentControl.xml
  xml/System.Windows.Controls/ContextMenu.xml
  xml/System.Windows.Controls/DataGrid.xml
  xml/System.Windows.Controls/DatePicker.xml
  xml/System.Windows.Controls/DocumentViewer.xml
  xml/System.Windows.Controls/Expander.xml
  xml/System.Windows.Controls/Frame.xml
  xml/System.Windows.Controls/GridSplitter.xml
  xml/System.Windows.Controls/GroupBox.xml
  xml/System.Windows.Controls/GroupItem.xml
  xml/System.Windows.Controls/HeaderedContentControl.xml
  xml/System.Windows.Controls/HeaderedItemsControl.xml
  xml/System.Windows.Controls/ItemsControl.xml
  xml/System.Windows.Controls/Label.xml
  xml/System.Windows.Controls/ListBox.xml
  xml/System.Windows.Controls/ListBoxItem.xml
  xml/System.Windows.Controls/ListView.xml
  xml/System.Windows.Controls/ListViewItem.xml
  xml/System.Windows.Controls/Menu.xml
  xml/System.Windows.Controls/MenuItem.xml
  xml/System.Windows.Controls/Page.xml
  xml/System.Windows.Controls/PasswordBox.xml
  xml/System.Windows.Controls/ProgressBar.xml
  xml/System.Windows.Controls/RadioButton.xml
  xml/System.Windows.Controls/RichTextBox.xml
  xml/System.Windows.Controls/ScrollViewer.xml
  xml/System.Windows.Controls/Separator.xml
  xml/System.Windows.Controls/Slider.xml
  xml/System.Windows.Controls/TabControl.xml
  xml/System.Windows.Controls/TabItem.xml
  xml/System.Windows.Controls/TextBox.xml
  xml/System.Windows.Controls/ToolBar.xml
  xml/System.Windows.Controls/ToolTip.xml
  xml/System.Windows.Controls/TreeView.xml
  xml/System.Windows.Controls/TreeViewItem.xml
  xml/System.Windows.Controls/UserControl.xml
  xml/System.Windows.Documents/Hyperlink.xml
  xml/System.Windows.Media/Geometry.xml
  xml/System.Windows.Media/RotateTransform.xml
  xml/System.Windows.Media/ScaleTransform.xml
  xml/System.Windows.Media/SkewTransform.xml
  xml/System.Windows.Media/TransformGroup.xml
  xml/System.Windows.Media/TranslateTransform.xml
  xml/System.Windows.Navigation/NavigationWindow.xml
  xml/System.Windows/FrameworkElement.xml
  xml/System.Windows/Window.xml
Labels: area-WPF

#7646 Add ConfigurationBuilder example
  snippets/csharp/Microsoft.Extensions.Configuration/ConfigurationBuilder/Overview/AppWithOptions.csproj
  snippets/csharp/Microsoft.Extensions.Configuration/ConfigurationBuilder/Overview/Program.cs
  snippets/csharp/Microsoft.Extensions.Configuration/ConfigurationBuilder/Overview/appsettings.json
  xml/Microsoft.Extensions.Configuration/ConfigurationBuilder.xml
Labels: area-Extensions-Configuration

#7651 Refresh readme for repo
  README.md
Labels: area-Infrastructure

#7632 Standardize exception wording - Windows
  xml/System.Windows.Data/BindingListCollectionView.xml
  xml/System.Windows.Data/ListCollectionView.xml
  xml/System.Windows.Forms/TextRenderer.xml
  xml/System.Windows.Media/GeometryConverter.xml
  xml/System.Windows/Int32RectConverter.xml
  xml/System.Windows/KeySplineConverter.xml
  xml/System.Windows/PointConverter.xml
  xml/System.Windows/RectConverter.xml
Labels: area-WPF

#7659 Update Path.xml
  xml/System.IO/Path.xml
Labels: area-System.IO

#7657 Update ObjectStateFormatter.xml
  xml/System.Web.UI/ObjectStateFormatter.xml
Labels: area-System.Web

#7660 Add a remark to ISpanFormattable.TryFormat
  xml/System/ISpanFormattable.xml
Labels: area-System.Runtime

#7649 Fix mix-up between IEnumerable and IEnumerator
  xml/System.Collections.Concurrent/BlockingCollection`1.xml
Labels: area-System.Collections

#7661 Merge main into live
  .github/workflows/build-validation.yml
  README.md
  xml/System.IO/Path.xml
  xml/System.Web.UI/ObjectStateFormatter.xml
  xml/System.Windows.Data/BindingListCollectionView.xml
  xml/System.Windows.Data/ListCollectionView.xml
  xml/System.Windows.Forms/TextRenderer.xml
  xml/System.Windows.Media/GeometryConverter.xml
  xml/System.Windows/Int32RectConverter.xml
  xml/System.Windows/KeySplineConverter.xml
  xml/System.Windows/PointConverter.xml
  xml/System.Windows/RectConverter.xml
  xml/System/ISpanFormattable.xml
Labels: area-Meta

#7663 Update summary for two `MemoryExtensions.AsSpan(this string? text …)` overloads
  xml/System/MemoryExtensions.xml
Labels: area-System.Runtime
