Repository dotnet/dotnet-api-docs, pull requests merged in 2022-02, with the labels that each got.

#7668 Onboard Michael & Tanner to FB automation
  .github/fabricbot.json
Labels: area-Meta

#7674 Roll out board automation for Jeremy & Levi
  .github/fabricbot.json
Labels: area-Meta

#7686 Fix FileSystemInfo.CreationTimeUtc Exceptions typo
  xml/System.IO/FileSystemInfo.xml
Labels: area-System.IO

#7675 ObservableCollection.CollectionChanged clarification.
  xml/System.Collections.ObjectModel/ObservableCollection`1.xml
Labels: area-System.Collections

#7689 Merge main into live
  xml/System.IO/FileSystemInfo.xml
Labels: area-System.IO

#7684 Fix .NET Core -> .NET references
  xml/System/Environment.xml
Labels: area-System.Runtime

#7546 Clarify and add security note about `PersistSecurityInfo`
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
Labels: area-System.Data.SqlClient

#7691 Merge main into live
  xml/System.Collections.ObjectModel/ObservableCollection`1.xml
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
  xml/System/Environment.xml
Labels: area-Meta

#7665 Update FileSystemInfo.xml
  xml/System.IO/FileSystemInfo.xml
Labels: area-System.IO

#7694 System.EntryPointNotFoundException F# snippets
  snippets/fsharp/System/EntryPointNotFoundException/Overview/badcall1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/fiximportassembly1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/fs.fsproj
  snippets/fsharp/System/EntryPointNotFoundException/Overview/importassembly1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/mangle1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/mangle2.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/nofunction1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/stringutilities.fs
  xml/System/EntryPointNotFoundException.xml
Labels: area-System.Runtime

#7700 Merge main into live
  snippets/fsharp/System/EntryPointNotFoundException/Overview/badcall1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/fiximportassembly1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/fs.fsproj
  snippets/fsharp/System/EntryPointNotFoundException/Overview/importassembly1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/mangle1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/mangle2.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/nofunction1.fs
  snippets/fsharp/System/EntryPointNotFoundException/Overview/stringutilities.fs
  xml/System.IO/FileSystemInfo.xml
  xml/System/EntryPointNotFoundException.xml
Labels: area-Meta

#7698 Improve String.Contains(String) remarks
  xml/System/String.xml
Labels: area-System.Runtime

#7701 Fix small copy-paste error
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#7658 Improve ConfigurationExtensions docs
  xml/Microsoft.Extensions.Configuration/ConfigurationExtensions.xml
Labels: area-Extensions-Configuration

#7704 Fix RyuJIT typo
  xml/System.Numerics/Vector.xml
Labels: area-System.Numerics

#7705 Merge main into live
  xml/Microsoft.Extensions.Configuration/ConfigurationExtensions.xml
  xml/System.Numerics/Vector.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System/String.xml
Labels: area-Meta

#7690 Document ArgumentException that can be thrown by SqlConnection
  xml/System.Data.SqlClient/SqlConnection.xml
Labels: area-System.Data.SqlClient

#7718 Merge main into live
  snippets/fsharp/System/Boolean/CompareTo/cat.fs
  snippets/fsharp/System/Boolean/CompareTo/fs.fsproj
  snippets/fsharp/System/Boolean/Overview/binary1.fs
  snippets/fsharp/System/Boolean/Overview/conversion1.fs
  snippets/fsharp/System/Boolean/Overview/conversion3.fs
  snippets/fsharp/System/Boolean/Overview/format3.fs
  snippets/fsharp/System/Boolean/Overview/fs.fsproj
  snippets/fsharp/System/Boolean/Overview/operations1.fs
  snippets/fsharp/System/Boolean/Overview/operations2.fs
  snippets/fsharp/System/Boolean/Overview/parse2.fs
  snippets/fsharp/System/Boolean/Overview/parse3.fs
  snippets/fsharp/System/Boolean/Overview/size1.fs
  snippets/fsharp/System/Boolean/Overview/tostring1.fs
  snippets/fsharp/System/Boolean/Overview/tostring2.fs
  snippets/fsharp/System/Boolean/Parse/booleanmembers.fs
  snippets/fsharp/System/Boolean/Parse/fs.fsproj
  snippets/fsharp/System/Boolean/TryParse/fs.fsproj
  snippets/fsharp/System/Boolean/TryParse/tryparseex.fs
  xml/System.Collections.Concurrent/BlockingCollection`1.xml
  xml/System.Linq/ParallelEnumerable.xml
  xml/System.Threading/CountdownEvent.xml
  xml/System.Threading/SemaphoreSlim.xml
  xml/System/Boolean.xml
Labels: area-Meta

#7710 System.EventArgs F# snippets
  snippets/fsharp/System/EventArgs/Overview/fs.fsproj
  snippets/fsharp/System/EventArgs/Overview/programnodata.fs
  snippets/fsharp/System/EventArgs/Overview/programwithdata.fs
  xml/System/EventArgs.xml
  xml/System/EventHandler.xml
  xml/System/EventHandler`1.xml
Labels: area-System.Runtime

#7722 Merge main into live
  snippets/fsharp/System/EventArgs/Overview/fs.fsproj
  snippets/fsharp/System/EventArgs/Overview/programnodata.fs
  snippets/fsharp/System/EventArgs/Overview/programwithdata.fs
  xml/System/EventArgs.xml
  xml/System/EventHandler.xml
  xml/System/EventHandler`1.xml
Labels: area-Meta

#7720 Add F# example for AssemblyBuilder class.
  snippets/fsharp/System.Reflection.Emit/AssemblyBuilder/Overview/24895.fs
  snippets/fsharp/System.Reflection.Emit/AssemblyBuilder/Overview/AssemblyBuilderClass.fsproj
  xml/System.Reflection.Emit/AssemblyBuilder.xml
Labels: area-System.Reflection.Emit

#7677 System.IObservable<T>, IObserver<T> F# snippets
  snippets/fsharp/System/IObservableT/Overview/fs.fsproj
  snippets/fsharp/System/IObservableT/Overview/observer.fs
  snippets/fsharp/System/IObservableT/Overview/program.fs
  snippets/fsharp/System/IObservableT/Overview/provider.fs
  xml/System/IObservable`1.xml
  xml/System/IObserver`1.xml
Labels: area-System.Runtime

#7696 System.Enum F# snippets
  snippets/fsharp/System/Enum/CompareTo/EnumCompareTo.fs
  snippets/fsharp/System/Enum/CompareTo/fs.fsproj
  snippets/fsharp/System/Enum/Equals/EnumEquals.fs
  snippets/fsharp/System/Enum/Equals/enumequals1.fs
  snippets/fsharp/System/Enum/Equals/fs.fsproj
  snippets/fsharp/System/Enum/Format/EnumFormat.fs
  snippets/fsharp/System/Enum/Format/fs.fsproj
  snippets/fsharp/System/Enum/GetName/EnumGetName.fs
  snippets/fsharp/System/Enum/GetName/fs.fsproj
  snippets/fsharp/System/Enum/GetNames/EnumGetNames.fs
  snippets/fsharp/System/Enum/GetNames/fs.fsproj
  snippets/fsharp/System/Enum/GetNames/getnames1.fs
  snippets/fsharp/System/Enum/GetUnderlyingType/fs.fsproj
  snippets/fsharp/System/Enum/GetUnderlyingType/getunderlyingtype1.fs
  snippets/fsharp/System/Enum/GetValues/EnumGetValues.fs
  snippets/fsharp/System/Enum/GetValues/fs.fsproj
  snippets/fsharp/System/Enum/GetValues/getvalues1.fs
  snippets/fsharp/System/Enum/GetValues/getvalues_reflectiononly.fs
  snippets/fsharp/System/Enum/HasFlag/fs.fsproj
  snippets/fsharp/System/Enum/HasFlag/hasflag0.fs
  snippets/fsharp/System/Enum/HasFlag/hasflag1.fs
  snippets/fsharp/System/Enum/IsDefined/fs.fsproj
  snippets/fsharp/System/Enum/IsDefined/isdefined1.fs
  snippets/fsharp/System/Enum/IsDefined/isdefined2.fs
  snippets/fsharp/System/Enum/Overview/EnumMain.fs
  snippets/fsharp/System/Enum/Overview/Extensions.fs
  snippets/fsharp/System/Enum/Overview/class1.fs
  snippets/fsharp/System/Enum/Overview/class2.fs
  snippets/fsharp/System/Enum/Overview/classbitwise1.fs
  snippets/fsharp/System/Enum/Overview/classconversion1.fs
  snippets/fsharp/System/Enum/Overview/classconversion2.fs
  snippets/fsharp/System/Enum/Overview/classformat1.fs
  snippets/fsharp/System/Enum/Overview/classiterate.fs
  snippets/fsharp/System/Enum/Overview/classparse1.fs
  snippets/fsharp/System/Enum/Overview/fs.fsproj
  snippets/fsharp/System/Enum/Parse/EnumParse.fs
  snippets/fsharp/System/Enum/Parse/ParseExample1.fs
  snippets/fsharp/System/Enum/Parse/ParseExample2.fs
  snippets/fsharp/System/Enum/Parse/fs.fsproj
  snippets/fsharp/System/Enum/ToString/fs.fsproj
  snippets/fsharp/System/Enum/ToString/source.fs
  snippets/fsharp/System/Enum/ToString/tostr.fs
  snippets/fsharp/System/Enum/ToString/tostringbyvalue1.fs
  snippets/fsharp/System/Enum/TryParseTEnum/fs.fsproj
  snippets/fsharp/System/Enum/TryParseTEnum/tryparse1.fs
  snippets/fsharp/System/Enum/TryParseTEnum/tryparse2.fs
  xml/System/Enum.xml
Labels: area-System.Runtime

#7709 System.Environment F# snippets
  snippets/fsharp/System/Environment+SpecialFolder/Overview/fs.fsproj
  snippets/fsharp/System/Environment+SpecialFolder/Overview/getfolderpath.fs
  snippets/fsharp/System/Environment/CommandLine/commandline.fs
  snippets/fsharp/System/Environment/CommandLine/fs.fsproj
  snippets/fsharp/System/Environment/CurrentDirectory/Vars1.fs
  snippets/fsharp/System/Environment/CurrentDirectory/fs.fsproj
  snippets/fsharp/System/Environment/ExitCode/double.fs
  snippets/fsharp/System/Environment/ExitCode/double1.fs
  snippets/fsharp/System/Environment/ExitCode/fs.fsproj
  snippets/fsharp/System/Environment/ExpandEnvironmentVariables/expandenvironmentvariables.fs
  snippets/fsharp/System/Environment/ExpandEnvironmentVariables/fs.fsproj
  snippets/fsharp/System/Environment/FailFast/ff.fs
  snippets/fsharp/System/Environment/FailFast/fs.fsproj
  snippets/fsharp/System/Environment/GetCommandLineArgs/fs.fsproj
  snippets/fsharp/System/Environment/GetCommandLineArgs/getcommandlineargs.fs
  snippets/fsharp/System/Environment/GetEnvironmentVariable/fs.fsproj
  snippets/fsharp/System/Environment/GetEnvironmentVariable/getenvironmentvariableex1.fs
  snippets/fsharp/System/Environment/GetEnvironmentVariable/gsev.fs
  snippets/fsharp/System/Environment/GetEnvironmentVariables/fs.fsproj
  snippets/fsharp/System/Environment/GetEnvironmentVariables/getenvironmentvariables.fs
  snippets/fsharp/System/Environment/GetLogicalDrives/fs.fsproj
  snippets/fsharp/System/Environment/GetLogicalDrives/getlogicaldrives.fs
  snippets/fsharp/System/Environment/MachineName/fs.fsproj
  snippets/fsharp/System/Environment/MachineName/machinename.fs
  snippets/fsharp/System/Environment/NewLine/fs.fsproj
  snippets/fsharp/System/Environment/NewLine/newline.fs
  snippets/fsharp/System/Environment/Overview/env0.fs
  snippets/fsharp/System/Environment/Overview/fs.fsproj
  snippets/fsharp/System/Environment/ProcessorCount/fs.fsproj
  snippets/fsharp/System/Environment/ProcessorCount/pc.fs
  snippets/fsharp/System/Environment/StackTrace/fs.fsproj
  snippets/fsharp/System/Environment/StackTrace/stacktrace.fs
  snippets/fsharp/System/Environment/SystemDirectory/fs.fsproj
  snippets/fsharp/System/Environment/SystemDirectory/systemdirectory.fs
  snippets/fsharp/System/Environment/TickCount/fs.fsproj
  snippets/fsharp/System/Environment/TickCount/tickcount.fs
  snippets/fsharp/System/Environment/UserInteractive/fs.fsproj
  snippets/fsharp/System/Environment/UserInteractive/userinteractive.fs
  snippets/fsharp/System/Environment/UserName/fs.fsproj
  snippets/fsharp/System/Environment/UserName/username.fs
  snippets/fsharp/System/Environment/Version/fs.fsproj
  snippets/fsharp/System/Environment/Version/version.fs
  snippets/fsharp/System/Environment/WorkingSet/fs.fsproj
  snippets/fsharp/System/Environment/WorkingSet/workingset.fs
  xml/System/Environment+SpecialFolder.xml
  xml/System/Environment.xml
  xml/System/EnvironmentVariableTarget.xml
Labels: area-System.Runtime

#7725 System.Exception F# snippets
  snippets/fsharp/System/Exception/.ctor/fs.fsproj
  snippets/fsharp/System/Exception/.ctor/getobjdata.fs
  snippets/fsharp/System/Exception/.ctor/new.fs
  snippets/fsharp/System/Exception/.ctor/news.fs
  snippets/fsharp/System/Exception/.ctor/newsi.fs
  snippets/fsharp/System/Exception/Data/data.fs
  snippets/fsharp/System/Exception/Data/fs.fsproj
  snippets/fsharp/System/Exception/GetBaseException/fs.fsproj
  snippets/fsharp/System/Exception/GetBaseException/getbaseexc.fs
  snippets/fsharp/System/Exception/HResult/fs.fsproj
  snippets/fsharp/System/Exception/HResult/hresult.fs
  snippets/fsharp/System/Exception/HelpLink/fs.fsproj
  snippets/fsharp/System/Exception/HelpLink/properties.fs
  snippets/fsharp/System/Exception/InnerException/fs.fsproj
  snippets/fsharp/System/Exception/InnerException/innerex.fs
  snippets/fsharp/System/Exception/Overview/catchexception.fs
  snippets/fsharp/System/Exception/Overview/example.fs
  snippets/fsharp/System/Exception/Overview/fs.fsproj
  snippets/fsharp/System/Exception/Overview/notprimeexception.fs
  snippets/fsharp/System/Exception/Overview/primenumbergenerator.fs
  snippets/fsharp/System/Exception/Overview/rethrow1.fs
  snippets/fsharp/System/Exception/Overview/rethrow3.fs
  snippets/fsharp/System/Exception/Overview/usageerrors1.fs
  snippets/fsharp/System/Exception/Overview/usageerrors2.fs
  snippets/fsharp/System/Exception/ToString/ToStringEx1.fs
  snippets/fsharp/System/Exception/ToString/fs.fsproj
  xml/System/Exception.xml
Labels: area-Meta

#7730 System.HashCode F# snippets
  snippets/fsharp/System/HashCode/Overview/example1.fs
  snippets/fsharp/System/HashCode/Overview/example2.fs
  snippets/fsharp/System/HashCode/Overview/example3.fs
  snippets/fsharp/System/HashCode/Overview/example4.fs
  snippets/fsharp/System/HashCode/Overview/fs.fsproj
  xml/System/HashCode.xml
Labels: area-System.Runtime

#7728 System.FormattableString F# snippets
  snippets/fsharp/System/FormattableString/Format/Composite1.fs
  snippets/fsharp/System/FormattableString/Format/fs.fsproj
  xml/System/FormattableString.xml
Labels: area-System.Runtime

#7729 System.Guid F# snippets
  snippets/fsharp/System/Guid/.ctor/ctor1.fs
  snippets/fsharp/System/Guid/.ctor/ctor2.fs
  snippets/fsharp/System/Guid/.ctor/fs.fsproj
  snippets/fsharp/System/Guid/CompareTo/compareto1.fs
  snippets/fsharp/System/Guid/CompareTo/compareto2.fs
  snippets/fsharp/System/Guid/CompareTo/fs.fsproj
  snippets/fsharp/System/Guid/Empty/empty.fs
  snippets/fsharp/System/Guid/Empty/fs.fsproj
  snippets/fsharp/System/Guid/NewGuid/fs.fsproj
  snippets/fsharp/System/Guid/NewGuid/ng.fs
  snippets/fsharp/System/Guid/Overview/Guids.fs
  snippets/fsharp/System/Guid/Overview/fs.fsproj
  snippets/fsharp/System/Guid/Parse/fs.fsproj
  snippets/fsharp/System/Guid/Parse/parseex1.fs
  snippets/fsharp/System/Guid/Parse/parseexactex1.fs
  snippets/fsharp/System/Guid/Parse/tryparseex1.fs
  snippets/fsharp/System/Guid/Parse/tryparseexactex1.fs
  snippets/fsharp/System/Guid/ToByteArray/fs.fsproj
  snippets/fsharp/System/Guid/ToByteArray/tobytearray3.fs
  xml/System/Guid.xml
Labels: area-System.Runtime

#7747 Add missing project files - Microsoft.*
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeFileHandle/.ctor/Project.csproj
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeFileHandle/Overview/Project.csproj
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeWaitHandle/.ctor/Project.csproj
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeWaitHandle/Overview/Project.csproj
  snippets/csharp/Microsoft.Win32/Registry/ClassesRoot/Project.csproj
  snippets/csharp/Microsoft.Win32/Registry/CurrentConfig/Project.csproj
  snippets/csharp/Microsoft.Win32/Registry/CurrentUser/Project.csproj
  snippets/csharp/Microsoft.Win32/Registry/LocalMachine/Project.csproj
  snippets/csharp/Microsoft.Win32/Registry/Overview/Project.csproj
  snippets/csharp/Microsoft.Win32/Registry/PerformanceData/Project.csproj
  snippets/csharp/Microsoft.Win32/RegistryHive/Overview/Project.csproj
  snippets/csharp/Microsoft.Win32/RegistryKey/Overview/Project.csproj
  snippets/csharp/Microsoft.Win32/RegistryKey/SetAccessControl/Project.csproj
  snippets/csharp/Microsoft.Win32/RegistryKey/SetValue/Project.csproj
Labels: area-Infrastructure

#7750 Add F# examples for System.String.IsNullOrEmpty
  snippets/fsharp/System/String/IsNullOrEmpty/IsNullOrEmpty.fsproj
  snippets/fsharp/System/String/IsNullOrEmpty/NullString1.fs
  snippets/fsharp/System/String/IsNullOrEmpty/NullString2.fs
  snippets/fsharp/System/String/IsNullOrEmpty/inoe.fs
  snippets/fsharp/System/String/IsNullOrEmpty/isnullorempty1.fs
  xml/System/String.xml
Labels: area-System.Runtime

#7753 System.IComparable F# snippets
  snippets/fsharp/System/IComparable/Overview/fs.fsproj
  snippets/fsharp/System/IComparable/Overview/source.fs
  snippets/fsharp/System/IComparableT/Overview/fs.fsproj
  snippets/fsharp/System/IComparableT/Overview/source.fs
  xml/System/IComparable.xml
  xml/System/IComparable`1.xml
Labels: area-System.Runtime

#7678 Add example for BlobEncoder.MethodSignature
  snippets/csharp/System.Reflection.Metadata.Ecma335/BlobEncoder/MethodSignature/MethodSignatureSnippets.cs
  snippets/csharp/System.Reflection.Metadata.Ecma335/BlobEncoder/MethodSignature/MethodSignatureSnippets.csproj
  snippets/csharp/System.Reflection.Metadata.Ecma335/BlobEncoder/MethodSignature/Program.cs
  xml/System.Reflection.Metadata.Ecma335/BlobEncoder.xml
Labels: area-System.Reflection.Metadata

#7762 Update fabricbot to reflect area pod change
  .github/fabricbot.json
Labels: area-Meta

#7763 System.IConvertible F# snippet
  snippets/fsharp/System/IConvertible/Overview/fs.fsproj
  snippets/fsharp/System/IConvertible/Overview/iconvertible.fs
  xml/System/IConvertible.xml
Labels: area-System.Runtime

#7774 Path.GetFullPath has different behavior on macOS and Linux
  xml/System.IO/Path.xml
Labels: area-System.IO

#7765 System.ICustomFormatter F# snippets
  snippets/fsharp/System/ICustomFormatter/Overview/binaryformatter.fs
  snippets/fsharp/System/ICustomFormatter/Overview/fs.fsproj
  xml/System/ICustomFormatter.xml
Labels: area-System.Runtime

#7769 System.IFormattable F# snippets
  snippets/fsharp/System/IFormattable/Overview/example1.fs
  snippets/fsharp/System/IFormattable/Overview/fs.fsproj
  xml/System/IFormattable.xml
Labels: area-System.Runtime

#7773 System.InvalidOperationException F# snippets
  snippets/fsharp/System/InvalidOperationException/Overview/Enumerable1.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Enumerable2.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Enumerable3.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Enumerable4.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Enumerable5.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Enumerable6.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Iterating1.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Iterating2.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Iterating3.fs
  snippets/fsharp/System/InvalidOperationException/Overview/List_Sort1.fs
  snippets/fsharp/System/InvalidOperationException/Overview/List_Sort2.fs
  snippets/fsharp/System/InvalidOperationException/Overview/List_Sort3.fs
  snippets/fsharp/System/InvalidOperationException/Overview/List_Sort4.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Nullable1.fs
  snippets/fsharp/System/InvalidOperationException/Overview/Nullable2.fs
  snippets/fsharp/System/InvalidOperationException/Overview/fs.fsproj
  xml/System/InvalidOperationException.xml
Labels: area-Meta
