Repository dotnet/dotnet-api-docs, pull requests merged in 2022-05, with the labels that each got.

#8024 Update summary for MethodImplOptions.AggressiveOptimization
  xml/System.Runtime.CompilerServices/MethodImplOptions.xml
Labels: area-System.Runtime.CompilerServices

#8025 Regenerate fabricbot config to include several new automation tasks
  .github/fabricbot.json
  .repoman.yml
Labels: area-Infrastructure

#8008 Remove CAS attributes
  snippets/csharp/System.Windows.Forms.Design.Behavior/Adorner/Enabled/DesignerDemoControl.cs
  snippets/csharp/System.Windows.Forms.Design.Behavior/Adorner/Enabled/Project.csproj
  snippets/csharp/System.Windows.Forms.Design/EventsTab/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms.Design/EventsTab/Overview/class1.cs
  snippets/csharp/System.Windows.Forms.Design/IWindowsFormsEditorService/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms.Design/IWindowsFormsEditorService/Overview/winformsedserviceeditordialogexample.cs
  snippets/csharp/System.Windows.Forms.Design/IWindowsFormsEditorService/Overview/winformsedserviceeditordropdownexample.cs
  snippets/csharp/System.Windows.Forms/Application/AddMessageFilter/Project.csproj
  snippets/csharp/System.Windows.Forms/Application/AddMessageFilter/source.cs
  snippets/csharp/System.Windows.Forms/Application/SetUnhandledExceptionMode/Project.csproj
  snippets/csharp/System.Windows.Forms/Application/SetUnhandledExceptionMode/source.cs
  snippets/csharp/System.Windows.Forms/AxHost+AboutBoxDelegate/Overview/axmsmask.cs
  snippets/csharp/System.Windows.Forms/AxHost+AboutBoxDelegate/Overview/makefile
  snippets/csharp/System.Windows.Forms/CheckBox/CreateParams/Project.csproj
  snippets/csharp/System.Windows.Forms/CheckBox/CreateParams/createparams.cs
  snippets/csharp/System.Windows.Forms/CheckBox/ProcessMnemonic/Project.csproj
  snippets/csharp/System.Windows.Forms/CheckBox/ProcessMnemonic/form1.cs
  snippets/csharp/System.Windows.Forms/CheckedListBox+ObjectCollection/Add/Project.csproj
  snippets/csharp/System.Windows.Forms/CheckedListBox+ObjectCollection/Add/form1.cs
  snippets/csharp/System.Windows.Forms/CheckedListBox/WndProc/Project.csproj
  snippets/csharp/System.Windows.Forms/CheckedListBox/WndProc/form1.cs
  snippets/csharp/System.Windows.Forms/CommonDialog/HookProc/Project.csproj
  snippets/csharp/System.Windows.Forms/CommonDialog/HookProc/fontdialogoverride.cs
  snippets/csharp/System.Windows.Forms/DataGridColumnStyle/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms/DataGridColumnStyle/Overview/timecolumn.cs
  snippets/csharp/System.Windows.Forms/DataGridView/BeginEdit/Project.csproj
  snippets/csharp/System.Windows.Forms/DataGridView/BeginEdit/misc2.cs
  snippets/csharp/System.Windows.Forms/HtmlElementEventHandler/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms/HtmlElementEventHandler/Overview/form1.cs
  snippets/csharp/System.Windows.Forms/NativeWindow/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms/NativeWindow/Overview/form1.cs
  snippets/csharp/System.Windows.Forms/PropertyGrid/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms/PropertyGrid/Overview/source.cs
  snippets/csharp/System.Windows.Forms/ToolStripDropDown/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms/ToolStripDropDown/Overview/form1.cs
  snippets/csharp/System.Windows.Forms/ToolStripMenuItem/ShortcutKeys/Project.csproj
  snippets/csharp/System.Windows.Forms/ToolStripMenuItem/ShortcutKeys/form1.cs
  snippets/csharp/System.Windows.Forms/WebBrowser/.ctor/Project.csproj
  snippets/csharp/System.Windows.Forms/WebBrowser/.ctor/WebBrowserMisc.cs
  snippets/csharp/System.Windows.Forms/WebBrowser/AllowWebBrowserDrop/Project.csproj
  snippets/csharp/System.Windows.Forms/WebBrowser/AllowWebBrowserDrop/form1.cs
  snippets/csharp/System.Windows.Forms/WebBrowser/CreateSink/Project.csproj
  snippets/csharp/System.Windows.Forms/WebBrowser/CreateSink/WB2.cs
  xml/System.Windows.Forms/AxHost+AboutBoxDelegate.xml
  xml/System.Windows.Forms/AxHost+InvalidActiveXStateException.xml
  xml/System.Windows.Forms/AxHost.xml
  xml/System.Windows.Forms/ColorDialog.xml
  xml/System.Windows.Forms/CommonDialog.xml
Labels: area-WinForms

#8013 Remove CAS attributes - System.Windows
  snippets/csharp/System.Windows.Automation.Provider/IRangeValueProvider/IsReadOnly/CustomControl.cs
  snippets/csharp/System.Windows.Automation.Provider/ISelectionItemProvider/AddToSelection/CustomControl.cs
  snippets/csharp/System.Windows.Automation.Provider/IToggleProvider/Toggle/CustomControl.cs
  snippets/csharp/System.Windows.Automation.Provider/ITransformProvider/CanMove/CustomControl.cs
  snippets/csharp/System.Windows.Automation.Provider/IValueProvider/IsReadOnly/CustomControl.cs
  snippets/csharp/System.Windows.Automation/StructureChangedEventArgs/.ctor/CustomControl.cs
  snippets/csharp/System.Windows.Interop/D3DImage/Overview/window1.xaml.cs
  snippets/csharp/System.Windows.Media.Effects/BitmapEffect/CreateBitmapEffectOuter/RGBFilterBitmapEffect.cs
  snippets/csharp/System.Windows.Media.Effects/BitmapEffect/CreateBitmapEffectOuter/RGBFilterBitmapEffect.csproj
  snippets/csharp/System.Windows.Media.Imaging/BitmapCodecInfo/Overview/BitmapFrame.cs
  snippets/csharp/System.Windows.Media.Imaging/BitmapCodecInfo/Overview/BitmapFrame.csproj
  snippets/csharp/System.Windows.Media.Imaging/BitmapCodecInfo/Overview/app.config
  snippets/csharp/System.Windows.Threading/Dispatcher/DisableProcessing/Window1.xaml.cs
  snippets/csharp/System.Windows/FrameworkElement/AddLogicalChild/FireworkEffect.cs
  snippets/csharp/System.Windows/FrameworkElement/AddLogicalChild/MagnetismCanvas.cs
  snippets/csharp/System.Windows/FrameworkElement/AddLogicalChild/Project.csproj
  xml/System.Windows/DataFormats.xml
Labels: area-WPF

#8033 Update SynchronizedCollection`1.xml
  xml/System.Collections.Generic/SynchronizedCollection`1.xml
Labels: area-System.Collections

#8034 Update Unbox examples
  xml/System.Runtime.CompilerServices/Unsafe.xml
Labels: area-System.Runtime.CompilerServices

#8023 Improve RandomNumberGenerator documentation to prefer static APIs
  xml/System.Security.Cryptography/RandomNumberGenerator.xml
Labels: area-System.Security

#8042 Add snippet tags.
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7,TRest/Item1/item1.fs
Labels: area-System.Runtime

#8036 Fix CancellationTokenSource.CancelAfter(TimeSpan delay) ArgumentException documentation
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-System.Threading

#8035 Task.Delay correction of the maximum valid delay
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks

#8038 Fix escaping of the backslash character
  xml/System.Diagnostics/PerformanceCounter.xml
Labels: area-System.Diagnostics

#8047 Merge main into live
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7,TRest/Item1/item1.fs
  xml/System.Diagnostics/PerformanceCounter.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-Meta

#8046 System.UInt32 F# snippets
  snippets/fsharp/System/UInt16/TryParse/fs.fsproj
  snippets/fsharp/System/UInt16/TryParse/tryparse11.fs
  snippets/fsharp/System/UInt16/TryParse/tryparse21.fs
  snippets/fsharp/System/UInt32/CompareTo/fs.fsproj
  snippets/fsharp/System/UInt32/CompareTo/source.fs
  snippets/fsharp/System/UInt32/Equals/equalsoverl.fs
  snippets/fsharp/System/UInt32/Equals/fs.fsproj
  snippets/fsharp/System/UInt32/Equals/uint32_equals.fs
  snippets/fsharp/System/UInt32/MaxValue/MaxValue1.fs
  snippets/fsharp/System/UInt32/MaxValue/fs.fsproj
  snippets/fsharp/System/UInt32/Parse/fs.fsproj
  snippets/fsharp/System/UInt32/Parse/parse1.fs
  snippets/fsharp/System/UInt32/Parse/parseex2.fs
  snippets/fsharp/System/UInt32/Parse/parseex4.fs
  snippets/fsharp/System/UInt32/ToString/fs.fsproj
  snippets/fsharp/System/UInt32/ToString/tostring1.fs
  snippets/fsharp/System/UInt32/ToString/tostring2.fs
  snippets/fsharp/System/UInt32/ToString/tostring3.fs
  snippets/fsharp/System/UInt32/ToString/tostring4.fs
  xml/System/UInt32.xml
Labels: area-System.Runtime

#8053 System.UnauthorizedAccessException F# snippet
  snippets/fsharp/System/UnauthorizedAccessException/Overview/fs.fsproj
  snippets/fsharp/System/UnauthorizedAccessException/Overview/withio.fs
  xml/System/UnauthorizedAccessException.xml
Labels: area-System.Runtime

#8054 System.UnhandledExceptionEventArgs F# snippet ref
  xml/System/UnhandledExceptionEventArgs.xml
Labels: area-System.Runtime

#8043 itemsInBags will be different from 500
  snippets/csharp/System.Collections.Concurrent/ConcurrentBag/concbag.cs
Labels: area-System.Collections

#8044 Add some notes regarding timer resolution on Windows
  snippets/csharp/System.Timers/Timer/Interval/resolution1.cs
  snippets/visualbasic/VS_Snippets_CLR_System/system.timers.timer.interval/vb/resolution1.vb
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading/Timer.xml
  xml/System.Timers/Timer.xml
Labels: area-System.Threading

#8048 SetParent doesn't work after CreateActivity
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics

#8061 Update documentation on RuntimeMethodHandle.GetFunctionPointer
  xml/System/RuntimeMethodHandle.xml
Labels: area-System.Runtime

#8060 Bring back Task-related remark removals that got re-added in the last docs porting
  xml/System.Runtime.CompilerServices/TaskAwaiter.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter`1.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/Task`1.xml
Labels: area-System.Threading.Tasks

#8063 Merge main into live
  xml/System.Runtime.CompilerServices/TaskAwaiter.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter`1.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/Task`1.xml
  xml/System/RuntimeMethodHandle.xml
Labels: area-Meta

#8062 Add ArgumentNullException
  xml/System.Windows.Forms/ListView+CheckedIndexCollection.xml
Labels: area-WinForms

#8065 Fixed typo in definition
  xml/System/Span`1.xml
Labels: area-System.Runtime

#8067 Merge main into live
  xml/System.Windows.Forms/ListView+CheckedIndexCollection.xml
  xml/System/Span`1.xml
Labels: area-Meta

#7938 Update code to match comment
  xml/System.ServiceModel/BasicHttpBinding.xml
Labels: area-System.ServiceModel

#8076 System.Version F# snippets
  snippets/fsharp/System/Version/.ctor/fs.fsproj
  snippets/fsharp/System/Version/.ctor/rev.fs
  snippets/fsharp/System/Version/Overview/GettingVersions1.fs
  snippets/fsharp/System/Version/Overview/comparisons1.fs
  snippets/fsharp/System/Version/Overview/comparisons2.fs
  snippets/fsharp/System/Version/Overview/currentapp.fs
  snippets/fsharp/System/Version/Overview/currentassem.fs
  snippets/fsharp/System/Version/Overview/example1.fs
  snippets/fsharp/System/Version/Overview/fs.fsproj
  snippets/fsharp/System/Version/Overview/specificassem.fs
  snippets/fsharp/System/Version/Parse/fs.fsproj
  snippets/fsharp/System/Version/Parse/parse1.fs
  snippets/fsharp/System/Version/TryParse/fs.fsproj
  snippets/fsharp/System/Version/TryParse/tryparse1.fs
  xml/System/Version.xml
Labels: area-System.Runtime

#8072 Improve code sample
  snippets/csharp/System/Environment/ExpandEnvironmentVariables/expandenvironmentvariables.cs
Labels: area-System.Runtime

#7637 Add see also link
  xml/System.Windows.Controls.Primitives/TextBoxBase.xml
Labels: area-WPF

#8056 Fix error in the summary of the Unwrap(Task<Task>)
  xml/System.Threading.Tasks/TaskExtensions.xml
Labels: area-System.Threading.Tasks

#8084 Do not automatically mark Stephen Toub as the issue triager or PR champion
  .github/fabricbot.json
Labels: area-Meta

#3986 Updated HttpClient main topic to address user feedback from issues.
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net

#8096 Merge main into live
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http

#8095 Make note of newer methods
  xml/System.Threading/Mutex.xml
Labels: area-System.Threading

#8087 Fixed formatting of CancellationTokenSource.TryReset remarks
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-System.Threading

#8092 Add comment about Cookie behavior to HttpClientHandler.AllowAutoRedirect
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#8098 Add HttpClient instancing info
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net

#8102 Merge main into live
  xml/System.Net.Http/HttpClient.xml
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#8026 Update reflection invoke exceptions for .NET 7
  xml/System.Reflection.Emit/DynamicMethod.xml
  xml/System.Reflection/ConstructorInfo.xml
  xml/System.Reflection/MethodBase.xml
  xml/System.Reflection/PropertyInfo.xml
  xml/System/Activator.xml
Labels: area-System.Reflection

#8106 Merge main into live
  xml/System.Reflection.Emit/DynamicMethod.xml
  xml/System.Reflection/ConstructorInfo.xml
  xml/System.Reflection/MethodBase.xml
  xml/System.Reflection/PropertyInfo.xml
  xml/System/Activator.xml
Labels: area-Meta

#8111 Add note about deprecation of System.Json
  includes/system-json.md
  xml/System.Json/JsonArray.xml
  xml/System.Json/JsonObject.xml
  xml/System.Json/JsonPrimitive.xml
  xml/System.Json/JsonType.xml
  xml/System.Json/JsonValue.xml
  xml/ns-System.Json.xml
Labels: area-Infrastructure

#8097 Update Unsafe and MemoryMarshal docs
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
Labels: area-System.Runtime.CompilerServices

#8115 Merge main into live
  includes/system-json.md
  xml/System.Json/JsonArray.xml
  xml/System.Json/JsonObject.xml
  xml/System.Json/JsonPrimitive.xml
  xml/System.Json/JsonType.xml
  xml/System.Json/JsonValue.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
  xml/ns-System.Json.xml
Labels: area-Meta

#8112 Add missing text - System.Web
  xml/System.Web.ApplicationServices/ProfilePropertyMetadata.xml
  xml/System.Web.Caching/OutputCacheUtility.xml
  xml/System.Web.Caching/SqlCacheDependency.xml
  xml/System.Web.Compilation/BuildProvider.xml
  xml/System.Web.Configuration/AnonymousIdentificationSection.xml
  xml/System.Web.Configuration/FormsAuthenticationConfiguration.xml
  xml/System.Web.Configuration/OutputCacheProfile.xml
  xml/System.Web.Configuration/SystemWebCachingSectionGroup.xml
  xml/System.Web.Configuration/TicketCompatibilityMode.xml
  xml/System.Web.Configuration/TraceSection.xml
  xml/System.Web.Configuration/WebConfigurationManager.xml
  xml/System.Web.Handlers/TraceHandler.xml
  xml/System.Web.Hosting/HostSecurityPolicyResolver.xml
  xml/System.Web.Profile/ProfileManager.xml
  xml/System.Web.Profile/ProfileModule.xml
  xml/System.Web.Profile/SqlProfileProvider.xml
  xml/System.Web.Routing/RouteCollection.xml
  xml/System.Web.Security/AnonymousIdentificationEventHandler.xml
  xml/System.Web.Security/AuthorizationStoreRoleProvider.xml
  xml/System.Web.Security/DefaultAuthenticationEventArgs.xml
  xml/System.Web.Security/DefaultAuthenticationEventHandler.xml
  xml/System.Web.Security/DefaultAuthenticationModule.xml
  xml/System.Web.Security/RoleManagerEventArgs.xml
  xml/System.Web.Security/SqlRoleProvider.xml
  xml/System.Web.Security/WindowsTokenRoleProvider.xml
  xml/System.Web.Services.Description/SoapExtensionImporter.xml
  xml/System.Web.Services.Description/SoapExtensionReflector.xml
  xml/System.Web.UI.Design/DesignerAutoFormat.xml
  xml/System.Web.UI.MobileControls/DeviceSpecific.xml
  xml/System.Web.UI.MobileControls/MobileControl.xml
  xml/System.Web.UI.MobileControls/MobileControlsSection.xml
  xml/System.Web.UI.WebControls/AdRotator.xml
  xml/System.Web.UI.WebControls/Login.xml
  xml/System.Web.UI.WebControls/ObjectDataSourceView.xml
  xml/System.Web.UI.WebControls/Table.xml
  xml/System.Web.UI.WebControls/WebControl.xml
  xml/System.Web.UI/AsyncPostBackTrigger.xml
  xml/System.Web.UI/ClientScriptManager.xml
  xml/System.Web.UI/ControlCachePolicy.xml
  xml/System.Web.UI/HtmlTextWriter.xml
  xml/System.Web.UI/Page.xml
  xml/System.Web.UI/PartialCachingAttribute.xml
  xml/System.Web.UI/PostBackTrigger.xml
  xml/System.Web.UI/RoleServiceManager.xml
  xml/System.Web.UI/ScriptManager.xml
  xml/System.Web.UI/StaticPartialCachingControl.xml
  xml/System.Web.UI/UpdateProgress.xml
  xml/System.Web.UI/ViewStateEncryptionMode.xml
  xml/System.Web/HttpCacheVaryByContentEncodings.xml
  xml/System.Web/HttpRequestValidationException.xml
  xml/System.Web/SiteMapNodeCollection.xml
  xml/System.Web/TraceContext.xml
Labels: area-System.Web

#8113 Add missing text - System.Windows
  xml/System.Windows.Automation.Provider/IRawElementProviderHwndOverride.xml
  xml/System.Windows.Controls/DocumentViewer.xml
  xml/System.Windows.Controls/GroupStyle.xml
  xml/System.Windows.Controls/UserControl.xml
  xml/System.Windows.Controls/ValidationRule.xml
  xml/System.Windows.Data/BindingOperations.xml
  xml/System.Windows.Documents/EditingCommands.xml
  xml/System.Windows.Forms.VisualStyles/VisualStyleRenderer.xml
  xml/System.Windows.Forms/AccessibleObject.xml
  xml/System.Windows.Forms/ComboBox.xml
  xml/System.Windows.Forms/Control.xml
  xml/System.Windows.Forms/DragAction.xml
  xml/System.Windows.Forms/DragEventArgs.xml
  xml/System.Windows.Forms/DragEventHandler.xml
  xml/System.Windows.Forms/GiveFeedbackEventArgs.xml
  xml/System.Windows.Forms/GiveFeedbackEventHandler.xml
  xml/System.Windows.Forms/LinkLabel.xml
  xml/System.Windows.Forms/QueryContinueDragEventHandler.xml
  xml/System.Windows.Forms/RichTextBox.xml
  xml/System.Windows.Forms/SelectionRange.xml
  xml/System.Windows.Forms/TabControl.xml
  xml/System.Windows.Forms/TabPage.xml
  xml/System.Windows.Forms/TextBox.xml
  xml/System.Windows.Input/Mouse.xml
  xml/System.Windows.Media/GlyphRun.xml
  xml/System.Windows.Media/VisualBrush.xml
  xml/System.Windows/ContentElement.xml
  xml/System.Windows/DependencyProperty.xml
  xml/System.Windows/DependencyPropertyKey.xml
  xml/System.Windows/FrameworkContentElement.xml
  xml/System.Windows/FrameworkElement.xml
  xml/System.Windows/UIElement.xml
  xml/System.Windows/ValidateValueCallback.xml
  xml/System.Windows/VisualState.xml
  xml/System.Windows/VisualStateManager.xml
Labels: area-Meta

#8117 Improve IDisposable inheritance examples
  snippets/csharp/System/IDisposable/Overview/base1.cs
  snippets/csharp/System/IDisposable/Overview/derived1.cs
  snippets/fsharp/System/IDisposable/Overview/base1.fs
  snippets/fsharp/System/IDisposable/Overview/derived1.fs
  snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/IDisposableSnippets.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base1.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/calling2.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived1.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived2.vb
Labels: area-System.Runtime
