Repository dotnet/dotnet-api-docs, pull requests merged in 2022-06, with the labels that each got.

#8124 Merge main into live
  xml/System.Web.DynamicData/DynamicFilter.xml
  xml/System.Web.DynamicData/QueryableFilterRepeater.xml
Labels: area-Meta

#8110 Update Thread.Abort docs
  xml/System.Threading/Thread.xml
  xml/System.Threading/ThreadAbortException.xml
Labels: area-System.Threading

#8123 System.IO.BinaryReader F# snippets
  snippets/fsharp/System.IO/BinaryReader/BaseStream/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/BaseStream/rwdouble.fs
  snippets/fsharp/System.IO/BinaryReader/Overview/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/Overview/source.fs
  snippets/fsharp/System.IO/BinaryReader/Overview/source5.fs
  snippets/fsharp/System.IO/BinaryReader/Read/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/Read/rwreadbytes.fs
  snippets/fsharp/System.IO/BinaryReader/Read/rwreadchar.fs
  snippets/fsharp/System.IO/BinaryReader/Read/rwreadchars.fs
  snippets/fsharp/System.IO/BinaryReader/ReadByte/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadByte/rwbyte.fs
  snippets/fsharp/System.IO/BinaryReader/ReadBytes/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadBytes/rwbytes.fs
  snippets/fsharp/System.IO/BinaryReader/ReadChar/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadChar/rwchar.fs
  snippets/fsharp/System.IO/BinaryReader/ReadChars/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadChars/rwchars.fs
  xml/System.IO/BinaryReader.xml
Labels: area-System.IO

#8134 Merge main into live
  snippets/fsharp/System.IO/BinaryReader/BaseStream/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/BaseStream/rwdouble.fs
  snippets/fsharp/System.IO/BinaryReader/Overview/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/Overview/source.fs
  snippets/fsharp/System.IO/BinaryReader/Overview/source5.fs
  snippets/fsharp/System.IO/BinaryReader/Read/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/Read/rwreadbytes.fs
  snippets/fsharp/System.IO/BinaryReader/Read/rwreadchar.fs
  snippets/fsharp/System.IO/BinaryReader/Read/rwreadchars.fs
  snippets/fsharp/System.IO/BinaryReader/ReadByte/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadByte/rwbyte.fs
  snippets/fsharp/System.IO/BinaryReader/ReadBytes/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadBytes/rwbytes.fs
  snippets/fsharp/System.IO/BinaryReader/ReadChar/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadChar/rwchar.fs
  snippets/fsharp/System.IO/BinaryReader/ReadChars/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/ReadChars/rwchars.fs
  xml/System.IO/BinaryReader.xml
  xml/System.Numerics/BitOperations.xml
Labels: area-Meta

#8135 Update source.cs
  snippets/csharp/System.Net.Sockets/TcpListener/.ctor/source.cs
Labels: area-System.Net.Sockets

#8137 Update version-sweep.yml
  .github/workflows/version-sweep.yml
Labels: dotnet-target-version

#8139 Merge main into live
  .github/workflows/version-sweep.yml
  snippets/csharp/System.Net.Sockets/TcpListener/.ctor/source.cs
Labels: area-Meta

#7946 BlockingCollection<T>.Take method corrections, related to exceptions
  xml/System.Collections.Concurrent/BlockingCollection`1.xml
Labels: area-System.Collections

#8068 Remove Windows Forms code from sample
  snippets/csharp/System.Xml/XmlDocument/Overview/xmlhelpermethods.cs
Labels: area-System.Xml

#8100 Add remarks and example for InstructionEncoder
  snippets/csharp/System.Reflection.Metadata.Ecma335/InstructionEncoder/Overview/InstructionEncoderSnippets.cs
  snippets/csharp/System.Reflection.Metadata.Ecma335/InstructionEncoder/Overview/InstructionEncoderSnippets.csproj
  snippets/csharp/System.Reflection.Metadata.Ecma335/InstructionEncoder/Overview/Program.cs
  xml/System.Reflection.Metadata.Ecma335/InstructionEncoder.xml
Labels: area-System.Reflection.Metadata

#8109 add example for ConnectCallback
  snippets/csharp/System.Net.Http/SocketsHttpHandler/ConnectCallback/program.cs
  snippets/csharp/System.Net.Http/SocketsHttpHandler/ConnectCallback/system.net.http.httpclienthandler-secure.csproj
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#8148 Fix summary for ImmutableList<T>.Empty
  xml/System.Collections.Immutable/ImmutableList`1.xml
Labels: area-System.Collections

#8131 Fix transaction doc samples
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/CS/source.cs
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/VB/source.vb
Labels: area-System.Data.SqlClient

#8153 Fix typo in AssemblyVersionCompatibility.xml
  xml/System.Configuration.Assemblies/AssemblyVersionCompatibility.xml
Labels: area-System.Reflection

#8066 Fix broken links
  xml/System.Data.SqlClient/SqlConnection.xml
Labels: area-Meta

#8154 Merge main into live
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/CS/source.cs
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction2 Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlConnection.BeginTransaction3 Example/VB/source.vb
  xml/System.Collections.Immutable/ImmutableList`1.xml
  xml/System.Configuration.Assemblies/AssemblyVersionCompatibility.xml
  xml/System.Data.SqlClient/SqlConnection.xml
Labels: area-Meta

#8156 System.IO.BinaryWriter F# snippets
  snippets/fsharp/System.IO/BinaryReader/Overview/fs.fsproj
  snippets/fsharp/System.IO/BinaryReader/Overview/source3.fs
  xml/System.IO/BinaryWriter.xml
Labels: area-System.IO

#8157 System.IO.BufferedStream F# snippets
  snippets/fsharp/System.IO/BufferedStream/Overview/client.fs
  snippets/fsharp/System.IO/BufferedStream/Overview/fs.fsproj
  snippets/fsharp/System.IO/BufferedStream/Overview/server.fs
  xml/System.IO/BufferedStream.xml
Labels: area-System.IO

#8132 Fixing up the IntPtr/UIntPtr docs to clarify they are integer types
  xml/System/IntPtr.xml
  xml/System/UIntPtr.xml
Labels: area-System.Runtime

#8116 Update Regex.xml to clarify behavior of `startat` and `beginning`
  snippets/csharp/System.Text.RegularExpressions/MatchCollection/Overview/words.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/Match/Project.csproj
  snippets/csharp/System.Text.RegularExpressions/Regex/Match/match1.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/Match/match2.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/Match/startat.cs
  xml/System.Text.RegularExpressions/Regex.xml
Labels: area-System.Text.RegularExpressions

#8158 System.IO.Directory F# snippets
  snippets/fsharp/System.IO/Directory/CreateDirectory/dir_createdir.fs
  snippets/fsharp/System.IO/Directory/CreateDirectory/fs.fsproj
  snippets/fsharp/System.IO/Directory/Delete/class1.fs
  snippets/fsharp/System.IO/Directory/Delete/class2.fs
  snippets/fsharp/System.IO/Directory/Delete/fs.fsproj
  snippets/fsharp/System.IO/Directory/EnumerateDirectories/fs.fsproj
  snippets/fsharp/System.IO/Directory/EnumerateDirectories/program.fs
  snippets/fsharp/System.IO/Directory/EnumerateDirectories/program1.fs
  snippets/fsharp/System.IO/Directory/EnumerateDirectories/program2.fs
  snippets/fsharp/System.IO/Directory/EnumerateFiles/fs.fsproj
  snippets/fsharp/System.IO/Directory/EnumerateFiles/program.fs
  snippets/fsharp/System.IO/Directory/EnumerateFiles/program1.fs
  snippets/fsharp/System.IO/Directory/EnumerateFiles/program2.fs
  snippets/fsharp/System.IO/Directory/Exists/directorylisting.fs
  snippets/fsharp/System.IO/Directory/Exists/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetAccessControl/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetAccessControl/sample.fs
  snippets/fsharp/System.IO/Directory/GetCreationTime/dir_getcreation.fs
  snippets/fsharp/System.IO/Directory/GetCreationTime/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetCreationTimeUtc/example.fs
  snippets/fsharp/System.IO/Directory/GetCreationTimeUtc/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetCurrentDirectory/dir_getcurdir.fs
  snippets/fsharp/System.IO/Directory/GetCurrentDirectory/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetDirectories/dir_getdirs2.fs
  snippets/fsharp/System.IO/Directory/GetDirectories/dir_getdirs3.fs
  snippets/fsharp/System.IO/Directory/GetDirectories/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetDirectoryRoot/example.fs
  snippets/fsharp/System.IO/Directory/GetDirectoryRoot/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetFiles/dir_getfiles2.fs
  snippets/fsharp/System.IO/Directory/GetFiles/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetLastAccessTime/dir_getlastaccess.fs
  snippets/fsharp/System.IO/Directory/GetLastAccessTime/fs.fsproj
  snippets/fsharp/System.IO/Directory/GetLastWriteTime/dir_getlastwrite.fs
  snippets/fsharp/System.IO/Directory/GetLastWriteTime/fs.fsproj
  snippets/fsharp/System.IO/Directory/Overview/class1.fs
  snippets/fsharp/System.IO/Directory/Overview/class2.fs
  snippets/fsharp/System.IO/Directory/Overview/class3.fs
  snippets/fsharp/System.IO/Directory/Overview/class4.fs
  snippets/fsharp/System.IO/Directory/Overview/class5.fs
  snippets/fsharp/System.IO/Directory/Overview/class6.fs
  snippets/fsharp/System.IO/Directory/Overview/class7.fs
  snippets/fsharp/System.IO/Directory/Overview/fs.fsproj
  snippets/fsharp/System.IO/Directory/SetLastAccessTime/dir_setlastaccess.fs
  snippets/fsharp/System.IO/Directory/SetLastAccessTime/fs.fsproj
  snippets/fsharp/System.IO/Directory/SetLastWriteTime/dir_setlastwrite.fs
  snippets/fsharp/System.IO/Directory/SetLastWriteTime/fs.fsproj
  xml/System.IO/Directory.xml
Labels: area-System.IO

#8168 Merge main into live
  xml/System.IO/DirectoryInfo.xml
Labels: area-System.IO

#8169 Update ObjectiveCMarshal+UnhandledExceptionPropagationHandler.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal+UnhandledExceptionPropagationHandler.xml
Labels: area-System.Runtime.InteropServices

#8173 FullPath and OldFullPath properties
  xml/System.IO/FileSystemEventArgs.xml
  xml/System.IO/RenamedEventArgs.xml
Labels: area-System.IO

#8175 Merge main into live
  xml/System.IO/FileSystemEventArgs.xml
  xml/System.IO/RenamedEventArgs.xml
Labels: area-System.IO

#8176 Fix spurious code block
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal.xml
Labels: area-System.Runtime.InteropServices

#8178 Update description of InvalidProgramException
  xml/System/InvalidProgramException.xml
Labels: area-System.Runtime

#8182 Fix example of Unsafe.As<T>(Object)
  xml/System.Runtime.CompilerServices/Unsafe.xml
Labels: area-System.Runtime.CompilerServices

#8184 Update CollectionExtensions.xml
  xml/System.Collections.Generic/CollectionExtensions.xml
Labels: area-System.Collections

#8183 Fix typos in Avx2.xml
  xml/System.Runtime.Intrinsics.X86/Avx2.xml
Labels: area-System.Runtime.Intrinsics

#8151 Add remark indicating that calling Cancel() is the same as calling Cancel(false)
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-System.Threading
