Repository dotnet/dotnet-api-docs, pull requests merged in 2022-12, with the labels that each got.

#8663 Current node is returned if it is a root, not null
  xml/System.Text.Json.Nodes/JsonNode.xml
Labels: area-System.Text.Json, community-contribution

#8650 Add documentation for PEHeader
  snippets/csharp/System.Reflection.PortableExecutable/PEHeader/Overview/PEHeaderSnippets.cs
  snippets/csharp/System.Reflection.PortableExecutable/PEHeader/Overview/PEHeaderSnippets.csproj
  snippets/csharp/System.Reflection.PortableExecutable/PEHeader/Overview/Program.cs
  xml/System.Reflection.PortableExecutable/PEHeader.xml
  xml/System.Reflection.PortableExecutable/PEHeaders.xml
Labels: area-System.Reflection, community-contribution

#8674 Fix null vs empty string mentions in InterpolatedStringHandlerArgumentAttribute docs
  xml/System.Runtime.CompilerServices/InterpolatedStringHandlerArgumentAttribute.xml
Labels: area-System.Runtime.CompilerServices

#8676 Update TimeSpan.xml
  xml/System/TimeSpan.xml
Labels: area-System.Runtime, community-contribution

#8643 Clarify docs for Leading/TrailingZeroCount
  xml/System.Numerics/IBinaryInteger`1.xml
Labels: area-System.Numerics

#8608 Update Task.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks, community-contribution

#8609 Added a link in the "See Also" section
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks, community-contribution

#8561 Improve and fix Regex example 1
  snippets/csharp/System.Text.RegularExpressions/Regex/Overview/Program.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/Overview/Project.csproj
  snippets/csharp/System.Text.RegularExpressions/Regex/Overview/caching1.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/Overview/regex_example1.cs
  snippets/visualbasic/VS_Snippets_CLR_System/system.text.regularexpressions.regex.class/vb/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.text.regularexpressions.regex.class/vb/regex_example1.vb
  xml/System.Text.RegularExpressions/Regex.xml
Labels: area-System.Text.RegularExpressions, community-contribution

#8701 Fix incorrectly escaped code block
  xml/System/Type.xml
Labels: area-System.Runtime, community-contribution

#8703 Fix System.WeakReference doc
  snippets/csharp/System/WeakReference/Overview/program.cs
Labels: area-System.Runtime, community-contribution

#8628 Update Task.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks, community-contribution

#8709 Path.GetFullPath does not throw NotSupportedException for invalid paths since .NET Core 2.1.
  xml/System.IO/Path.xml
Labels: area-System.IO, community-contribution

#8711 Update Type.GetXYZ() members doc about deterministic order
  xml/System/Type.xml
Labels: area-System.Reflection

#8720 Pronoun agreement you/their => you/your
  xml/System.Collections.Generic/LinkedList`1.xml
Labels: area-System.Collections, community-contribution

#8611 Refer to the correct parameters
  xml/System.IO/Path.xml
Labels: area-System.IO, community-contribution

#8714 Fix errors in codeowners file
  .github/CODEOWNERS
Labels: area-Infrastructure

#8731 Fix assumed typo about Execution Time from 0(n) to O(n)
  includes/stringbuilder-perf-note.md
Labels: community-contribution

#8732 Clarify UnicodeCategory.DecimalDigitNumber description
  xml/System.Globalization/UnicodeCategory.xml
Labels: area-System.Globalization, community-contribution

#8737 Fix or remove broken links
  xml/System.Activities.DurableInstancing/SqlWorkflowInstanceStore.xml
  xml/System.Activities.Statements/ForEach`1.xml
  xml/System.Activities.Statements/If.xml
  xml/System.Activities.Statements/Parallel.xml
  xml/System.Activities.Statements/Switch`1.xml
  xml/System.Activities.Statements/TransactionScope.xml
  xml/System.Activities.Statements/TryCatch.xml
  xml/System.Activities.Statements/While.xml
  xml/System.Activities/Bookmark.xml
  xml/System.Activities/NativeActivity`1.xml
  xml/System.Activities/WorkflowApplication.xml
  xml/System.Activities/WorkflowInvoker.xml
  xml/System.AddIn.Pipeline/QualificationDataAttribute.xml
  xml/System.Globalization/CompareOptions.xml
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/CultureTypes.xml
  xml/System.Globalization/SortVersion.xml
  xml/System.ServiceModel.Activities/CorrelationHandle.xml
  xml/System.Web.ClientServices.Providers/ClientFormsAuthenticationMembershipProvider.xml
  xml/System.Web.ClientServices.Providers/ClientRoleProvider.xml
  xml/System.Web.ClientServices.Providers/ClientSettingsProvider.xml
  xml/System.Web.ClientServices.Providers/ClientWindowsAuthenticationMembershipProvider.xml
  xml/System.Web.ClientServices.Providers/IClientFormsAuthenticationCredentialsProvider.xml
  xml/System.Web.ClientServices/ClientFormsIdentity.xml
  xml/System.Web.ClientServices/ClientRolePrincipal.xml
  xml/System/String.xml
  xml/System/StringComparer.xml
  xml/System/TimeZoneInfo.xml
Labels: area-Meta
