Repository dotnet/dotnet-api-docs, pull requests merged in 2022-07, with the labels that each got.

#8172 Clarify the purpose of ValueTask.Preserve
  xml/System.Threading.Tasks/ValueTask.xml
  xml/System.Threading.Tasks/ValueTask`1.xml
Labels: area-System.Threading.Tasks

#8190 Merge main into live
  xml/System.Collections.Generic/CollectionExtensions.xml
  xml/System.Runtime.Intrinsics.X86/Avx2.xml
  xml/System.Threading.Tasks/ValueTask.xml
  xml/System.Threading.Tasks/ValueTask`1.xml
  xml/System.Threading/CancellationTokenSource.xml
  xml/System.Windows.Forms/Control.xml
Labels: area-Meta

#8187 Update docs for APIs with scoped keyword
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Runtime.InteropServices/MemoryMarshal.xml
Labels: area-System.Runtime.InteropServices

#8193 Upgrade netcoreapp2.2 projects
  snippets/csharp/System.Collections.Generic/EqualityComparerT/Default/cs.csproj
  snippets/csharp/System.Globalization/JapaneseCalendar.ToDateTime/todatetime.csproj
  snippets/csharp/System.IO/Path/DirectorySeparatorChar/directoryseparatorchar.csproj
  snippets/csharp/System.IO/Path/GetFullPath/getfullpath.csproj
  snippets/csharp/System.IO/Path/IsPathRooted/ispathrooted.csproj
  snippets/csharp/System.IO/Path/TryJoin/tryjoin.csproj
  snippets/csharp/System.Linq/Enumerable/AggregateTSource/Enumerable.csproj
  snippets/csharp/System.Reflection.Emit/FieldBuilder/Overview/FieldBuilder.csproj
  snippets/csharp/System.Reflection/EventInfo/AddEventHandler/cs.csproj
  snippets/csharp/System.Xml.Linq/XNode/ReadFrom/readfrom.csproj
  snippets/csharp/System/Span.Enumerator/synchronization.csproj
  snippets/csharp/System/Span/Overview/program.csproj
  snippets/csharp/System/String/Copy/copy.csproj
  snippets/fsharp/VS_Snippets_CLR_Classic/classic Console Example/FS/source.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.console.class.unsafe/fs/setfont1.fsproj
  snippets/visualbasic/System.DateTime/SystemDateTimeReference.vbproj
  snippets/visualbasic/VS_Snippets_CLR/AddEventHandler/vb/vb.vbproj
  snippets/visualbasic/VS_Snippets_CLR/FieldBuilder_Class_Name/FieldBuilder.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Linq.Enumerable/VB/Enumerable.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.collections.generic.equalitycomparer.default/vb/vb.vbproj
  snippets/visualbasic/api/system.globalization/japanesecalendar/todatetime/todatetime.vbproj
  snippets/visualbasic/api/system.io/path/IsPathRooted/ispathrooted.vb.vbproj
  snippets/visualbasic/api/system.io/path/combine/misc.vb.vbproj
  snippets/visualbasic/api/system.io/path/combine2/combine2.vbproj
  snippets/visualbasic/api/system.io/path/combine3/combine3.vbproj
  snippets/visualbasic/api/system.io/path/directoryseparatorchar/directoryseparatorchar.vbproj
  snippets/visualbasic/api/system.io/path/getfullpath/getfullpath.vbproj
  snippets/visualbasic/api/system.xml.linq/xnode/readfrom/readfrom.vbproj
  snippets/visualbasic/api/system/string/copy/copy.vbproj
Labels: area-Meta

#8197 System.IO.DirectoryInfo F# snippets
  snippets/fsharp/System.IO/DirectoryInfo/.ctor/dirinfo ctor.fs
  snippets/fsharp/System.IO/DirectoryInfo/.ctor/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/Create/dirinfo create.fs
  snippets/fsharp/System.IO/DirectoryInfo/Create/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/CreateSubdirectory/directoryinfocreatesub.fs
  snippets/fsharp/System.IO/DirectoryInfo/CreateSubdirectory/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/Delete/directoryinfodelete.fs
  snippets/fsharp/System.IO/DirectoryInfo/Delete/dirinfo delete1.fs
  snippets/fsharp/System.IO/DirectoryInfo/Delete/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/EnumerateDirectories/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/EnumerateDirectories/program.fs
  snippets/fsharp/System.IO/DirectoryInfo/EnumerateDirectories/program1.fs
  snippets/fsharp/System.IO/DirectoryInfo/EnumerateFiles/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/EnumerateFiles/program.fs
  snippets/fsharp/System.IO/DirectoryInfo/EnumerateFiles/program2.fs
  snippets/fsharp/System.IO/DirectoryInfo/Exists/copydirectory.fs
  snippets/fsharp/System.IO/DirectoryInfo/Exists/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/GetDirectories/directoryinfogetdirectories.fs
  snippets/fsharp/System.IO/DirectoryInfo/GetDirectories/dirinfo getdirs2.fs
  snippets/fsharp/System.IO/DirectoryInfo/GetDirectories/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/GetDirectories/searchoption.fs
  snippets/fsharp/System.IO/DirectoryInfo/GetFileSystemInfos/dirinfo getfilesysinfos2.fs
  snippets/fsharp/System.IO/DirectoryInfo/GetFileSystemInfos/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/GetFileSystemInfos/fsizesort.fs
  snippets/fsharp/System.IO/DirectoryInfo/GetFiles/directoryinfogetfiles2.fs
  snippets/fsharp/System.IO/DirectoryInfo/GetFiles/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/MoveTo/directoryinfomoveto.fs
  snippets/fsharp/System.IO/DirectoryInfo/MoveTo/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/Name/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/Name/source.fs
  snippets/fsharp/System.IO/DirectoryInfo/Overview/copydir.fs
  snippets/fsharp/System.IO/DirectoryInfo/Overview/dirinfo class example.fs
  snippets/fsharp/System.IO/DirectoryInfo/Overview/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/Parent/directoryinfoparent.fs
  snippets/fsharp/System.IO/DirectoryInfo/Parent/fs.fsproj
  snippets/fsharp/System.IO/DirectoryInfo/Root/directoryinforoot2.fs
  snippets/fsharp/System.IO/DirectoryInfo/Root/fs.fsproj
  xml/System.IO/DirectoryInfo.xml
Labels: area-System.IO

#8191 Upgrade projects to .NET 6
  snippets/csharp/System.Net.Http/HttpClientHandler/Overview/system.net.http.httpclienthandler.csproj
  snippets/csharp/System.Net.Http/HttpClientHandler/ServerCertificateCustomValidationCallback/system.net.http.httpclienthandler-secure.csproj
  snippets/csharp/System.Net.NetworkInformation/PhysicalAddress/Overview/NCLPhysicalAddress.csproj
  snippets/csharp/System.Reflection.Emit/AssemblyBuilder/Overview/AssemblyBuilderClass.csproj
  snippets/csharp/System/GC/SuppressFinalize/system.gc.suppressfinalize.csproj
  snippets/csharp/System/IDisposable/Overview/Dispose.csproj
  snippets/csharp/System/ReadOnlySpanT/GetPinnableReference/cs.csproj
  snippets/csharp/System/String/Split/String.Split.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlDataReader.Read Example/CS/SqlDataReader.Read.csproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Action/fs/Action.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Action_PrintExample/fs/action.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Action~1/fs/Action1.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Action~2/fs/Action2.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Action~3/fs/Action3.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Random.Ctor/FS/RandomCtor.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Random.Next/FS/RandomNext.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Random.Sample/FS/sample.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.Random/fs/Random.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.aggregateexception.class/fs/exception1.fsproj
  snippets/fsharp/VS_Snippets_CLR_System/system.random.nextdouble/fs/nextdouble1.fsproj
  snippets/fsharp/VS_Snippets_Misc/tpl_exceptions/fs/tpl_exceptions.fsproj
  snippets/visualbasic/VS_Snippets_CLR/AssemblyBuilderClass/vb/AssemblyBuilderClass.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.math.round.overload/vb/Rounding.vbproj
Labels: area-Meta

#8203 Merge main into live
  xml/System.Text.Json/JsonDocument.xml
Labels: area-System.Text.Json

#8201 Fix potential IndexOutOfRangeException
  snippets/csharp/System.Collections.Generic/ICollectionT/Overview/program.cs
Labels: area-System.Collections

#8205 Merge main into live
  snippets/csharp/System.Collections.Generic/ICollectionT/Overview/program.cs
Labels: area-System.Collections

#8103 Fix typo in TaskContinuationOptions.xml
  xml/System.Threading.Tasks/TaskContinuationOptions.xml
Labels: area-System.Threading.Tasks

#8171 Fixed documentation for period parameter
  xml/System.Threading/PeriodicTimer.xml
Labels: area-System.Threading

#8213 Merge main into live
  xml/System.Threading/PeriodicTimer.xml
Labels: area-System.Threading

#8208 Update Pen.xml
  xml/System.Drawing/Pen.xml
Labels: area-System.Drawing

#8217 Merge main into live
  xml/System.Drawing/Pen.xml
Labels: area-Meta

#8216 Remove interactive from F# snippet references
  xml/System/ArgumentOutOfRangeException.xml
  xml/System/String.xml
Labels: area-System.Runtime

#8210 Update Pen.xml
  xml/System.Drawing/Pen.xml
Labels: area-System.Drawing

#8222 Merge main into live
  xml/System.Drawing/Pen.xml
  xml/System.Numerics/BigInteger.xml
  xml/System/ArgumentOutOfRangeException.xml
  xml/System/String.xml
Labels: area-Meta

#8224 Add remark discouraging HttpRequestMessage reuse
  xml/System.Net.Http/HttpRequestMessage.xml
Labels: area-System.Net.Http

#8226 Fix DateTime ISO 8601 example
  snippets/csharp/System.DateTime/StringFormat.cs
  snippets/fsharp/System.DateTime/StringFormat.fs
  snippets/visualbasic/System.DateTime/StringFormat.vb
Labels: area-System.Runtime

#8229 Add missing doc to the Metrics APIs and TimeOnly type.
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/ObservableUpDownCounter`1.xml
  xml/System/TimeOnly.xml
Labels: area-System.Diagnostics

#8232 Merge main into live
  snippets/csharp/System.DateTime/StringFormat.cs
  snippets/csharp/System/DateTime/Kind/ks.cs
  snippets/fsharp/System.DateTime/StringFormat.fs
  snippets/visualbasic/System.DateTime/StringFormat.vb
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/ObservableUpDownCounter`1.xml
  xml/System.Net.Http/HttpRequestMessage.xml
  xml/System/TimeOnly.xml
Labels: area-Meta

#8230 Add missing 7.0 docs for isolated APIs in various namespaces
  xml/Microsoft.Extensions.Configuration/ConfigurationDebugViewContext.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationManager.xml
  xml/System.ComponentModel.Design.Serialization/MemberRelationship.xml
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization/JsonPolymorphicAttribute.xml
  xml/System.Text.RegularExpressions/RegexRunner.xml
  xml/System.Threading/PeriodicTimer.xml
  xml/System.Timers/Timer.xml
  xml/ns-System.Formats.Tar.xml
Labels: area-Meta

#8233 Fix typo in ReadOnlyMemory`1.xml
  xml/System/ReadOnlyMemory`1.xml
Labels: area-System.Runtime

#8234 Add docs for SetsRequiredMembersAttribute ctor
  xml/System.Diagnostics.CodeAnalysis/SetsRequiredMembersAttribute.xml
Labels: area-System.Runtime.CompilerServices

#8239 add missing System.Diagnostics.Process.WaitForExit(System.TimeSpan) docs
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process

#8240 add missing .NET 7 System.IO docs
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Pipes/NamedPipeClientStream.xml
  xml/System.IO/FileSystemWatcher.xml
Labels: area-System.IO

#8242 Port documentation for .NET 7.0 Preview6
  xml/Microsoft.Extensions.Hosting/HostAbortedException.xml
  xml/Microsoft.Extensions.Hosting/SystemdHostBuilderExtensions.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerOptions.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerQueueFullMode.xml
  xml/System.ComponentModel/DateOnlyConverter.xml
  xml/System.ComponentModel/HalfConverter.xml
  xml/System.ComponentModel/Int128Converter.xml
  xml/System.ComponentModel/TimeOnlyConverter.xml
  xml/System.ComponentModel/UInt128Converter.xml
  xml/System.Data.Common/DbDataSource.xml
  xml/System.Formats.Tar/GnuTarEntry.xml
  xml/System.Formats.Tar/PaxGlobalExtendedAttributesTarEntry.xml
  xml/System.Formats.Tar/PaxTarEntry.xml
  xml/System.Formats.Tar/TarEntry.xml
  xml/System.Formats.Tar/TarEntryFormat.xml
  xml/System.Formats.Tar/TarWriter.xml
  xml/System.Formats.Tar/UstarTarEntry.xml
  xml/System.Formats.Tar/V7TarEntry.xml
  xml/System.IO.Compression/ZipArchiveEntry.xml
  xml/System.IO/Directory.xml
  xml/System.IO/File.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/FileSystemInfo.xml
  xml/System.IO/UnixFileMode.xml
  xml/System.Net.Security/NegotiateAuthentication.xml
  xml/System.Net.Security/NegotiateAuthenticationClientOptions.xml
  xml/System.Net.Security/NegotiateAuthenticationServerOptions.xml
  xml/System.Net.Security/NegotiateAuthenticationStatusCode.xml
  xml/System.Numerics/IRootFunctions`1.xml
  xml/System.Numerics/ITrigonometricFunctions`1.xml
  xml/System.Runtime.CompilerServices/MetadataUpdateOriginalTypeAttribute.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Runtime.InteropServices/NativeMemory.xml
  xml/System.Security.Cryptography/PemEncoding.xml
  xml/System.Text.Json.Serialization.Metadata/DefaultJsonTypeInfoResolver.xml
  xml/System.Text.Json.Serialization.Metadata/IJsonTypeInfoResolver.xml
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfoKind.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfoResolver.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo`1.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/GC.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/ObjectDisposedException.xml
  xml/System/Single.xml
  xml/System/UInt128.xml
Labels: area-Meta

#8243 Remove broken links
  includes/untrusted-data-class-note.md
  includes/untrusted-data-instance-note.md
  includes/untrusted-data-interface-note.md
  includes/untrusted-data-method-note.md
  xml/System.Runtime.Remoting.Channels/BinaryClientFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/BinaryClientFormatterSinkProvider.xml
  xml/System.Runtime.Remoting.Channels/BinaryServerFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/BinaryServerFormatterSinkProvider.xml
  xml/System.Runtime.Remoting.Channels/SoapClientFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/SoapClientFormatterSinkProvider.xml
  xml/System.Runtime.Remoting.Channels/SoapServerFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/SoapServerFormatterSinkProvider.xml
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
  xml/System.Web.Script.Serialization/JavaScriptSerializer.xml
Labels: area-Meta

#8194 Upgrade more .NET Framework projects
  snippets/csharp/System.IdentityModel.Tokens/SecurityToken/Overview/simplewebtoken.csproj
  snippets/csharp/System.IdentityModel.Tokens/SecurityTokenHandler/CanReadToken/simplewebtoken.csproj
  snippets/csharp/System.Reflection.Context/CustomReflectionContext/Overview/app.config
  snippets/csharp/System.Reflection.Context/CustomReflectionContext/Overview/consoleapplication1.csproj
  snippets/csharp/System.Security.Claims/AuthorizationContext/Overview/claimsauthorizationlibrary.csproj
  snippets/csharp/System.Security.Claims/ClaimsAuthenticationManager/Overview/myclaimsauthenticationmanager.csproj
  snippets/csharp/System.Timers/Timer/SynchronizingObject/SynchronizingObjectCS1.csproj
  snippets/csharp/System.Timers/Timer/SynchronizingObject/app.config
  snippets/csharp/System/String/.ctor/app.config
  snippets/csharp/System/String/.ctor/chptrctor_null.csproj
  snippets/csharp/System/Type/Attributes/system.type.attributes.csproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf/vb/Application.Designer.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf/vb/WFCrossThreadVB.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf/vb/app.config
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf/vb/snippets.5000.json
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf2/vb/WFCrossThreadSolutionVB.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf2/vb/app.config
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wf2/vb/snippets.5000.json
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wpf1/vb/WPFCrossThreadVB.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wpf1/vb/app.config
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wpf1/vb/snippets.5000.json
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wpf2/vb/WPFCrossThreadDispatcherVB.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wpf2/vb/app.config
  snippets/visualbasic/VS_Snippets_CLR_System/system.Invalidoperationexception.threading.wpf2/vb/snippets.5000.json
  snippets/visualbasic/VS_Snippets_Misc/tpl_synccontext/vb/App.config
  snippets/visualbasic/VS_Snippets_Misc/tpl_synccontext/vb/WPF_VB1.vbproj
  snippets/visualbasic/VS_Snippets_Misc/tpl_synccontext/vb/snippets.5000.json
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/app.config
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/form1.designer.vb
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/form1.vb
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/my project/assemblyinfo.vb
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/my project/resources.designer.vb
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/my project/settings.designer.vb
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/packages.config
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/program.vb
  snippets/visualbasic/VS_Snippets_Misc/tpldataflow_writerreaderswinforms/vb/writerreaderswinforms/writerreaderswinforms.vbproj
  xml/System.Threading.Tasks/ConcurrentExclusiveSchedulerPair.xml
Labels: area-Infrastructure

#7513 Stream.Length does not always throw for non-seekable streams
  xml/System.IO/Stream.xml
Labels: area-System.IO

#8248 Fixed a typo
  xml/Microsoft.Extensions.Diagnostics.HealthChecks/HealthStatus.xml
Labels: area-extensions-DiagnosticAdapter

#8249 Document AllocateUninitializedArray security and performance traps
  xml/System/GC.xml
Labels: area-System.Runtime

#8241 Clarify SocketsHttpHandler.PooledConnectionLifetime wording
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#8253 Merge main into live
  xml/Microsoft.Extensions.Diagnostics.HealthChecks/HealthStatus.xml
  xml/System.Diagnostics/Debug+AssertInterpolatedStringHandler.xml
  xml/System.Diagnostics/Debug+WriteIfInterpolatedStringHandler.xml
  xml/System.IO.Compression/CompressionLevel.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/INumber`1.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/GC.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/SByte.xml
  xml/System/Single.xml
Labels: area-Meta

#7735 Add documentation for DependencyContext
  snippets/csharp/Microsoft.Extensions.DependencyModel/DependencyContext/Overview/DependencyContextSnippets.cs
  snippets/csharp/Microsoft.Extensions.DependencyModel/DependencyContext/Overview/DependencyContextSnippets.csproj
  snippets/csharp/Microsoft.Extensions.DependencyModel/DependencyContext/Overview/Program.cs
  xml/Microsoft.Extensions.DependencyModel/DependencyContext.xml
Labels: area-Extensions-DependencyInjection

#8261 Clarify the semantics when T is a valuetype.
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#8263 Merge main into live
  snippets/csharp/Microsoft.Extensions.DependencyModel/DependencyContext/Overview/DependencyContextSnippets.cs
  snippets/csharp/Microsoft.Extensions.DependencyModel/DependencyContext/Overview/DependencyContextSnippets.csproj
  snippets/csharp/Microsoft.Extensions.DependencyModel/DependencyContext/Overview/Program.cs
  xml/Microsoft.Extensions.DependencyModel/DependencyContext.xml
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-Meta

#8259 Mention that HttpClient's proxy should not be modified after first use.
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http

#8264 Merge main into live
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http

#8227 Clean up [SymmetricAlgorithm].Create samples
  snippets/cpp/VS_Snippets_CLR/Cryptography.DES.Create.File/CPP/fileexample.cpp
  snippets/cpp/VS_Snippets_CLR/Cryptography.DES.Create.Memory/CPP/memoryexample.cpp
  snippets/csharp/System.Security.Cryptography/DES/Create/fileexample.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/fileexample1.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/memoryexample.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/memoryexample1.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.File/VB/fileexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.File/VB/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.Memory/VB/memoryexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.Memory/project.csproj
  xml/System.Security.Cryptography/DES.xml
Labels: area-System.Security

#7996 Add note about open angle brackets and nulls in string parameters
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-System.Diagnostics.Tracing

#8266 Merge main into live
  snippets/cpp/VS_Snippets_CLR/Cryptography.DES.Create.File/CPP/fileexample.cpp
  snippets/cpp/VS_Snippets_CLR/Cryptography.DES.Create.Memory/CPP/memoryexample.cpp
  snippets/csharp/System.Security.Cryptography/DES/Create/fileexample.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/fileexample1.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/memoryexample.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/memoryexample1.cs
  snippets/csharp/System.Security.Cryptography/DES/Create/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.File/VB/fileexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.File/VB/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.Memory/VB/memoryexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.DES.Create.Memory/project.csproj
  xml/System.Diagnostics.Tracing/EventSource.xml
  xml/System.Security.Cryptography/DES.xml
Labels: area-Meta
