Repository dotnet/dotnet-api-docs, pull requests merged in 2022-03, with the labels that each got.

#7768 System.IFormatProvider F# snippets
  snippets/fsharp/System/IFormatProvider/Overview/Provider.fs
  snippets/fsharp/System/IFormatProvider/Overview/fs.fsproj
  snippets/fsharp/System/IFormatProvider/Overview/provider2.fs
  xml/System/IFormatProvider.xml
Labels: area-System.Runtime

#7780 Fix comments.
  snippets/csharp/System.Security.Cryptography/FromBase64Transform/Overview/class1.cs
Labels: area-System.Security

#7781 Update OperatingSystem.IsIOS() docs to mention MacCatalyst
  xml/System/OperatingSystem.xml
Labels: area-System.Runtime

#7782 Remove erroneous ArgumentNullException mention from AsSpan
  xml/System/MemoryExtensions.xml
Labels: area-System.Runtime

#7784 Merge main into live
  snippets/csharp/System.Security.Cryptography/FromBase64Transform/Overview/class1.cs
  snippets/fsharp/System/AppDomain/CreateInstanceAndUnwrap/fs.fsproj
  snippets/fsharp/System/AppDomain/CreateInstanceAndUnwrap/source.fs
  snippets/fsharp/System/IFormatProvider/Overview/Provider.fs
  snippets/fsharp/System/IFormatProvider/Overview/fs.fsproj
  snippets/fsharp/System/IFormatProvider/Overview/provider2.fs
  snippets/fsharp/System/MarshalByRefObject/InitializeLifetimeService/fs.fsproj
  snippets/fsharp/System/MarshalByRefObject/InitializeLifetimeService/source.fs
  snippets/fsharp/System/MarshalByRefObject/Overview/fs.fsproj
  snippets/fsharp/System/MarshalByRefObject/Overview/source.fs
  xml/System/IFormatProvider.xml
  xml/System/MarshalByRefObject.xml
  xml/System/MemoryExtensions.xml
  xml/System/OperatingSystem.xml
Labels: area-Meta

#7758 Fix a doc copy-pasto(?)
  xml/System.ServiceModel/ICommunicationObject.xml
Labels: area-System.ServiceModel

#7793 System.MissingFieldException F# snippet
  snippets/fsharp/System/MissingFieldException/Overview/MissingMethodException.fs
  snippets/fsharp/System/MissingFieldException/Overview/fs.fsproj
  xml/System/MissingFieldException.xml
  xml/System/MissingMemberException.xml
  xml/System/MissingMethodException.xml
Labels: area-System.Runtime

#7794 System.MulticastDelegate F# snippet
  snippets/fsharp/System/MulticastDelegate/Overview/delegatestring.fs
  snippets/fsharp/System/MulticastDelegate/Overview/fs.fsproj
  xml/System/MulticastDelegate.xml
Labels: area-System.Runtime

#7795 System.Nullable F# snippets
  snippets/fsharp/System/Nullable/GetUnderlyingType/fs.fsproj
  snippets/fsharp/System/Nullable/GetUnderlyingType/gut.fs
  snippets/fsharp/System/NullableT/Equals/eq.fs
  snippets/fsharp/System/NullableT/Equals/fs.fsproj
  snippets/fsharp/System/NullableT/GetValueOrDefault/fs.fsproj
  snippets/fsharp/System/NullableT/GetValueOrDefault/gvod.fs
  snippets/fsharp/System/NullableT/HasValue/fs.fsproj
  snippets/fsharp/System/NullableT/HasValue/hasvalue2.fs
  snippets/fsharp/System/NullableT/Overview/fs.fsproj
  snippets/fsharp/System/NullableT/Overview/tarow.fs
  snippets/fsharp/System/NullableT/ToString/fs.fsproj
  snippets/fsharp/System/NullableT/ToString/ts.fs
  snippets/fsharp/System/NullableT/op_Explicit/explicit1.fs
  snippets/fsharp/System/NullableT/op_Explicit/fs.fsproj
  xml/System/Nullable.xml
  xml/System/Nullable`1.xml
Labels: area-System.Runtime

#7796 System.NonSerializedAttribute F# snippet
  snippets/fsharp/System/NonSerializedAttribute/Overview/fs.fsproj
  snippets/fsharp/System/NonSerializedAttribute/Overview/s.fs
  xml/System/NonSerializedAttribute.xml
Labels: area-System.Runtime

#7797 System.NotImplementedException F# snippet
  snippets/fsharp/System/NotImplementedException/Overview/fs.fsproj
  snippets/fsharp/System/NotImplementedException/Overview/program.fs
  xml/System/NotImplementedException.xml
Labels: area-System.Runtime

#7294 EnableBroadcast property description is incorrect - controls only sending broadcast packets
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.Sockets/UdpClient.xml
Labels: area-System.Net.Sockets

#7755 Replace obsolete link in System.Uri
  xml/System/Uri.xml
Labels: area-System.Runtime

#7808 Merge main into live
  xml/System.Net.Security/AuthenticatedStream.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.Sockets/UdpClient.xml
  xml/System/Uri.xml
Labels: area-Meta

#7816 System.ObsoleteAttribute F# snippets
  snippets/fsharp/System/ObsoleteAttribute/IsError/fs.fsproj
  snippets/fsharp/System/ObsoleteAttribute/IsError/obsoleteattribute_message.fs
  snippets/fsharp/System/ObsoleteAttribute/Overview/fs.fsproj
  snippets/fsharp/System/ObsoleteAttribute/Overview/obsoleteattributeex1.fs
  xml/System/ObsoleteAttribute.xml
Labels: area-Meta

#7817 System.OperatingSystem F# snippets
  snippets/fsharp/System/OperatingSystem/Clone/clone.fs
  snippets/fsharp/System/OperatingSystem/Clone/fs.fsproj
  snippets/fsharp/System/OperatingSystem/Overview/fs.fsproj
  snippets/fsharp/System/OperatingSystem/Overview/osinfo1.fs
  snippets/fsharp/System/OperatingSystem/Platform/fs.fsproj
  snippets/fsharp/System/OperatingSystem/Platform/plat_ver.fs
  snippets/fsharp/System/OperatingSystem/ServicePack/fs.fsproj
  snippets/fsharp/System/OperatingSystem/ServicePack/sp.fs
  snippets/fsharp/System/OperatingSystem/ToString/ctor_tostr.fs
  snippets/fsharp/System/OperatingSystem/ToString/fs.fsproj
  snippets/fsharp/System/OperatingSystem/VersionString/fs.fsproj
  snippets/fsharp/System/OperatingSystem/VersionString/osvs.fs
  xml/System/OperatingSystem.xml
Labels: area-System.Runtime

#7821 System.PlatformID F# snippet
  snippets/fsharp/System/PlatformID/Overview/fs.fsproj
  snippets/fsharp/System/PlatformID/Overview/pid.fs
  xml/System/PlatformID.xml
Labels: area-System.Runtime

#7823 System.ReadOnlySpan<T> F# snippets
  snippets/fsharp/System/ReadOnlySpanT/GetPinnableReference/fs.fsproj
  snippets/fsharp/System/ReadOnlySpanT/GetPinnableReference/getpinnablereference1.fs
  xml/System/ReadOnlySpan`1.xml
Labels: area-System.Runtime

#7824 System.RuntimeTypeHandle F# snippet
  snippets/fsharp/System/RuntimeTypeHandle/Overview/fs.fsproj
  snippets/fsharp/System/RuntimeTypeHandle/Overview/type_gettypehandle.fs
  xml/System/RuntimeTypeHandle.xml
Labels: area-System.Runtime

#7825 Update IPermission.xml
  xml/System.Security/IPermission.xml
Labels: area-System.Security

#7826 Merge main into live
  snippets/fsharp/System/ObsoleteAttribute/IsError/fs.fsproj
  snippets/fsharp/System/ObsoleteAttribute/IsError/obsoleteattribute_message.fs
  snippets/fsharp/System/ObsoleteAttribute/Overview/fs.fsproj
  snippets/fsharp/System/ObsoleteAttribute/Overview/obsoleteattributeex1.fs
  snippets/fsharp/System/OperatingSystem/Clone/clone.fs
  snippets/fsharp/System/OperatingSystem/Clone/fs.fsproj
  snippets/fsharp/System/OperatingSystem/Overview/fs.fsproj
  snippets/fsharp/System/OperatingSystem/Overview/osinfo1.fs
  snippets/fsharp/System/OperatingSystem/Platform/fs.fsproj
  snippets/fsharp/System/OperatingSystem/Platform/plat_ver.fs
  snippets/fsharp/System/OperatingSystem/ServicePack/fs.fsproj
  snippets/fsharp/System/OperatingSystem/ServicePack/sp.fs
  snippets/fsharp/System/OperatingSystem/ToString/ctor_tostr.fs
  snippets/fsharp/System/OperatingSystem/ToString/fs.fsproj
  snippets/fsharp/System/OperatingSystem/VersionString/fs.fsproj
  snippets/fsharp/System/OperatingSystem/VersionString/osvs.fs
  snippets/fsharp/System/OutOfMemoryException/Overview/data1.fs
  snippets/fsharp/System/OutOfMemoryException/Overview/data2.fs
  snippets/fsharp/System/OutOfMemoryException/Overview/failfast1.fs
  snippets/fsharp/System/OutOfMemoryException/Overview/fs.fsproj
  snippets/fsharp/System/OutOfMemoryException/Overview/sb_example1.fs
  snippets/fsharp/System/OverflowException/Overview/arithmetic1.fs
  snippets/fsharp/System/OverflowException/Overview/fs.fsproj
  snippets/fsharp/System/ParamArrayAttribute/Overview/Example.fs
  snippets/fsharp/System/ParamArrayAttribute/Overview/fs.fsproj
  snippets/fsharp/System/PlatformID/Overview/fs.fsproj
  snippets/fsharp/System/PlatformID/Overview/pid.fs
  snippets/fsharp/System/PredicateT/Overview/fs.fsproj
  snippets/fsharp/System/PredicateT/Overview/predicate1.fs
  snippets/fsharp/System/PredicateT/Overview/predicateex1.fs
  snippets/fsharp/System/PredicateT/Overview/predicateex2.fs
  snippets/fsharp/System/ReadOnlySpanT/GetPinnableReference/fs.fsproj
  snippets/fsharp/System/ReadOnlySpanT/GetPinnableReference/getpinnablereference1.fs
  snippets/fsharp/System/RuntimeTypeHandle/Overview/fs.fsproj
  snippets/fsharp/System/RuntimeTypeHandle/Overview/type_gettypehandle.fs
  xml/System.Security/IPermission.xml
  xml/System/ObsoleteAttribute.xml
  xml/System/OperatingSystem.xml
  xml/System/OutOfMemoryException.xml
  xml/System/OverflowException.xml
  xml/System/ParamArrayAttribute.xml
  xml/System/PlatformID.xml
  xml/System/Predicate`1.xml
  xml/System/ReadOnlySpan`1.xml
  xml/System/RuntimeTypeHandle.xml
Labels: area-Meta

#7810 Update AmbiguousMatchException.xml
  xml/System.Reflection/AmbiguousMatchException.xml
Labels: area-System.Reflection

#7737 Assembly.LoadFrom (.NET Framework) behaviour clarifications
  xml/System.Reflection/Assembly.xml
Labels: area-System.Reflection

#7828 Update GenericIdentity.xml
  xml/System.Security.Principal/GenericIdentity.xml
Labels: area-System.Security

#7836 System.SByte F# snippets
  snippets/fsharp/System/SByte/MaxValue/MaxValue1.fs
  snippets/fsharp/System/SByte/MaxValue/fs.fsproj
  snippets/fsharp/System/SByte/Parse/fs.fsproj
  snippets/fsharp/System/SByte/Parse/parse_1.fs
  snippets/fsharp/System/SByte/Parse/parseex1.fs
  snippets/fsharp/System/SByte/Parse/parseex2.fs
  snippets/fsharp/System/SByte/Parse/parseex3.fs
  snippets/fsharp/System/SByte/ToString/fs.fsproj
  snippets/fsharp/System/SByte/ToString/tostring2.fs
  snippets/fsharp/System/SByte/ToString/tostring3.fs
  snippets/fsharp/System/SByte/ToString/tostring4.fs
  snippets/fsharp/System/SByte/ToString/tostring5.fs
  snippets/fsharp/System/SByte/TryParse/TryParse1.fs
  snippets/fsharp/System/SByte/TryParse/fs.fsproj
  snippets/fsharp/System/SByte/TryParse/tryparse2.fs
  xml/System/SByte.xml
Labels: area-System.Runtime

#7841 SerializationFormat.Binary is obsolete
  xml/System.Data/SerializationFormat.xml
Labels: area-System.Data

#7636 Update see also links
  xml/System.Windows.Controls/Panel.xml
Labels: area-WPF

#7295 Add note about interpolated string overloads
  xml/System.Diagnostics/Debug.xml
Labels: area-System.Diagnostics

#7853 Update DBDataPermission.xml
  xml/System.Data.Common/DBDataPermission.xml
Labels: area-System.Data

#7846 Merge main into live
  xml/System.Data/SerializationFormat.xml
  xml/System.Diagnostics/Debug.xml
  xml/System.Net.Security/SslCertificateTrust.xml
  xml/System.Windows.Controls/Panel.xml
Labels: area-Meta

#7849 Update ChainedBuilderExtensions.xml
  xml/Microsoft.Extensions.Configuration/ChainedBuilderExtensions.xml
Labels: area-Extensions-Configuration

#7852 System.StackOverflowException F# snippet
  snippets/fsharp/System/StackOverflowException/Overview/example1a.fs
  snippets/fsharp/System/StackOverflowException/Overview/fs.fsproj
  xml/System/StackOverflowException.xml
Labels: area-System.Runtime

#7851 System.Span<T> F# snippets
  snippets/fsharp/System/Span.Enumerator/Program.fs
  snippets/fsharp/System/Span.Enumerator/Program2.fs
  snippets/fsharp/System/Span.Enumerator/Program2/fs.fsproj
  snippets/fsharp/System/Span.Enumerator/fs.fsproj
  snippets/fsharp/System/Span/Overview/fs.fsproj
  snippets/fsharp/System/Span/Overview/program.fs
  snippets/fsharp/System/Span/Slice/Program.fs
  snippets/fsharp/System/Span/Slice/Program2.fs
  snippets/fsharp/System/Span/Slice/fs.fsproj
  xml/System/Span`1+Enumerator.xml
  xml/System/Span`1.xml
Labels: area-System.Runtime

#7262 API updates for .NET 6 breaking changes
  xml/System.Security.Cryptography/AesCng.xml
  xml/System.Security.Cryptography/TripleDESCng.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Security

#7845 Obsoletion of TSL 1.0 and 1.1
  xml/System.Security.Authentication/SslProtocols.xml
Labels: area-System.Security

#7732 Fix broken links - Feb 2022
  xml/System.Windows.Controls.Primitives/CustomPopupPlacementCallback.xml
  xml/System.Windows.Controls.Primitives/Popup.xml
  xml/System.Windows.Controls/ContextMenu.xml
  xml/System.Windows.Controls/ToolTip.xml
  xml/System.Windows.Controls/UserControl.xml
  xml/System.Windows.Data/RelativeSource.xml
  xml/System.Windows/FrameworkElement.xml
Labels: area-WPF

#7693 System.Double F# snippets
  snippets/fsharp/System/Double/CompareTo/compareto2.fs
  snippets/fsharp/System/Double/CompareTo/compareto3.fs
  snippets/fsharp/System/Double/CompareTo/doublesample.fs
  snippets/fsharp/System/Double/CompareTo/fs.fsproj
  snippets/fsharp/System/Double/Epsilon/Equals_25051.fs
  snippets/fsharp/System/Double/Epsilon/epsilon.fs
  snippets/fsharp/System/Double/Epsilon/epsilon1.fs
  snippets/fsharp/System/Double/Epsilon/fs.fsproj
  snippets/fsharp/System/Double/Equals/equalsabs1.fs
  snippets/fsharp/System/Double/Equals/equalsoverl.fs
  snippets/fsharp/System/Double/Equals/fs.fsproj
  snippets/fsharp/System/Double/MaxValue/fs.fsproj
  snippets/fsharp/System/Double/MaxValue/maxvalueex.fs
  snippets/fsharp/System/Double/MinValue/fs.fsproj
  snippets/fsharp/System/Double/MinValue/minvalueex.fs
  snippets/fsharp/System/Double/NaN/double.nan4.fs
  snippets/fsharp/System/Double/NaN/fs.fsproj
  snippets/fsharp/System/Double/NaN/nan1.fs
  snippets/fsharp/System/Double/Overview/comparison1.fs
  snippets/fsharp/System/Double/Overview/comparison2.fs
  snippets/fsharp/System/Double/Overview/comparison3.fs
  snippets/fsharp/System/Double/Overview/comparison4.fs
  snippets/fsharp/System/Double/Overview/convert1.fs
  snippets/fsharp/System/Double/Overview/convert2.fs
  snippets/fsharp/System/Double/Overview/exceptional1.fs
  snippets/fsharp/System/Double/Overview/exceptional2.fs
  snippets/fsharp/System/Double/Overview/fs.fsproj
  snippets/fsharp/System/Double/Overview/precision1.fs
  snippets/fsharp/System/Double/Overview/precisionlist1.fs
  snippets/fsharp/System/Double/Overview/precisionlist3.fs
  snippets/fsharp/System/Double/Overview/precisionlist4.fs
  snippets/fsharp/System/Double/Overview/precisionlist5.fs
  snippets/fsharp/System/Double/Overview/representation1.fs
  snippets/fsharp/System/Double/Overview/representation2.fs
  snippets/fsharp/System/Double/Overview/source.fs
  snippets/fsharp/System/Double/Parse/Parse.fs
  snippets/fsharp/System/Double/Parse/Parse3.fs
  snippets/fsharp/System/Double/Parse/Parse3/fs.fsproj
  snippets/fsharp/System/Double/Parse/fs.fsproj
  snippets/fsharp/System/Double/Parse/parse2.fs
  snippets/fsharp/System/Double/Parse/parse2/fs.fsproj
  snippets/fsharp/System/Double/ToString/ToString1.fs
  snippets/fsharp/System/Double/ToString/ToString7.fs
  snippets/fsharp/System/Double/ToString/fs.fsproj
  snippets/fsharp/System/Double/ToString/roundtripex1.fs
  snippets/fsharp/System/Double/ToString/roundtripex2.fs
  snippets/fsharp/System/Double/TryParse/TryParse1.fs
  snippets/fsharp/System/Double/TryParse/fs.fsproj
  snippets/fsharp/System/Double/TryParse/tryparse1a.fs
  snippets/fsharp/System/Double/TryParse/tryparse2.fs
  xml/System/Double.xml
Labels: area-System.Runtime

#7858 Field -> member
  xml/System.Security.Authentication/SslProtocols.xml
Labels: area-System.Security

#7354 Add ANE to constructor
  xml/System.Windows.Forms/DataGridViewColumnStateChangedEventArgs.xml
Labels: area-WinForms

#7496 Clarify Visible property
  xml/System.Windows.Forms/Control.xml
Labels: area-WinForms

#7870 Update BaseProperty.xml
  xml/Microsoft.Build.Framework.XamlTypes/BaseProperty.xml
Labels: area-msbuild

#7844 Binary serialization exceptions
  xml/System.ComponentModel/InvalidEnumArgumentException.xml
  xml/System.Data/DataSet.xml
  xml/System.Data/DataTable.xml
  xml/System.Runtime.Serialization/ISerializable.xml
Labels: area-System.Data

#7878 Merge main into live
  xml/Microsoft.Build.Framework.XamlTypes/BaseProperty.xml
  xml/System.ComponentModel/InvalidEnumArgumentException.xml
  xml/System.Data/DataSet.xml
  xml/System.Data/DataTable.xml
  xml/System.Drawing/Color.xml
  xml/System.Runtime.Serialization/ISerializable.xml
  xml/System.Windows.Controls/StyleSelector.xml
  xml/System.Windows.Data/CollectionContainer.xml
  xml/System.Windows.Forms/Control.xml
  xml/System.Windows.Forms/DataGridBoolColumn.xml
  xml/System.Windows.Forms/DataGridTextBoxColumn.xml
  xml/System.Windows.Forms/FolderBrowserDialog.xml
  xml/System.Windows.Media.Media3D/Point4D.xml
  xml/System.Windows.Media.Media3D/Rect3D.xml
  xml/System.Windows.Media.Media3D/Vector3D.xml
  xml/System.Windows.Media/DoubleCollection.xml
  xml/System.Windows.Media/MediaTimeline.xml
  xml/System.Windows.Media/PathSegmentCollection.xml
  xml/System.Windows/ComponentResourceKey.xml
Labels: area-Meta

#7873 Miscellaneous wording fixes
  xml/System.Configuration/ConfigurationErrorsException.xml
  xml/System.Configuration/ConnectionStringSettings.xml
  xml/System.Data.Common/DBDataPermission.xml
  xml/System.Data.Common/DataAdapter.xml
  xml/System.Data.Common/DbDataAdapter.xml
  xml/System.Data.Common/DbProviderFactory.xml
  xml/System.Data.Common/DbProviderSpecificTypePropertyAttribute.xml
  xml/System.Data/DataColumn.xml
  xml/System.Data/MergeFailedEventArgs.xml
  xml/System.DirectoryServices.Protocols/DirectoryConnection.xml
  xml/System.DirectoryServices.Protocols/DsmlSoapConnection.xml
  xml/System.DirectoryServices.Protocols/DsmlSoapHttpConnection.xml
  xml/System.Formats.Asn1/AsnDecoder.xml
  xml/System.IO/MemoryStream.xml
  xml/System.Net.PeerToPeer.Collaboration/PeerPresenceInfo.xml
  xml/System.Reflection.PortableExecutable/PEHeaderBuilder.xml
  xml/System.Resources/ResXResourceSet.xml
  xml/System.Runtime.CompilerServices/AsyncMethodBuilderAttribute.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
  xml/System.ServiceModel/X509CertificateEndpointIdentity.xml
  xml/System.Speech.Recognition/Grammar.xml
  xml/System.Speech.Synthesis.TtsEngine/TtsEngineAction.xml
  xml/System.Threading.Tasks.Sources/IValueTaskSource`1.xml
  xml/System.Workflow.Activities.Rules/RuleConditionCollection.xml
  xml/System/Type.xml
  xml/System/Uri.xml
Labels: area-Meta

#7881 Update ColorChannelFlag.xml
  xml/System.Drawing.Imaging/ColorChannelFlag.xml
Labels: area-Extensions-Logging

#7680 Document the new System.Data batching API in .NET 6.0
  xml/System.Data.Common/DbBatch.xml
  xml/System.Data.Common/DbBatchCommand.xml
  xml/System.Data.Common/DbBatchCommandCollection.xml
  xml/System.Data.Common/DbCommand.xml
  xml/System.Data.Common/DbConnection.xml
  xml/System.Data.Common/DbException.xml
  xml/System.Data.Common/DbParameterCollection.xml
  xml/System.Data.Common/DbProviderFactory.xml
Labels: area-System.Data

#7872 Fix Directory.GetFiles Filter Question Mark
  xml/System.IO/Directory.xml
Labels: area-System.IO

#7894 Clarify regular expression timeout
  xml/System.Text.RegularExpressions/CaptureCollection.xml
  xml/System.Text.RegularExpressions/MatchCollection.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Text.RegularExpressions/RegexCompilationInfo.xml
Labels: area-System.Text.RegularExpressions

#7899 Merge main into live
  xml/System.Text.RegularExpressions/CaptureCollection.xml
  xml/System.Text.RegularExpressions/MatchCollection.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Text.RegularExpressions/RegexCompilationInfo.xml
  xml/System.Windows.Controls.Primitives/TabPanel.xml
  xml/System.Windows.Controls.Primitives/Track.xml
  xml/System.Windows.Controls/ComboBox.xml
  xml/System.Windows.Controls/ItemsPanelTemplate.xml
  xml/System.Windows.Controls/MenuScrollingVisibilityConverter.xml
  xml/System.Windows.Controls/TabControl.xml
Labels: area-Meta

#7290 Update exceptions for File.Replace
  xml/System.IO/File.xml
Labels: area-System.IO

#7879 Clarify the meaning of MaxDegreeOfParallelism = -1
  xml/System.Threading.Tasks/ParallelOptions.xml
Labels: area-System.Threading.Tasks
