Repository dotnet/dotnet-api-docs, pull requests merged in 2022-08, with the labels that each got.

#8015 Remove CAS remarks
  xml/Microsoft.VisualBasic.ApplicationServices/ApplicationBase.xml
  xml/Microsoft.VisualBasic/ErrObject.xml
  xml/System.Configuration/SettingsPropertyValue.xml
  xml/System.Diagnostics/BooleanSwitch.xml
  xml/System.Resources/ResXResourceSet.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Threading/CompressedStack.xml
  xml/System.Threading/ExecutionContext.xml
  xml/System.Transactions/Transaction.xml
  xml/System.Transactions/TransactionInterop.xml
  xml/System.Transactions/TransactionManager.xml
  xml/System.Transactions/TransactionScope.xml
  xml/ns-System.DirectoryServices.ActiveDirectory.xml
  xml/ns-System.DirectoryServices.xml
  xml/ns-System.Transactions.xml
Labels: area-Meta

#8273 Merge main into live
  xml/Microsoft.VisualBasic.ApplicationServices/ApplicationBase.xml
  xml/Microsoft.VisualBasic/ErrObject.xml
  xml/System.Configuration/SettingsPropertyValue.xml
  xml/System.Diagnostics/BooleanSwitch.xml
  xml/System.Resources/ResXResourceSet.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Threading/CompressedStack.xml
  xml/System.Threading/ExecutionContext.xml
  xml/System.Transactions/Transaction.xml
  xml/System.Transactions/TransactionInterop.xml
  xml/System.Transactions/TransactionManager.xml
  xml/System.Transactions/TransactionScope.xml
  xml/ns-System.DirectoryServices.ActiveDirectory.xml
  xml/ns-System.DirectoryServices.xml
  xml/ns-System.Transactions.xml
Labels: area-Meta

#8271 Fix stream parameter description on GZipStream, BrotliStream, and DeflateStream
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/CompressionMode.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Compression/ZLibStream.xml
Labels: area-System.IO.Compression

#8260 Add remark about HttpRequestMessage.Properties
  xml/System.Net.Http/HttpRequestMessage.xml
Labels: area-System.Net

#8245 Clarify the behavior of CancellationTokenRegistration.Dispose and Unregister
  xml/System.Threading/CancellationTokenRegistration.xml
Labels: area-System.Threading

#8272 Update fabricbot config per dotnet/fabricbot-config#59
  .github/fabricbot.json
Labels: area-Meta

#8270 Fix inconsistent whitespace around method calls
  snippets/cpp/VS_Snippets_Remoting/NCLResponse1/CPP/httpwebrequest1.cpp
  snippets/csharp/System.Net/HttpWebRequest/Credentials/httpwebrequest1.cs
  xml/System.Net/HttpWebRequest.xml
Labels: area-System.Net

#8275 Merge main into live
  .github/fabricbot.json
  snippets/cpp/VS_Snippets_Remoting/NCLResponse1/CPP/httpwebrequest1.cpp
  snippets/csharp/System.Net/HttpWebRequest/Credentials/httpwebrequest1.cs
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/CompressionMode.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Compression/ZLibStream.xml
  xml/System.Net.Http/HttpRequestMessage.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System.Threading/CancellationTokenRegistration.xml
Labels: area-Meta

#8277 CultureInfo: delete doubled sentence
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Globalization, community-contribution

#8274 SerialPort: remove discussion of encoding from `byte[]` overload
  xml/System.IO.Ports/SerialPort.xml
Labels: area-System.IO, community-contribution

#8276 Fix stream parameter description on GZipStream, BrotliStream, and Def…
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
Labels: area-System.IO.Compression, community-contribution

#8279 Merge main into live
  xml/System.Globalization/CultureInfo.xml
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Ports/SerialPort.xml
Labels: area-Meta

#7867 Add Ping exceptions
  xml/System.Net.NetworkInformation/Ping.xml
Labels: area-System.Net

#7519 Grammar improvements to metrics docs
  xml/System.Diagnostics.Metrics/Instrument.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics.Metrics/MeasurementCallback`1.xml
  xml/System.Diagnostics.Metrics/Measurement`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/MeterListener.xml
  xml/System.Diagnostics.Metrics/ObservableInstrument`1.xml
Labels: area-System.Diagnostics

#8285 Just a typo
  xml/System.Xml/XmlReaderSettings.xml
Labels: area-System.Xml, community-contribution

#8286 Merge main into live
  xml/System.Diagnostics.Metrics/Instrument.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics.Metrics/MeasurementCallback`1.xml
  xml/System.Diagnostics.Metrics/Measurement`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/MeterListener.xml
  xml/System.Diagnostics.Metrics/ObservableInstrument`1.xml
  xml/System.Net.NetworkInformation/Ping.xml
  xml/System.Xml/XmlReaderSettings.xml
Labels: area-Meta

#8287 Fix broken XML tag on AnonymousPipeServerStreamAcl
  xml/System.IO.Pipes/AnonymousPipeServerStreamAcl.xml
Labels: area-System.IO, community-contribution

#8258 Weekly port of .NET 7 Preview7 documentation
  xml/System.IO.Hashing/NonCryptographicHashAlgorithm.xml
  xml/System.Runtime.InteropServices/Architecture.xml
  xml/System.Runtime.InteropServices/StringMarshalling.xml
  xml/System.Text.Json.Serialization/JsonSerializerContext.xml
Labels: area-System.Runtime.InteropServices

#8290 Merge main into live
  xml/System.IO.Hashing/NonCryptographicHashAlgorithm.xml
  xml/System.IO.Pipes/AnonymousPipeServerStreamAcl.xml
  xml/System.Runtime.InteropServices/Architecture.xml
  xml/System.Runtime.InteropServices/StringMarshalling.xml
  xml/System.Text.Json.Serialization/JsonSerializerContext.xml
Labels: area-Meta

#8289 Weekly port of .NET 7 Preview7 documentation
  xml/System.Net.Http.Headers/MediaTypeHeaderValue.xml
  xml/System.Net.Http/StringContent.xml
  xml/System.Net.NetworkInformation/Ping.xml
  xml/System.Net.Sockets/NetworkStream.xml
  xml/System.Net.Sockets/SafeSocketHandle.xml
  xml/System.Net.Sockets/UnixDomainSocketEndPoint.xml
Labels: area-System.Net

#8278 Fix decimal represenation for 2-byte integer
  xml/System.Reflection.Metadata/BlobBuilder.xml
Labels: area-System.Reflection, community-contribution

#8293 Fix indentation errors in webrequest_preauthenticate.cs
  snippets/csharp/System.Net/WebRequest/PreAuthenticate/webrequest_preauthenticate.cs
Labels: area-System.Net, community-contribution

#8295 Merge main into live
  snippets/csharp/System.Net/WebRequest/PreAuthenticate/webrequest_preauthenticate.cs
  snippets/csharp/System.Reflection.Metadata.Ecma335/ControlFlowBuilder/Overview/ControlFlowBuilderSnippets.cs
  snippets/csharp/System.Reflection.Metadata.Ecma335/ControlFlowBuilder/Overview/ControlFlowBuilderSnippets.csproj
  snippets/csharp/System.Reflection.Metadata.Ecma335/ControlFlowBuilder/Overview/Program.cs
  xml/System.Net.Http.Headers/MediaTypeHeaderValue.xml
  xml/System.Net.Http/StringContent.xml
  xml/System.Net.NetworkInformation/Ping.xml
  xml/System.Net.Sockets/NetworkStream.xml
  xml/System.Net.Sockets/SafeSocketHandle.xml
  xml/System.Net.Sockets/UnixDomainSocketEndPoint.xml
  xml/System.Reflection.Metadata.Ecma335/ControlFlowBuilder.xml
  xml/System.Reflection.Metadata/BlobBuilder.xml
Labels: area-Meta

#8299 Add constructor summary
  xml/System.Diagnostics.CodeAnalysis/ConstantExpectedAttribute.xml
Labels: area-System.Diagnostics

#8298 Add missing metrics doc
  xml/System.Diagnostics.Metrics/UpDownCounter`1.xml
Labels: area-System.Diagnostics

#8304 Merge main into live
  xml/System.Reflection.Metadata.Ecma335/FieldTypeEncoder.xml
  xml/System.Reflection/TypeDelegator.xml
Labels: area-Meta

#8307 Adding missing docs for System.Runtime.CompilerServices namespace
  xml/System.Runtime.CompilerServices/CompilerFeatureRequiredAttribute.xml
  xml/System.Runtime.CompilerServices/DisableRuntimeMarshallingAttribute.xml
  xml/System.Runtime.CompilerServices/MetadataUpdateOriginalTypeAttribute.xml
  xml/System.Runtime.CompilerServices/RequiredMemberAttribute.xml
Labels: area-System.Runtime.CompilerServices

#8228 TypeBuilder.DefineTypeInitializer - Update to .NET Core & fix usage example
  snippets/csharp/System.Reflection.Emit/TypeBuilder/DefineTypeInitializer/typebuilder_properties.cs
Labels: area-System.Reflection.Emit

#8311 API documentation for DbDataSource
  xml/System.Data.Common/DbDataSource.xml
  xml/System.Data.Common/DbProviderFactory.xml
Labels: area-System.Data

#8312 Add note about .NET 6 issue on ARM64
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
Labels: area-System.Runtime.InteropServices

#8316 Add doc remarks to ActivityLink.Equals
  xml/System.Diagnostics/ActivityLink.xml
Labels: area-System.Diagnostics

#8317 Merge main into live
  xml/System.Data.Common/DbDataSource.xml
  xml/System.Data.Common/DbProviderFactory.xml
  xml/System.Diagnostics/ActivityLink.xml
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
Labels: area-Meta

#8313 Automate daily PR from main to live
  .github/fabricbot.json
Labels: area-Infrastructure

#8319 Fix `DbDataSource` documentation
  xml/System.Data.Common/DbDataSource.xml
Labels: area-System.Data, community-contribution

#8325 Indent example consistently
  snippets/csharp/System.Net.Http/HttpClient/source.cs
Labels: area-System.Net, community-contribution

#8330 Port more documentation from Preview7
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Security/NegotiateAuthenticationClientOptions.xml
  xml/System.Net.Security/NegotiateAuthenticationServerOptions.xml
  xml/System.Runtime.Serialization/ImportOptions.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderLabel.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderMap.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderValue.xml
  xml/System.Security.Cryptography.Cose/CoseMessage.xml
  xml/System.Security.Cryptography.Cose/CoseMultiSignMessage.xml
  xml/System.Security.Cryptography.Cose/CoseSign1Message.xml
  xml/System.Security.Cryptography.Cose/CoseSignature.xml
  xml/System.Security.Cryptography.Cose/CoseSigner.xml
  xml/System/GCCollectionMode.xml
Labels: area-System.Security

#8323 Add links to conceptual docs for AssemblyLoadContext
  xml/System.Runtime.Loader/AssemblyLoadContext.xml
Labels: area-System.Runtime

#8335 Port inheritdoc tag for runtime APIs that are missing docs
  xml/Microsoft.Extensions.Configuration/ConfigurationManager.xml
  xml/Microsoft.Extensions.DependencyInjection/AsyncServiceScope.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollection.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerFactory.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger`1.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLogger.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLogger.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLoggerProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerExternalScopeProvider.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
  xml/Microsoft.Extensions.Primitives/StringValues.xml
  xml/System.ComponentModel/DateOnlyConverter.xml
  xml/System.ComponentModel/TimeOnlyConverter.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderMap.xml
  xml/System.Security.Cryptography.X509Certificates/X509AuthorityInformationAccessExtension.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/SByte.xml
  xml/System/SequencePosition.xml
  xml/System/Single.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
Labels: area-Meta

#8340 Fix Vector.As documentation
  xml/System.Numerics/Vector.xml
Labels: area-System.Numerics, community-contribution

#8155 Removed poor coding style in schema validation
  snippets/csharp/System.Xml/XmlDocument/Overview/xmlhelpermethods.cs
Labels: area-System.Xml

#8337 Update AsyncSockerServer to fix possible StackOverflow
  snippets/csharp/System.Net.Sockets/SocketAsyncEventArgs/Overview/AsyncSocketServer.cs
Labels: area-System.Net.Sockets

#8343 Add missing System.Net.Http.Json APIs
  xml/System.Net.Http.Json/HttpClientJsonExtensions.xml
Labels: area-System.Text.Json

#8345 Port missing docs for System.Formats.Tar
  xml/System.Formats.Tar/GnuTarEntry.xml
  xml/System.Formats.Tar/PaxTarEntry.xml
  xml/System.Formats.Tar/TarReader.xml
  xml/System.Formats.Tar/TarWriter.xml
  xml/System.Formats.Tar/UstarTarEntry.xml
  xml/System.Formats.Tar/V7TarEntry.xml
Labels: area-System.IO

#8344 Add missing parameters/properties docs
  xml/System.Runtime.Versioning/ObsoletedInOSPlatformAttribute.xml
  xml/System.Runtime.Versioning/UnsupportedOSPlatformAttribute.xml
Labels: area-System.Runtime

#8336 Port inheritdoc tags for APIs that are already fully documented
  xml/Microsoft.Extensions.Caching.Memory/MemoryCache.xml
  xml/Microsoft.Extensions.Configuration/ChainedConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationRoot.xml
  xml/Microsoft.Extensions.Configuration/FileConfigurationProvider.xml
  xml/Microsoft.Extensions.DependencyInjection/DefaultServiceProviderFactory.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProvider.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalDirectoryInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalFileInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PollingWildCardChangeToken.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundFileInfo.xml
  xml/Microsoft.Extensions.Hosting.Systemd/SystemdNotifier.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventSource/EventSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.TraceSource/TraceSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerFactory.xml
  xml/Microsoft.Extensions.Primitives/CancellationChangeToken.xml
  xml/Microsoft.Extensions.Primitives/CompositeChangeToken.xml
  xml/System.Buffers/ReadOnlySequence`1.xml
  xml/System.CodeDom.Compiler/IndentedTextWriter.xml
  xml/System.Net.Http.Headers/HeaderStringValues+Enumerator.xml
  xml/System.Net.Http.Headers/HeaderStringValues.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated+Enumerator.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System.Security.Cryptography/CryptoStream.xml
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter.xml
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text.Json/JsonElement+ArrayEnumerator.xml
  xml/System.Text.Json/JsonElement+ObjectEnumerator.xml
  xml/System.Text/Rune.xml
  xml/System.Xml/XmlProcessingInstruction.xml
  xml/System/BinaryData.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
Labels: area-Meta

#8348 Add missing System.Security.* documentation
  xml/System.Security.Cryptography.X509Certificates/X500DistinguishedNameBuilder.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainPolicy.xml
  xml/System.Security.Cryptography/DSACng.xml
  xml/System.Security.Cryptography/DSACryptoServiceProvider.xml
  xml/System.Security.Cryptography/ECAlgorithm.xml
  xml/System.Security.Cryptography/ECDiffieHellmanCng.xml
  xml/System.Security.Cryptography/ECDsaCng.xml
  xml/System.Security.Cryptography/RSACng.xml
  xml/System.Security.Cryptography/RSACryptoServiceProvider.xml
  xml/ns-System.Security.Cryptography.Cose.xml
Labels: area-System.Security

#8332 Update Socket & NetworkStream APM docs
  xml/System.Net.Sockets/NetworkStream.xml
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8350 [SEO][Rollout Monikered Canonical]Add URL moniker
  docfx.json
Labels: area-Infrastructure
