Repository dotnet/dotnet-api-docs, pull requests merged in 2022-04, with the labels that each got.

#7903 ImmutableList.FindIndex returns "-1" when element not found
  xml/System.Collections.Immutable/ImmutableList`1.xml
Labels: area-System.Collections

#7195 Update custom type description params
  xml/System.ComponentModel/TypeDescriptor.xml
Labels: area-System.ComponentModel

#7898 System.TimeZoneInfo F# snippets
  snippets/fsharp/System/TimeZoneInfo+AdjustmentRule/Overview/System.TimeZone2.AdjustmentRule.Class.fs
  snippets/fsharp/System/TimeZoneInfo+AdjustmentRule/Overview/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/BaseUtcOffset/ShowTimeZoneNames1.fs
  snippets/fsharp/System/TimeZoneInfo/BaseUtcOffset/TimeZone2_Examples.fs
  snippets/fsharp/System/TimeZoneInfo/BaseUtcOffset/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/BaseUtcOffset/getsystemtimezones1.fs
  snippets/fsharp/System/TimeZoneInfo/ClearCachedData/System.TimeZone2.BestPractices.fs
  snippets/fsharp/System/TimeZoneInfo/ClearCachedData/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/ConvertTime/TimeZone2Concepts.fs
  snippets/fsharp/System/TimeZoneInfo/ConvertTime/converttime1.fs
  snippets/fsharp/System/TimeZoneInfo/ConvertTime/converttime2.fs
  snippets/fsharp/System/TimeZoneInfo/ConvertTime/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/ConvertTimeBySystemTimeZoneId/System.TimeZone2.Conversions.fs
  snippets/fsharp/System/TimeZoneInfo/ConvertTimeBySystemTimeZoneId/convertdt2.fs
  snippets/fsharp/System/TimeZoneInfo/ConvertTimeBySystemTimeZoneId/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/CreateCustomTimeZone/System.TimeZone2.CreateTimeZone.fs
  snippets/fsharp/System/TimeZoneInfo/CreateCustomTimeZone/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/DaylightName/IsDaylightSavingTime.fs
  snippets/fsharp/System/TimeZoneInfo/DaylightName/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/Equals/equals1.fs
  snippets/fsharp/System/TimeZoneInfo/Equals/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/GetAmbiguousTimeOffsets/System.TimeZone2.GetAmbiguousTimeOffsets.fs
  snippets/fsharp/System/TimeZoneInfo/GetAmbiguousTimeOffsets/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/GetUtcOffset/System.TimeZone2.GetUtcOffset.fs
  snippets/fsharp/System/TimeZoneInfo/GetUtcOffset/fs.fsproj
  snippets/fsharp/System/TimeZoneInfo/HasSameRules/HasSameRules.fs
  snippets/fsharp/System/TimeZoneInfo/HasSameRules/fs.fsproj
  xml/System/TimeZoneInfo.xml
Labels: area-System.Runtime

#7888 Fix `Socket.Close` `timeout` parameter doc
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#7865 Documents the change in behaviour due to changes with Task Manager in Windows 8.1 and up.
  xml/System.Windows.Forms/CloseReason.xml
Labels: area-WinForms

#7897 Update equals_ex4.cs
  snippets/csharp/System/String/Equals/equals_ex4.cs
  snippets/fsharp/System/String/Equals/equals_ex4.fs
  snippets/fsharp/System/String/Equals/fs.fsproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.string.equals/vb/equals_ex4.vb
  xml/System/String.xml
Labels: area-System.Runtime

#7868 Fix return value formatting
  xml/System/Math.xml
Labels: area-System.Runtime

#7907 Modernize XPath snippet
  snippets/csharp/System.Xml.XPath/Extensions/CreateNavigator.cs
  snippets/csharp/System.Xml.XPath/Extensions/project.csproj
  xml/System.Xml.XPath/Extensions.xml
Labels: area-System.Xml

#7908 Fix remarks of String.ReplaceLineEndings
  xml/System/String.xml
Labels: area-System.Runtime

#7926 Merge main into live
  snippets/csharp/System.Linq/Enumerable/Comparers/Comparers.csproj
  snippets/csharp/System.Linq/Enumerable/Comparers/CustomComparer.cs
  snippets/csharp/System.Linq/Enumerable/Comparers/EncapsulatedComparer.cs
  snippets/csharp/System.Xml.XPath/Extensions/CreateNavigator.cs
  snippets/csharp/System.Xml.XPath/Extensions/project.csproj
  xml/System.Linq/Enumerable.xml
  xml/System.Xml.XPath/Extensions.xml
  xml/System/Math.xml
  xml/System/String.xml
Labels: area-Meta

#7915 System.TimeZoneInfo.AdjustmentRule F# snippets
  snippets/fsharp/System/TimeZoneInfo+AdjustmentRule/DateEnd/DateStart1.fs
  snippets/fsharp/System/TimeZoneInfo+AdjustmentRule/DateEnd/fs.fsproj
  xml/System/TimeZoneInfo+AdjustmentRule.xml
Labels: area-System.Runtime

#7917 System.TimeZoneNotFoundException F# snippet
  snippets/fsharp/System/InvalidTimeZoneException/.ctor/TimeZoneNotFoundException.fs
  snippets/fsharp/System/InvalidTimeZoneException/.ctor/fs.fsproj
  xml/System/TimeZoneNotFoundException.xml
Labels: area-System.Runtime

#7918 System.Tuple F# snippets
  snippets/fsharp/System/Tuple/Overview/create1.fs
  snippets/fsharp/System/Tuple/Overview/createntuple.fs
  snippets/fsharp/System/Tuple/Overview/ctor8.fs
  snippets/fsharp/System/Tuple/Overview/example1.fs
  snippets/fsharp/System/Tuple/Overview/fs.fsproj
  xml/System/Tuple.xml
Labels: area-System.Runtime

#7929 Merge main into live
  xml/System.Diagnostics.Tracing/EventLevel.xml
  xml/System.Diagnostics.Tracing/EventListener.xml
  xml/System.Linq/Enumerable.xml
Labels: area-Meta

#7930 Config changes to reflect the default branch from master to main. Please merge to complete the default branch renaming job.
  .openpublishing.publish.config.json
Labels: area-Infrastructure

#7925 Clarify WriteEventCore arguments
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-System.Diagnostics.Tracing

#7932 Fixed typo in String.Trim example
  snippets/csharp/System/String/Trim/Trim1.cs
Labels: area-System.Runtime

#7933 Merge main into live
  .openpublishing.publish.config.json
  snippets/csharp/System/String/Trim/Trim1.cs
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-Infrastructure

#7939 Add cryptography PlatformNotSupportedExceptions
  xml/System.Security.Cryptography/ECDiffieHellmanCng.xml
  xml/System.Security.Cryptography/ECDiffieHellmanCngPublicKey.xml
  xml/System.Security.Cryptography/ECDiffieHellmanPublicKey.xml
Labels: area-System.Security

#7945 Merge main into live
  xml/System.Security.Cryptography/ECDiffieHellmanCng.xml
  xml/System.Security.Cryptography/ECDiffieHellmanCngPublicKey.xml
  xml/System.Security.Cryptography/ECDiffieHellmanPublicKey.xml
Labels: area-System.Security

#7942 FabricBot config: regenerate and reflect that Viktor is back
  .github/fabricbot.json
Labels: area-Meta

#7940 Fix WriteEventCore string guidance
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-System.Diagnostics.Tracing

#7944 System.Tuple<T1,T2,T3> F# snippets
  snippets/fsharp/System/TupleT1,T2,T3/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/ToString/tostring1.fs
  xml/System/Tuple`3.xml
Labels: area-System.Runtime

#7943 System.Tuple<T1, T2> F# snippets
  snippets/fsharp/System/TupleT1,T2/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/Overview/item1.fs
  snippets/fsharp/System/TupleT1,T2/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/ToString/tostring1.fs
  xml/System/Tuple`2.xml
Labels: area-System.Runtime

#7949 Merge main into live
  .github/fabricbot.json
  snippets/fsharp/System/TupleT1,T2,T3/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3/ToString/tostring1.fs
  snippets/fsharp/System/TupleT1,T2/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/Overview/item1.fs
  snippets/fsharp/System/TupleT1,T2/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2/ToString/tostring1.fs
  xml/System.Diagnostics.Tracing/EventSource.xml
  xml/System/Tuple`2.xml
  xml/System/Tuple`3.xml
Labels: area-Meta

#7948 System.Tuple<T1,T2,T3,T4,T5> F# snippets
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Item1/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Item1/item1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/ToString/tostring1.fs
  xml/System/Tuple`5.xml
Labels: area-System.Runtime

#7947 System.Tuple<T1,T2,T3,T4> F# snippets
  snippets/fsharp/System/TupleT1,T2,T3,T4/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/Item1/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/Item1/item1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/ToString/tostring1.fs
  xml/System/Tuple`4.xml
Labels: area-System.Runtime

#7953 Merge main into live
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Item1/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Item1/item1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5/ToString/tostring1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/Item1/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/Item1/item1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4/ToString/tostring1.fs
  xml/System/Tuple`4.xml
  xml/System/Tuple`5.xml
Labels: area-Meta

#7950 Update AppDomainSetup.xml
  xml/System/AppDomainSetup.xml
Labels: area-System.Runtime

#7956 Update sample.cs
  snippets/csharp/System.Security.Cryptography/CspKeyContainerInfo/Overview/sample.cs
Labels: area-System.Security

#7952 Add missing User synonym in connection strings
  xml/System.Data.SqlClient/SqlConnection.xml
Labels: area-System.Data.SqlClient

#7957 Merge main into live
  snippets/csharp/System.Security.Cryptography/CspKeyContainerInfo/Overview/sample.cs
  xml/System.Data.SqlClient/SqlConnection.xml
  xml/System/AppDomainSetup.xml
Labels: area-Meta

#7961 Fix broken links
  xml/System.Data.OleDb/OleDbEnumerator.xml
  xml/System.Diagnostics.Eventing.Reader/EventLogException.xml
  xml/System.Diagnostics.Eventing.Reader/EventLogPropertySelector.xml
  xml/System.Diagnostics.Eventing.Reader/EventLogRecord.xml
  xml/System.Diagnostics.Eventing.Reader/EventRecord.xml
  xml/System.Diagnostics/EventSchemaTraceListener.xml
  xml/System.Diagnostics/PerformanceCounter.xml
  xml/System.DirectoryServices.AccountManagement/PrincipalContext.xml
  xml/System.Drawing/Brushes.xml
  xml/System.Drawing/Color.xml
  xml/System.Drawing/Pens.xml
  xml/System.IO.Packaging/CertificateEmbeddingOption.xml
  xml/System.IO.Packaging/PackUriHelper.xml
  xml/System.IO.Packaging/Package.xml
  xml/System.IO.Packaging/PackageDigitalSignature.xml
  xml/System.IO.Packaging/PackageDigitalSignatureManager.xml
  xml/System.IO.Packaging/PackagePart.xml
  xml/System.IO.Packaging/PackageRelationship.xml
  xml/System.IO.Packaging/PackageRelationshipSelector.xml
  xml/System.IO.Packaging/VerifyResult.xml
  xml/System.IdentityModel.Protocols.WSTrust/RequestClaim.xml
  xml/System.IdentityModel.Selectors/UnsupportedPolicyOptionsException.xml
  xml/System.IdentityModel.Selectors/X509SecurityTokenAuthenticator.xml
  xml/System.IdentityModel.Services/WSFederationAuthenticationModule.xml
  xml/ns-System.IO.Packaging.xml
Labels: area-Meta

#7959 Fix broken links
  xml/System.ServiceModel.Channels/MessageHeader.xml
  xml/System.ServiceModel.Channels/MessageHeaderInfo.xml
  xml/System.ServiceModel.Channels/MessageHeaders.xml
  xml/System.ServiceModel.Channels/MsmqBindingElementBase.xml
  xml/System.ServiceModel.Configuration/MsmqBindingElementBase.xml
  xml/System.ServiceModel.Description/PrincipalPermissionMode.xml
  xml/System.ServiceModel.Security/SecurityNegotiationException.xml
  xml/System.ServiceModel.Security/SecurityStateEncoder.xml
  xml/System.ServiceModel.Security/WindowsClientCredential.xml
  xml/System.ServiceModel/DeadLetterQueue.xml
  xml/System.ServiceModel/MsmqBindingBase.xml
  xml/System.Web.Compilation/IWcfReferenceReceiveContextInformation.xml
  xml/System.Web.Security/PassportAuthenticationEventArgs.xml
  xml/System.Web.Security/PassportAuthenticationEventHandler.xml
  xml/System.Web.Security/PassportAuthenticationModule.xml
  xml/System.Web.Security/PassportIdentity.xml
  xml/System.Web.Security/PassportPrincipal.xml
  xml/System.Web.Services.Discovery/DiscoveryClientProtocol.xml
  xml/System.Web/HttpCookie.xml
  xml/System.Workflow.Activities/WebWorkflowRole.xml
Labels: area-Meta

#7960 Fix broken links
  xml/System.Net.PeerToPeer.Collaboration/Peer.xml
  xml/System.Net.PeerToPeer.Collaboration/PeerCollaborationPermission.xml
  xml/System.Net.PeerToPeer/PeerNameRegistration.xml
  xml/System.Net.PeerToPeer/PeerNameType.xml
  xml/System.Net.PeerToPeer/PnrpPermission.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Reflection.Emit/AssemblyBuilder.xml
  xml/System.Reflection.Emit/ConstructorBuilder.xml
  xml/System.Reflection.Emit/DynamicILInfo.xml
  xml/System.Reflection.Emit/EnumBuilder.xml
  xml/System.Reflection.Emit/EventBuilder.xml
  xml/System.Reflection.Emit/FieldBuilder.xml
  xml/System.Reflection.Emit/GenericTypeParameterBuilder.xml
  xml/System.Reflection.Emit/MethodBuilder.xml
  xml/System.Reflection.Emit/ModuleBuilder.xml
  xml/System.Reflection.Emit/OpCodes.xml
  xml/System.Reflection.Emit/ParameterBuilder.xml
  xml/System.Reflection.Emit/PropertyBuilder.xml
  xml/System.Reflection.Emit/SignatureHelper.xml
  xml/System.Reflection.Emit/TypeBuilder.xml
  xml/System.Reflection/AssemblyCultureAttribute.xml
  xml/System.Reflection/AssemblyDelaySignAttribute.xml
  xml/System.Reflection/AssemblyKeyNameAttribute.xml
  xml/System.Reflection/ExceptionHandlingClause.xml
  xml/System.Reflection/ExceptionHandlingClauseOptions.xml
  xml/System.Reflection/FieldInfo.xml
  xml/System.Reflection/MemberInfo.xml
  xml/System.Reflection/MethodBody.xml
  xml/System.Reflection/Module.xml
  xml/System.Reflection/ParameterInfo.xml
  xml/System.Reflection/PropertyInfo.xml
  xml/System/Environment.xml
  xml/System/ModuleHandle.xml
  xml/System/Type.xml
Labels: area-Meta

#7958 Fix broken links in System.Windows
  xml/System.Windows.Controls/MediaElement.xml
  xml/System.Windows.Documents.DocumentStructures/StoryFragments.xml
  xml/System.Windows.Interop/HwndSource.xml
  xml/System.Windows.Interop/HwndSourceParameters.xml
  xml/System.Windows.Media/MediaPlayer.xml
  xml/System.Windows.Media/MediaScriptCommandEventArgs.xml
  xml/System.Windows.Xps.Packaging/IXpsFixedPageWriter.xml
  xml/System.Windows.Xps.Packaging/XpsDigSigPartAlteringRestrictions.xml
  xml/System.Windows.Xps.Packaging/XpsDigitalSignature.xml
  xml/System.Windows.Xps.Packaging/XpsDocument.xml
  xml/System.Windows.Xps.Packaging/XpsFont.xml
  xml/System.Windows.Xps.Packaging/XpsImage.xml
  xml/System.Windows.Xps.Packaging/XpsResource.xml
  xml/System.Windows.Xps.Packaging/XpsSignatureDefinition.xml
  xml/System.Windows.Xps.Packaging/XpsStructure.xml
  xml/System.Windows.Xps/XpsDocumentWriter.xml
  xml/System.Windows/MediaScriptCommandRoutedEventArgs.xml
  xml/ns-System.Windows.Xps.Packaging.xml
  xml/ns-System.Windows.Xps.Serialization.xml
  xml/ns-System.Windows.Xps.xml
Labels: area-Meta

#7974 Remove outdated information
  xml/System/Array.xml
Labels: area-System.Runtime

#7972 Fix SortedList ctor time complexity documentation
  xml/System.Collections.Generic/SortedList`2.xml
Labels: area-System.Collections

#7971 Update guidance on ThrowIfNull optional parameter
  xml/System/ArgumentNullException.xml
Labels: area-System.Runtime

#7968 Update Task.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter`1.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/Task`1.xml
Labels: area-System.Threading.Tasks

#7977 Merge main into live
  xml/System.Collections.Generic/SortedList`2.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter`1.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/Task`1.xml
  xml/System/ArgumentNullException.xml
  xml/System/Array.xml
Labels: area-Meta

#7978 Update IDisposable.xml
  xml/System/IDisposable.xml
Labels: area-System.Runtime

#7984 Merge main into live
  xml/System/IDisposable.xml
Labels: area-System.Runtime

#7982 System.TypedReference F# snippet
  snippets/fsharp/System/TypedReference/Overview/fs.fsproj
  snippets/fsharp/System/TypedReference/Overview/source.fs
  xml/System/TypedReference.xml
Labels: area-System.Runtime

#7963 Update AppDomainSetup.xml
  xml/System/AppDomainSetup.xml
Labels: area-System.Runtime

#7990 Remove typo
  xml/System.IO/TextWriter.xml
Labels: area-System.IO

#7991 Merge main into live
  xml/System.IO/TextWriter.xml
  xml/System/AppDomainSetup.xml
Labels: area-Meta

#7966 Updated docs on CopyTo(Stream, Int32)
  xml/System.IO/Stream.xml
Labels: area-System.IO

#7896 Update equals_ex3.cs
  snippets/csharp/System/String/Equals/equals_ex3.cs
  xml/System/String.xml
  xml/System/StringComparison.xml
Labels: area-System.Runtime

#7997 Merge main into live
  snippets/csharp/System/String/Equals/equals_ex3.cs
  xml/System.IO/Stream.xml
  xml/System/String.xml
  xml/System/StringComparison.xml
Labels: area-Meta

#7995 Update baselines for mdoc 5.8.9
  xml/System.Collections.Immutable/ImmutableArray.xml
  xml/System.CommandLine.Builder/CommandLineBuilderExtensions.xml
  xml/System.Data.Common/DbBatch.xml
  xml/System.Data.Common/DbBatchCommandCollection.xml
  xml/System.IO.Compression/BrotliDecoder.xml
  xml/System.IO.Compression/BrotliEncoder.xml
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal+UnhandledExceptionPropagationHandler.xml
  xml/System.Runtime.InteropServices.ObjectiveC/ObjectiveCMarshal.xml
  xml/System.Security.Cryptography.X509Certificates/CertificateRequest.xml
  xml/System.Security.Cryptography.X509Certificates/X500DistinguishedName.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2Collection.xml
  xml/System.Security.Cryptography.X509Certificates/X509ChainPolicy.xml
  xml/System.Security.Cryptography.X509Certificates/X509Extension.xml
  xml/System.Security.Cryptography.X509Certificates/X509SubjectKeyIdentifierExtension.xml
  xml/System.Security.Cryptography/HMACMD5.xml
  xml/System.Security.Cryptography/SHA256.xml
  xml/System.Web.DynamicData/DynamicFilter.xml
  xml/System.Web.DynamicData/QueryableFilterRepeater.xml
  xml/System.Windows.Forms/CloseReason.xml
  xml/System/Math.xml
Labels: area-Meta

#7954 RunAsync waits for hosted services to stop
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostExtensions.xml
Labels: area-Extensions-Hosting

#7993 Update WebBrowser.xml
  xml/System.Windows.Forms/WebBrowser.xml
Labels: area-WinForms

#8005 Merge main into live
  xml/System.Windows.Forms/WebBrowser.xml
Labels: area-WinForms

#8001 System.Tuple<T1,T2,T3,T4,T5,T6,T7> F# snippets
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Item1/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Item1/item1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/ToString/tostring1.fs
  xml/System/Tuple`7.xml
Labels: area-System.Runtime

#8016 Merge main into live
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Equals/equals1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Equals/equals2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Equals/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Item1/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Item1/item1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Overview/example1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/Overview/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/System.Collections.IStructuralComparable.CompareTo/compareto1.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/System.Collections.IStructuralComparable.CompareTo/compareto2.fs
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/System.Collections.IStructuralComparable.CompareTo/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/ToString/fs.fsproj
  snippets/fsharp/System/TupleT1,T2,T3,T4,T5,T6,T7/ToString/tostring1.fs
  xml/System/Tuple`7.xml
Labels: area-Meta

#8006 Correct storage size of Decimal
  xml/System.Data.SqlTypes/SqlDecimal.xml
Labels: area-System.Data

#8007 Remove CAS attributes from snippets
  snippets/csharp/System.ComponentModel.Design/DesignerActionHeaderItem/Overview/designeractions.cs
  snippets/csharp/System.ComponentModel.Design/DesignerCollection/Overview/examplecomponent.cs
  snippets/csharp/System.ComponentModel.Design/DesignerVerbCollection/Overview/class1.cs
  snippets/csharp/System.ComponentModel.Design/IDesigner/Overview/testcontrol.cs
  snippets/csharp/System.ComponentModel.Design/IDesignerFilter/Overview/controldesignerexample.cs
  snippets/csharp/System.ComponentModel.Design/IDesignerHost/Overview/idesignerhostexample.cs
  snippets/csharp/System.ComponentModel.Design/IEventBindingService/Overview/source.cs
  snippets/csharp/System.ComponentModel.Design/IMenuCommandService/Overview/component1.cs
  snippets/csharp/System.ComponentModel.Design/ITypeResolutionService/Overview/ityperesolutionservicecontrol.cs
  snippets/csharp/System.ComponentModel/IExtenderProvider/Overview/HelpLabel.cs
  snippets/csharp/System.ComponentModel/PropertyTabAttribute/Overview/class1.cs
  snippets/csharp/System.ComponentModel/ToolboxItemFilterAttribute/Overview/samplecontrol.cs
  snippets/csharp/System.ComponentModel/TypeDescriptor/GetProperties/Form1.cs
  snippets/csharp/System.Deployment.Application/ApplicationDeployment/DownloadFileGroup/Form1.cs
  snippets/csharp/System.Deployment.Application/ApplicationDeployment/DownloadFileGroup/Makefile
  snippets/csharp/System.Deployment.Application/ApplicationDeployment/DownloadFileGroup/Project.csproj
  snippets/csharp/System.Deployment.Application/ApplicationDeployment/Overview/Form1.cs
  snippets/csharp/System.IO.IsolatedStorage/IsolatedStorageFile/Close/Project.csproj
  snippets/csharp/System.IO.IsolatedStorage/IsolatedStorageFile/Close/source.cs
  snippets/csharp/System.IO.Packaging/PackageStore/AddPackage/Window1.xaml.cs
  snippets/csharp/System.IO/StreamWriter/AutoFlush/logger.cs
  snippets/csharp/System.IdentityModel.Services/ClaimsPrincipalPermission/Overview/app.config
  snippets/csharp/System.IdentityModel.Services/ClaimsPrincipalPermission/Overview/program.cs
  snippets/csharp/System.IdentityModel.Services/ClaimsPrincipalPermission/Overview/wifcppwithcam.csproj
  snippets/csharp/System.IdentityModel.Services/SessionAuthenticationModule/Overview/contact.aspx.cs
  snippets/csharp/System.IdentityModel.Services/WSFederationAuthenticationModule/Overview/contact.aspx.cs
Labels: area-Meta

#8012 Remove CAS attributes
  snippets/csharp/System.Runtime.Hosting/ActivationArguments/Overview/Project.csproj
  snippets/csharp/System.Runtime.Hosting/ActivationArguments/Overview/program.cs
  snippets/csharp/System.Runtime.InteropServices/GCHandle/Overview/Project.csproj
  snippets/csharp/System.Runtime.InteropServices/GCHandle/Overview/sample.cs
  snippets/csharp/System.Runtime.InteropServices/SafeHandle/Overview/app.config
  snippets/csharp/System.Runtime.InteropServices/SafeHandle/Overview/program.cs
  snippets/csharp/System.Runtime.InteropServices/SafeHandle/Overview/safehandle.csproj
  snippets/csharp/System.Runtime.Serialization/FormatterServices/CheckTypeSecurity/FormatterServices.cs
  snippets/csharp/System.Runtime.Serialization/FormatterServices/GetObjectData/Populate.cs
  snippets/csharp/System.Runtime.Serialization/IObjectReference/Overview/Project.csproj
  snippets/csharp/System.Runtime.Serialization/IObjectReference/Overview/iobjectreference.cs
  snippets/csharp/System.Runtime.Serialization/ISerializable/GetObjectData/ISerializable_GetObjectData.cs
  snippets/csharp/System.Runtime.Serialization/SerializationBinder/Overview/serializationbinder.cs
  snippets/csharp/System.Runtime.Serialization/SerializationException/Overview/Project.csproj
  snippets/csharp/System.Runtime.Serialization/SerializationException/Overview/makefile
  snippets/csharp/System.Runtime.Serialization/SerializationException/Overview/streamingcontext.cs
  snippets/csharp/System.Runtime.Serialization/SerializationInfo/GetValue/source.cs
  snippets/csharp/System.Runtime.Serialization/StreamingContext/.ctor/StreamingContext_Context.cs
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
  xml/System.Runtime.Serialization.Formatters/IFieldInfo.xml
  xml/System.Runtime.Serialization/IObjectReference.xml
  xml/System.Runtime.Serialization/ISerializable.xml
  xml/System.Runtime.Serialization/ISerializationSurrogate.xml
  xml/System.Runtime.Serialization/ISurrogateSelector.xml
Labels: area-Meta

#7994 Updates around config files
  xml/Microsoft.CSharp/CSharpCodeProvider.xml
  xml/Microsoft.VisualBasic.Logging/FileLogTraceListener.xml
  xml/Microsoft.VisualBasic/VBCodeProvider.xml
  xml/System.ComponentModel.DataAnnotations/ValidationContext.xml
  xml/System.ComponentModel/TypeConverter.xml
  xml/System.Configuration/ConfigurationCollectionAttribute.xml
  xml/System.Resources/ResourceManager.xml
  xml/System.Runtime/GCSettings.xml
  xml/System.Threading/Thread.xml
  xml/System/AppContext.xml
  xml/System/String.xml
  xml/System/Uri.xml
  xml/ns-System.Transactions.Configuration.xml
Labels: area-Meta

#8004 Port documentation for .NET 7.0 Preview3
  xml/Microsoft.Extensions.Hosting/Host.xml
  xml/Microsoft.Extensions.Hosting/HostApplicationBuilder.xml
  xml/Microsoft.Extensions.Hosting/HostApplicationBuilderSettings.xml
  xml/System.CommandLine.Binding/BinderBase`1.xml
  xml/System.CommandLine.Binding/BindingContext.xml
  xml/System.CommandLine.Help/TwoColumnHelpRow.xml
  xml/System.CommandLine.IO/SystemConsole.xml
  xml/System.CommandLine.Parsing/Token.xml
  xml/System.CommandLine/Argument.xml
  xml/System.CommandLine/ArgumentArity.xml
  xml/System.CommandLine/Command.xml
  xml/System.CommandLine/CompletionSourceList.xml
  xml/System.CommandLine/DirectiveCollection.xml
  xml/System.CommandLine/Option.xml
  xml/System.CommandLine/Symbol.xml
  xml/System.Composition.Hosting/ContainerConfiguration.xml
  xml/System.Data.Common/DbBatchCommandCollection.xml
  xml/System.Diagnostics/Activity.xml
  xml/System.Diagnostics/ActivityCreationOptions`1.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter`1.xml
  xml/System.Runtime.InteropServices/LibraryImportAttribute.xml
  xml/System.Runtime.InteropServices/NativeLibrary.xml
  xml/System.Runtime.InteropServices/StringMarshalling.xml
  xml/System.Security.Cryptography.X509Certificates/X500DistinguishedNameBuilder.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/Task`1.xml
  xml/System.Web.DynamicData/DynamicFilter.xml
  xml/System.Web.DynamicData/QueryableFilterRepeater.xml
  xml/System/Half.xml
  xml/System/IntPtr.xml
  xml/System/TimeOnly.xml
  xml/System/UIntPtr.xml
Labels: area-Meta

#8018 Clarify casing of escape characters for encoding
  xml/System.Net/WebUtility.xml
Labels: area-System.Net

#8014 Remove CAS attributes
  snippets/csharp/System.Drawing.Design/CategoryNameCollection/Overview/toolboxcategorynamescontrol.cs
  snippets/csharp/System.Drawing.Design/IToolboxService/Overview/itoolboxservicecontrol.cs
  snippets/csharp/System.Drawing.Design/IToolboxService/Overview/textdatatextboxcomponent.cs
  snippets/csharp/System.Drawing.Design/UITypeEditor/Overview/angleeditor.cs
  snippets/csharp/System.Drawing.Design/UITypeEditorEditStyle/Overview/marqueeborderdesigner.cs
  snippets/csharp/System.Drawing.Design/UITypeEditorEditStyle/Overview/marqueecontrolrootdesigner.cs
  snippets/csharp/System.Drawing/Brushes/Overview/form1.cs
  snippets/csharp/System.Drawing/BufferedGraphics/Render/bufferingexamples.cs
  snippets/csharp/System.Drawing/Graphics/FillRectangle/form1.cs
  snippets/csharp/System.Drawing/Graphics/Overview/form1.cs
  snippets/csharp/System.Net/DnsPermissionAttribute/Overview/Project.csproj
  snippets/csharp/System.Net/DnsPermissionAttribute/Overview/source.cs
  snippets/csharp/System.Net/DownloadDataCompletedEventArgs/Overview/asyncmethods.cs
  snippets/csharp/System.Net/WebPermissionAttribute/.ctor/Project.csproj
  snippets/csharp/System.Net/WebPermissionAttribute/.ctor/source.cs
  snippets/csharp/System.Reflection/MethodBase/GetMethodImplementationFlags/constructorbuilder_getmodule_4.cs
  snippets/csharp/System.Threading/Thread/BeginThreadAffinity/source.cs
  snippets/csharp/System.Xml.Serialization/XmlSchemaProviderAttribute/Overview/Project.csproj
  snippets/csharp/System.Xml.Serialization/XmlSchemaProviderAttribute/Overview/SerializationChunk.cs
  snippets/csharp/System.Xml.Serialization/XmlTextAttribute/Overview/source1.cs
Labels: area-Meta

#8011 Remove CAS attributes
  snippets/csharp/System/ActivationContext/Overview/Project.csproj
  snippets/csharp/System/ActivationContext/Overview/program.cs
  snippets/csharp/System/AppDomain/UnhandledException/unhandledexception.cs
  snippets/csharp/System/AppDomainManager/Overview/Project.csproj
  snippets/csharp/System/AppDomainManager/Overview/customAppDomainManager.cs
  snippets/csharp/System/ApplicationId/Overview/Project.csproj
  snippets/csharp/System/ApplicationId/Overview/program.cs
  snippets/csharp/System/Exception/.ctor/Project.csproj
  snippets/csharp/System/Exception/.ctor/getobjdata.cs
  snippets/csharp/System/Exception/.ctor/news.cs
  snippets/csharp/System/MarshalByRefObject/InitializeLifetimeService/Project.csproj
  snippets/csharp/System/MarshalByRefObject/InitializeLifetimeService/source.cs
  snippets/csharp/System/MarshalByRefObject/Overview/Project.csproj
  snippets/csharp/System/MarshalByRefObject/Overview/source.cs
  snippets/csharp/System/TypeLoadException/.ctor/Project.csproj
  snippets/csharp/System/TypeLoadException/.ctor/typeloadexception_constructor3.cs
  snippets/csharp/System/TypeLoadException/.ctor/typeloadexception_getobjectdata.cs
  snippets/fsharp/System/AppDomain/UnhandledException/unhandledexception.fs
  snippets/fsharp/System/ApplicationId/Overview/program.fs
  snippets/fsharp/System/Exception/.ctor/getobjdata.fs
  snippets/fsharp/System/MarshalByRefObject/InitializeLifetimeService/source.fs
  snippets/fsharp/System/MarshalByRefObject/Overview/source.fs
  xml/System/Activator.xml
Labels: area-Infrastructure

#8003 Fix typo for MinimizeWindowCommand property on Windows Desktop 6
  xml/System.Windows/SystemCommands.xml
Labels: area-WPF
