Repository dotnet/dotnet-api-docs, pull requests merged in 2022-09, with the labels that each got.

#8352 Update docs from trippleslash comments
  xml/System.Net.Http.Headers/HttpRequestHeaders.xml
  xml/System.Net.Http/HttpMethod.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Net.WebSockets/ClientWebSocket.xml
  xml/System.Net.WebSockets/ClientWebSocketOptions.xml
  xml/ns-System.Net.Quic.xml
Labels: area-System.Net

#8355 Update baseline for mdoc 5.9.1
  xml/Microsoft.Extensions.DependencyInjection/OptionsBuilderExtensions.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
  xml/System.Data.Common/DbDataSource.xml
  xml/System.Data.Linq/Table`1.xml
  xml/System.Data.Objects.DataClasses/EntityCollection`1.xml
  xml/System.Data.Objects.DataClasses/EntityReference`1.xml
  xml/System.Data.Objects.DataClasses/RelatedEnd.xml
  xml/System.Data.Objects.DataClasses/RelationshipManager.xml
  xml/System.Data.Objects/ObjectContext.xml
  xml/System.Diagnostics/ActivityLink.xml
  xml/System.Diagnostics/Debug+AssertInterpolatedStringHandler.xml
  xml/System.Diagnostics/Debug+WriteIfInterpolatedStringHandler.xml
  xml/System.Formats.Tar/TarReader.xml
  xml/System.IO/File.xml
  xml/System.Net.Http/HttpMethod.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Net.Security/NegotiateAuthentication.xml
  xml/System.Net.Security/NegotiateAuthenticationClientOptions.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.WebSockets/ClientWebSocket.xml
  xml/System.Net.WebSockets/ClientWebSocketOptions.xml
  xml/System.Numerics/ISignedNumber`1.xml
  xml/System.Numerics/IUnsignedNumber`1.xml
  xml/System.Reflection.Metadata/CustomAttribute.xml
  xml/System.Reflection.Metadata/FieldDefinition.xml
  xml/System.Reflection.Metadata/MemberReference.xml
  xml/System.Reflection.Metadata/MethodDefinition.xml
  xml/System.Reflection.Metadata/MethodSpecification.xml
  xml/System.Reflection.Metadata/PropertyDefinition.xml
  xml/System.Reflection.Metadata/StandaloneSignature.xml
  xml/System.Reflection.Metadata/TypeSpecification.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.Intrinsics/Vector128.xml
  xml/System.Runtime.Intrinsics/Vector256.xml
  xml/System.Runtime.Intrinsics/Vector64.xml
  xml/System.Runtime.Versioning/ObsoletedInOSPlatformAttribute.xml
  xml/System.Runtime.Versioning/UnsupportedOSPlatformAttribute.xml
  xml/System.ServiceModel.Channels/StreamUpgradeProvider.xml
  xml/System.Text/StringBuilder+AppendInterpolatedStringHandler.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System/Byte.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/MemoryExtensions+TryWriteInterpolatedStringHandler.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
Labels: area-Meta

#8358 Remove unnecessary attribute ctor
  snippets/csharp/System/Exception/.ctor/getobjdata.cs
Labels: community-contribution

#8353 Apply missed code review feedback from #8352
  xml/System.Net.Http/HttpMethod.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Net.WebSockets/ClientWebSocket.xml
  xml/System.Net.WebSockets/ClientWebSocketOptions.xml
  xml/ns-System.Net.Quic.xml
Labels: area-System.Net

#8361 GetTempFileName
  xml/System.IO/Path.xml
Labels: area-System.IO

#8367 Fix code example formatting
  xml/Microsoft.Extensions.Logging/LoggerExtensions.xml
Labels: area-Extensions-Logging

#8370 Correct typos Type.IsAssignable snippets
  snippets/cpp/VS_Snippets_CLR/TestIsAssignableFrom/cpp/testisassignablefrom.cpp
  snippets/csharp/System/Type/IsAssignableFrom/testisassignablefrom.cs
  snippets/fsharp/System/Type/IsAssignableFrom/testisassignablefrom.fs
Labels: area-System.Runtime, community-contribution

#8371 Fix regex typo
  snippets/csharp/VS_Snippets_WebNet/LoginClass/CS/loginclasscs.aspx
Labels: area-System.Web, community-contribution

#8369 Add missing NegotiateAuthenticationStatusCode summaries
  xml/System.Net.Security/NegotiateAuthenticationStatusCode.xml
Labels: area-System.Net, community-contribution

#8378 Add explicit variable names
  snippets/csharp/System.Threading/Semaphore/Overview/source.cs
Labels: community-contribution

#8356 Update descriptions with alternate type params
  xml/System.Runtime.Intrinsics/Vector128.xml
  xml/System.Runtime.Intrinsics/Vector256.xml
  xml/System.Runtime.Intrinsics/Vector64.xml
Labels: area-System.Runtime.Intrinsics

#8376 Port latest docs and inheritdocs
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/BatchingLogger.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLogger.xml
  xml/Microsoft.Extensions.Logging.Filter.Internal/FilterLogger.xml
  xml/Microsoft.Extensions.Logging.TraceSource/TraceSourceLogger.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
  xml/Microsoft.Extensions.Primitives/StringValues.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Runtime.Serialization/ImportOptions.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderMap.xml
  xml/System.Security.Cryptography.X509Certificates/CertificateRequest.xml
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Web.Hosting/AspNetMemoryMonitor.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
Labels: area-Meta

#8385 RC1 - Update System.Formats.Tar docs (Backport #8375)
  xml/System.Formats.Tar/GnuTarEntry.xml
  xml/System.Formats.Tar/PaxGlobalExtendedAttributesTarEntry.xml
  xml/System.Formats.Tar/PaxTarEntry.xml
  xml/System.Formats.Tar/PosixTarEntry.xml
  xml/System.Formats.Tar/TarEntry.xml
  xml/System.Formats.Tar/TarEntryType.xml
  xml/System.Formats.Tar/TarFile.xml
  xml/System.Formats.Tar/TarReader.xml
  xml/System.Formats.Tar/TarWriter.xml
  xml/System.Formats.Tar/UstarTarEntry.xml
  xml/System.Formats.Tar/V7TarEntry.xml
Labels: area-Meta

#8365 Fix typo
  snippets/csharp/System.Net.Http/HttpClientHandler/ServerCertificateCustomValidationCallback/program.cs
Labels: area-System.Net.Http, community-contribution

#8391 Assorted missing docs for RC1
  xml/System.Collections.Generic/PriorityQueue`2+UnorderedItemsCollection+Enumerator.xml
  xml/System.ComponentModel.Design.Serialization/SerializationStore.xml
  xml/System.ComponentModel.Design/DesignerOptionService+DesignerOptionCollection.xml
  xml/System.Diagnostics/ActivityTagsCollection.xml
  xml/System.Diagnostics/TagList.xml
  xml/System.Management/ManagementObjectCollection+ManagementObjectEnumerator.xml
  xml/System.Management/MethodDataCollection+MethodDataEnumerator.xml
  xml/System.Management/PropertyDataCollection+PropertyDataEnumerator.xml
  xml/System.Management/QualifierDataCollection+QualifierDataEnumerator.xml
  xml/System.Net.Http.Headers/HeaderStringValues+Enumerator.xml
  xml/System.Net.Http.Headers/HeaderStringValues.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated+Enumerator.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Windows.Forms/BindableComponent.xml
Labels: area-Meta

#8389 APM Socket methods
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8384 Update [Alg].Create() samples for 3DES/RC2.
  snippets/cpp/VS_Snippets_CLR/Cryptography.3DES.Create.File/CPP/fileexample.cpp
  snippets/cpp/VS_Snippets_CLR/Cryptography.3DES.Create.Memory/CPP/memoryexample.cpp
  snippets/cpp/VS_Snippets_CLR/Cryptography.RC2.Create.File/CPP/fileexample.cpp
  snippets/cpp/VS_Snippets_CLR/Cryptography.RC2.Create.Memory/CPP/memoryexample.cpp
  snippets/csharp/System.Security.Cryptography/RC2/Create/fileexample.cs
  snippets/csharp/System.Security.Cryptography/RC2/Create/fileexample1.cs
  snippets/csharp/System.Security.Cryptography/RC2/Create/memoryexample.cs
  snippets/csharp/System.Security.Cryptography/RC2/Create/memoryexample1.cs
  snippets/csharp/System.Security.Cryptography/RC2/Create/project.csproj
  snippets/csharp/System.Security.Cryptography/TripleDES/Create/fileexample.cs
  snippets/csharp/System.Security.Cryptography/TripleDES/Create/fileexample1.cs
  snippets/csharp/System.Security.Cryptography/TripleDES/Create/memoryexample.cs
  snippets/csharp/System.Security.Cryptography/TripleDES/Create/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DES.Create.File/VB/fileexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DES.Create.File/VB/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DES.Create.Memory/VB/memoryexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DES.Create.Memory/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.RC2.Create.File/VB/fileexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.RC2.Create.File/VB/project.csproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.RC2.Create.Memory/VB/memoryexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.RC2.Create.Memory/project.csproj
  xml/System.Security.Cryptography/RC2.xml
  xml/System.Security.Cryptography/TripleDES.xml
Labels: area-System.Security

#8399 Update editorbrowsable docs
  snippets/csharp/System.ComponentModel/EditorBrowsableAttribute/Overview/ctleditorbrowsable.cs
  xml/System.ComponentModel/EditorBrowsableAttribute.xml
  xml/System.ComponentModel/EditorBrowsableState.xml
Labels: area-System.ComponentModel

#8404 Update HealthCheckResult.xml
  xml/Microsoft.Extensions.Diagnostics.HealthChecks/HealthCheckResult.xml
Labels: community-contribution

#8372 Update GetEntity exceptions for .NET 7
  xml/System.Xml/XmlSecureResolver.xml
Labels: area-System.Xml

#8397 Add doc comments for ThrowingResolver
  xml/System.Xml/XmlResolver.xml
Labels: area-System.Xml

#8408 Clarify docs for the `Volatile` class with some examples of how it can be used for synchronization
  xml/System.Threading/Volatile.xml
Labels: area-System.Threading

#8341 Add documentation for PE flag enums
  xml/System.Reflection.PortableExecutable/Characteristics.xml
  xml/System.Reflection.PortableExecutable/CorFlags.xml
Labels: area-System.Reflection, community-contribution

#8416 Fix JSON ignore conditions
  xml/System.Text.Json.Serialization/JsonIgnoreCondition.xml
Labels: area-System.Text.Json

#8401 Format code
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData DataTable Example/CS/program.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData DataTable Example/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/classic webdata datatable example2/cs/program.csproj
  snippets/csharp/VS_Snippets_ADO.NET/classic webdata datatable example2/cs/source.cs
Labels: community-contribution

#8422 Add summary for primitives namespace
  xml/ns-Microsoft.Extensions.Primitives.xml
Labels: area-Extensions-Primitives

#8425 Add Docs Summary for System.ComponentModel Undocumented APIs
  xml/System.ComponentModel/HalfConverter.xml
  xml/System.ComponentModel/Int128Converter.xml
  xml/System.ComponentModel/UInt128Converter.xml
Labels: area-System.ComponentModel

#8424 Add missing docs in FieldTypeEncoder.CustomModifiers, ObsoletedOSPlatformAttribute
  xml/System.Reflection.Metadata.Ecma335/FieldTypeEncoder.xml
  xml/System.Runtime.Versioning/ObsoletedOSPlatformAttribute.xml
Labels: area-System.Reflection.Metadata

#8429 Fix typo in SHA512 documentation
  xml/System.Security.Cryptography/SHA512.xml
Labels: area-System.Security

#8430 Add missing documentation
  xml/System.Text.Json.Serialization.Metadata/JsonPolymorphismOptions.xml
Labels: area-System.Text.Json

#8420 Fix up STJ comments
  xml/System.Text.Json.Serialization.Metadata/JsonObjectInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonParameterInfoValues.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
Labels: area-System.Text.Json

#8421 Add docs for new SqlTypes APIs
  xml/System.Data.SqlTypes/SqlBinary.xml
  xml/System.Data.SqlTypes/SqlDecimal.xml
  xml/System.Data.SqlTypes/SqlMoney.xml
Labels: area-System.Data

#8435 fixed Console Output statement 🥂
  snippets/csharp/System.Collections.Generic/QueueT/Overview/source.cs
Labels: area-System.Collections, community-contribution

#8392 Filter out JS interop APIs for compiler
  xml/_filter.xml
Labels: area-System.Runtime.InteropServices.JavaScript

#8431 Add missing documentation for System.Security.*
  xml/System.Security.Cryptography.X509Certificates/CertificateRequest.xml
  xml/System.Security.Cryptography.X509Certificates/X500RelativeDistinguishedName.xml
  xml/System.Security.Cryptography.X509Certificates/X509SubjectAlternativeNameExtension.xml
  xml/System.Security.Cryptography/RSACng.xml
Labels: area-System.Security

#8436 missing docs for System.Runtime.InteropServices.JavaScript
  xml/System.Runtime.InteropServices.JavaScript/JSFunctionBinding.xml
  xml/System.Runtime.InteropServices.JavaScript/JSMarshalerArgument+ArgumentToJSCallback`1.xml
  xml/System.Runtime.InteropServices.JavaScript/JSMarshalerArgument+ArgumentToManagedCallback`1.xml
  xml/System.Runtime.InteropServices.JavaScript/JSMarshalerArgument.xml
  xml/System.Runtime.InteropServices.JavaScript/JSMarshalerType.xml
  xml/System.Runtime.InteropServices.JavaScript/JSObject.xml
  xml/System.Runtime.InteropServices.JavaScript/JSType+Array`1.xml
  xml/System.Runtime.InteropServices.JavaScript/JSType+Function`1.xml
  xml/System.Runtime.InteropServices.JavaScript/JSType+Function`2.xml
  xml/System.Runtime.InteropServices.JavaScript/JSType+Function`3.xml
  xml/System.Runtime.InteropServices.JavaScript/JSType+Function`4.xml
  xml/System.Runtime.InteropServices.JavaScript/JSType+Promise`1.xml
  xml/ns-System.Runtime.InteropServices.JavaScript.xml
Labels: area-System.Runtime.InteropServices.JavaScript

#8423 Fix api documentation for System/System.Numerics
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/INumberBase`1.xml
  xml/System.Numerics/Matrix3x2.xml
  xml/System.Numerics/Matrix4x4.xml
  xml/System.Numerics/Quaternion.xml
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector3.xml
  xml/System.Numerics/Vector4.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System/Byte.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/IParsable`1.xml
  xml/System/ISpanParsable`1.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/TimeOnly.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
Labels: area-System.Numerics

#8438 Change sample codes to call Close method when done reading.
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader Example/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader Example/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader2/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader2/CS/mysample.cs
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader Example/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader2/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlCommand.ExecuteReader2/VB/mysample.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/Classic WebData SqlCommand.SqlCommand2 Example/VB/Project.vbproj
Labels: community-contribution

#8444 GetConverter never returns null
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#8427 docs: add summary to Microsoft.Extensions.Options
  xml/ns-Microsoft.Extensions.Options.xml
Labels: area-Extensions-Options, community-contribution

#8448 Add missing docs for System.Runtime.InteropServices
  xml/System.Runtime.InteropServices.Marshalling/ContiguousCollectionMarshallerAttribute.xml
  xml/System.Runtime.InteropServices.Marshalling/ReadOnlySpanMarshaller`2+ManagedToUnmanagedIn.xml
  xml/System.Runtime.InteropServices.Marshalling/SpanMarshaller`2+ManagedToUnmanagedIn.xml
  xml/ns-System.Runtime.InteropServices.Marshalling.xml
Labels: area-System.Runtime.InteropServices

#8406 Add some info to `ThreadPool.SetMinThreads` on how increasing the minimum threads may degrade performance
  xml/System.Threading/ThreadPool.xml
Labels: area-System.Threading
