Repository dotnet/dotnet-api-docs, pull requests merged in 2022-11, with the labels that each got.

#8564 Remove wrong path case sensitive claims
  xml/System.IO/Directory.xml
Labels: area-System.IO, community-contribution

#8602 Improve the class-level Socket example
  snippets/cpp/VS_Snippets_Remoting/System.Net.Sockets.Socket/CPP/socket.cpp
  snippets/csharp/System.Net.Sockets/Socket/Overview/socket.cs
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.Sockets.Socket/VB/socket.vb
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8532 Mention supported HTTP versions in WinHttpHandler
  xml/System.Net.Http/WinHttpHandler.xml
Labels: area-System.Net

#8495 Copy exception docs from SendAsync to SendMailAsync
  xml/System.Net.Mail/SmtpClient.xml
Labels: area-System.Net

#8498 Add mention about Digital Signature Key Usage attribute
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net

#8489 Small fixes from post-merge code review.
  snippets/csharp/System.Net.Sockets/TcpClient/Overview/tcpclient.cs
  snippets/csharp/System.Net.Sockets/TcpListener/Overview/tcpserver.cs
  snippets/csharp/System.Net/HttpVersion/Overview/httpversion_version10.cs
  snippets/visualbasic/VS_Snippets_Remoting/HttpVersion_Version10/VB/httpversion_version10.vb
  xml/System.Net.Http/ByteArrayContent.xml
  xml/System.Net.NetworkInformation/Ping.xml
  xml/System.Net/WebProxy.xml
Labels: area-System.Net

#8496 Add note about IPv6 and NotSupportedException
  xml/System.Net.Sockets/TcpClient.xml
Labels: area-System.Net

#8616 Changes for socket option overloads
  snippets/cpp/VS_Snippets_Remoting/Socket_Socket_Options/CPP/source.cpp
  snippets/csharp/System.Net.Sockets/LingerOption/LingerTime/source.cs
  snippets/visualbasic/VS_Snippets_Remoting/Socket_Socket_Options/VB/source.vb
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8607 Replaced 'T' type with 'TResult'
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks, community-contribution

#8606 Update Task.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks, community-contribution

#8487 Add example for ALPN usage.
  snippets/csharp/System.Net.Security/ALPN/Project.csproj
  snippets/csharp/System.Net.Security/ALPN/alpn.cs
  snippets/visualbasic/System.Net.Security/ALPN/Project.vbproj
  snippets/visualbasic/System.Net.Security/ALPN/alpn.vb
  xml/System.Net.Security/SslApplicationProtocol.xml
Labels: area-System.Net

#8619 CI Update - Add System.IO.Hashing to .NET 6
  xml/FrameworksIndex/dotnet-plat-ext-6.0.xml
  xml/System.IO.Hashing/Crc32.xml
  xml/System.IO.Hashing/Crc64.xml
  xml/System.IO.Hashing/NonCryptographicHashAlgorithm.xml
  xml/System.IO.Hashing/XxHash32.xml
  xml/System.IO.Hashing/XxHash64.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.Sockets/SocketTaskExtensions.xml
  xml/System.Net.Sockets/TcpClient.xml
Labels: area-System.Security

#8625 Add missing space between words
  xml/System.Runtime.InteropServices/SafeHandle.xml
Labels: area-System.Runtime.InteropServices

#8626 Update `SafeHandle` doc around CER
  xml/System.Runtime.InteropServices/SafeHandle.xml
Labels: area-System.Runtime.InteropServices

#8107 Update Math.xml
  xml/System/Math.xml
Labels: area-System.Runtime

#8579 Update DateOnly - Add Remarks
  xml/System/DateOnly.xml
Labels: area-System.Globalization, community-contribution

#8509 Fix typo in docs of AdvSimd.Arm64.TransposeOdd
  xml/System.Runtime.Intrinsics.Arm/AdvSimd+Arm64.xml
Labels: area-System.Runtime.Intrinsics, community-contribution

#8627 System.IO.File F# snippets
  snippets/fsharp/System.IO/File/AppendAllLines/fs.fsproj
  snippets/fsharp/System.IO/File/AppendAllLines/program.fs
  snippets/fsharp/System.IO/File/AppendAllText/AllText.fs
  snippets/fsharp/System.IO/File/AppendAllText/AllText1.fs
  snippets/fsharp/System.IO/File/AppendAllText/fs.fsproj
  snippets/fsharp/System.IO/File/AppendText/file_appendtext.fs
  snippets/fsharp/System.IO/File/AppendText/fs.fsproj
  snippets/fsharp/System.IO/File/Copy/fs.fsproj
  snippets/fsharp/System.IO/File/Copy/program.fs
  snippets/fsharp/System.IO/File/Create/file create1.fs
  snippets/fsharp/System.IO/File/Create/file create2.fs
  snippets/fsharp/System.IO/File/Create/fs.fsproj
  snippets/fsharp/System.IO/File/CreateText/file createtext.fs
  snippets/fsharp/System.IO/File/CreateText/fs.fsproj
  snippets/fsharp/System.IO/File/Decrypt/fs.fsproj
  snippets/fsharp/System.IO/File/Decrypt/sample.fs
  snippets/fsharp/System.IO/File/Exists/fs.fsproj
  snippets/fsharp/System.IO/File/Exists/program.fs
  snippets/fsharp/System.IO/File/GetAccessControl/fs.fsproj
  snippets/fsharp/System.IO/File/GetAccessControl/sample.fs
  snippets/fsharp/System.IO/File/GetAttributes/file getattributes.fs
  snippets/fsharp/System.IO/File/GetAttributes/fs.fsproj
  snippets/fsharp/System.IO/File/GetLastAccessTime/file getlastaccess.fs
  snippets/fsharp/System.IO/File/GetLastAccessTime/fs.fsproj
  snippets/fsharp/System.IO/File/GetLastWriteTime/file getlastwrite.fs
  snippets/fsharp/System.IO/File/GetLastWriteTime/fs.fsproj
  snippets/fsharp/System.IO/File/Move/file move.fs
  snippets/fsharp/System.IO/File/Move/fs.fsproj
  snippets/fsharp/System.IO/File/Open/file open1.fs
  snippets/fsharp/System.IO/File/Open/file open2.fs
  snippets/fsharp/System.IO/File/Open/file open3.fs
  snippets/fsharp/System.IO/File/Open/fs.fsproj
  snippets/fsharp/System.IO/File/OpenRead/file openread.fs
  snippets/fsharp/System.IO/File/OpenRead/fs.fsproj
  snippets/fsharp/System.IO/File/OpenText/file opentext.fs
  snippets/fsharp/System.IO/File/OpenText/fs.fsproj
  snippets/fsharp/System.IO/File/OpenWrite/file openwrite.fs
  snippets/fsharp/System.IO/File/OpenWrite/fs.fsproj
  snippets/fsharp/System.IO/File/Overview/file class example.fs
  snippets/fsharp/System.IO/File/Overview/fs.fsproj
  snippets/fsharp/System.IO/File/ReadAllLines/AllText.fs
  snippets/fsharp/System.IO/File/ReadAllLines/AllText_Encoding.fs
  snippets/fsharp/System.IO/File/ReadAllLines/fs.fsproj
  snippets/fsharp/System.IO/File/ReadLines/fs.fsproj
  snippets/fsharp/System.IO/File/ReadLines/program.fs
  snippets/fsharp/System.IO/File/Replace/fs.fsproj
  snippets/fsharp/System.IO/File/Replace/sample.fs
  snippets/fsharp/System.IO/File/SetLastAccessTime/file setlastaccess.fs
  snippets/fsharp/System.IO/File/SetLastAccessTime/fs.fsproj
  snippets/fsharp/System.IO/File/SetLastWriteTime/file setlastwrite.fs
  snippets/fsharp/System.IO/File/SetLastWriteTime/fs.fsproj
  xml/System.IO/File.xml
Labels: area-System.IO, community-contribution

#8642 Use &#160; as white space in xml
  xml/Microsoft.Extensions.Configuration/CommandLineConfigurationExtensions.xml
  xml/Microsoft.Extensions.Options/IOptionsMonitor`1.xml
  xml/Microsoft.Extensions.Options/IOptionsSnapshot`1.xml
  xml/Microsoft.Extensions.Options/OptionsManager`1.xml
  xml/System.Diagnostics.CodeAnalysis/UnscopedRefAttribute.xml
Labels: area-Meta

#8648 Add new ArgumentExceptions for BrotliStream
  xml/System.IO.Compression/BrotliStream.xml
Labels: area-System.IO.Compression

#8587 Document correct NewLineChars default values
  xml/System.Xml/XmlWriter.xml
  xml/System.Xml/XmlWriterSettings.xml
Labels: area-System.Xml, community-contribution

#8659 Mention RankException can be thrown.
  xml/System.Collections/ArrayList.xml
Labels: area-System.Collections

#5317 Update remarks in GDI enum
  xml/System.Drawing.Drawing2D/CompositingQuality.xml
Labels: area-System.Drawing

#8638 Update non-JSON serialization types
  xml/System.Runtime.Serialization/ISerializable.xml
  xml/System/NonSerializedAttribute.xml
  xml/System/SerializableAttribute.xml
  xml/System/Type.xml
Labels: area-Serialization

#8599 Add NotSupportedException on IEnumerator.Reset
  xml/System.Collections/IEnumerator.xml
Labels: area-System.Collections, community-contribution

#8670 Fix typos in MetadataBuilder
  xml/System.Reflection.Metadata.Ecma335/MetadataBuilder.xml
Labels: community-contribution

#8665 TimeOnly - Fix constructor summary
  xml/System/TimeOnly.xml
Labels: area-System.Runtime, community-contribution

#8671 Document exceptions and alternates for Enumerable.ToHashSet
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq, community-contribution

#8652 Clarify accessibility of types returned by GetTypes and GetExportedTypes, and point them to each other
  xml/System.Reflection/Assembly.xml
Labels: area-System.Reflection, community-contribution

#8672 Minor update in HttpClientHandler.xml
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net.Http, community-contribution
