Repository dotnet/dotnet-api-docs, pull requests merged in 2023-10, with the labels that each got.

#9351 Fix more broken links
  xml/System.Diagnostics/Process.xml
  xml/System.IdentityModel.Protocols.WSTrust/EndpointReference.xml
  xml/System.IdentityModel.Protocols.WSTrust/RequestClaimCollection.xml
  xml/System.IdentityModel.Tokens/SessionSecurityToken.xml
  xml/System.ServiceModel.Description/PolicyVersion.xml
  xml/System.ServiceModel/EndpointAddress.xml
  xml/System.ServiceModel/EnvelopeVersion.xml
  xml/System.Web.Configuration/HttpCapabilitiesBase.xml
  xml/System.Web.Configuration/HttpRuntimeSection.xml
  xml/System.Web/HttpResponse.xml
Labels: area-Meta

#9357 Update owners
  .github/fabricbot.json
Labels: area-Meta

#9354 Fix typo in OpCodes.xml
  xml/System.Reflection.Emit/OpCodes.xml
Labels: area-System.Reflection.Emit, community-contribution

#9350 Update Thread.Name documentation
  snippets/cpp/VS_Snippets_CLR_System/system.Threading.Thread.Name/CPP/source.cpp
  snippets/csharp/System.Threading/Thread/Name/Project.csproj
  snippets/csharp/System.Threading/Thread/Name/source.cs
  snippets/fsharp/System.Threading/Thread/Name/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Name/source.fs
  snippets/visualbasic/VS_Snippets_CLR_System/system.Threading.Thread.Name/VB/source.vb
  xml/System.Threading/Thread.xml
Labels: area-System.Threading, community-contribution

#9356 Update default param val attr
  snippets/csharp/System.Runtime.InteropServices/DefaultParameterValueAttribute/Overview/sample.cs
  snippets/csharp/System.Runtime.InteropServices/DefaultParameterValueAttribute/Overview/sample1.cs
  snippets/csharp/System.Runtime.InteropServices/DefaultParameterValueAttribute/Overview/sample2.cs
  xml/System.Runtime.InteropServices/DefaultParameterValueAttribute.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#9369 Remove superfluous nodes
  xml/Microsoft.Extensions.Primitives/StringSegment.xml
Labels: needs-area-label

#9372 Document the behavior of side effect on UseDefaultCredentials property
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net.Http

#9375 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area-Meta

#9374 Cleanup
  xml/System.Management.Instrumentation/WmiConfigurationAttribute.xml
  xml/System.Management/ManagementDateTimeConverter.xml
Labels: area-System.Management

#9341 Update Timer.xml - wrong info in remarks of Timer.AutoReset Property
  xml/System.Timers/Timer.xml
Labels: community-contribution, needs-area-label

#9377 Remove confusing guidance
  xml/System.Collections.Generic/EqualityComparer`1.xml
Labels: area-System.Collections

#9381 Added missing apostrophe
  xml/System.DirectoryServices/DirectoryVirtualListView.xml
Labels: area-System.DirectoryServices, community-contribution

#9387 Rename file
  xml/Microsoft.Extensions.Compliance.Redaction/XxHash3RedactorOptions.xml
Labels: needs-area-label

#9388 More stern warning about string culture comparison
  xml/System/String.xml
Labels: area-System.Runtime, community-contribution

#9391 Update links to conceptual STJ docs
  xml/System.Runtime.Serialization.Json/DataContractJsonSerializer.xml
  xml/System.Text.Encodings.Web/JavaScriptEncoder.xml
  xml/System.Text.Json.Serialization/JsonConverter.xml
  xml/System.Text.Json.Serialization/JsonConverterAttribute.xml
  xml/System.Text.Json.Serialization/JsonConverterFactory.xml
  xml/System.Text.Json.Serialization/JsonConverter`1.xml
  xml/System.Text.Json.Serialization/JsonExtensionDataAttribute.xml
  xml/System.Text.Json.Serialization/JsonIgnoreAttribute.xml
  xml/System.Text.Json.Serialization/JsonPropertyNameAttribute.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter.xml
  xml/System.Text.Json/JsonCommentHandling.xml
  xml/System.Text.Json/JsonDocument.xml
  xml/System.Text.Json/JsonDocumentOptions.xml
  xml/System.Text.Json/JsonException.xml
  xml/System.Text.Json/JsonNamingPolicy.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/ns-System.Text.Json.xml
Labels: area-System.Text.Json

#9396 Fix type in ZipArchiveEntry.md
  includes/remarks/System.IO.Compression/ZipArchiveEntry/ZipArchiveEntry.md
Labels: area-System.IO.Compression, community-contribution

#9392 JsonIncludeAttribute update for .NET 8
  xml/System.Text.Json.Serialization/JsonIncludeAttribute.xml
Labels: area-System.Text.Json

#9355 Add example for optional attr
  snippets/csharp/System.Runtime.InteropServices/OptionalAttribute/Overview/Project.csproj
  snippets/csharp/System.Runtime.InteropServices/OptionalAttribute/Overview/sample.cs
  xml/System.Runtime.InteropServices/OptionalAttribute.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#9398 Update ns-System.Collections.Immutable.xml
  xml/ns-System.Collections.Immutable.xml
Labels: needs-area-label

#9390 Add missing docs for System.Reflection.PortableExecutable namespace
  xml/System.Reflection.PortableExecutable/CorHeader.xml
  xml/System.Reflection.PortableExecutable/DirectoryEntry.xml
  xml/System.Reflection.PortableExecutable/PEMemoryBlock.xml
Labels: area-System.Reflection, community-contribution

#9402 Update HashAlgorithmType.xml
  xml/System.Security.Authentication/HashAlgorithmType.xml
Labels: area-System.Security, community-contribution

#9403 Reinstate SOAP links
  xml/System.IdentityModel.Protocols.WSTrust/EndpointReference.xml
  xml/System.IdentityModel.Protocols.WSTrust/RequestClaimCollection.xml
  xml/System.IdentityModel.Tokens/SessionSecurityToken.xml
  xml/System.ServiceModel.Description/PolicyVersion.xml
  xml/System.ServiceModel/EnvelopeVersion.xml
Labels: needs-area-label

#9405 Fix class/struct naming
  xml/System.Security.Cryptography/CngProperty.xml
Labels: area-System.Security, community-contribution

#9406 Fix breadcrumbs
  breadcrumb/toc.yml
  docfx.json
Labels: area-Infrastructure, community-contribution

#9409 Update Activator.xml
  xml/System/Activator.xml
Labels: area-System.Runtime, community-contribution

#9413 Add product feedback/help links to feedback box
  docfx.json
Labels: area-Infrastructure

#9415 Add missing Meter Docs
  xml/System.Diagnostics.Metrics/IMeterFactory.xml
  xml/System.Diagnostics.Metrics/Instrument.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/MeterFactoryExtensions.xml
  xml/System.Diagnostics.Metrics/MeterOptions.xml
  xml/System.Diagnostics.Metrics/ObservableInstrument`1.xml
Labels: area-System.Diagnostics

#9417 Product feedback => DevComm
  docfx.json
Labels: area-Infrastructure

#9420 Small wording fix
  xml/System.Text.Json/JsonSerializer.xml
Labels: area-System.Text.Json

#9419 Don't publish non-editor browsable logging APIs
  xml/_filter.xml
Labels: area-Extensions-Logging, needs-area-label
