Repository dotnet/dotnet-api-docs, pull requests merged in 2023-04, with the labels that each got.

#8944 Remove references to IE where possible
  xml/System.Diagnostics/ProcessStartInfo.xml
  xml/System.Security.Permissions/ZoneIdentityPermission.xml
  xml/System.Security.Policy/Zone.xml
  xml/System.Security/SecurityZone.xml
  xml/System/AppDomain.xml
Labels: area-System.Security

#8934 Adds F# IPStatus snippet for System.Net.NetworkInformation
  snippets/fsharp/System.Net.NetworkInformation/IPStatus/Overview/fs.fsproj
  snippets/fsharp/System.Net.NetworkInformation/IPStatus/Overview/syncping.fs
  xml/System.Net.NetworkInformation/IPStatus.xml
  xml/System.Net.NetworkInformation/Ping.xml
  xml/System.Net.NetworkInformation/PingOptions.xml
  xml/System.Net.NetworkInformation/PingReply.xml
Labels: area-System.Net, community-contribution

#8947 Re-expose 3 Sql types
  xml/_filter.xml
Labels: area-Infrastructure

#8752 Fix XPS specification link
  xml/System.Windows.Documents.DocumentStructures/StoryFragment.xml
  xml/System.Windows.Documents/LinkTarget.xml
  xml/System.Windows.Documents/PageContent.xml
  xml/System.Windows.Xps.Packaging/IDocumentStructureProvider.xml
  xml/System.Windows.Xps.Packaging/IXpsFixedDocumentReader.xml
  xml/System.Windows.Xps.Packaging/IXpsFixedDocumentSequenceReader.xml
  xml/System.Windows.Xps.Packaging/IXpsFixedPageReader.xml
  xml/System.Windows.Xps.Packaging/XpsResourceDictionary.xml
  xml/System.Windows.Xps.Packaging/XpsSignatureDefinition.xml
  xml/System.Windows.Xps.Serialization/BasePackagingPolicy.xml
Labels: area-Infrastructure

#8824 Update ImageList.ColorDepth defaults
  xml/System.Windows.Forms/ImageList.xml
Labels: area-WinForms

#7300 Update Kill exceptions
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process

#8955 [fabricbot] Update to capture refactoring of generated config
  .github/fabricbot.json
Labels: area-Meta

#8956 Cleanup Delegate docs
  xml/System/Delegate.xml
  xml/System/MulticastDelegate.xml
Labels: area-System.Runtime

#8932 Only run Quest in the dotnet org
  .github/workflows/quest-bulk.yml
Labels: area-Infrastructure

#8970 Update WaitHandle.cs
  snippets/csharp/System.Threading/WaitHandle/Overview/WaitHandle.cs
Labels: area-System.Threading, community-contribution

#8965 SortedSet.Overlaps is O (n log m) in the worst case
  xml/System.Collections.Generic/SortedSet`1.xml
Labels: untriaged, area-System.Collections

#8971 Fix formatting in XAML attribute usage section
  xml/System.Windows/SystemParameters.xml
Labels: area-WPF, community-contribution

#8950 More specific documentation on TimeOnly.MinValue
  xml/System/TimeOnly.xml
Labels: area-System.Runtime, community-contribution

#8829 WinForms argument exceptions for .NET 8
  xml/System.ComponentModel.Design/ExceptionCollection.xml
  xml/System.Windows.Forms/TableLayoutStyleCollection.xml
Labels: area-WinForms

#8977 Add note that Uri.Query and Fragment include the leading delimiter
  xml/System/Uri.xml
  xml/System/UriBuilder.xml
Labels: area-System.Net

#8968 RuntimeInformation.OSDescription: add intended use-case.
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#8983 Delete ns-System.Numerics.Tensors.xml
  xml/ns-System.Numerics.Tensors.xml
Labels: area-System.Numerics.Tensors

#8989 Emphasise further the possibly-unexpected default behaviour of StringComparison
  xml/System/String.xml
Labels: area-System.Globalization, community-contribution
