Repository dotnet/dotnet-api-docs, pull requests merged in 2023-09, with the labels that each got.

#9211 Update methods which are not supported by the Windows thread pool
  xml/System.Threading/ThreadPool.xml
Labels: area-System.Threading, community-contribution

#9194 Port MethodInvoker and ConstructorInvoker doc
  xml/System.Reflection/ConstructorInvoker.xml
  xml/System.Reflection/MethodInvoker.xml
Labels: area-System.Reflection

#8875 Add doc for new function pointer support
  xml/System.Reflection/FieldInfo.xml
  xml/System.Reflection/ParameterInfo.xml
  xml/System.Reflection/PropertyInfo.xml
  xml/System/Type.xml
Labels: area-System.Reflection

#9231 Port Microsoft.Extensions.[L..T]
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerFactory.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger`1.xml
  xml/Microsoft.Extensions.Logging.Configuration/LoggerProviderOptionsChangeTokenSource`2.xml
  xml/Microsoft.Extensions.Logging.Console/ConfigurationConsoleLoggerSettings.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleFormatter.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleFormatterOptions.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLogger.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerSettings.xml
  xml/Microsoft.Extensions.Logging.Console/IConsoleLoggerSettings.xml
  xml/Microsoft.Extensions.Logging.Console/JsonConsoleFormatterOptions.xml
  xml/Microsoft.Extensions.Logging.Console/SimpleConsoleFormatterOptions.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLogger.xml
  xml/Microsoft.Extensions.Logging.Debug/DebugLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLogger.xml
  xml/Microsoft.Extensions.Logging.EventLog/EventLogLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventLog/WindowsEventLog.xml
  xml/Microsoft.Extensions.Logging.EventSource/EventSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging.EventSource/LoggingEventSource.xml
  xml/Microsoft.Extensions.Logging.TraceSource/TraceSourceLogger.xml
  xml/Microsoft.Extensions.Logging.TraceSource/TraceSourceLoggerProvider.xml
  xml/Microsoft.Extensions.Logging/ConsoleLoggerExtensions.xml
  xml/Microsoft.Extensions.Logging/EventId.xml
  xml/Microsoft.Extensions.Logging/EventSourceLoggerFactoryExtensions.xml
  xml/Microsoft.Extensions.Logging/LoggerExternalScopeProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerFactory.xml
  xml/Microsoft.Extensions.Logging/LoggerFilterRule.xml
  xml/Microsoft.Extensions.Logging/LoggerMessageAttribute.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
  xml/Microsoft.Extensions.Logging/TraceSourceFactoryExtensions.xml
  xml/Microsoft.Extensions.Options/IStartupValidator.xml
  xml/Microsoft.Extensions.Options/OptionsValidatorAttribute.xml
  xml/Microsoft.Extensions.Options/ValidateEnumeratedItemsAttribute.xml
  xml/Microsoft.Extensions.Options/ValidateObjectMembersAttribute.xml
  xml/Microsoft.Extensions.Options/ValidateOptionsResultBuilder.xml
  xml/Microsoft.Extensions.Primitives/CancellationChangeToken.xml
  xml/Microsoft.Extensions.Primitives/CompositeChangeToken.xml
  xml/Microsoft.Extensions.Primitives/InplaceStringBuilder.xml
  xml/Microsoft.Extensions.Primitives/StringValues.xml
  xml/Microsoft.Extensions.Telemetry.Logging/LogMethodHelper.xml
Labels: area-Meta

#9235 Port some more docs from various types
  xml/Microsoft.Win32.SafeHandles/SafeRegistryHandle.xml
  xml/System.Diagnostics.CodeAnalysis/ExperimentalAttribute.xml
  xml/System.Drawing.Imaging/CachedBitmap.xml
  xml/System.Formats.Asn1/AsnReader.xml
  xml/System.IdentityModel.Claims/X509CertificateClaimSet.xml
  xml/System.Reflection.PortableExecutable/DllCharacteristics.xml
  xml/System.Transactions/TransactionManager.xml
  xml/System/BinaryData.xml
Labels: area-Meta

#9253 Port doc comments for new Quic API-s
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicError.xml
  xml/System.Net.Quic/QuicStream.xml
Labels: area-System.Net

#9252 Add doc comment for HttpStatusCode.UnprocessableContent
  xml/System.Net/HttpStatusCode.xml
Labels: area-System.Net

#9243 Port docs from System.Windows.Forms
  xml/System.Windows.Forms.Design/AnchorEditor.xml
  xml/System.Windows.Forms.Design/BorderSidesEditor.xml
  xml/System.Windows.Forms.Design/DockEditor.xml
  xml/System.Windows.Forms.Design/EventsTab.xml
  xml/System.Windows.Forms.Design/FileNameEditor.xml
  xml/System.Windows.Forms.Design/FolderNameEditor.xml
  xml/System.Windows.Forms.Design/ShortcutKeysEditor.xml
  xml/System.Windows.Forms/AxHost+State.xml
  xml/System.Windows.Forms/AxHost+StateConverter.xml
  xml/System.Windows.Forms/FolderBrowserDialog.xml
  xml/System.Windows.Forms/GiveFeedbackEventArgs.xml
  xml/System.Windows.Forms/LinkLabel+LinkCollection.xml
  xml/System.Windows.Forms/TaskDialogButton.xml
  xml/System.Windows.Forms/TaskDialogButtonCollection.xml
  xml/System.Windows.Forms/TaskDialogLinkClickedEventArgs.xml
  xml/System.Windows.Forms/TaskDialogPage.xml
  xml/System.Windows.Forms/TaskDialogRadioButtonCollection.xml
Labels: area-WinForms

#9259 Fix typo in CultureInfo.xml
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Globalization, community-contribution

#9260 Update RID text
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
Labels: area-System.Runtime.InteropServices

#9261 Update remarks for GetSystemVersion
  xml/System.Runtime.InteropServices/RuntimeEnvironment.xml
Labels: area-System.Runtime.InteropServices

#9247 Update EventSource.xml
  xml/System.Diagnostics.Tracing/EventSource.xml
Labels: area-System.Diagnostics.Tracing, community-contribution

#9239 Modified docs for dialogs in PresentationFramework
  xml/Microsoft.Win32/CommonItemDialog.xml
  xml/Microsoft.Win32/FileDialog.xml
  xml/Microsoft.Win32/FileDialogCustomPlace.xml
  xml/Microsoft.Win32/OpenFileDialog.xml
  xml/Microsoft.Win32/OpenFolderDialog.xml
  xml/Microsoft.Win32/SaveFileDialog.xml
Labels: area-Infrastructure

#9256 Fix broken link to KeepAlivePingTimeout
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http, community-contribution

#9062 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area-Infrastructure

#9249 Update Math.Pow description in Math.xml
  xml/System/Math.xml
Labels: area-System.Runtime, community-contribution

#9264 Port System.Net.WebSocket api docs
  xml/System.Net.WebSockets/ClientWebSocket.xml
Labels: area-System.Net

#9263 Port System.Net.Security docs
  xml/System.Net.Security/SslClientAuthenticationOptions.xml
  xml/System.Net.Security/SslClientHelloInfo.xml
  xml/System.Net.Security/SslServerAuthenticationOptions.xml
  xml/System.Net.Security/SslStreamCertificateContext.xml
Labels: area-System.Net

#9255 Port docs for new ReadFromJsonAsync overloads
  xml/System.Net.Http.Json/HttpContentJsonExtensions.xml
Labels: area-System.Text.Json

#8862 System.Threading.Thread F# snippets
  snippets/fsharp/System.Threading/ApartmentState/Overview/fs.fsproj
  snippets/fsharp/System.Threading/ApartmentState/Overview/source.fs
  snippets/fsharp/System.Threading/ParameterizedThreadStart/Overview/fs.fsproj
  snippets/fsharp/System.Threading/ParameterizedThreadStart/Overview/source.fs
  snippets/fsharp/System.Threading/Thread/.ctor/fs.fsproj
  snippets/fsharp/System.Threading/Thread/.ctor/source.fs
  snippets/fsharp/System.Threading/Thread/.ctor/source1.fs
  snippets/fsharp/System.Threading/Thread/Abort/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Abort/source.fs
  snippets/fsharp/System.Threading/Thread/AllocateDataSlot/fs.fsproj
  snippets/fsharp/System.Threading/Thread/AllocateDataSlot/source.fs
  snippets/fsharp/System.Threading/Thread/AllocateDataSlot/source1.fs
  snippets/fsharp/System.Threading/Thread/AllocateNamedDataSlot/fs.fsproj
  snippets/fsharp/System.Threading/Thread/AllocateNamedDataSlot/source.fs
  snippets/fsharp/System.Threading/Thread/BeginCriticalRegion/fs.fsproj
  snippets/fsharp/System.Threading/Thread/BeginCriticalRegion/source.fs
  snippets/fsharp/System.Threading/Thread/BeginThreadAffinity/fs.fsproj
  snippets/fsharp/System.Threading/Thread/BeginThreadAffinity/source.fs
  snippets/fsharp/System.Threading/Thread/CurrentCulture/fs.fsproj
  snippets/fsharp/System.Threading/Thread/CurrentCulture/source.fs
  snippets/fsharp/System.Threading/Thread/CurrentPrincipal/fs.fsproj
  snippets/fsharp/System.Threading/Thread/CurrentPrincipal/source.fs
  snippets/fsharp/System.Threading/Thread/CurrentThread/currentthread2.fs
  snippets/fsharp/System.Threading/Thread/CurrentThread/fs.fsproj
  snippets/fsharp/System.Threading/Thread/CurrentUICulture/CurrentUICulture1.fs
  snippets/fsharp/System.Threading/Thread/CurrentUICulture/fs.fsproj
  snippets/fsharp/System.Threading/Thread/GetApartmentState/fs.fsproj
  snippets/fsharp/System.Threading/Thread/GetApartmentState/source.fs
  snippets/fsharp/System.Threading/Thread/GetDomain/fs.fsproj
  snippets/fsharp/System.Threading/Thread/GetDomain/source.fs
  snippets/fsharp/System.Threading/Thread/Interrupt/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Interrupt/source.fs
  snippets/fsharp/System.Threading/Thread/IsBackground/fs.fsproj
  snippets/fsharp/System.Threading/Thread/IsBackground/source.fs
  snippets/fsharp/System.Threading/Thread/IsThreadPoolThread/fs.fsproj
  snippets/fsharp/System.Threading/Thread/IsThreadPoolThread/source.fs
  snippets/fsharp/System.Threading/Thread/Join/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Join/join1a.fs
  snippets/fsharp/System.Threading/Thread/Join/join1b.fs
  snippets/fsharp/System.Threading/Thread/Join/join1c.fs
  snippets/fsharp/System.Threading/Thread/Join/source.fs
  snippets/fsharp/System.Threading/Thread/Name/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Name/source.fs
  snippets/fsharp/System.Threading/Thread/Overview/BackgroundEx1.fs
  snippets/fsharp/System.Threading/Thread/Overview/Instance1.fs
  snippets/fsharp/System.Threading/Thread/Overview/ThreadStart1.fs
  snippets/fsharp/System.Threading/Thread/Overview/ThreadStart2.fs
  snippets/fsharp/System.Threading/Thread/Overview/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Overview/source.fs
  snippets/fsharp/System.Threading/Thread/Priority/Example1.fs
  snippets/fsharp/System.Threading/Thread/Priority/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Sleep/example.fs
  snippets/fsharp/System.Threading/Thread/Sleep/example1.fs
  snippets/fsharp/System.Threading/Thread/Sleep/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Start/fs.fsproj
  snippets/fsharp/System.Threading/Thread/Start/threadstart.fs
  snippets/fsharp/System.Threading/Thread/ThreadState/fs.fsproj
  snippets/fsharp/System.Threading/Thread/ThreadState/source.fs
  xml/System.Threading/Thread.xml
Labels: area-System.Threading, community-contribution

#8756 Clarify INumber.IsPositive and INumber.IsNegative documentation
  xml/System.Numerics/INumberBase`1.xml
Labels: area-System.Numerics, community-contribution

#8733 Format the code and fix the name rule in PerformanceCounter
  snippets/csharp/System.Diagnostics/PerformanceCounter/.ctor/perfcounter.cs
Labels: area-System.Diagnostics, community-contribution

#9236 Finalize docs for new System.Net.Primitives API-s
  xml/System.Net.Sockets/SocketException.xml
  xml/System.Net/IPAddress.xml
  xml/System.Net/IPNetwork.xml
Labels: area-System.Net

#9229 Port Microsoft.Extensions.[A..D]
  xml/Microsoft.Extensions.Caching.Distributed/DistributedCacheEntryExtensions.xml
  xml/Microsoft.Extensions.Caching.Distributed/MemoryDistributedCache.xml
  xml/Microsoft.Extensions.Caching.Memory/CacheEntryExtensions.xml
  xml/Microsoft.Extensions.Caching.Memory/CacheExtensions.xml
  xml/Microsoft.Extensions.Caching.Memory/CacheItemPriority.xml
  xml/Microsoft.Extensions.Caching.Memory/EvictionReason.xml
  xml/Microsoft.Extensions.Caching.Memory/MemoryCache.xml
  xml/Microsoft.Extensions.Caching.Memory/MemoryCacheEntryExtensions.xml
  xml/Microsoft.Extensions.Caching.Memory/MemoryCacheOptions.xml
  xml/Microsoft.Extensions.Caching.Memory/MemoryDistributedCacheOptions.xml
  xml/Microsoft.Extensions.Caching.Memory/PostEvictionCallbackRegistration.xml
  xml/Microsoft.Extensions.Compliance.Redaction/NullRedactorProvider.xml
  xml/Microsoft.Extensions.Compliance.Testing/FakeRedactorProvider.xml
  xml/Microsoft.Extensions.Configuration.Xml/XmlDocumentDecryptor.xml
  xml/Microsoft.Extensions.Configuration/ChainedConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationKeyNameAttribute.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationManager.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationRoot.xml
  xml/Microsoft.Extensions.Configuration/FileConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/IConfigurationManager.xml
  xml/Microsoft.Extensions.DependencyInjection.Extensions/ServiceCollectionDescriptorExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/ActivatorUtilities.xml
  xml/Microsoft.Extensions.DependencyInjection/AsyncServiceScope.xml
  xml/Microsoft.Extensions.DependencyInjection/DefaultServiceProviderFactory.xml
  xml/Microsoft.Extensions.DependencyInjection/FromKeyedServicesAttribute.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpClientBuilderExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpClientFactoryServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/IKeyedServiceProvider.xml
  xml/Microsoft.Extensions.DependencyInjection/IServiceProviderIsKeyedService.xml
  xml/Microsoft.Extensions.DependencyInjection/ISocketsHttpHandlerBuilder.xml
  xml/Microsoft.Extensions.DependencyInjection/KeyedService.xml
  xml/Microsoft.Extensions.DependencyInjection/ObjectFactory`1.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollection.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollectionHostedServiceExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollectionServiceExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceDescriptor.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceKeyAttribute.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProvider.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProviderKeyedServiceExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/SocketsHttpHandlerBuilderExtensions.xml
Labels: area-Meta

#8603 Remove APM samples for TCPClient and TCPListener
  snippets/cpp/VS_Snippets_Remoting/System.Net.Sockets.TcpClient1/CPP/newtcpclient.cpp
  snippets/cpp/VS_Snippets_Remoting/System.Net.Sockets.TcpListener1/cpp/tcpserver.cpp
  snippets/csharp/System.Net.Sockets/TcpClient/Available/newtcpclient.cs
  snippets/csharp/System.Net.Sockets/TcpListener/BeginAcceptSocket/tcpserver.cs
  snippets/visualbasic/VS_Snippets_Remoting/System.Net.Sockets.TcpListener1/VB/tcpserver.vb
  xml/System.Net.Sockets/TcpClient.xml
  xml/System.Net.Sockets/TcpListener.xml
Labels: area-System.Net.Sockets

#8419 Update BaseDirectory Snippets
  snippets/csharp/System/AppDomain/AssemblyLoad/assemblyload.cs
  snippets/csharp/System/AppDomain/AssemblyResolve/assemblyresolve.cs
  snippets/csharp/System/AppDomain/BaseDirectory/adsetup.cs
  snippets/csharp/System/AppDomain/CreateComInstanceFrom/createcominstancefrom.cs
  snippets/csharp/System/AppDomain/CreateDomain/setup.cs
  snippets/csharp/System/AppDomain/CreateDomain/source2.cs
  snippets/csharp/System/AppDomain/CreateDomain/source3.cs
  snippets/csharp/System/AppDomain/CreateInstanceAndUnwrap/ignorecase.cs
  snippets/csharp/System/AppDomain/CreateInstanceAndUnwrap/source.cs
  snippets/csharp/System/AppDomain/DefineDynamicAssembly/definedynamicassembly.cs
  snippets/csharp/System/AppDomain/DefineDynamicAssembly/source.cs
  snippets/csharp/System/AppDomain/DoCallBack/docallback_byref.cs
  snippets/csharp/System/AppDomain/DoCallBack/docallback_byval.cs
  snippets/csharp/System/AppDomain/DoCallBack/docallback_static.cs
  snippets/csharp/System/AppDomain/DynamicDirectory/addynamicbase.cs
  snippets/csharp/System/AppDomain/ExecuteAssembly/executeassembly.cs
  snippets/csharp/System/AppDomain/FirstChanceException/example.cs
  snippets/csharp/System/AppDomain/Id/source.cs
  snippets/csharp/System/AppDomain/Load/loadraw.cs
  snippets/csharp/System/AppDomain/ReflectionOnlyGetAssemblies/reflectiononly.cs
  snippets/csharp/System/AppDomain/Snippets.csproj
  snippets/visualbasic/VS_Snippets_CLR/ADSetup/VB/adsetup.vb
Labels: area-System.Runtime, community-contribution

#9244 Port System.Drawing docs
  xml/System.Drawing.Design/ColorEditor.xml
  xml/System.Drawing.Design/ContentAlignmentEditor.xml
  xml/System.Drawing.Design/CursorEditor.xml
  xml/System.Drawing.Design/FontNameEditor.xml
  xml/System.Drawing.Design/IconEditor.xml
  xml/System.Drawing.Design/ImageEditor.xml
  xml/System.Drawing.Imaging/CachedBitmap.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Drawing/StockIconId.xml
  xml/System.Drawing/StockIconOptions.xml
  xml/System.Drawing/SystemIcons.xml
Labels: area-System.Drawing

#9267 Manual publish
  xml/System.Net.Security/SslClientAuthenticationOptions.xml
  xml/System.Net.Security/SslClientHelloInfo.xml
  xml/System.Net.Security/SslServerAuthenticationOptions.xml
  xml/System.Net.Security/SslStreamCertificateContext.xml
  xml/System.Net.WebSockets/ClientWebSocket.xml
  xml/System/Math.xml
Labels: area-System.Net

#9270 Fix wording for chains
  xml/Microsoft.Extensions.DependencyInjection/HttpClientBuilderExtensions.xml
Labels: area-Extensions-DependencyInjection

#9273 Update System.Text.Encoding.CodePages docs
  xml/System.Diagnostics/Process.xml
  xml/System.Text/CodePagesEncodingProvider.xml
  xml/System.Text/Encoding.xml
  xml/System.Text/EncodingProvider.xml
  xml/System/Console.xml
Labels: area-System.Text.Encoding

#9230 Port Microsoft.Extensions.[F..H]
  xml/Microsoft.Extensions.FileProviders.Internal/PhysicalDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalDirectoryInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalFileInfo.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PollingWildCardChangeToken.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundDirectoryContents.xml
  xml/Microsoft.Extensions.FileProviders/NotFoundFileInfo.xml
  xml/Microsoft.Extensions.FileSystemGlobbing.Abstractions/DirectoryInfoWrapper.xml
  xml/Microsoft.Extensions.FileSystemGlobbing/InMemoryDirectoryInfo.xml
  xml/Microsoft.Extensions.Hosting.Internal/ApplicationLifetime.xml
  xml/Microsoft.Extensions.Hosting.Internal/ConsoleLifetime.xml
  xml/Microsoft.Extensions.Hosting.Systemd/ISystemdNotifier.xml
  xml/Microsoft.Extensions.Hosting.Systemd/ServiceState.xml
  xml/Microsoft.Extensions.Hosting.Systemd/SystemdLifetime.xml
  xml/Microsoft.Extensions.Hosting.Systemd/SystemdNotifier.xml
  xml/Microsoft.Extensions.Hosting.WindowsServices/WindowsServiceLifetime.xml
  xml/Microsoft.Extensions.Hosting/BackgroundService.xml
  xml/Microsoft.Extensions.Hosting/ConsoleLifetimeOptions.xml
  xml/Microsoft.Extensions.Hosting/EnvironmentName.xml
  xml/Microsoft.Extensions.Hosting/Environments.xml
  xml/Microsoft.Extensions.Hosting/Host.xml
  xml/Microsoft.Extensions.Hosting/HostApplicationBuilder.xml
  xml/Microsoft.Extensions.Hosting/HostBuilder.xml
  xml/Microsoft.Extensions.Hosting/HostBuilderContext.xml
  xml/Microsoft.Extensions.Hosting/HostOptions.xml
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostBuilderExtensions.xml
  xml/Microsoft.Extensions.Hosting/HostingAbstractionsHostExtensions.xml
  xml/Microsoft.Extensions.Hosting/HostingHostBuilderExtensions.xml
  xml/Microsoft.Extensions.Hosting/IHostApplicationBuilder.xml
  xml/Microsoft.Extensions.Hosting/IHostBuilder.xml
  xml/Microsoft.Extensions.Hosting/IHostLifetime.xml
  xml/Microsoft.Extensions.Hosting/IHostedLifecycleService.xml
  xml/Microsoft.Extensions.Hosting/IHostedService.xml
  xml/Microsoft.Extensions.Http.Logging/IHttpClientAsyncLogger.xml
  xml/Microsoft.Extensions.Http.Logging/IHttpClientLogger.xml
  xml/Microsoft.Extensions.Http.Logging/LoggingHttpMessageHandler.xml
  xml/Microsoft.Extensions.Http.Logging/LoggingScopeHttpMessageHandler.xml
Labels: area-Meta

#9278 Hide LoggerMessageState.ClassifiedTag
  xml/_filter.xml
Labels: needs-area-label

#9280 Fix System weird tags
  xml/System/Byte.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/TimeZoneInfo.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
Labels: area-System.Runtime

#9281 Fix System.Security weird tags and port a few more docs
  xml/System.Security.Cryptography.X509Certificates/X509AuthorityInformationAccessExtension.xml
  xml/System.Security.Cryptography.X509Certificates/X509AuthorityKeyIdentifierExtension.xml
  xml/System.Security.Cryptography.X509Certificates/X509SubjectAlternativeNameExtension.xml
  xml/System.Security.Cryptography/DSACng.xml
  xml/System.Security.Cryptography/DSACryptoServiceProvider.xml
  xml/System.Security.Cryptography/ECDiffieHellmanCng.xml
  xml/System.Security.Cryptography/ECDsaCng.xml
  xml/System.Security.Cryptography/HMACSHA3_256.xml
  xml/System.Security.Cryptography/HMACSHA3_384.xml
  xml/System.Security.Cryptography/HMACSHA3_512.xml
  xml/System.Security.Cryptography/RSACng.xml
  xml/System.Security.Cryptography/RSACryptoServiceProvider.xml
Labels: area-System.Security

#9284 Port System.Collections.Frozen RC1 docs
  xml/System.Collections.Frozen/FrozenDictionary`2+Enumerator.xml
  xml/System.Collections.Frozen/FrozenDictionary`2.xml
  xml/System.Collections.Frozen/FrozenSet`1+Enumerator.xml
  xml/System.Collections.Frozen/FrozenSet`1.xml
Labels: area-System.Collections

#9285 Port System.Net RC1 docs
  xml/System.Net.Http/HttpRequestOptions.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Net/SocketAddress.xml
Labels: area-System.Net

#9286 Port System.Threading RC1 docs
  xml/System.Threading.Tasks/ConfigureAwaitOptions.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/TaskToAsyncResult.xml
  xml/System.Threading.Tasks/Task`1.xml
  xml/System.Threading/CancellationTokenSource.xml
  xml/System.Threading/ITimer.xml
  xml/System.Threading/PeriodicTimer.xml
Labels: area-System.Threading

#9283 Port System.Text.Json.Serialization RC1 docs
  xml/System.Text.Json.Serialization/JsonNumberEnumConverter`1.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter`1.xml
Labels: area-System.Text.Json

#9277 Expose ExperimentalAttribute in syntax blocks
  xml/_filter.xml
Labels: needs-area-label

#9289 Port assorted isolated docs and fix some old weird tags
  xml/System.IO/RandomAccess.xml
  xml/System.Text.Unicode/Utf8+TryWriteInterpolatedStringHandler.xml
  xml/System.Text.Unicode/Utf8.xml
  xml/System.Windows.Media.Animation/Storyboard.xml
Labels: area-Meta

#9287 Port System.Runtime.CompilerServices & InteropServices RC1 docs
  xml/System.Runtime.CompilerServices/CollectionBuilderAttribute.xml
  xml/System.Runtime.CompilerServices/IsUnmanagedAttribute.xml
  xml/System.Runtime.CompilerServices/NullableAttribute.xml
  xml/System.Runtime.CompilerServices/NullableContextAttribute.xml
  xml/System.Runtime.CompilerServices/NullablePublicOnlyAttribute.xml
  xml/System.Runtime.CompilerServices/RequiresLocationAttribute.xml
  xml/System.Runtime.CompilerServices/ScopedRefAttribute.xml
  xml/System.Runtime.CompilerServices/UnsafeAccessorAttribute.xml
  xml/System.Runtime.CompilerServices/UnsafeAccessorKind.xml
  xml/System.Runtime.InteropServices.Marshalling/StrategyBasedComWrappers.xml
Labels: area-System.Runtime.CompilerServices

#9288 Port System.Diagnostics & ComponentModel RC1 docs
  xml/System.ComponentModel/DateOnlyConverter.xml
  xml/System.ComponentModel/TimeOnlyConverter.xml
  xml/System.Diagnostics.Tracing/EventSource+EventSourcePrimitive.xml
  xml/System.Diagnostics.Tracing/EventSource.xml
  xml/System.Diagnostics/PresentationTraceSources.xml
  xml/System.Diagnostics/StackTrace.xml
  xml/System.Diagnostics/Stopwatch.xml
Labels: area-Meta

#9218 Add a caution for named wait handles about them being operable by multiple users by default
  xml/System.Threading/EventWaitHandle.xml
  xml/System.Threading/EventWaitHandleAcl.xml
  xml/System.Threading/Mutex.xml
  xml/System.Threading/MutexAcl.xml
  xml/System.Threading/Semaphore.xml
  xml/System.Threading/SemaphoreAcl.xml
Labels: area-System.Threading

#9168 Fix a typo in FontFamily documentation
  xml/System.Windows.Media/FontFamily.xml
Labels: area-WPF, community-contribution

#9056 Update Colors.xml
  xml/System.Windows.Media/Colors.xml
Labels: area-WPF, community-contribution

#9034 Update DataGrid.xml
  xml/System.Windows.Controls/DataGrid.xml
Labels: area-WPF, community-contribution

#8897 Improve wording about when exactly an NRE is thrown
  xml/System/NullReferenceException.xml
Labels: area-System.Runtime, community-contribution

#9098 Clarify that Clear respects color transparency
  xml/System.Drawing/Graphics.xml
Labels: area-System.Drawing

#8891 Updated the documentation for FolderBrowserDialog
  xml/System.Windows.Forms/FolderBrowserDialog.xml
Labels: area-WinForms, community-contribution

#8545 Scrap APM samples for Socket
  snippets/cpp/VS_Snippets_Remoting/NCLSocketEnhancements/CPP/nclsocketenhancements.cpp
  snippets/cpp/VS_Snippets_Remoting/Socket_Async_Send_Receive/CPP/source.cpp
  snippets/cpp/VS_Snippets_Remoting/System.Net.Sockets.Socket.BeginConnect/CPP/beginconnect.cpp
  snippets/csharp/System.Net.Sockets/Socket/BeginAccept/nclsocketenhancements.cs
  snippets/csharp/System.Net.Sockets/Socket/BeginAccept/source.cs
  snippets/csharp/System.Net.Sockets/Socket/BeginConnect/beginconnect.cs
  snippets/visualbasic/VS_Snippets_Remoting/Socket_Async_Send_Receive/VB/source.vb
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#6753 Fix mutual authentication description
  snippets/cpp/VS_Snippets_Remoting/NclSslServerSync/CPP/NclSslServerSync.cpp
  snippets/csharp/System.Net.Security/SslStream/Overview/serversync.cs
  snippets/visualbasic/VS_Snippets_Remoting/NclSslServerSync/VB/serversync.vb
  xml/System.Net.Security/SslStream.xml
Labels: area-System.Net

#8641 Fix the DateTime.Add methods docs to reflect the new behavior in .NET 7.0
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
Labels: community-contribution, area-System.DateTime

#8617 Remove IPAddress.Parse example from TryParse docs
  xml/System.Net/IPAddress.xml
Labels: area-System.Net

#7317 Update Strings.xml
  xml/Microsoft.VisualBasic/Strings.xml
Labels: area-Microsoft.VisualBasic

#9290 Correct UInt32 to UInt64 for ReadCborNegativeIntegerRepresentation
  xml/System.Formats.Cbor/CborReader.xml
Labels: area-System.Formats.Cbor

#9292 Fix missing snippets
  snippets/csharp/System.Net.Sockets/TcpClient/Available/newtcpclient.cs
  xml/System.Net.Sockets/TcpClient.xml
Labels: area-System.Net.Sockets

#9297 Add missing STJ docs
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Serialization/BinaryDataJsonConverter.xml
  xml/System.Text.Json.Serialization/JsonConverterFactory.xml
  xml/System.Text.Json.Serialization/JsonConverter`1.xml
  xml/System.Text.Json.Serialization/JsonNumberEnumConverter`1.xml
  xml/System.Text.Json.Serialization/JsonObjectCreationHandlingAttribute.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter`1.xml
  xml/System.Text.Json.Serialization/JsonUnmappedMemberHandlingAttribute.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#9298 Add missing reflection doc
  xml/System.Reflection/DispatchProxy.xml
  xml/System.Reflection/FieldInfo.xml
  xml/System.Reflection/ParameterInfo.xml
  xml/System.Reflection/PropertyInfo.xml
  xml/System.Reflection/TypeDelegator.xml
  xml/System/Type.xml
Labels: area-System.Reflection

#9301 Add comments for new MediaTypeNames members
  xml/System.Net.Mime/MediaTypeNames+Application.xml
  xml/System.Net.Mime/MediaTypeNames+Font.xml
  xml/System.Net.Mime/MediaTypeNames+Image.xml
  xml/System.Net.Mime/MediaTypeNames+Multipart.xml
  xml/System.Net.Mime/MediaTypeNames+Text.xml
Labels: area-System.Net

#9302 Add comments for new System.Net.Http.Json members
  xml/System.Net.Http.Json/HttpClientJsonExtensions.xml
  xml/System.Net.Http.Json/HttpContentJsonExtensions.xml
  xml/System.Net.Http.Json/JsonContent.xml
Labels: area-System.Net.Http

#9307 Remove invalid commented out code in networkexamples.cs
  snippets/csharp/System.Net.NetworkInformation/DuplicateAddressDetectionState/Overview/networkexamples.cs
Labels: area-System.Net, community-contribution

#9308 Add remaining missing docs in reflection emit
  xml/System.Reflection.Emit/EnumBuilder.xml
  xml/System.Reflection.Emit/GenericTypeParameterBuilder.xml
  xml/System.Reflection.Emit/ILGenerator.xml
  xml/System.Reflection.Emit/TypeBuilder.xml
Labels: area-System.Reflection.Emit

#9306 Add missing SocketAddress API docs
  xml/System.Net/SocketAddress.xml
Labels: area-System.Net

#9305 Port System.Net.Http docs for HttpRequestError and metrics additions
  xml/System.Net.Http.Metrics/HttpMetricsEnrichmentContext.xml
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/HttpIOException.xml
  xml/System.Net.Http/HttpMethod.xml
  xml/System.Net.Http/HttpRequestError.xml
  xml/System.Net.Http/HttpRequestException.xml
  xml/System.Net.Http/HttpRequestOptions.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/ns-System.Net.Http.Metrics.xml
Labels: area-System.Net.Http

#9303 Port System.Net.Sockets APIs
  xml/System.Net.Sockets/LingerOption.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.Sockets/TcpListener.xml
  xml/System.Net.Sockets/UnixDomainSocketEndPoint.xml
Labels: area-System.Net.Sockets

#9309 System.ArgumentOutOfRangeException - Add missing docs
  xml/System/ArgumentOutOfRangeException.xml
Labels: area-System.Runtime

#9295 Update ReadOnlyMemory`1.xml
  xml/System/ReadOnlyMemory`1.xml
Labels: area-System.Runtime, community-contribution

#9178 property description for SelectionStart was wrong (probably copied from SelectionEnd)
  xml/System.Windows.Controls/Slider.xml
Labels: area-WPF, community-contribution

#9067 Change PauseStoryboard to StopStoryboard
  xml/System.Windows.Media.Animation/StopStoryboard.xml
Labels: area-WPF, community-contribution

#9057 Fix formatting of `VirtualizingStackPanel` Examples
  xml/System.Windows.Controls/VirtualizingStackPanel.xml
Labels: area-WPF, community-contribution

#9086 StatusBar, StatusBarPanel: fix the names of replacement components
  xml/System.Windows.Forms/StatusBar.xml
  xml/System.Windows.Forms/StatusBarPanel.xml
Labels: area-WinForms, community-contribution

#9321 Update remarks and exceptions for MaxBy/MinBy
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#9335 DynamicMethod permit ref returns in .NET Core 2.1+
  xml/System.Reflection.Emit/DynamicMethod.xml
Labels: area-System.Reflection.Emit

#9338 fix typo
  xml/System.ComponentModel.DataAnnotations/ValidationAttribute.xml
Labels: area-System.ComponentModel.DataAnnotations, community-contribution

#9336 Add System.Speech missing docs
  xml/System.Speech.Recognition.SrgsGrammar/SrgsRulesCollection.xml
  xml/System.Speech.Synthesis.TtsEngine/ITtsEngineSite.xml
  xml/System.Speech.Synthesis.TtsEngine/Prosody.xml
  xml/System.Speech.Synthesis/SpeechSynthesizer.xml
Labels: area-Meta
