Repository dotnet/dotnet-api-docs, pull requests merged in 2023-03, with the labels that each got.

#8883 Remove erroneous static reference
  xml/System.Text.RegularExpressions/GeneratedRegexAttribute.xml
Labels: area-System.Text.RegularExpressions

#8880 Add ArgumentNullException to CreateInstance()
  xml/Microsoft.Extensions.DependencyInjection/ActivatorUtilities.xml
Labels: area-Extensions-DependencyInjection

#8888 Fix examples tag
  xml/Microsoft.Extensions.Configuration.Ini/IniConfigurationSource.xml
  xml/Microsoft.Extensions.Configuration.Ini/IniStreamConfigurationSource.xml
Labels: area-Extensions-Configuration

#8887 Update NamedPipeServerStreamAcl.xml
  xml/System.IO.Pipes/NamedPipeServerStreamAcl.xml
Labels: area-System.IO

#8705 Change the doc linked to for Activity.ID details
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics, community-contribution

#8865 Add examples for ImmutableArray
  snippets/csharp/System.Collections.Immutable/ImmutableArray`1/Overview/ImmutableArraySnippets.cs
  snippets/csharp/System.Collections.Immutable/ImmutableArray`1/Overview/ImmutableArraySnippets.csproj
  snippets/csharp/System.Collections.Immutable/ImmutableArray`1/Overview/Program.cs
  xml/System.Collections.Immutable/ImmutableArray`1.xml
Labels: area-System.Collections, community-contribution

#8896 Run quest nightly
  .github/workflows/quest-bulk.yml
  .github/workflows/quest.yml
  quest-config.json
Labels: area-Infrastructure

#8900 Update snippets24.cs
  snippets/csharp/VS_Snippets_CFX/wf_samples/cs/snippets24.cs
Labels: community-contribution

#8910 Fix typo in ICustomFormatter doc
  xml/System/ICustomFormatter.xml
Labels: area-System.Runtime

#8915 Correct doc comment for IMultiplyOperators returns
  xml/System.Numerics/IMultiplyOperators`3.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/UInt128.xml
Labels: area-System.Runtime, community-contribution

#8917 Update HealthCheckService.xml
  xml/Microsoft.Extensions.Diagnostics.HealthChecks/HealthCheckService.xml
Labels: community-contribution

#8918 Fix HMAC docs to use hash output size, not block size, for key adjustment
  xml/System.Security.Cryptography/HMACMD5.xml
  xml/System.Security.Cryptography/HMACSHA1.xml
  xml/System.Security.Cryptography/HMACSHA256.xml
  xml/System.Security.Cryptography/HMACSHA384.xml
  xml/System.Security.Cryptography/HMACSHA512.xml
Labels: area-System.Security

#8908 make the return value comment a bit simpler
  xml/System/Random.xml
Labels: area-System.Runtime, community-contribution

#8911 fix typo in Examples
  xml/System.Windows/EventManager.xml
Labels: area-WPF, community-contribution

#8849 [fabricbot] Treat needs-area-label as an area for Eric/Jeff
  .github/fabricbot.json
Labels: area-Meta

#8925 Fix exsl link
  xml/System.Xml.Xsl.Runtime/XsltFunctions.xml
Labels: area-System.Xml

#8923 Add missing case for counterexamples
  xml/System.Net/HttpWebRequest.xml
Labels: area-System.Net, community-contribution

#8924 Libraries area pod updates March 2023
  .github/fabricbot.json
Labels: area-Meta

#8931 Remove erroneous docs on SortedSet<T>(IComparer<T>)
  xml/System.Collections.Generic/SortedSet`1.xml
Labels: area-System.Collections, community-contribution

#8940 Update IE references in Windows Forms
  xml/System.Windows.Forms/Application.xml
  xml/System.Windows.Forms/DataGridViewLinkCell.xml
  xml/System.Windows.Forms/DataGridViewLinkColumn.xml
  xml/System.Windows.Forms/HtmlDocument.xml
  xml/System.Windows.Forms/HtmlElement.xml
  xml/System.Windows.Forms/HtmlElementEventArgs.xml
  xml/System.Windows.Forms/HtmlHistory.xml
  xml/System.Windows.Forms/HtmlWindow.xml
  xml/System.Windows.Forms/LinkLabel+Link.xml
  xml/System.Windows.Forms/LinkLabel+LinkCollection.xml
  xml/System.Windows.Forms/LinkLabel.xml
  xml/System.Windows.Forms/ListView.xml
  xml/System.Windows.Forms/ToolStrip.xml
  xml/System.Windows.Forms/ToolTip.xml
  xml/System.Windows.Forms/UserControl.xml
  xml/System.Windows.Forms/WebBrowser.xml
  xml/System.Windows.Forms/WebBrowserProgressChangedEventArgs.xml
Labels: area-WinForms
