Repository dotnet/dotnet-api-docs, pull requests merged in 2023-11, with the labels that each got.

#9422 Replace fwlink
  xml/System.Speech.Synthesis/PromptBuilder.xml
Labels: needs-area-label

#9424 Clarify Interlocked.{In|De}crement
  xml/System.Threading/Interlocked.xml
Labels: area-System.Threading, community-contribution

#9425 Added examples to Path.GetRelativePath docs
  snippets/csharp/System.IO/Path/GetRelativePath/GetRelativePath.cs
  snippets/csharp/System.IO/Path/GetRelativePath/Project.csproj
  snippets/visualbasic/System.IO/Path/GetRelativePath/GetRelativePath.vb
  snippets/visualbasic/System.IO/Path/GetRelativePath/Project.vbproj
  xml/System.IO/Path.xml
Labels: area-System.IO, community-contribution

#9427 Link to diagnostic IDs
  xml/System.Diagnostics.CodeAnalysis/ExperimentalAttribute.xml
  xml/System/ObsoleteAttribute.xml
Labels: area-Meta

#9431 Fixed xml-doc comments in OptionsServiceCollectionExtensions.AddOptionsWithValidateOnStart
  xml/Microsoft.Extensions.DependencyInjection/OptionsServiceCollectionExtensions.xml
Labels: area-Extensions-Options, community-contribution

#9433 Update SuppressGCTransitionAttribute.xml
  xml/System.Runtime.InteropServices/SuppressGCTransitionAttribute.xml
Labels: area-System.Runtime.InteropServices

#9434 Fix typo in XxHash128 docs
  xml/System.IO.Hashing/XxHash128.xml
Labels: area-System.IO

#9436 NetworkInterfaceComponent.IPv6 should use GetIPv6GlobalStatistics
  snippets/csharp/System.Net.NetworkInformation/IcmpV4Statistics/Overview/netinfo.cs
Labels: area-System.Net, community-contribution

#9429 Update EndSendFile exceptions
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8739 Document `Exception.StackTrace` nullability
  xml/System/Exception.xml
Labels: area-System.Runtime, community-contribution

#9342 Updated HttpUtility ParseQueryString code snippets for C# and VB
  snippets/csharp/VS_Snippets_WebNet/HttpUtility_ParseQueryString/cs/httputility_parsequerystring.aspx
  snippets/csharp/VS_Snippets_WebNet/HttpUtility_ParseQueryString/cs/httputility_parsequerystring.cs
  snippets/visualbasic/VS_Snippets_WebNet/HttpUtility_ParseQueryString/vb/httputility_parsequerystring.aspx
  snippets/visualbasic/VS_Snippets_WebNet/HttpUtility_ParseQueryString/vb/httputility_parsequerystring.vb
  xml/System.Web/HttpUtility.xml
Labels: area-System.Web, community-contribution

#9439 Updates per .NET 8
  xml/System.Diagnostics/ProcessStartInfo.xml
  xml/System.Linq/Enumerable.xml
Labels: needs-area-label

#9444 Fix docs of MemoryExtensions.AsSpan<T>(this T[]? array, int start, int length)
  xml/System/MemoryExtensions.xml
Labels: area-System.Runtime, community-contribution

#9445 FabricBot: Remove libraries area pod project board automation
  .github/fabricbot.json
Labels: area-Meta

#9448 Small typo in GC.RegisterNoGCRegionCallback
  xml/System/GC.xml
Labels: area-System.Runtime, community-contribution

#9449 fix: enum.HasFlag remarks
  xml/System/Enum.xml
Labels: area-System.Runtime, community-contribution

#9452 Set feedback system to "standard"
  docfx.json
Labels: area-Infrastructure

#9451 Enhance README for improved contribution usability
  README.md
Labels: area-Meta, community-contribution

#9453 Document AddDays exception
  xml/System/DateOnly.xml
Labels: area-System.Runtime, community-contribution

#9455 CI Update - baselines
  xml/FrameworksIndex/dotnet-plat-ext-7.0.xml
  xml/FrameworksIndex/dotnet-plat-ext-8.0.xml
  xml/Microsoft.Win32/RegistryAclExtensions.xml
  xml/PackageInformation/dotnet-plat-ext-7.0.json
  xml/PackageInformation/dotnet-plat-ext-8.0.json
  xml/System.Collections.Generic/IAsyncEnumerable`1.xml
  xml/System.Collections.Generic/IAsyncEnumerator`1.xml
  xml/System.Diagnostics.CodeAnalysis/ExperimentalAttribute.xml
  xml/System.Diagnostics.Metrics/Instrument.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/ObservableInstrument`1.xml
  xml/System.Runtime.CompilerServices/AsyncIteratorMethodBuilder.xml
  xml/System.Runtime.CompilerServices/AsyncIteratorStateMachineAttribute.xml
  xml/System.Runtime.CompilerServices/ConfiguredAsyncDisposable.xml
  xml/System.Runtime.CompilerServices/ConfiguredCancelableAsyncEnumerable`1+Enumerator.xml
  xml/System.Runtime.CompilerServices/ConfiguredCancelableAsyncEnumerable`1.xml
  xml/System.Runtime.CompilerServices/EnumeratorCancellationAttribute.xml
  xml/System.Security.AccessControl/RegistryAccessRule.xml
  xml/System.Security.AccessControl/RegistryAuditRule.xml
  xml/System.Security.AccessControl/RegistrySecurity.xml
  xml/System.Threading.Tasks.Sources/ManualResetValueTaskSourceCore`1.xml
  xml/System.Threading.Tasks/TaskAsyncEnumerableExtensions.xml
  xml/System/IAsyncDisposable.xml
Labels: area-Meta

#9460 Fix spelling errors in code snippets
  snippets/csharp/System.Drawing.Drawing2D/GraphicsPath/AddArc/form1.cs
  snippets/csharp/System.Security.Cryptography.X509Certificates/PublicKey/Overview/program.cs
  snippets/visualbasic/VS_Snippets_CLR/x509certificate2/vb/Project.csproj
  snippets/visualbasic/VS_Snippets_CLR/x509certificate2/vb/program.vb
  snippets/visualbasic/VS_Snippets_Winforms/System.Drawing.Drawing2D.ClassicGraphicsPathExamples/VB/Project.csproj
  snippets/visualbasic/VS_Snippets_Winforms/System.Drawing.Drawing2D.ClassicGraphicsPathExamples/VB/form1.vb
Labels: community-contribution, needs-area-label

#9441 Fix typos in property names and comments
  snippets/cpp/VS_Snippets_CLR/Type_GetProperty2/CPP/type_getproperty2.cpp
  snippets/csharp/System.Windows.Input/CanExecuteRoutedEventArgs/Parameter/Window1.xaml.cs
  snippets/csharp/System.Windows.Threading/Dispatcher/Invoke/Window1.xaml.cs
  snippets/csharp/System/Type/GetProperty/Project.csproj
  snippets/csharp/System/Type/GetProperty/type_getproperty1.cs
  snippets/csharp/System/Type/GetProperty/type_getproperty2.cs
  snippets/csharp/System/Type/GetProperty/type_getproperty21.cs
  snippets/csharp/System/Type/GetProperty/type_getproperty3.cs
  snippets/csharp/System/Type/GetProperty/type_getproperty_types.cs
  snippets/fsharp/System/Type/GetProperty/type_getproperty2.fs
  snippets/visualbasic/VS_Snippets_CLR/Type_GetProperty1/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR/Type_GetProperty1/VB/type_getproperty1.vb
  snippets/visualbasic/VS_Snippets_Wpf/InvalidateRequeryWithDispatcherTimer/visualbasic/window1.xaml.vb
  snippets/visualbasic/VS_Snippets_Wpf/InvalidateRequeryWithSystemTimer/visualbasic/window1.xaml.vb
Labels: community-contribution, needs-area-label

#9468 Update INumberBase`1.xml
  xml/System.Numerics/INumberBase`1.xml
Labels: community-contribution

#9472 Fix small typo in the Instrument.Tags description
  xml/System.Diagnostics.Metrics/Instrument.xml
Labels: area-System.Diagnostics

#9470 FileAccess and FileAttributes F# snippets
  snippets/fsharp/System.IO/FileAccess/Overview/fs.fsproj
  snippets/fsharp/System.IO/FileAccess/Overview/source.fs
  snippets/fsharp/System.IO/FileAttributes/Overview/example.fs
  snippets/fsharp/System.IO/FileAttributes/Overview/fs.fsproj
  xml/System.IO/FileAccess.xml
  xml/System.IO/FileAttributes.xml
Labels: area-System.IO, community-contribution

#9475 Fix build suggestions
  xml/Microsoft.Extensions.FileSystemGlobbing/Matcher.xml
  xml/System.Collections.ObjectModel/Collection`1.xml
  xml/System.Windows.Annotations.Storage/XmlStreamStore.xml
  xml/System.Windows.Forms/TaskDialogRadioButtonCollection.xml
  xml/System/MemoryExtensions.xml
Labels: area-Meta

#9478 Update HostApplicationBuilderSettings.xml
  xml/Microsoft.Extensions.Hosting/HostApplicationBuilderSettings.xml
Labels: community-contribution

#9481 Update UnsafeAccessorAttribute.xml
  xml/System.Runtime.CompilerServices/UnsafeAccessorAttribute.xml
Labels: area-System.Runtime.CompilerServices

#9483 Add remarks to UnmanagedCallersOnlyAttribute.EntryPoint
  xml/System.Runtime.InteropServices/UnmanagedCallersOnlyAttribute.xml
Labels: area-System.Runtime.InteropServices, community-contribution
