Repository dotnet/dotnet-api-docs, pull requests merged in 2023-07, with the labels that each got.

#9113 Removed Erroneous Space from System.Xml.XmlNode.InnerText Example
  xml/System.Xml/XmlNode.xml
Labels: area-System.Xml, community-contribution

#9120 Update SafeBuffer.xml
  xml/System.Runtime.InteropServices/SafeBuffer.xml
Labels: area-System.Runtime.InteropServices

#9122 Fix minor documentation error for `IFloatingPoint<TSelf>.Round(TSelf, int, MidpointRounding)`
  xml/System.Numerics/IFloatingPoint`1.xml
Labels: area-System.Numerics, community-contribution

#9129 Verbiage correction (two verbs in a row)
  xml/System/Environment.xml
Labels: area-System.Runtime, community-contribution

#9130 Update TimeZoneInfo.xml - nitpick regarding ICU
  xml/System/TimeZoneInfo.xml
Labels: community-contribution, area-System.DateTime

#9128 Update HostApplicationBuilder.xml
  xml/Microsoft.Extensions.Hosting/HostApplicationBuilder.xml
Labels: area-Extensions-Hosting

#9133 Fix Timespan Remarks
  xml/System/TimeSpan.xml
Labels: area-System.DateTime

#9132 Port over docs for System.Runtime.InteropServices
  xml/System.Runtime.InteropServices.Marshalling/ComExposedClassAttribute`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ComInterfaceMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ComObject.xml
  xml/System.Runtime.InteropServices.Marshalling/ExceptionAsDefaultMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ExceptionAsHResultMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ExceptionAsNaNMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ExceptionAsVoidMarshaller.xml
  xml/System.Runtime.InteropServices.Marshalling/GeneratedComClassAttribute.xml
  xml/System.Runtime.InteropServices.Marshalling/GeneratedComInterfaceAttribute.xml
  xml/System.Runtime.InteropServices.Marshalling/IComExposedClass.xml
  xml/System.Runtime.InteropServices.Marshalling/IComExposedDetails.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownCacheStrategy.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownDerivedDetails.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownInterfaceDetailsStrategy.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownInterfaceType.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownStrategy.xml
  xml/System.Runtime.InteropServices.Marshalling/IUnknownDerivedAttribute`2.xml
  xml/System.Runtime.InteropServices.Marshalling/IUnmanagedVirtualMethodTableProvider.xml
  xml/System.Runtime.InteropServices.Marshalling/SafeHandleMarshaller`1+ManagedToUnmanagedIn.xml
  xml/System.Runtime.InteropServices.Marshalling/SafeHandleMarshaller`1+ManagedToUnmanagedOut.xml
  xml/System.Runtime.InteropServices.Marshalling/SafeHandleMarshaller`1+ManagedToUnmanagedRef.xml
  xml/System.Runtime.InteropServices.Marshalling/SafeHandleMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/UniqueComInterfaceMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/VirtualMethodTableInfo.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/ComWrappers.xml
  xml/System.Runtime.InteropServices/NFloat.xml
Labels: area-System.Runtime.InteropServices, :books: documentation

#9103 Update Form.xml fix typo
  xml/System.Windows.Forms/Form.xml
Labels: area-WinForms, community-contribution

#9143 CI Update - Add IMeterFactory back to extensions for Preview 6
  xml/FrameworksIndex/dotnet-plat-ext-8.0.xml
  xml/Microsoft.Extensions.Diagnostics.Metrics/IMeterFactory.xml
  xml/System/MemoryExtensions.xml
Labels: needs-area-label

#9144 Publish to live
  xml/FrameworksIndex/dotnet-plat-ext-8.0.xml
  xml/Microsoft.Extensions.Diagnostics.Metrics/IMeterFactory.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System/MemoryExtensions.xml
Labels: area-Infrastructure

#9008 Add note about Monitor thread affinity
  xml/System.Threading/Monitor.xml
Labels: area-System.Threading, community-contribution

#9150 Upgrade the snippets code validation
  .github/workflows/dependencies/DotnetDocsTools.LocateProjects.2.0.0.nupkg
  .github/workflows/dependencies/Get-MSBuildResults.ps1
  .github/workflows/dependencies/Out-GithubActionStatus.ps1
  .github/workflows/snippets5000.yml
Labels: area-Infrastructure

#9131 Port new docs for System.CodeDom, System.Globalization and System.Runtime.CompilerServices, System.Net (EII) and System.Data.SqlTypes (EII)
  xml/System.CodeDom.Compiler/IndentedTextWriter.xml
  xml/System.Data.SqlTypes/SqlGuid.xml
  xml/System.Globalization/NumberStyles.xml
  xml/System.Net/IPAddress.xml
  xml/System.Net/IPNetwork.xml
  xml/System.Runtime.CompilerServices/InlineArrayAttribute.xml
  xml/System.Runtime.CompilerServices/RefSafetyRulesAttribute.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
Labels: area-System.Runtime.CompilerServices

#7612 Fix note about ? wildcard in EnumerateFiles()
  includes/enumerate-files-net-framework.md
  xml/System.IO/Directory.xml
Labels: area-System.IO

#8204 Fix up authority part
  xml/System/Uri.xml
Labels: area-System.Net

#9161 Add TimeZoneInfo APIs remarks
  xml/System/TimeZoneInfo.xml
Labels: area-System.DateTime

#8837 Update UnmanagedType.xml
  xml/System.Runtime.InteropServices/UnmanagedType.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#9165 Porting new docs for the System.Numerics namespace
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/BitOperations.xml
  xml/System.Numerics/Complex.xml
  xml/System.Numerics/IFloatingPointIeee754`1.xml
  xml/System.Numerics/TotalOrderIeee754Comparer`1.xml
  xml/System.Numerics/Vector.xml
  xml/System.Numerics/Vector`1.xml
Labels: area-System.Numerics

#9163 Porting new docs for the System namespace
  xml/System/ArgumentException.xml
  xml/System/ArgumentOutOfRangeException.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Delegate.xml
  xml/System/Double.xml
  xml/System/Enum.xml
  xml/System/Environment.xml
  xml/System/GC.xml
  xml/System/Half.xml
  xml/System/IUtf8SpanFormattable.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/MemoryExtensions.xml
  xml/System/MulticastDelegate.xml
  xml/System/OperatingSystem.xml
  xml/System/Random.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/String.xml
  xml/System/TimeOnly.xml
  xml/System/TimeProvider.xml
  xml/System/TimeSpan.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
  xml/System/Version.xml
Labels: area-System.Runtime

#9164 Porting new docs for the System.Buffers namespace
  xml/System.Buffers.Binary/BinaryPrimitives.xml
  xml/System.Buffers.Text/Base64.xml
  xml/System.Buffers/SearchValues.xml
  xml/System.Buffers/SearchValues`1.xml
Labels: area-System.Buffers

#9141 Document counterintuitive AddHostedService behavior
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollectionHostedServiceExtensions.xml
Labels: area-Extensions-DependencyInjection, community-contribution

#9169 Port over more doc comments
  xml/System.Collections.Immutable/ImmutableArray`1+Builder.xml
  xml/System.Collections.Immutable/ImmutableArray`1.xml
  xml/System.Net/IPAddress.xml
  xml/System.Net/IPNetwork.xml
  xml/System.Runtime.InteropServices.Marshalling/ComExposedClassAttribute`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ComInterfaceMarshaller`1.xml
  xml/System.Runtime.InteropServices.Marshalling/ComInterfaceOptions.xml
  xml/System.Runtime.InteropServices.Marshalling/ComObject.xml
  xml/System.Runtime.InteropServices.Marshalling/GeneratedComClassAttribute.xml
  xml/System.Runtime.InteropServices.Marshalling/GeneratedComInterfaceAttribute.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownCacheStrategy+TableInfo.xml
  xml/System.Runtime.InteropServices.Marshalling/IIUnknownStrategy.xml
  xml/System.Runtime.InteropServices.Marshalling/IUnknownDerivedAttribute`2.xml
  xml/System.Runtime.InteropServices.Marshalling/StrategyBasedComWrappers.xml
  xml/System.Runtime.InteropServices.Marshalling/UniqueComInterfaceMarshaller`1.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
  xml/System.Runtime.InteropServices/ImmutableCollectionsMarshal.xml
  xml/System.Runtime.InteropServices/NFloat.xml
Labels: area-System.Runtime.InteropServices

#9153 Update InputLanguage.xml
  xml/System.Windows.Forms/InputLanguage.xml
Labels: area-WinForms, community-contribution
