Repository dotnet/dotnet-api-docs, pull requests merged in 2023-05, with the labels that each got.

#8987 Update SecureString.xml
  xml/System.Security/SecureString.xml
Labels: area-System.Security, community-contribution

#8321 Fix up Socket.Poll return value table to match other overload
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#8993 Update return values for GC.GetGeneration
  xml/System/GC.xml
Labels: area-System.Runtime

#8996 Update remarks for Enviroment.OSVersion
  xml/System/Environment.xml
Labels: area-System.Runtime

#4477 Update SqlFacetAttribute.xml to indicate possible usage on input parameters
  xml/Microsoft.SqlServer.Server/SqlFacetAttribute.xml
Labels: area-System.Data.SqlClient

#8952 Add examples for immutable collections
  snippets/csharp/System.Collections.Immutable/ImmutableDictionary`2/Overview/ImmutableDictionarySnippets.cs
  snippets/csharp/System.Collections.Immutable/ImmutableDictionary`2/Overview/ImmutableDictionarySnippets.csproj
  snippets/csharp/System.Collections.Immutable/ImmutableDictionary`2/Overview/Program.cs
  snippets/csharp/System.Collections.Immutable/ImmutableHashSet`1/Overview/ImmutableHashSetSnippets.cs
  snippets/csharp/System.Collections.Immutable/ImmutableHashSet`1/Overview/ImmutableHashSetSnippets.csproj
  snippets/csharp/System.Collections.Immutable/ImmutableHashSet`1/Overview/Program.cs
  snippets/csharp/System.Collections.Immutable/ImmutableList`1/Overview/ImmutableListSnippets.cs
  snippets/csharp/System.Collections.Immutable/ImmutableList`1/Overview/ImmutableListSnippets.csproj
  snippets/csharp/System.Collections.Immutable/ImmutableList`1/Overview/Program.cs
  xml/System.Collections.Immutable/ImmutableDictionary`2.xml
  xml/System.Collections.Immutable/ImmutableHashSet`1.xml
  xml/System.Collections.Immutable/ImmutableList`1.xml
Labels: area-System.Collections, community-contribution

#8695 Update stringtohglobalansi.cs
  snippets/csharp/System.Runtime.InteropServices/Marshal/FreeHGlobal/stringtohglobalansi.cs
Labels: area-System.Runtime.InteropServices, community-contribution

#9006 Update NormalizationForm.xml
  xml/System.Text/NormalizationForm.xml
Labels: area-System.Text.Encoding, community-contribution

#9007 Fix typo in SortedDictionary`2.xml
  xml/System.Collections.Generic/SortedDictionary`2.xml
Labels: area-System.Collections, community-contribution

#9010 Change see cref to xref
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#9009 Fix snippet - ConsoleKey1.cs
  snippets/csharp/System/ConsoleKey/Overview/ConsoleKey1.cs
Labels: area-System.Runtime, community-contribution

#8969 Clarify Intptr use in SID constructor
  xml/System.Security.Principal/SecurityIdentifier.xml
Labels: area-System.Security, community-contribution

#9015 Update global ms.date
  docfx.json
Labels: area-Infrastructure

#8975 Removing restored types from filter
  xml/_filter.xml
Labels: needs-area-label

#9021 Publish to live
  xml/_filter.xml
Labels: area-Infrastructure

#8870 System.Threading.Tasks.Task F# snippets
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/Run11.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/Run28.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/Run7.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/ctor1.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/run2.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/run31.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/run4.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/run41.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/run6.fs
  snippets/fsharp/System.Threading.Tasks/Task/.ctor/startnew3.fs
  snippets/fsharp/System.Threading.Tasks/Task/ContinueWith/continuewith1.fs
  snippets/fsharp/System.Threading.Tasks/Task/ContinueWith/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/Delay/delay1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Delay/delay2.fs
  snippets/fsharp/System.Threading.Tasks/Task/Delay/delay3.fs
  snippets/fsharp/System.Threading.Tasks/Task/Delay/delay4.fs
  snippets/fsharp/System.Threading.Tasks/Task/Delay/delay5.fs
  snippets/fsharp/System.Threading.Tasks/Task/Delay/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/Factory/factory1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Factory/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/FromExceptionTResult/fromresult1.fs
  snippets/fsharp/System.Threading.Tasks/Task/FromExceptionTResult/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/Overview/Wait1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/Wait2.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/WaitAll1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/WaitAll2.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/WhenAny1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/continuationoptions.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/continuationsimple.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/Overview/run1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/startnew.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/startnew1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Overview/waitall.fs
  snippets/fsharp/System.Threading.Tasks/Task/RunSynchronously/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/RunSynchronously/runsynchronously1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Start/Start1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Start/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/Wait/Wait5.fs
  snippets/fsharp/System.Threading.Tasks/Task/Wait/Wait6.fs
  snippets/fsharp/System.Threading.Tasks/Task/Wait/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/Wait/wait1.fs
  snippets/fsharp/System.Threading.Tasks/Task/Wait/wait3.fs
  snippets/fsharp/System.Threading.Tasks/Task/Wait/wait4.fs
  snippets/fsharp/System.Threading.Tasks/Task/WaitAny/WaitAny1.fs
  snippets/fsharp/System.Threading.Tasks/Task/WaitAny/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/WhenAll/WhenAll3.fs
  snippets/fsharp/System.Threading.Tasks/Task/WhenAll/WhenAll4.fs
  snippets/fsharp/System.Threading.Tasks/Task/WhenAll/fs.fsproj
  snippets/fsharp/System.Threading.Tasks/Task/WhenAll/whenall1.fs
  snippets/fsharp/System.Threading.Tasks/Task/WhenAll/whenall2.fs
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks, community-contribution

#9024 Fix docs that confusingly refer to EnumerateFiles
  xml/System.IO/Directory.xml
Labels: area-System.IO, community-contribution

#9017 Fix documentation for FileInfo.IsReadOnly property
  snippets/cpp/VS_Snippets_CLR/IO.FileInfo.isReadOnly/cpp/sample.cpp
  snippets/csharp/System.IO/FileInfo/IsReadOnly/sample.cs
  snippets/visualbasic/VS_Snippets_CLR/IO.FileInfo.isReadOnly/VB/sample.vb
  xml/System.IO/FileInfo.xml
Labels: area-System.IO, community-contribution

#9025 Fix broken links
  xml/System.Security.Cryptography/RSAEncryptionPaddingMode.xml
  xml/System.Security.Cryptography/RSAParameters.xml
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
  xml/System.ServiceModel.Channels/TcpTransportBindingElement.xml
  xml/System.ServiceModel.Configuration/TcpTransportElement.xml
  xml/System.Web.Management/WebFailureAuditEvent.xml
  xml/System.Web/HttpCookie.xml
  xml/System.Windows.Documents/PageContent.xml
  xml/System.Windows.Media.Imaging/WmpBitmapDecoder.xml
  xml/System.Windows.Media.Imaging/WmpBitmapEncoder.xml
  xml/System.Windows.Xps.Packaging/XpsSignatureDefinition.xml
  xml/System.Windows.Xps.Serialization/BasePackagingPolicy.xml
Labels: area-Meta
