Repository dotnet/dotnet-api-docs, pull requests merged in 2023-08, with the labels that each got.

#9174 Fix typo in snippets/csharp/System.Security.Cryptography/RSACryptoSer…
  snippets/csharp/System.Security.Cryptography/RSACryptoServiceProvider/Overview/sample.cs
Labels: area-System.Security, community-contribution

#9171 Update program.cs
  snippets/csharp/System.Collections.Generic/IEnumerableT/Overview/program.cs
Labels: area-System.Collections, community-contribution

#9176 Add InvalidOperationException exceptions
  xml/System/Enum.xml
Labels: area-System.Runtime

#9158 Clarify zero-byte read behavior for Stream
  xml/System.IO/Stream.xml
Labels: area-System.IO

#9181 Add note about NAOT
  xml/System.Runtime.InteropServices/DllImportSearchPath.xml
Labels: area-System.Runtime.InteropServices

#9187 Port System and System.Runtime docs
  xml/System.Runtime/DefaultTaskSchedulerAwaiter.xml
  xml/System.Runtime/DependentHandle.xml
  xml/System/Boolean.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Enum.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/IUtf8SpanParsable`1.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/MemoryExtensions.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/String.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
  xml/System/TimeZoneInfo.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
  xml/System/Uri.xml
  xml/System/Version.xml
Labels: area-Meta

#9188 Guidance for AggressiveInlining and AggressiveOptimization
  xml/System.Runtime.CompilerServices/MethodImplOptions.xml
Labels: area-System.Runtime.CompilerServices

#9197 Port System.ComponentModel.DataAnnotations APIs
  xml/System.ComponentModel.DataAnnotations/AllowedValuesAttribute.xml
  xml/System.ComponentModel.DataAnnotations/Base64StringAttribute.xml
  xml/System.ComponentModel.DataAnnotations/DeniedValuesAttribute.xml
  xml/System.ComponentModel.DataAnnotations/LengthAttribute.xml
  xml/System.ComponentModel.DataAnnotations/RangeAttribute.xml
Labels: area-System.ComponentModel.DataAnnotations

#9191 Port System.Security documentation
  xml/System.Security.Cryptography.X509Certificates/X509AuthorityInformationAccessExtension.xml
  xml/System.Security.Cryptography.X509Certificates/X509AuthorityKeyIdentifierExtension.xml
  xml/System.Security.Cryptography.X509Certificates/X509SubjectAlternativeNameExtension.xml
  xml/System.Security.Cryptography/AesGcm.xml
  xml/System.Security.Cryptography/AsymmetricAlgorithm.xml
  xml/System.Security.Cryptography/AuthenticationTagMismatchException.xml
  xml/System.Security.Cryptography/CryptoStream.xml
  xml/System.Security.Cryptography/DSACng.xml
  xml/System.Security.Cryptography/DSACryptoServiceProvider.xml
  xml/System.Security.Cryptography/ECDiffieHellman.xml
  xml/System.Security.Cryptography/ECDiffieHellmanCng.xml
  xml/System.Security.Cryptography/ECDsaCng.xml
  xml/System.Security.Cryptography/HMACSHA3_256.xml
  xml/System.Security.Cryptography/HMACSHA3_384.xml
  xml/System.Security.Cryptography/HMACSHA3_512.xml
  xml/System.Security.Cryptography/HashAlgorithmName.xml
  xml/System.Security.Cryptography/RSA.xml
  xml/System.Security.Cryptography/RSACng.xml
  xml/System.Security.Cryptography/RSACryptoServiceProvider.xml
  xml/System.Security.Cryptography/RSAEncryptionPadding.xml
  xml/System.Security.Cryptography/RandomNumberGenerator.xml
  xml/System.Security.Cryptography/SHA3_256.xml
  xml/System.Security.Cryptography/SHA3_384.xml
  xml/System.Security.Cryptography/SHA3_512.xml
  xml/System.Security.Cryptography/SP800108HmacCounterKdf.xml
  xml/System.Security.Cryptography/SafeEvpPKeyHandle.xml
  xml/System.Security.Cryptography/Shake128.xml
  xml/System.Security.Cryptography/Shake256.xml
Labels: area-System.Security

#9200 Update ActivityTraceId.xml
  xml/System.Diagnostics/ActivityTraceId.xml
Labels: area-System.Diagnostics, community-contribution

#9204 Add port docs for new System.Runtime.InteropServices APIs
  xml/System.Numerics/INumberBase`1.xml
  xml/System.Runtime.InteropServices/NFloat.xml
Labels: area-System.Runtime.InteropServices

#9186 Added note to SetMaxThreads documentation
  xml/System.Threading/ThreadPool.xml
Labels: area-System.Threading, community-contribution

#9206 Porting System.Buffers documentation
  xml/System.Buffers.Binary/BinaryPrimitives.xml
  xml/System.Buffers/SearchValues.xml
Labels: area-System.Buffers

#9203 Porting System.Numerics documentation
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System.Numerics/INumberBase`1.xml
  xml/System.Numerics/ITrigonometricFunctions`1.xml
  xml/System.Numerics/Matrix4x4.xml
  xml/System.Numerics/TotalOrderIeee754Comparer`1.xml
Labels: area-System.Numerics

#9198 Port System.Text documentation
  xml/System.Text/ASCIIEncoding.xml
  xml/System.Text/Ascii.xml
  xml/System.Text/CompositeFormat.xml
  xml/System.Text/Encoding.xml
  xml/System.Text/Rune.xml
  xml/System.Text/StringBuilder.xml
  xml/System.Text/UTF8Encoding.xml
Labels: area-System.Text.Encoding

#9196 Port System.Collections API docs.
  xml/System.Collections.Frozen/FrozenDictionary.xml
  xml/System.Collections.Frozen/FrozenDictionary`2+Enumerator.xml
  xml/System.Collections.Frozen/FrozenDictionary`2.xml
  xml/System.Collections.Frozen/FrozenSet.xml
  xml/System.Collections.Frozen/FrozenSet`1+Enumerator.xml
  xml/System.Collections.Frozen/FrozenSet`1.xml
  xml/System.Collections.Generic/Dictionary`2+KeyCollection.xml
  xml/System.Collections.Generic/PriorityQueue`2.xml
  xml/System.Collections.Generic/SortedDictionary`2+KeyCollection.xml
  xml/System.Collections.Immutable/ImmutableHashSet.xml
  xml/System.Collections.Immutable/ImmutableList.xml
  xml/System.Collections.Immutable/ImmutableQueue.xml
  xml/System.Collections.Immutable/ImmutableSortedSet.xml
  xml/System.Collections.Immutable/ImmutableStack.xml
  xml/System.Collections/BitArray.xml
Labels: area-System.Collections

#9121 Update vb.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.collections.generic.equalitycomparer.default/vb/vb.vbproj
Labels: area-System.Collections

#9209 Use link to refer to the default platform calling convention
  xml/System.Reflection/MethodImportAttributes.xml
  xml/System.Runtime.InteropServices/CallingConvention.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/UnmanagedCallConvAttribute.xml
  xml/System.Runtime.InteropServices/UnmanagedCallersOnlyAttribute.xml
Labels: area-System.Runtime.InteropServices

#9208 Port missing documentation for System.IO* APIs
  xml/System.IO.Hashing/Crc32.xml
  xml/System.IO.Hashing/Crc64.xml
  xml/System.IO.Hashing/XxHash128.xml
  xml/System.IO.Hashing/XxHash3.xml
  xml/System.IO.Hashing/XxHash32.xml
  xml/System.IO.Hashing/XxHash64.xml
  xml/System.IO.MemoryMappedFiles/MemoryMappedFile.xml
  xml/System.IO/FileStream.xml
  xml/System.IO/StreamWriter.xml
  xml/System.IO/TextWriter.xml
Labels: area-System.IO

#9195 First-pass porting of System.Text.Json API docs.
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonNode.xml
  xml/System.Text.Json.Serialization.Metadata/JsonMetadataServices.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfoResolver.xml
  xml/System.Text.Json.Serialization/JsonConverter.xml
  xml/System.Text.Json.Serialization/JsonKnownNamingPolicy.xml
  xml/System.Text.Json.Serialization/JsonNumberEnumConverter`1.xml
  xml/System.Text.Json.Serialization/JsonObjectCreationHandling.xml
  xml/System.Text.Json.Serialization/JsonObjectCreationHandlingAttribute.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json.Serialization/JsonStringEnumConverter`1.xml
  xml/System.Text.Json.Serialization/JsonUnmappedMemberHandling.xml
  xml/System.Text.Json.Serialization/JsonUnmappedMemberHandlingAttribute.xml
  xml/System.Text.Json/JsonEncodedText.xml
  xml/System.Text.Json/JsonNamingPolicy.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/Utf8JsonWriter.xml
Labels: area-System.Text.Json

#9216 Socket: discourage concurrent sends and concurrent receives
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets

#9217 Update SocketsHttpHandler.xml - PooledConnectionIdleTimeout
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http, community-contribution

#9202 Porting System documentation
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/MemoryExtensions.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
  xml/System/Uri.xml
  xml/System/Version.xml
Labels: area-System.Runtime

#9227 Adding the Dispose information to the Activity remarks
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics, community-contribution

#9221 Add Reflection.Emit missing docs
  xml/System.Reflection.Emit/AssemblyBuilder.xml
  xml/System.Reflection.Emit/ConstructorBuilder.xml
  xml/System.Reflection.Emit/EnumBuilder.xml
  xml/System.Reflection.Emit/EventBuilder.xml
  xml/System.Reflection.Emit/FieldBuilder.xml
  xml/System.Reflection.Emit/GenericTypeParameterBuilder.xml
  xml/System.Reflection.Emit/Label.xml
  xml/System.Reflection.Emit/MethodBuilder.xml
  xml/System.Reflection.Emit/ModuleBuilder.xml
  xml/System.Reflection.Emit/ParameterBuilder.xml
  xml/System.Reflection.Emit/PropertyBuilder.xml
  xml/System.Reflection.Emit/TypeBuilder.xml
Labels: area-System.Reflection.Emit

#9223 Add missing docs for System.Reflection.Metadata
  xml/System.Reflection.Metadata.Ecma335/InstructionEncoder.xml
  xml/System.Reflection.Metadata.Ecma335/SignatureTypeEncoder.xml
  xml/System.Reflection.Metadata.Ecma335/SwitchInstructionEncoder.xml
Labels: area-System.Reflection.Metadata

#9213 Removing incorrect guidance for FileInfo.ToString regarding the FileInfo.Name property
  xml/System.IO/FileInfo.xml
Labels: area-System.IO, community-contribution

#9238 Reference articles from trim/AOT attribute docs
  xml/System.Diagnostics.CodeAnalysis/DynamicallyAccessedMembersAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/RequiresDynamicCodeAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/RequiresUnreferencedCodeAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/UnconditionalSuppressMessageAttribute.xml
Labels: community-contribution, needs-area-label

#9241 Port missing doc in PortableExecutable.DllCharachteristics enum
  xml/System.Reflection.PortableExecutable/DllCharacteristics.xml
Labels: area-System.Reflection

#9232 Port System.Collections (once again)
  xml/System.Collections.Frozen/FrozenDictionary`2+Enumerator.xml
  xml/System.Collections.Frozen/FrozenDictionary`2.xml
  xml/System.Collections.Frozen/FrozenSet`1+Enumerator.xml
  xml/System.Collections.Frozen/FrozenSet`1.xml
  xml/System.Collections.Generic/CollectionExtensions.xml
  xml/System.Collections.Generic/EqualityComparer`1.xml
  xml/System.Collections.Generic/List`1.xml
  xml/System.Collections.Generic/SortedSet`1.xml
  xml/System.Collections.ObjectModel/ReadOnlyCollection`1.xml
  xml/System.Collections.ObjectModel/ReadOnlyDictionary`2+KeyCollection.xml
  xml/System.Collections.ObjectModel/ReadOnlyDictionary`2.xml
  xml/System.Collections.ObjectModel/ReadOnlyObservableCollection`1.xml
Labels: area-System.Collections

#9233 Port System.IO.Compression.ZipFile docs
  xml/System.IO.Compression/ZipFile.xml
Labels: area-System.IO.Compression
