Repository dotnet/dotnet-api-docs, pull requests merged in 2023-01, with the labels that each got.

#8750 Add link to QUIC prerequisities and supported operating systems
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicListener.xml
Labels: area-System.Net

#8738 Removed obsolete info in the UnobservedTaskExceptionEventArgs docs
  xml/System.Threading.Tasks/UnobservedTaskExceptionEventArgs.xml
Labels: area-System.Threading.Tasks, community-contribution

#8761 Remove comment about zero padding HMAC{256,384,512} keys.
  xml/System.Security.Cryptography/HMACSHA256.xml
  xml/System.Security.Cryptography/HMACSHA384.xml
  xml/System.Security.Cryptography/HMACSHA512.xml
Labels: area-System.Security

#8743 Remove empty example intros
  xml/System.Activities.DurableInstancing/SqlWorkflowInstanceStore.xml
  xml/System.Activities.Statements/TryCatch.xml
  xml/System.Security/NamedPermissionSet.xml
  xml/System.ServiceModel.Channels/ISecurityCapabilities.xml
Labels: area-Meta

#8763 Fix typo SignificantWhitepsace
  xml/System.Xml/XmlTextReader.xml
Labels: area-System.Xml, community-contribution

#8746 Fix xref warnings
  xml/Microsoft.Extensions.Logging.AzureAppServices.Internal/BlobAppendReferenceWrapper.xml
  xml/Microsoft.Extensions.Logging.AzureAppServices/BatchingLoggerProvider.xml
Labels: area-Extensions-Logging-AzureAppServices

#8768 Add See Also links for Configuration APIs
  xml/Microsoft.Extensions.Configuration.CommandLine/CommandLineConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration.EnvironmentVariables/EnvironmentVariablesConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration.Ini/IniConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration.Json/JsonConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration.Memory/MemoryConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration.Xml/XmlConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/CommandLineConfigurationExtensions.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationBinder.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/EnvironmentVariablesExtensions.xml
  xml/Microsoft.Extensions.Configuration/FileConfigurationExtensions.xml
  xml/Microsoft.Extensions.Configuration/FileConfigurationProvider.xml
  xml/Microsoft.Extensions.Configuration/IConfiguration.xml
  xml/Microsoft.Extensions.Configuration/IniConfigurationExtensions.xml
  xml/Microsoft.Extensions.Configuration/JsonConfigurationExtensions.xml
  xml/Microsoft.Extensions.Configuration/MemoryConfigurationBuilderExtensions.xml
  xml/Microsoft.Extensions.Configuration/XmlConfigurationExtensions.xml
Labels: area-Extensions-Configuration, community-contribution

#8765 Update FileShare.xml
  xml/System.IO/FileShare.xml
Labels: area-System.IO

#8769 Add Serilog types to missing APIs
  _zip/missingapi.yml
Labels: area-Infrastructure

#8773 Remove System.IO.Stream.Position remark about it not tracking consumed/skipped bytes
  xml/System.Data.OracleClient/OracleBFile.xml
  xml/System.Data.OracleClient/OracleLob.xml
  xml/System.IO/Stream.xml
Labels: area-System.IO, community-contribution

#8775 Clarify DllImport assembly name support that is only in .NET Framework
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
Labels: area-System.Runtime.InteropServices

#8771 Fix BitConverter.ToString overload docs
  xml/System/BitConverter.xml
Labels: area-System.Runtime, community-contribution

#8783 Fix use of RSAPrivateKey in public key method
  xml/System.Security.Cryptography/RSA.xml
Labels: area-System.Security

#8786 Fix parameter name in TcpClient.ConnectAsync exception annotations
  xml/System.Net.Sockets/TcpClient.xml
Labels: area-System.Net

#8785 Update EventSource+EventData.xml
  xml/System.Diagnostics.Tracing/EventSource+EventData.xml
Labels: area-System.Diagnostics.Tracing, community-contribution

#8791 Document that `/` is behave same as `/**`
  xml/Microsoft.Extensions.FileSystemGlobbing/Matcher.xml
Labels: community-contribution

#8792 Update JsonSerializerOptions.AddContext documentation.
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfoResolver.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#8790 Return ImageSharp to System.Drawing alternatives list.
  includes/drawing.md
Labels: area-System.Drawing, community-contribution

#8794 Fix xref
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#8781 Update ServiceProviderOptions.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceProviderOptions.xml
Labels: area-Extensions-DependencyInjection, community-contribution

#8778 What is a bind added
  xml/System.DirectoryServices.Protocols/LdapConnection.xml
Labels: area-System.DirectoryServices, community-contribution

#8726 Update File.Move exception details
  xml/System.IO/File.xml
Labels: area-System.IO

#8725 Improve DirectoryInfo.GetDirectories exception details
  xml/System.IO/Directory.xml
Labels: area-System.IO

#8788 UserPrincipal.GetAuthorizationGroups(): Clarify null return scenario
  xml/System.DirectoryServices.AccountManagement/UserPrincipal.xml
Labels: area-System.DirectoryServices, community-contribution

#8798 Update mentionees
  .github/fabricbot.json
Labels: area-Meta

#8595 How the search path is interpreted
  xml/System.Diagnostics/ProcessStartInfo.xml
Labels: area-System.Diagnostics.Process, community-contribution

#8802 Add security notes to Process[StartInfo]
  xml/System.Diagnostics/Process.xml
  xml/System.Diagnostics/ProcessStartInfo.xml
Labels: area-System.Diagnostics.Process

#8692 Fix operator docs
  xml/System.Text.Json.Nodes/JsonNode.xml
Labels: area-System.Text.Json, community-contribution

#8584 Update Instr(Int32, String, String)
  xml/Microsoft.VisualBasic/Strings.xml
Labels: area-Microsoft.VisualBasic

#8807 Fix code formatting
  snippets/csharp/System.Xml.Serialization/XmlSerializer/CanDeserialize/source.cs
Labels: community-contribution

#8808 Update CultureTypes.xml
  xml/System.Globalization/CultureTypes.xml
Labels: area-System.Globalization, community-contribution

#8804 Add see also link to AesGcm breaking change
  xml/System.Security.Cryptography/AesGcm.xml
Labels: area-System.Security

#8813 Move stored exceptions blurb to remarks
  xml/System.Activities/WorkflowInvoker.xml
  xml/System.Device.Location/ICivicAddressResolver.xml
  xml/System.Media/SoundPlayer.xml
  xml/System.Windows.Xps/XpsDocumentWriter.xml
Labels: area-Meta

#8811 Add IOException to FileStream.Write methods
  xml/System.IO/FileStream.xml
Labels: area-System.IO
