Repository dotnet/dotnet-api-docs, pull requests merged in 2023-06, with the labels that each got.

#9041 Update ComVisibleAttribute.xml to add mention of supported event acce…
  xml/System.Runtime.InteropServices/ComVisibleAttribute.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#9039 [fabricbot] Area pods: Exclude arch- and os- issues/prs with owners
  .github/fabricbot.json
Labels: area-Meta

#9047 [fabricbot] Do not add needs-further-triage to issues still marked as untriaged
  .github/fabricbot.json
Labels: area-Meta

#9052 Update return values for DecodeFromUtf8 methods
  xml/System.Buffers.Text/Base64.xml
Labels: area-System.Buffers

#9050 Clarify return value of ReadOnlyMemory<char>.ToString
  xml/System/ReadOnlyMemory`1.xml
Labels: area-System.Runtime

#9018 Simplify TimeSpan construction
  snippets/csharp/System.Windows.Input/CanExecuteRoutedEventArgs/Parameter/Window1.xaml.cs
Labels: area-WPF, community-contribution

#9073 Remove incorrect exceptions section for DateTime.Subtract(DateTime)
  xml/System/DateTime.xml
Labels: community-contribution, area-System.DateTime

#9081 CurrencyNegativePattern can be 16
  snippets/csharp/System.Globalization/NumberFormatInfo/CurrencyNegativePattern/currencynegativepattern1.cs
  snippets/csharp/System.IdentityModel.Tokens/IssuerNameRegistry/Overview/scripts/microsoftajax.debug.js
  snippets/visualbasic/VS_Snippets_CLR_System/system.globalization.numberformatinfo.currencynegativepattern/vb/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.globalization.numberformatinfo.currencynegativepattern/vb/currencynegativepattern1.vb
  xml/System.Globalization/NumberFormatInfo.xml
Labels: area-System.Globalization, community-contribution

#9087 Fix `Encoding.GetChars` return value
  xml/System.Text/Encoding.xml
Labels: area-System.Text.Encoding, community-contribution

#9065 System.IO.Compression F# snippets
  snippets/fsharp/System.IO.Compression/Deflate/MemoryWriteReadExample.fs
  snippets/fsharp/System.IO.Compression/Deflate/fs.fsproj
  snippets/fsharp/System.IO.Compression/GZip/FileCompressionModeExample.fs
  snippets/fsharp/System.IO.Compression/GZip/MemoryWriteReadExample.fs
  snippets/fsharp/System.IO.Compression/GZip/fs.fsproj
  snippets/fsharp/System.IO.Compression/ZipArchive/CreateEntry/fs.fsproj
  snippets/fsharp/System.IO.Compression/ZipArchive/CreateEntry/program1.fs
  snippets/fsharp/System.IO.Compression/ZipArchive/CreateEntry/program2.fs
  snippets/fsharp/System.IO.Compression/ZipArchive/Entries/fs.fsproj
  snippets/fsharp/System.IO.Compression/ZipArchive/Entries/program1.fs
  snippets/fsharp/System.IO.Compression/ZipArchive/Entries/program3.fs
  snippets/fsharp/System.IO.Compression/ZipArchive/GetEntry/fs.fsproj
  snippets/fsharp/System.IO.Compression/ZipArchive/GetEntry/program2.fs
  snippets/fsharp/System.IO.Compression/ZipFile/CreateFromDirectory/fs.fsproj
  snippets/fsharp/System.IO.Compression/ZipFile/CreateFromDirectory/program1.fs
  snippets/fsharp/System.IO.Compression/ZipFile/CreateFromDirectory/program2.fs
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Compression/ZipArchive.xml
  xml/System.IO.Compression/ZipFile.xml
Labels: area-System.IO.Compression, community-contribution

#9063 Update CODEOWNERS - remove jkotalik
  .github/CODEOWNERS
Labels: area-Infrastructure

#9075 Add warning to all BinaryFormatter members
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
Labels: area-Serialization, needs-area-label

#9095 Update HttpClient.DefaultProxy
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http

#9092 Modernize custom equality comparer sample code
  snippets/csharp/System.Collections.Generic/IEqualityComparerT/Overview/program.cs
Labels: area-System.Collections, community-contribution

#9080 Improvements around DBNull.Value for DataRowExtensions
  xml/System.Data/DataRowExtensions.xml
Labels: area-System.Data

#9099 Remove C++ and F# BinaryFormatter snippets
  snippets/cpp/VS_Snippets_CLR_System/system.IO.FileInfo members/CPP/fileinfomembers.cpp
  snippets/cpp/VS_Snippets_Remoting/BinaryFormatterClass Example/CPP/binaryformatter.cpp
  snippets/cpp/VS_Snippets_Remoting/FormatterServices/cpp/FormatterServices.cpp
  snippets/cpp/VS_Snippets_Remoting/FormatterServices/cpp/makefile
  snippets/cpp/VS_Snippets_Remoting/IDeserializationCallback Interface Example/CPP/ideserializationcallback.cpp
  snippets/cpp/VS_Snippets_Remoting/IObjectReference Interface Example/CPP/iobjectreference.cpp
  snippets/cpp/VS_Snippets_Remoting/ISerializable Interface Example/CPP/iobjectreference.cpp
  snippets/cpp/VS_Snippets_Remoting/SerializationAttributes/CPP/s.cpp
  snippets/cpp/VS_Snippets_Remoting/SerializationBinder Example/CPP/serializationbinder.cpp
  snippets/cpp/VS_Snippets_Winforms/ComponentEditorExample/CPP/componenteditorexamplecomponent.cpp
  snippets/cpp/VS_Snippets_Winforms/EventsTabExample/CPP/class1.cpp
  snippets/cpp/VS_Snippets_Winforms/IPropertyValueUIServiceExample/CPP/propertyuicomponent.cpp
  snippets/cpp/VS_Snippets_Winforms/PropertyTabExample/CPP/class1.cpp
  snippets/csharp/System/NonSerializedAttribute/Overview/Project.csproj
  snippets/csharp/System/NonSerializedAttribute/Overview/s.cs
  snippets/fsharp/System.DateTime/Persistence.fs
  snippets/fsharp/System/NonSerializedAttribute/Overview/s.fs
  xml/System.ComponentModel/ComponentEditor.xml
  xml/System.Drawing.Design/IPropertyValueUIService.xml
  xml/System.Drawing.Design/PropertyValueUIHandler.xml
  xml/System.Drawing.Design/PropertyValueUIItem.xml
  xml/System.Drawing.Design/PropertyValueUIItemInvokeHandler.xml
  xml/System.IO/FileInfo.xml
  xml/System.Messaging/BinaryMessageFormatter.xml
  xml/System.Messaging/Message.xml
  xml/System.Messaging/MessageQueue.xml
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
  xml/System.Runtime.Serialization/FormatterServices.xml
  xml/System.Runtime.Serialization/IDeserializationCallback.xml
  xml/System.Runtime.Serialization/IObjectReference.xml
  xml/System.Runtime.Serialization/ISerializable.xml
  xml/System.Runtime.Serialization/SerializationBinder.xml
  xml/System.Runtime.Serialization/SerializationInfo.xml
  xml/System.Runtime.Serialization/SerializationInfoEnumerator.xml
  xml/System.Windows.Forms.Design/ComponentEditorPage.xml
  xml/System.Windows.Forms.Design/WindowsFormsComponentEditor.xml
  xml/System/DateTime.xml
  xml/System/SerializableAttribute.xml
Labels: area-Meta

#9104 Fix typo in System.Linq > Enumerable
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq, community-contribution

#9106 Update TimeSpan.xml
  xml/System/TimeSpan.xml
Labels: area-System.Runtime, community-contribution

#9108 Direct Membership users towards ASP.NET Identity
  xml/System.Web.Security/MembershipProvider.xml
  xml/System.Web.Security/SqlMembershipProvider.xml
Labels: area-System.Web
