Repository dotnet/dotnet-api-docs, pull requests merged in 2024-12, with the labels that each got.

#10715 Escape $ signs where needed
  xml/Microsoft.VisualBasic/Financial.xml
  xml/System.Data.Objects/CompiledQuery.xml
  xml/System.Data.Services/IDataServiceConfiguration.xml
  xml/System.Diagnostics/EventLogInstaller.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.Net/Cookie.xml
  xml/System.Net/CookieException.xml
  xml/System.Security.Policy/CodeConnectAccess.xml
  xml/System.Speech.Recognition.SrgsGrammar/SrgsRule.xml
  xml/System.Speech.Recognition/RecognizedWordUnit.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPolymorphismOptions.xml
  xml/System.Text.Json.Serialization/ReferenceResolver.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text/UTF7Encoding.xml
  xml/System.Web.UI.WebControls/BoundField.xml
  xml/System.Web.UI.WebControls/ListControl.xml
  xml/System.Web.UI.WebControls/RegularExpressionValidator.xml
  xml/System/Byte.xml
Labels: area-System.Text.Json

#10720 Add docs for BindingFlags.DoNotWrapExceptions
  xml/System.Reflection/BindingFlags.xml
Labels: area-System.Reflection

#10724 UnmanagedFunctionPointer doesn't require field names to be functional
  xml/System.Runtime.InteropServices/UnmanagedFunctionPointerAttribute.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#10728 ROPC fixes for ADO.NET
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks DbConnectionStringBuilder.Values/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder.Keys/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder.Multiple/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OleDbConnectionStringBuilder.Ctor/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OleDbConnectionStringBuilder.Keys/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OleDbConnectionStringBuilder.Provider/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder.Ctor/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder.IntegratedSecurity/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder.Remove/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnection.ChangePassword/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.IntegratedSecurity/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.Password/CS/source.cs
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.Remove/CS/Project.csproj
  snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.Remove/CS/source.cs
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder.Keys/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder.Multiple/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OdbcConnectionStringBuilder/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OleDbConnectionStringBuilder.Ctor/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OleDbConnectionStringBuilder.Keys/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OleDbConnectionStringBuilder.Provider/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder.Ctor/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder.IntegratedSecurity/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder.Remove/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks OracleConnectionStringBuilder/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks SqlConnection.ChangePassword/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.IntegratedSecurity/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.Password/VB/source.vb
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.Remove/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.Remove/VB/source.vb
  xml/System.Data.Common/DbConnectionStringBuilder.xml
  xml/System.Data.Odbc/OdbcConnectionStringBuilder.xml
  xml/System.Data.OleDb/OleDbConnectionStringBuilder.xml
  xml/System.Data.OracleClient/OracleConnectionStringBuilder.xml
  xml/System.Data.SqlClient/SqlConnection.xml
  xml/System.Data.SqlClient/SqlConnectionStringBuilder.xml
Labels: area-Infrastructure

#10726 Remove extraneous backticks
  xml/System.Diagnostics/ProcessStartInfo.xml
Labels: area-System.Diagnostics

#10704 Add OpenAPI types to _missingapi.yml
  _zip/missingapi.yml
Labels: needs-area-label

#10738 Fix signature for nullability
  snippets/csharp/System/EventArgs/Overview/Project.csproj
  snippets/csharp/System/EventArgs/Overview/program.cs
  snippets/csharp/System/EventArgs/Overview/programnodata.cs
  snippets/csharp/System/EventArgs/Overview/programtruncated.cs
  snippets/csharp/System/EventArgs/Overview/programwithdata.cs
  snippets/csharp/System/EventArgs/Overview/programwithdelegate.cs
Labels: area-Infrastructure, community-contribution

#10740 Close issues labeled code-of-conduct
  .github/policies/close-issues.yml
Labels: area-Infrastructure

#10742 Remove Console.ReadLine
  snippets/csharp/System/Random/Overview/Program.cs
  snippets/csharp/System/Random/Overview/next3.cs
  snippets/csharp/System/Random/Overview/project.csproj
  xml/System/Random.xml
Labels: area-System.Runtime

#10730 ROPC fixes for System.ServiceModel and System.Net
  snippets/cpp/VS_Snippets_Remoting/Classic HttpWebRequest.ConnectionGroupName Example/CPP/source.cpp
  snippets/csharp/System.Net/WebRequest/PreAuthenticate/Project.csproj
  snippets/csharp/System.Net/WebRequest/PreAuthenticate/webrequest_preauthenticate.cs
  snippets/csharp/VS_Snippets_CFX/c_claimset/cs/Project.csproj
  snippets/csharp/VS_Snippets_CFX/c_claimset/cs/makefile
  snippets/csharp/VS_Snippets_CFX/c_claimset/cs/service.cs
  snippets/csharp/VS_Snippets_CFX/c_iauthorizationpolicy/cs/Project.csproj
  snippets/csharp/VS_Snippets_CFX/c_iauthorizationpolicy/cs/makefile
  snippets/csharp/VS_Snippets_CFX/c_iauthorizationpolicy/cs/service.cs
  snippets/csharp/VS_Snippets_CFX/c_usernamevalidator/cs/makefile
  snippets/csharp/VS_Snippets_CFX/c_usernamevalidator/cs/service.cs
  snippets/csharp/VS_Snippets_CFX/s_ueservicecredentials/cs/app.config
  snippets/csharp/VS_Snippets_CFX/s_ueservicecredentials/cs/cs.csproj
  snippets/csharp/VS_Snippets_CFX/s_ueservicecredentials/cs/makefile
  snippets/csharp/VS_Snippets_CFX/s_ueservicecredentials/cs/program.cs
  snippets/csharp/VS_Snippets_CFX/s_ueservicecredentials/cs/service.cs
  snippets/csharp/VS_Snippets_CFX/s_ueusernamepasswordvalidationmode/cs/makefile
  snippets/csharp/VS_Snippets_CFX/s_ueusernamepasswordvalidationmode/cs/service.cs
  snippets/visualbasic/VS_Snippets_CFX/c_claimset/vb/Project.vbproj
  snippets/visualbasic/VS_Snippets_CFX/c_claimset/vb/makefile
  snippets/visualbasic/VS_Snippets_CFX/c_claimset/vb/myauthorizationpolicy.vb
  snippets/visualbasic/VS_Snippets_CFX/c_usernamevalidator/vb/makefile
  snippets/visualbasic/VS_Snippets_CFX/c_usernamevalidator/vb/service.vb
  snippets/visualbasic/VS_Snippets_CFX/s_uewindowsservicecredential/vb/Project.vbproj
  snippets/visualbasic/VS_Snippets_CFX/s_uewindowsservicecredential/vb/makefile
  snippets/visualbasic/VS_Snippets_CFX/s_uewindowsservicecredential/vb/source.vb
  xml/System.IdentityModel.Selectors/UserNamePasswordValidator.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System.Net/WebRequest.xml
  xml/System.Runtime.Remoting/RemotingServices.xml
  xml/System.ServiceModel.Security/UserNamePasswordValidationMode.xml
  xml/System.ServiceModel/WS2007FederationHttpBinding.xml
Labels: area-Meta

#10753 Delete some orphaned snippets
  snippets/cpp/VS_Snippets_Remoting/WebRequest_PreAuthenticate/CPP/webrequest_preauthenticate.cpp
  snippets/csharp/System.Net/Authorization/.ctor/ClientCloneBasic.cs
  snippets/csharp/System.Net/CookieCollection/Item/CookiesPage.cs
  snippets/csharp/System.Net/CookieCollection/Item/CookiesPage1.cs
  snippets/csharp/System.Net/HttpWebRequest/ConnectionGroupName/source.cs
  snippets/csharp/System.Net/SocketPermission/.ctor/DateServer_SocketPermission.cs
  snippets/csharp/System.Net/SocketPermission/ConnectList/DateServer_SocketPermission.cs
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/activitylibrary1.vbproj
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/application.designer.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/application.myapp
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/assemblyinfo.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/resources.designer.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/resources.resx
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/settings.designer.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/my project/settings.settings
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/activitylibrary1/prompt.xaml
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/app.config
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/application.designer.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/application.myapp
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/assemblyinfo.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/resources.designer.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/resources.resx
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/settings.designer.vb
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/my project/settings.settings
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/snippets.5000.json
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/workflow1.xaml
  snippets/visualbasic/VS_Snippets_CFX/cfx_wf_gettingstarted/vb/workflowconsoleapplication1/workflowconsoleapplication1.vbproj
  snippets/visualbasic/VS_Snippets_CFX/poxsample/vb/server/customer.vb
  snippets/visualbasic/VS_Snippets_CFX/poxsample/vb/server/iuniversalcontract.vb
  snippets/visualbasic/VS_Snippets_Remoting/Classic HttpWebRequest.ConnectionGroupName Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_Remoting/WebRequest_PreAuthenticate/VB/webrequest_preauthenticate.vb
Labels: area-Meta

#10757 [UUF] System.Data.SqlClient is deprecated
  xml/ns-System.Data.SqlClient.xml
Labels: area-System.Data

#10741 Remove EventHandler example
  xml/System/EventHandler.xml
  xml/System/EventHandler`1.xml
Labels: area-System.Runtime

#10766 Update links to "Validate All Inputs" page #10765
  includes/untrusted-data-class-note.md
  includes/untrusted-data-instance-note.md
  includes/untrusted-data-interface-note.md
  includes/untrusted-data-method-note.md
  xml/System.Runtime.Remoting.Channels/BinaryClientFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/BinaryClientFormatterSinkProvider.xml
  xml/System.Runtime.Remoting.Channels/BinaryServerFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/BinaryServerFormatterSinkProvider.xml
  xml/System.Runtime.Remoting.Channels/SoapClientFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/SoapClientFormatterSinkProvider.xml
  xml/System.Runtime.Remoting.Channels/SoapServerFormatterSink.xml
  xml/System.Runtime.Remoting.Channels/SoapServerFormatterSinkProvider.xml
  xml/System.Web.Script.Serialization/JavaScriptSerializer.xml
Labels: area-System.Diagnostics, community-contribution

#10767 Fixed IsSupersetOf return comment
  xml/System.Collections.Generic/IReadOnlySet`1.xml
Labels: area-System.Collections, community-contribution

#10775 Fix inheritdoc warnings
  xml/System.Collections.Generic/OrderedDictionary`2+ValueCollection.xml
  xml/System.CommandLine.Help/TwoColumnHelpRow.xml
  xml/System.CommandLine.Parsing/Token.xml
  xml/System.CommandLine/ArgumentArity.xml
  xml/System.CommandLine/Option.xml
  xml/System.CommandLine/Option`1.xml
  xml/System.Net.Http.Headers/HttpHeadersNonValidated.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderMap.xml
  xml/System.Windows.Documents.DocumentStructures/StoryFragment.xml
Labels: area-Meta

#10769 Expose OverloadResolutionPriorityAttribute
  xml/_filter.xml
Labels: needs-area-label

#10778 Add table headers for accessibility
  xml/System.AddIn.Hosting/AddInProcess.xml
  xml/System.AddIn.Hosting/Platform.xml
  xml/System.Buffers.Text/Utf8Formatter.xml
  xml/System.Buffers.Text/Utf8Parser.xml
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Collections.Immutable/ImmutableArray`1.xml
  xml/System.ComponentModel/DesignerProperties.xml
  xml/System.Data.SqlClient/SqlDataReader.xml
  xml/System.IO.Packaging/PackageDigitalSignature.xml
  xml/System.IO.Packaging/PackageRelationship.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Security.Cryptography/PaddingMode.xml
  xml/System.Text.RegularExpressions/Match.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Web.Security.AntiXss/AntiXssEncoder.xml
  xml/System.Web.Security/ActiveDirectoryMembershipUser.xml
  xml/System.Web.UI.DataVisualization.Charting/DataPoint.xml
  xml/System.Web.UI.DataVisualization.Charting/DataPointCollection.xml
  xml/System.Web.UI.WebControls/CheckBoxList.xml
  xml/System.Web.UI.WebControls/DataList.xml
  xml/System.Web.UI.WebControls/Parameter.xml
  xml/System.Web.UI.WebControls/RadioButtonList.xml
  xml/System.Web.UI.WebControls/RepeatDirection.xml
  xml/System.Web.UI.WebControls/RepeatInfo.xml
  xml/System.Web.UI/ChtmlTextWriter.xml
  xml/System.Web.UI/ObjectStateFormatter.xml
  xml/System.Workflow.Activities/WorkflowServiceAttributes.xml
  xml/System.Xml/XmlTextReader.xml
  xml/System.Xml/XmlValidatingReader.xml
  xml/System/BitConverter.xml
  xml/System/Char.xml
Labels: area-Meta
