Repository dotnet/dotnet-api-docs, pull requests merged in 2024-09, with the labels that each got.

#10345 Update `ILogger` documentation to clarify formatter behavior when using extension methods
  xml/Microsoft.Extensions.Logging/ILogger.xml
Labels: area-Extensions-Logging, community-contribution

#10353 Add missing <returns> to AppendAllBytesAsync
  xml/System.IO/File.xml
Labels: area-System.IO

#10362 Add missing docs to FileStream.CopyTo(Stream, int)
  xml/System.IO/FileStream.xml
Labels: area-System.IO

#10243 Port System.Drawing docs for .NET 9
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Drawing2D/GraphicsPathIterator.xml
  xml/System.Drawing.Drawing2D/Matrix.xml
  xml/System.Drawing.Drawing2D/PathGradientBrush.xml
  xml/System.Drawing.Drawing2D/PathPointType.xml
  xml/System.Drawing.Imaging.Effects/BlackSaturationCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/BlurEffect.xml
  xml/System.Drawing.Imaging.Effects/BrightnessContrastEffect.xml
  xml/System.Drawing.Imaging.Effects/ColorBalanceEffect.xml
  xml/System.Drawing.Imaging.Effects/ColorCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/ColorLookupTableEffect.xml
  xml/System.Drawing.Imaging.Effects/ColorMatrixEffect.xml
  xml/System.Drawing.Imaging.Effects/ContrastCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/CurveChannel.xml
  xml/System.Drawing.Imaging.Effects/DensityCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/Effect.xml
  xml/System.Drawing.Imaging.Effects/ExposureCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/GrayScaleEffect.xml
  xml/System.Drawing.Imaging.Effects/HighlightCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/InvertEffect.xml
  xml/System.Drawing.Imaging.Effects/LevelsEffect.xml
  xml/System.Drawing.Imaging.Effects/MidtoneCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/SepiaEffect.xml
  xml/System.Drawing.Imaging.Effects/ShadowCurveEffect.xml
  xml/System.Drawing.Imaging.Effects/SharpenEffect.xml
  xml/System.Drawing.Imaging.Effects/TintEffect.xml
  xml/System.Drawing.Imaging.Effects/VividEffect.xml
  xml/System.Drawing.Imaging.Effects/WhiteSaturationCurveEffect.xml
  xml/System.Drawing.Imaging/ColorMatrix.xml
  xml/System.Drawing.Imaging/ColorPalette.xml
  xml/System.Drawing.Imaging/DitherType.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Imaging/PaletteType.xml
  xml/System.Drawing.Imaging/PixelFormat.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Drawing/SystemIcons.xml
Labels: area-Meta, community-contribution

#10360 Port System.Security.Cryptography docs for .NET 9
  xml/System.Security.Cryptography/CngKeyCreationOptions.xml
  xml/System.Security.Cryptography/SafeEvpPKeyHandle.xml
Labels: area-System.Security

#10367 Fix inconsistent test case number in comments and console logs
  snippets/csharp/System.Collections.Generic/LinkedListT/Overview/source.cs
Labels: area-System.Collections, community-contribution

#10372 Add Remaining Documentation for System.Drawing for .NET 9
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Drawing2D/Matrix.xml
  xml/System.Drawing.Drawing2D/PathGradientBrush.xml
  xml/System.Drawing.Imaging.Effects/BlurEffect.xml
  xml/System.Drawing.Imaging.Effects/Effect.xml
  xml/System.Drawing.Imaging.Effects/GrayScaleEffect.xml
  xml/System.Drawing.Imaging.Effects/InvertEffect.xml
  xml/System.Drawing.Imaging.Effects/SepiaEffect.xml
  xml/System.Drawing.Imaging.Effects/VividEffect.xml
  xml/System.Drawing.Imaging/ColorMatrix.xml
  xml/System.Drawing.Imaging/ColorPalette.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Imaging/PixelFormat.xml
  xml/System.Drawing/Graphics.xml
Labels: community-contribution, needs-area-label

#10370 Add remaining missing docs for System.ComponentModel
  xml/System.ComponentModel/ComponentResourceManager.xml
  xml/System.ComponentModel/CustomTypeDescriptor.xml
  xml/System.ComponentModel/TypeDescriptionProvider.xml
  xml/System.ComponentModel/TypeDescriptor.xml
Labels: area-System.ComponentModel

#10373 Add remaining missing docs in System
  xml/System/Delegate+InvocationListEnumerator`1.xml
  xml/System/Delegate.xml
  xml/System/MemoryExtensions+SpanSplitEnumerator`1.xml
  xml/System/MemoryExtensions.xml
  xml/System/Type.xml
Labels: area-System.Runtime

#8992 Update NotSupportedException for BinaryFormatter (de)serialize
  xml/System.Runtime.Serialization.Formatters.Binary/BinaryFormatter.xml
Labels: area-System.Runtime

#10359 Mention gss-ntlmssp package for NTLM on Linux
  xml/System.Net/NetworkCredential.xml
Labels: area-System.Net

#10393 Document missing DiagnosticMethodInfo info
  xml/System.Diagnostics/DiagnosticMethodInfo.xml
Labels: area-System.Diagnostics, community-contribution

#10392 Clarify XML comments for Utf8Parser.TryParse to reflect case insensitivity
  xml/System.Buffers.Text/Utf8Parser.xml
Labels: area-System.Buffers, community-contribution

#10369 Adding doc comments for ThemeMode, ThemeModeConverter introduced in PresentationFramework
  xml/System.Windows/Application.xml
  xml/System.Windows/SystemColors.xml
  xml/System.Windows/ThemeMode.xml
  xml/System.Windows/ThemeModeConverter.xml
  xml/System.Windows/Window.xml
Labels: area-WPF

#10384 Changed String to string. IDE0049
  snippets/csharp/System/String/Replace/Program.cs
  snippets/csharp/System/String/Replace/Project.csproj
  snippets/csharp/System/String/Replace/replace1.cs
  snippets/csharp/System/String/Replace/replace2.cs
  snippets/csharp/System/String/Replace/string.replace1.cs
  snippets/csharp/System/String/Replace/stringreplace.cs
Labels: area-System.Runtime, community-contribution

#10405 Add missing docs for Task API
  xml/System.Threading.Tasks.Sources/ManualResetValueTaskSourceCore`1.xml
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks

#10412 Fix incorrect parameter references in ToBase64Transform
  xml/System.Security.Cryptography/ToBase64Transform.xml
Labels: area-System.Security

#10247 Port WinForms docs for 9.0
  xml/System.Windows.Forms.Design.Behavior/BehaviorServiceAdornerCollection.xml
  xml/System.Windows.Forms/AccessibleEvents.xml
  xml/System.Windows.Forms/Application.xml
  xml/System.Windows.Forms/ButtonBase.xml
  xml/System.Windows.Forms/ButtonRenderer.xml
  xml/System.Windows.Forms/CheckBoxRenderer.xml
  xml/System.Windows.Forms/Control.xml
  xml/System.Windows.Forms/ControlStyles.xml
  xml/System.Windows.Forms/Form.xml
  xml/System.Windows.Forms/FormCornerPreference.xml
  xml/System.Windows.Forms/GiveFeedbackEventArgs.xml
  xml/System.Windows.Forms/RadioButtonRenderer.xml
  xml/System.Windows.Forms/SystemColorMode.xml
  xml/System.Windows.Forms/TaskDialog.xml
  xml/System.Windows.Forms/ToolStrip.xml
  xml/System.Windows.Forms/ToolStripItem.xml
Labels: area-WinForms, community-contribution

#10417 Fix typo "curent"
  snippets/csharp/System.Security/SecureString/AppendChar/Project.csproj
  snippets/csharp/System.Security/SecureString/AppendChar/xat.cs
  snippets/visualbasic/VS_Snippets_CLR/SecureString.xAt/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR/SecureString.xAt/VB/xat.vb
Labels: area-System.Security, community-contribution

#10416 Update JsonPolymorphicAttribute.xml
  xml/System.Text.Json.Serialization/JsonPolymorphicAttribute.xml
Labels: area-System.Text.Json

#10419 Fix typo in Range.xml
  xml/System/Range.xml
Labels: area-System.Runtime, community-contribution

#10437 handle semester rollover
  quest-config.json
Labels: needs-area-label

#10444 Disable edits on certain files/folders
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure

#10446 Merge main into live
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure

#10445 Couple more undoc APIs from .NET 9
  xml/System.Diagnostics/DebuggerDisableUserUnhandledExceptionsAttribute.xml
  xml/System.IO/File.xml
Labels: area-Meta

#10448 Try to fix no-edit policy
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10449 Fix file paths for disabling Edit button
  docfx.json
Labels: area-Infrastructure

#10454 Merge main into live
  .github/policies/disallow-edits.yml
  docfx.json
  xml/System.Diagnostics/DebuggerDisableUserUnhandledExceptionsAttribute.xml
  xml/System.IO/File.xml
Labels: area-Meta

#10453 Fix all file paths - some are already working
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10456 Try to avoid PRs to live branch
  .github/workflows/live-protection.yml
Labels: area-Infrastructure

#9317 Add clarifications about Control.Invoke behavior when an EventHandler is used
  xml/System.Windows.Forms/Control.xml
Labels: area-WinForms, community-contribution

#10459 Try to fix what I broke
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10470 Fix use of CryptoStream examples
  snippets/csharp/System.Security.Cryptography/Aes/Overview/program.cs
  snippets/csharp/System.Security.Cryptography/AesCryptoServiceProvider/Overview/program.cs
  snippets/csharp/System.Security.Cryptography/AesManaged/Overview/program.cs
  snippets/csharp/System.Security.Cryptography/RijndaelManaged/Overview/class1.cs
Labels: area-System.Security

#10471 Fix AEAD algorithm documentation to indicate when AuthenticationTagMismatchException is thrown
  xml/System.Security.Cryptography/AesCcm.xml
  xml/System.Security.Cryptography/AesGcm.xml
  xml/System.Security.Cryptography/ChaCha20Poly1305.xml
Labels: area-System.Security

#10472 Remove over-specific and incorrect documentation about HMAC key lengths
  xml/System.Security.Cryptography/IncrementalHash.xml
Labels: area-System.Security
