Repository dotnet/dotnet-api-docs, pull requests merged in 2024-05, with the labels that each got.

#8942 Remove references to IE where possible (WPF)
  xml/System.Windows.Controls/DataGridHyperlinkColumn.xml
  xml/System.Windows.Controls/Page.xml
  xml/System.Windows.Documents/Hyperlink.xml
  xml/System.Windows.Interop/BrowserInteropHelper.xml
  xml/System.Windows.Media/Brushes.xml
  xml/System.Windows.Media/Colors.xml
  xml/System.Windows.Navigation/CustomContentState.xml
  xml/System.Windows.Navigation/FragmentNavigationEventArgs.xml
  xml/System.Windows.Navigation/JournalEntry.xml
  xml/System.Windows.Navigation/JournalEntryUnifiedViewConverter.xml
  xml/System.Windows.Navigation/NavigationService.xml
  xml/System.Windows.Navigation/NavigationWindow.xml
  xml/System.Windows/Application.xml
  xml/System.Windows/Window.xml
Labels: area-WPF

#9688 Removed incorrect BCrypt reference
  xml/System.Security.Cryptography/SHA256Cng.xml
Labels: area-System.Security, community-contribution

#9864 Update JsonSerializer.xml
  xml/System.Text.Json/JsonSerializer.xml
Labels: area-System.Text.Json, community-contribution

#9874 Delete 404 links to samples
  xml/System.IO.Packaging/CertificateEmbeddingOption.xml
  xml/System.IO.Packaging/PackUriHelper.xml
  xml/System.IO.Packaging/Package.xml
  xml/System.IO.Packaging/PackageDigitalSignatureManager.xml
  xml/System.IO.Packaging/PackageRelationshipSelector.xml
  xml/System.IO.Packaging/VerifyResult.xml
  xml/System.IO.Packaging/ZipPackage.xml
  xml/System.IO.Packaging/ZipPackagePart.xml
Labels: needs-area-label

#9876 Removes mention of BestCrypt from CNG documentation
  xml/System.Security.Cryptography/MD5Cng.xml
  xml/System.Security.Cryptography/SHA1Cng.xml
  xml/System.Security.Cryptography/SHA384Cng.xml
  xml/System.Security.Cryptography/SHA512Cng.xml
Labels: area-System.Security

#9807 Use X509Certificate2 constructor instead of Import (SYSLIB0026)
  snippets/csharp/System.Security.Cryptography.X509Certificates/PublicKey/Overview/certinfo.cs
Labels: area-System.Security, community-contribution

#9873 Delete 404 WPF sample links
  xml/System.Windows.Controls/ContentPresenter.xml
  xml/System.Windows.Controls/ControlTemplate.xml
  xml/System.Windows.Controls/FlowDocumentReaderViewingMode.xml
  xml/System.Windows.Controls/ItemsControl.xml
  xml/System.Windows.Controls/ListView.xml
  xml/System.Windows.Controls/Panel.xml
  xml/System.Windows.Media.Animation/DoubleAnimationUsingPath.xml
  xml/System.Windows.Media.Animation/PathAnimationSource.xml
  xml/System.Windows.Media.Media3D/AmbientLight.xml
  xml/System.Windows.Media.Media3D/ContainerUIElement3D.xml
  xml/System.Windows.Media.Media3D/EmissiveMaterial.xml
  xml/System.Windows.Media.Media3D/Matrix3D.xml
  xml/System.Windows.Media.Media3D/MeshGeometry3D.xml
  xml/System.Windows.Media.Media3D/Model3DCollection.xml
  xml/System.Windows.Media.Media3D/ModelUIElement3D.xml
  xml/System.Windows.Media.Media3D/PerspectiveCamera.xml
  xml/System.Windows.Media.Media3D/Point3DCollection.xml
  xml/System.Windows.Media.Media3D/PointLight.xml
  xml/System.Windows.Media.Media3D/Transform3DGroup.xml
  xml/System.Windows.Media/CompositionTarget.xml
  xml/System.Windows.Media/ImageBrush.xml
  xml/System.Windows.Media/TileMode.xml
  xml/System.Windows.Media/VisualBrush.xml
  xml/System.Windows/EventTrigger.xml
  xml/System.Windows/MultiTrigger.xml
  xml/System.Windows/Style.xml
  xml/System.Windows/Trigger.xml
  xml/System.Windows/TriggerBase.xml
  xml/System.Windows/UIElement3D.xml
Labels: needs-area-label

#9885 Fix pack examples
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/Program.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/Project.csproj
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex0.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex1.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex2.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex3.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex4.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex5.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex6.cs
  snippets/csharp/System.Runtime.InteropServices/StructLayoutAttribute/Pack/packex7.cs
  xml/System.Runtime.InteropServices/StructLayoutAttribute.xml
Labels: area-System.Runtime.InteropServices

#8943 Remove references to IE where possible
  xml/System.Net.Configuration/ProxyElement.xml
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/WindowsProxyUsePolicy.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System.Net/WebClient.xml
  xml/System.Net/WebProxy.xml
  xml/System.Net/WebRequest.xml
Labels: area-System.Net

#9890 Try to fix automerge label
  .github/policies/label-prs.yml
Labels: area-Infrastructure

#9894 Update quest workflows for secretless
  .github/workflows/quest-bulk.yml
  .github/workflows/quest.yml
Labels: area-Infrastructure

#9895 Try again to fix auto-merge labeler
  .github/policies/label-prs.yml
Labels: area-Infrastructure

#9913 Fix the policy for assigning the labels
  .github/policies/label-prs.yml
Labels: area-Infrastructure, community-contribution

#9914 Review summary of ActivitySource.StartActivity
  xml/System.Diagnostics/ActivitySource.xml
Labels: area-System.Diagnostics, community-contribution

#9544 Improved documentation for MemoryFailPoint when the constructor is called with value 0
  xml/System.Runtime/MemoryFailPoint.xml
Labels: area-System.Memory, community-contribution

#9921 [HTTP/2] MultipleConnections update
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#9926 Update label-prs.yml, fixing yml format
  .github/policies/label-prs.yml
Labels: area-Infrastructure, community-contribution

#9927 Try a different way of auto-merging main to live PRs
  .github/policies/auto-merge.yml
Labels: area-Infrastructure

#9931 Update enumerate-files-net-framework.md
  includes/enumerate-files-net-framework.md
Labels: community-contribution

#9936 Introduce the unit of measure for the size of the entry in the zip archive
  xml/System.IO.Compression/ZipArchiveEntry.xml
Labels: area-System.IO.Compression, community-contribution

#9912 Add some documentation for `System.Threading.Lock` APIs
  xml/System.Threading/Lock+Scope.xml
  xml/System.Threading/Lock.xml
Labels: area-System.Threading

#9947 Let Snippets 5000 use .NET 9 SDK
  .github/workflows/snippets5000.yml
Labels: area-Infrastructure

#9943 Add a code snippet for System.Threading.Lock
  snippets/csharp/System.Threading/Lock/Overview/Project.csproj
  snippets/csharp/System.Threading/Lock/Overview/UsagePatterns.cs
  xml/System.Threading/Lock.xml
Labels: area-System.Threading

#9892 Document issues with using * in AssemblyVersion
  xml/System.Reflection/AssemblyVersionAttribute.xml
Labels: area-System.Reflection

#9959 Add `DateOnly` and `TimeOnly` to docs
  xml/System.Data/DataColumn.xml
Labels: area-System.Data, community-contribution

#9972 Update ReadOnlySpan1.xml and Span1.xml to specify zero-based index values
  xml/System/ReadOnlySpan`1.xml
  xml/System/Span`1.xml
Labels: area-System.Runtime, community-contribution

#9967 Fix #9966 - incorrect description of parameter 'searchPattern'
  xml/System.IO/Directory.xml
Labels: area-System.IO, community-contribution

#9961 Check author before auto-merging
  .github/policies/auto-merge.yml
  .github/policies/label-prs.yml
Labels: area-Infrastructure
