Repository dotnet/dotnet-api-docs, pull requests merged in 2024-11, with the labels that each got.

#10631 Update ActivityListener.xml to Fix Typo
  xml/System.Diagnostics/ActivityListener.xml
Labels: area-System.Diagnostics, community-contribution

#10650 OverloadResolutionAttribute: Copy text from constructor parameter to corresponding property
  xml/System.Runtime.CompilerServices/OverloadResolutionPriorityAttribute.xml
Labels: area-System.Runtime.CompilerServices, community-contribution

#10661 Add StreamReader.EndOfStream remarks
  xml/System.IO/StreamReader.xml
Labels: area-System.IO

#10675 Update source of truth assemblies
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure

#10638 Collected fixes for `WinHttpHandler`
  xml/System.Net.Http/WinHttpHandler.xml
Labels: area-System.Net.Http

#10680 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: area-Infrastructure, community-contribution

#10665 Correct typo (diposes->disposes)
  xml/System.Data.Common/DbBatch.xml
  xml/System.Data.Common/DbCommand.xml
  xml/System.Data.Common/DbConnection.xml
  xml/System.Data.Common/DbTransaction.xml
Labels: area-System.Data

#10629 Remove ArgumentNullException from IPAddress.TryParse docs
  xml/System.Net/IPAddress.xml
Labels: area-System.Net
