Repository dotnet/dotnet-api-docs, pull requests merged in 2024-03, with the labels that each got.

#9595 Add nullness warnings in JsonParse
  xml/System.Text.Json.Nodes/JsonNode.xml
Labels: area-System.Text.Json, community-contribution

#9668 Fix typo
  xml/Microsoft.Extensions.DependencyInjection/HttpClientFactoryServiceCollectionExtensions.xml
Labels: area-Extensions-DependencyInjection, community-contribution

#9674 Correct ValueType example
  snippets/csharp/System/ValueType/Overview/example1.cs
Labels: area-System.Runtime, community-contribution

#9632 Correct None enum description
  xml/System.Security.Cryptography/CngExportPolicies.xml
Labels: area-System.Security, community-contribution

#9676 Move scheduled search; try different label action
  .github/policies/resourceManagement.yml
  .github/policies/scheduledPR.yml
Labels: area-Infrastructure

#9670 Clarify undefined behavior for `[ReadOnly]Span<T>(void*,int)` constructors
  xml/System/ReadOnlySpan`1.xml
  xml/System/Span`1.xml
Labels: area-System.Memory, community-contribution

#9678 Separate policy files
  .github/policies/assign-prs.yml
  .github/policies/author-action.yml
  .github/policies/community-contrib.yml
  .github/policies/mention-owners.yml
  .github/policies/resourceManagement.yml
  .github/policies/scheduled-pr.yml
  .github/policies/scheduledPR.yml
  .github/policies/untriaged-label.yml
Labels: area-Infrastructure

#9491 Update Membership.xml
  xml/System.Web.Security/Membership.xml
Labels: area-System.Web, community-contribution

#9566 Update AutoResetEvent.xml - clarified definition
  xml/System.Threading/AutoResetEvent.xml
Labels: area-System.Threading, community-contribution

#9581 Changes in documentation for making value as content property for setter
  xml/System.Windows/Setter.xml
Labels: area-WPF

#9368 Change TaskCanceledException to OperationCanceledException
  xml/System.Threading.Tasks/Task.xml
Labels: area-System.Threading.Tasks

#9691 Delete duplicate policy
  .github/policies/mention-owners.yml
Labels: area-Infrastructure

#9665 Add information about NullReferenceException in ConfigurationRoot ctor
  xml/Microsoft.Extensions.Configuration/ConfigurationRoot.xml
Labels: area-Extensions-Configuration, community-contribution

#9698 Update new vs. cached instance info for GetSystemTimeZoneInfoById method
  xml/System/TimeZoneInfo.xml
Labels: area-System.DateTime

#9707 spaces matter
  snippets/csharp/System.Linq/Enumerable/AggregateTSource/enumerable.cs
Labels: area-System.Linq, community-contribution

#9653 Remove superfluous empty lines
  snippets/csharp/System.Diagnostics/CounterCreationData/Overview/averagecount32.cs
  snippets/csharp/System.Diagnostics/EventLog/GetEventLogs/source1.cs
  snippets/csharp/System.Diagnostics/PerformanceCounter/NextValue/elapsedtime.cs
  snippets/csharp/System.Diagnostics/Process/StandardInput/process_standardinput.cs
  snippets/csharp/System.Drawing/Graphics/CopyFromScreen/Form1.cs
  snippets/csharp/System.IO/FileInfo/MoveTo/Program.cs
  snippets/csharp/System.Messaging/MessageQueue/.ctor/class11.cs
  snippets/csharp/System.Messaging/MessageQueue/BeginPeek/class1.cs
  snippets/csharp/System.Messaging/MessageQueuePermissionAccess/Overview/class1.cs
  snippets/csharp/System.Messaging/MessageQueuePermissionEntry/Overview/class1.cs
  snippets/csharp/System.Net.Sockets/IPv6MulticastOption/Overview/joinmulticastgroup.cs
  snippets/csharp/System.Net/IPAddress/IsLoopback/isloopback.cs
  snippets/csharp/System.Net/WebRequest/BeginGetResponse/webrequest_begingetresponse.cs
  snippets/csharp/System.Reflection.Emit/AssemblyBuilder/Save/source.cs
  snippets/csharp/System.Reflection.Emit/EnumBuilder/Assembly/enumbuilder_properties_5.cs
  snippets/csharp/System.Reflection.Emit/EnumBuilder/GetCustomAttributes/enumbuilder_setcustomattribute1.cs
  snippets/csharp/System.Reflection.Emit/ILGenerator/Emit/source.cs
  snippets/csharp/System.Reflection.Emit/ILGenerator/EmitCalli/source.cs
  snippets/csharp/System.Reflection.Emit/MethodBuilder/GetILGenerator/source.cs
  snippets/csharp/System.Reflection.Emit/PropertyBuilder/Overview/source.cs
  snippets/csharp/System.Reflection.Emit/TypeBuilder/CreateType/nestedenum.cs
  snippets/csharp/System.Reflection/AssemblyName/.ctor/assemblyname_constructor.cs
  snippets/csharp/System.Reflection/FieldInfo/IsInitOnly/source.cs
  snippets/csharp/System.Reflection/MemberInfo/IsDefined/memberinfo_getcustomattribute_isdefined.cs
  snippets/csharp/System.Reflection/ParameterInfo/IsIn/parameterinfo_isin_isout_isoptional.cs
  snippets/csharp/System.Runtime.InteropServices/Marshal/GetActiveObject/marshal.getactiveobject.cs
  snippets/csharp/System.Runtime.InteropServices/TypeLibVarAttribute/Overview/codefile6.cs
  snippets/csharp/System.Runtime.Remoting.Channels/ITransportHeaders/Overview/itransportheaders_3_server.cs
  snippets/csharp/System.Runtime.Remoting/RemotingServices/GetLifetimeService/timerserver.cs
  snippets/csharp/System.Runtime.Remoting/RemotingServices/GetLifetimeService/timerservice.cs
  snippets/csharp/System.Security.Claims/AuthorizationContext/Overview/resourceaction.cs
  snippets/csharp/System.Security.Cryptography.X509Certificates/X509Certificate/CreateFromCertFile/example.cs
  snippets/csharp/System.Security.Cryptography.X509Certificates/X509Certificate/GetExpirationDateString/example.cs
  snippets/csharp/System.Security.Cryptography.X509Certificates/X509Certificate/GetIssuerName/example.cs
  snippets/csharp/System.Security.Cryptography.X509Certificates/X509Certificate/GetKeyAlgorithm/example.cs
  snippets/csharp/System.Security.Cryptography.X509Certificates/X509Certificate/GetKeyAlgorithmParameters/example.cs
  snippets/csharp/System.Security.Cryptography.Xml/DataReference/Overview/sample.cs
  snippets/csharp/System.Security.Cryptography.Xml/KeyReference/Overview/sample.cs
  snippets/csharp/System.Security.Cryptography/FromBase64Transform/Overview/class1.cs
  snippets/csharp/System.Security.Permissions/StrongNameIdentityPermission/.ctor/strongnameidentity.cs
  snippets/csharp/System.Security.Policy/Evidence/Overview/evidence_evidence.cs
  snippets/csharp/System.Threading.Tasks/Parallel/Overview/parallelforcancel.cs
  snippets/csharp/System.Web.Services.Discovery/SoapBinding/Overview/discovery_soapbinding.cs
  snippets/csharp/System.Windows.Forms/KeyPressEventArgs/Handled/form1.cs
  snippets/csharp/System.Xml.Serialization/XmlSerializer/Serialize/source3.cs
  snippets/csharp/System/AppDomain/CreateInstanceAndUnwrap/addyno.cs
  snippets/csharp/System/ArrayTypeMismatchException/.ctor/arraytypemismatch_constructor2.cs
  snippets/csharp/System/ArrayTypeMismatchException/.ctor/arraytypemismatch_constructor3.cs
  snippets/csharp/System/Type/GetConstructor/type_getconstructor.cs
  snippets/csharp/System/Type/GetDefaultMembers/type_getdefaultmembers.cs
  snippets/csharp/System/Type/GetMethod/type_getmethod2.cs
  snippets/csharp/System/Type/GetMethods/type_getmethods2.cs
  snippets/csharp/System/Type/GetNestedTypes/type_getnestedtypes.cs
  snippets/csharp/System/Type/GetProperty/type_getproperty1.cs
  snippets/csharp/System/TypeLoadException/.ctor/typeloadexception_constructor3.cs
Labels: community-contribution, needs-area-label

#9713 Update TypeLoadException text for Type.GetType
  xml/System/Type.xml
Labels: area-System.Runtime

#9679 Improve Assembly docs
  xml/System.Reflection/Assembly.xml
  xml/System/AppDomain.xml
  xml/System/Type.xml
Labels: area-Meta, needs-area-label

#9723 Add write permissions for pull requests
  .github/workflows/quest-bulk.yml
  .github/workflows/quest.yml
Labels: area-Infrastructure

#9727 CI Update - .NET 9 Preview 2 extensions
  xml/FrameworksIndex/dotnet-plat-ext-9.0.xml
  xml/Microsoft.Extensions.Compliance.Redaction/HmacRedactorOptions.xml
  xml/Microsoft.Extensions.Compliance.Redaction/IRedactionBuilder.xml
  xml/Microsoft.Extensions.DependencyInjection/AutoActivationExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/EnrichmentServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpClientLoggingServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpDiagnosticsServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.Diagnostics.ResourceMonitoring/IResourceMonitorBuilder.xml
  xml/Microsoft.Extensions.Http.Resilience/ResilienceHandlerContext.xml
  xml/PackageInformation/dotnet-plat-ext-9.0.json
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Imaging/ColorMatrix.xml
  xml/System.Drawing.Imaging/ColorPalette.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Printing/PrinterSettings+StringCollection.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Numerics.Tensors/TensorPrimitives.xml
  xml/Windows.Win32.System.Com/ComManagedStream.xml
  xml/Windows.Win32.UI.Controls.Dialogs/DEVNAMES.xml
Labels: area-Meta

#9730 Publish Preview 2 extensions
  .github/workflows/quest-bulk.yml
  .github/workflows/quest.yml
  xml/FrameworksIndex/dotnet-plat-ext-9.0.xml
  xml/Microsoft.Extensions.Compliance.Redaction/HmacRedactorOptions.xml
  xml/Microsoft.Extensions.Compliance.Redaction/IRedactionBuilder.xml
  xml/Microsoft.Extensions.DependencyInjection/AutoActivationExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/EnrichmentServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpClientLoggingServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.DependencyInjection/HttpDiagnosticsServiceCollectionExtensions.xml
  xml/Microsoft.Extensions.Diagnostics.ResourceMonitoring/IResourceMonitorBuilder.xml
  xml/Microsoft.Extensions.Http.Resilience/ResilienceHandlerContext.xml
  xml/PackageInformation/dotnet-plat-ext-9.0.json
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Imaging/ColorMatrix.xml
  xml/System.Drawing.Imaging/ColorPalette.xml
  xml/System.Drawing.Imaging/ImageAttributes.xml
  xml/System.Drawing.Printing/PrinterSettings+StringCollection.xml
  xml/System.Drawing/Bitmap.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Numerics.Tensors/TensorPrimitives.xml
  xml/Windows.Win32.System.Com/ComManagedStream.xml
  xml/Windows.Win32.UI.Controls.Dialogs/DEVNAMES.xml
Labels: area-Meta

#9650 Modernize C# FolderBrowserDialog example
  snippets/csharp/System.Windows.Forms/FolderBrowserDialog/Overview/Project.csproj
  snippets/csharp/System.Windows.Forms/FolderBrowserDialog/Overview/form1.cs
Labels: area-WinForms, community-contribution

#9715 Import System.Guid and System.Type.Guid documentation
  snippets/cpp/VS_Snippets_CLR/Guid/CPP/Guids.cpp
  snippets/csharp/System/Guid/Overview/Guids.cs
  snippets/csharp/System/Guid/Overview/Project.csproj
  snippets/fsharp/System/Guid/Overview/Guids.fs
  snippets/fsharp/System/Guid/Overview/fs.fsproj
  snippets/visualbasic/VS_Snippets_CLR/Guid/VB/Guids.vb
  xml/System/Guid.xml
  xml/System/Type.xml
Labels: area-System.Runtime

#9735 Fix incorrect reference for SHA3_512.
  xml/System.Security.Cryptography/SHA3_512.xml
Labels: area-System.Security

#9573 Add missing SearchRoot assignment in example
  xml/System.DirectoryServices/DirectorySearcher.xml
Labels: area-System.DirectoryServices, community-contribution

#9747 Update documentation on MethodBase.Invoke invokeAttrs parameter
  xml/System.Reflection/MethodBase.xml
Labels: area-System.Reflection, community-contribution

#9731 Add note about setting EVs from native libraries
  xml/System/Environment.xml
Labels: area-System.Runtime

#9574 Fix invalid pointer types in ldloca/ldarga descriptions
  xml/System.Reflection.Emit/OpCodes.xml
Labels: area-System.Reflection.Emit, community-contribution

#9770 Add project file and modernize code
  snippets/csharp/System/Random/Overview/Next2.cs
  snippets/csharp/System/Random/Overview/Random1.cs
  snippets/csharp/System/Random/Overview/Random2.cs
  snippets/csharp/System/Random/Overview/array1.cs
  snippets/csharp/System/Random/Overview/booleans1.cs
  snippets/csharp/System/Random/Overview/booleans2.cs
  snippets/csharp/System/Random/Overview/bytes1.cs
  snippets/csharp/System/Random/Overview/doublerange1.cs
  snippets/csharp/System/Random/Overview/doublerange2.cs
  snippets/csharp/System/Random/Overview/doublerange3.cs
  snippets/csharp/System/Random/Overview/long1.cs
  snippets/csharp/System/Random/Overview/next.cs
  snippets/csharp/System/Random/Overview/next1.cs
  snippets/csharp/System/Random/Overview/next4.cs
  snippets/csharp/System/Random/Overview/nextbytes1.cs
  snippets/csharp/System/Random/Overview/nextdoubleex1.cs
  snippets/csharp/System/Random/Overview/nextex1.cs
  snippets/csharp/System/Random/Overview/project.csproj
  snippets/csharp/System/Random/Overview/range1.cs
  snippets/csharp/System/Random/Overview/range2.cs
  snippets/csharp/System/Random/Overview/same1.cs
  snippets/csharp/System/Random/Overview/threadsafeex1.cs
  snippets/csharp/System/Random/Overview/threadsafeex2.cs
  snippets/csharp/System/Random/Overview/unique.cs
  snippets/csharp/System/Random/Overview/uniquearray1.cs
Labels: area-System.Runtime

#9755 Reinstate remarks that were never ported to dotnet/docs
  xml/System.ComponentModel.Composition.Hosting/AssemblyCatalog.xml
  xml/System.ComponentModel.Composition.Hosting/CompositionScopeDefinition.xml
  xml/System.ComponentModel.Composition.Hosting/FilteredCatalog.xml
  xml/System.ComponentModel.Composition.Primitives/ContractBasedImportDefinition.xml
  xml/System.ComponentModel.Composition.Primitives/Export.xml
  xml/System.ComponentModel.Composition.Primitives/ImportDefinition.xml
  xml/System.ComponentModel.DataAnnotations/ValidationAttribute.xml
Labels: area-System.ComponentModel

#9759 Actualize snippet example for Next() Method with rest of languages
  snippets/csharp/System/Random/Overview/next3.cs
Labels: area-System.Runtime, community-contribution
