Repository dotnet/dotnet-api-docs, pull requests merged in 2024-06, with the labels that each got.

#9979 Move task descriptions up
  .github/policies/assign-prs.yml
  .github/policies/author-action.yml
  .github/policies/community-contrib.yml
  .github/policies/scheduled-pr.yml
  .github/policies/untriaged-label.yml
Labels: needs-area-label

#9981 Add links to compiler options
  xml/System.CodeDom.Compiler/CompilerParameters.xml
Labels: area-Infrastructure

#9977 Trigger label on own actions
  .github/policies/label-prs.yml
Labels: area-Infrastructure

#9993 correct spacing in String.xml
  xml/System/String.xml
Labels: area-System.Runtime, community-contribution

#9986 IsReferenceOrContainsReferences update
  xml/System.Runtime.CompilerServices/RuntimeHelpers.xml
Labels: area-System.Runtime.CompilerServices

#9994 Fix hanging sentences
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq

#9997 Make labels numbers correspond
  snippets/cpp/VS_Snippets_Winforms/Trackbar/CPP/form1.cpp
  snippets/csharp/System.ComponentModel/ISupportInitialize/Overview/form1.cs
  snippets/visualbasic/VS_Snippets_Winforms/Trackbar/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_Winforms/Trackbar/VB/form1.vb
Labels: area-WinForms

#7375 Clarify behavior of OfType() with null values
  snippets/csharp/System.Linq/Enumerable/AggregateTSource/Enumerable.csproj
  snippets/csharp/System.Linq/Enumerable/AggregateTSource/enumerable.cs
  snippets/visualbasic/VS_Snippets_CLR_System/system.Linq.Enumerable/VB/Enumerable.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Linq.Enumerable/VB/Enumerable.vbproj
  xml/System.Linq/Enumerable.xml
Labels: area-System.Runtime

#8588 Remove incorrect Decrypt() documentation
  xml/System.IO/File.xml
Labels: area-System.IO, community-contribution

#8598 Update samples for StringSplitOptions.TrimEntries
  snippets/csharp/System/String/Split/options.cs
  snippets/fsharp/System/String/Split/options.fs
  snippets/visualbasic/System/string.split/Program.vb
  snippets/visualbasic/System/string.split/limit.vb
  snippets/visualbasic/System/string.split/omit.vb
  snippets/visualbasic/System/string.split/string.split.vbproj
Labels: area-System.Runtime, community-contribution

#8618 add remarks for Memory<T>.Span property
  xml/System/Memory`1.xml
Labels: area-System.Runtime, community-contribution

#7328 Update x500DistinguishedName snippets to include relevant code
  snippets/cpp/VS_Snippets_CLR/Cryptography.X509Certificates.X500DistinguishedName/CPP/x500.cpp
  snippets/csharp/System.Security.Cryptography.X509Certificates/X500DistinguishedName/Overview/Project.csproj
  snippets/csharp/System.Security.Cryptography.X509Certificates/X500DistinguishedName/Overview/x500.cs
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.X509Certificates.X500DistinguishedName/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.X509Certificates.X500DistinguishedName/VB/x500.vb
  xml/System.Security.Cryptography.X509Certificates/X500DistinguishedName.xml
  xml/System.Security.Cryptography.X509Certificates/X500DistinguishedNameFlags.xml
Labels: area-System.Security

#8734 Do not use the obsolete API in VisualTreeHelper
  snippets/csharp/System.Windows.Media/VisualTreeHelper/Overview/Window1.xaml.cs
Labels: area-WPF, community-contribution

#8740 Update sample.cs
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeFileHandle/Overview/sample.cs
Labels: area-Microsoft.Win32, community-contribution

#10024 Update OleDbCommand.xml line 1248
  xml/System.Data.OleDb/OleDbCommand.xml
Labels: area-System.Data, community-contribution

#10015 Added Include note about class being obsolete
  includes/web-request-obsolete.md
  xml/System.Net/HttpWebRequest.xml
  xml/System.Net/ServicePoint.xml
  xml/System.Net/WebClient.xml
  xml/System.Net/WebRequest.xml
Labels: area-System.Net, community-contribution

#10036 Update InlineArrayAttribute.xml
  xml/System.Runtime.CompilerServices/InlineArrayAttribute.xml
  xml/System/ValueType.xml
Labels: area-System.Runtime.CompilerServices

#10033 Updates `ListBoxItem.OnMouseLeftButtonDown` to refer to the left mouse button instead of the right
  xml/System.Windows.Controls/ListBoxItem.xml
Labels: area-WPF, community-contribution

#10048 Fix try.net links
  includes/csharp-interactive-with-utc-note.md
Labels: needs-area-label

#10053 F# snippets for System.Diagnostics.Process
  snippets/fsharp/System.Diagnostics/DataReceivedEventArgs/Overview/datareceivedevent.fs
  snippets/fsharp/System.Diagnostics/DataReceivedEventArgs/Overview/fs.fsproj
  snippets/fsharp/System.Diagnostics/DataReceivedEventArgs/Overview/net_async.fs
  snippets/fsharp/System.Diagnostics/DataReceivedEventArgs/Overview/nmake_async.fs
  snippets/fsharp/System.Diagnostics/DataReceivedEventArgs/Overview/sort_async.fs
  snippets/fsharp/System.Diagnostics/Process/BasePriority/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/BasePriority/source.fs
  snippets/fsharp/System.Diagnostics/Process/Close/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/Close/process_refresh.fs
  snippets/fsharp/System.Diagnostics/Process/EnableRaisingEvents/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/EnableRaisingEvents/processexitedevent.fs
  snippets/fsharp/System.Diagnostics/Process/GetCurrentProcess/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/GetCurrentProcess/processstaticget.fs
  snippets/fsharp/System.Diagnostics/Process/Id/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/Id/program.fs
  snippets/fsharp/System.Diagnostics/Process/MachineName/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/MachineName/process_getprocessesbyname2_2.fs
  snippets/fsharp/System.Diagnostics/Process/MainWindowTitle/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/MainWindowTitle/process_mainwindowtitle.fs
  snippets/fsharp/System.Diagnostics/Process/OnExited/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/OnExited/program.fs
  snippets/fsharp/System.Diagnostics/Process/Overview/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/Overview/processstart.fs
  snippets/fsharp/System.Diagnostics/Process/Overview/processstartstatic.fs
  snippets/fsharp/System.Diagnostics/Process/StandardError/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/StandardError/source.fs
  snippets/fsharp/System.Diagnostics/Process/StandardError/stderror-sync.fs
  snippets/fsharp/System.Diagnostics/Process/StandardInput/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/StandardInput/process_standardinput.fs
  snippets/fsharp/System.Diagnostics/Process/StandardOutput/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/StandardOutput/process_standardoutput.fs
  snippets/fsharp/System.Diagnostics/Process/StandardOutput/stdoutput-async.fs
  snippets/fsharp/System.Diagnostics/Process/StandardOutput/stdoutput-sync.fs
  snippets/fsharp/System.Diagnostics/Process/StandardOutput/write500lines.fs
  snippets/fsharp/System.Diagnostics/Process/Start/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/Start/program.fs
  snippets/fsharp/System.Diagnostics/Process/SynchronizingObject/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/SynchronizingObject/remarks.fs
  snippets/fsharp/System.Diagnostics/Process/WorkingSet/fs.fsproj
  snippets/fsharp/System.Diagnostics/Process/WorkingSet/process_sample.fs
  xml/System.Diagnostics/Process.xml
Labels: community-contribution, needs-area-label

#10055 F# snippets for HashSet<T>
  snippets/fsharp/System.Collections.Generic/HashSetT/.ctor/Program.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/.ctor/fs.fsproj
  snippets/fsharp/System.Collections.Generic/HashSetT/.ctor/source2.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/Clear/Program.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/Clear/fs.fsproj
  snippets/fsharp/System.Collections.Generic/HashSetT/Contains/Program.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/Contains/fs.fsproj
  snippets/fsharp/System.Collections.Generic/HashSetT/IsProperSubsetOf/Program.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/IsProperSubsetOf/fs.fsproj
  snippets/fsharp/System.Collections.Generic/HashSetT/Overview/Program.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/Overview/fs.fsproj
  snippets/fsharp/System.Collections.Generic/HashSetT/SymmetricExceptWith/Program.fs
  snippets/fsharp/System.Collections.Generic/HashSetT/SymmetricExceptWith/fs.fsproj
  xml/System.Collections.Generic/HashSet`1.xml
Labels: area-Infrastructure, community-contribution

#10054 F# snippets for ComparerT
  snippets/fsharp/System.Collections.Generic/ComparerT/Overview/fs.fsproj
  snippets/fsharp/System.Collections.Generic/ComparerT/Overview/program.fs
  xml/System.Collections.Generic/Comparer`1.xml
Labels: area-System.Collections, community-contribution

#10038 Clarify null name for IOptions related types
  xml/Microsoft.Extensions.Options/IOptionsMonitor`1.xml
  xml/Microsoft.Extensions.Options/IOptionsSnapshot`1.xml
  xml/Microsoft.Extensions.Options/OptionsManager`1.xml
  xml/Microsoft.Extensions.Options/OptionsMonitor`1.xml
Labels: area-Extensions-Options, community-contribution

#10057 Update AssesmblyBuilder.DefineDynamicModule to call out that .NET Core/5+ only supports one module per assembly
  xml/System.Reflection.Emit/AssemblyBuilder.xml
Labels: area-System.Reflection.Emit
