Repository dotnet/dotnet-api-docs, pull requests merged in 2024-10, with the labels that each got.

#10474 Replace PII with 'localhost'
  snippets/csharp/System.Windows.Controls/DataGrid/AutoGenerateColumns/app.config
  snippets/csharp/System.Windows.Controls/DataGrid/AutoGenerateColumns/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGrid/AutoGenerateColumns/properties/settings.settings
  snippets/csharp/System.Windows.Controls/DataGrid/Columns/app.config
  snippets/csharp/System.Windows.Controls/DataGrid/Columns/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGrid/Columns/properties/settings.settings
  snippets/csharp/System.Windows.Controls/DataGrid/FrozenColumnCount/app.config
  snippets/csharp/System.Windows.Controls/DataGrid/FrozenColumnCount/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGrid/FrozenColumnCount/properties/settings.settings
  snippets/csharp/System.Windows.Controls/DataGrid/Overview/app.config
  snippets/csharp/System.Windows.Controls/DataGrid/Overview/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGrid/Overview/properties/settings.settings
  snippets/csharp/System.Windows.Controls/DataGrid/RowHeaderStyle/app.config
  snippets/csharp/System.Windows.Controls/DataGrid/RowHeaderStyle/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGrid/RowHeaderStyle/properties/settings.settings
  snippets/csharp/System.Windows.Controls/DataGrid/SelectedCellsChanged/app.config
  snippets/csharp/System.Windows.Controls/DataGrid/SelectedCellsChanged/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGrid/SelectedCellsChanged/properties/settings.settings
  snippets/csharp/System.Windows.Controls/DataGridCheckBoxColumn/Overview/app.config
  snippets/csharp/System.Windows.Controls/DataGridCheckBoxColumn/Overview/properties/settings.designer.cs
  snippets/csharp/System.Windows.Controls/DataGridCheckBoxColumn/Overview/properties/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid1/vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid1/vb/my project/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_autogencolumns/vb/datagrid_autogencolumns_vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_autogencolumns/vb/datagrid_autogencolumns_vb/my project/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_cellselection/vb/datagrid_cellselection_vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_cellselection/vb/datagrid_cellselection_vb/my project/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_columnsmanipulation/vb/datagrid_columnsmanipulation_vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_columnsmanipulation/vb/datagrid_columnsmanipulation_vb/my project/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_customcolumns/vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_customcolumns/vb/my project/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_frozencolumn/vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_frozencolumn/vb/my project/settings.settings
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_rowheader/vb/datagrid_rowheader_vb/app.config
  snippets/visualbasic/VS_Snippets_Wpf/datagrid_rowheader/vb/datagrid_rowheader_vb/my project/settings.settings
Labels: area-WPF, needs-area-label

#10476 Purge use of RNGCryptoServiceProvider in examples
  snippets/cpp/VS_Snippets_CLR/Cryptography.PasswordDerivedbytes/cpp/sample.cpp
  snippets/cpp/VS_Snippets_CLR/HMACRIPEMD160/CPP/hmacripemd160.cpp
  snippets/cpp/VS_Snippets_CLR/HMACRIPEMD160/CPP/makefile
  snippets/cpp/VS_Snippets_CLR/HMACSHA256/CPP/hmacsha256.cpp
  snippets/cpp/VS_Snippets_CLR/HMACSHA256/CPP/makefile
  snippets/cpp/VS_Snippets_CLR/HMACSHA384/CPP/hmacsha384.cpp
  snippets/cpp/VS_Snippets_CLR/HMACSHA384/CPP/makefile
  snippets/cpp/VS_Snippets_CLR/HMACSHA512/CPP/hmacsha512.cpp
  snippets/cpp/VS_Snippets_CLR/HMACSHA512/CPP/makefile
  snippets/cpp/VS_Snippets_CLR/rfc28981/CPP/rfc28981.cpp
  snippets/cpp/VS_Snippets_CLR_Classic/classic RandomNumberGenerator.GetBytes Example/CPP/source.cpp
  snippets/cpp/VS_Snippets_CLR_Classic/classic RandomNumberGenerator.GetNonZeroBytes Example/CPP/source.cpp
  snippets/cpp/VS_Snippets_CLR_System/system.Security.Cryptography.RSAOAEPKeyExchangeDeformatter/CPP/rsaencoder.cpp
  snippets/csharp/System.Security.Cryptography/HMACRIPEMD160/Overview/hmacripemd160.cs
  snippets/csharp/System.Security.Cryptography/HMACSHA256/Overview/hmacsha256.cs
  snippets/csharp/System.Security.Cryptography/HMACSHA384/Overview/hmacsha384.cs
  snippets/csharp/System.Security.Cryptography/HMACSHA512/Overview/hmacsha512.cs
  snippets/csharp/System.Security.Cryptography/MACTripleDES/Overview/program.cs
  snippets/csharp/System.Security.Cryptography/PasswordDeriveBytes/Overview/sample.cs
  snippets/csharp/System.Security.Cryptography/RSAOAEPKeyExchangeDeformatter/Parameters/rsaencoder.cs
  snippets/csharp/System.Security.Cryptography/RandomNumberGenerator/GetBytes/source.cs
  snippets/csharp/System.Security.Cryptography/RandomNumberGenerator/GetNonZeroBytes/source.cs
  snippets/csharp/System.Security.Cryptography/Rfc2898DeriveBytes/Overview/rfc28981.cs
  snippets/csharp/VS_Snippets_CFX/samlattribute/cs/Project.csproj
  snippets/csharp/VS_Snippets_CFX/samlattribute/cs/makefile
  snippets/csharp/VS_Snippets_CFX/samlattribute/cs/source.cs
  snippets/visualbasic/VS_Snippets_CFX/samlattribute/vb/source.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.PasswordDerivedbytes/VB/sample.vb
  snippets/visualbasic/VS_Snippets_CLR/HMACRIPEMD160/vb/hmacripemd160.vb
  snippets/visualbasic/VS_Snippets_CLR/HMACSHA256/vb/hmacsha256.vb
  snippets/visualbasic/VS_Snippets_CLR/HMACSHA384/vb/hmacsha384.vb
  snippets/visualbasic/VS_Snippets_CLR/HMACSHA512/vb/hmacsha512.vb
  snippets/visualbasic/VS_Snippets_CLR/MAC3DES/VB/program.vb
  snippets/visualbasic/VS_Snippets_CLR/rfc28981/vb/rfc28981.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic RandomNumberGenerator.GetBytes Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic RandomNumberGenerator.GetNonZeroBytes Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Security.Cryptography.RSAOAEPKeyExchangeDeformatter/VB/rsaencoder.vb
Labels: area-System.Security

#10482 fix default parent node for selenium
  quest-config.json
Labels: needs-area-label

#10410 Fix typo in HttpClientHandler.xml
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net.Http, community-contribution

#10366 Update MediaTypeNames+Image.xml
  xml/System.Net.Mime/MediaTypeNames+Image.xml
Labels: area-System.Net, community-contribution

#10488 Port undocumented WebSocket APIs
  xml/System.Net.WebSockets/ClientWebSocketOptions.xml
  xml/System.Net.WebSockets/WebSocketCreationOptions.xml
Labels: area-System.Net

#10484 Add note about when to use HGlobal allocator APIs.
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#10489 Update CODEOWNERS for System.Data and System.Data.SqlClient
  .github/CODEOWNERS
  .github/policies/mention-owners.yml
Labels: area-Infrastructure

#10493 Update `HttpHeaders.Add` exception docs
  xml/System.Net.Http.Headers/HttpHeaders.xml
Labels: area-System.Net.Http

#10485 Port System.IO.Compression docs from RC1
  xml/System.IO.Compression/BrotliCompressionOptions.xml
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Compression/ZLibCompressionOptions.xml
  xml/System.IO.Compression/ZLibCompressionStrategy.xml
  xml/System.IO.Compression/ZLibStream.xml
Labels: area-System.IO.Compression

#10495 Merge main into live
  .github/policies/mention-owners.yml
  xml/System.IO.Compression/BrotliCompressionOptions.xml
  xml/System.IO.Compression/BrotliStream.xml
  xml/System.IO.Compression/DeflateStream.xml
  xml/System.IO.Compression/GZipStream.xml
  xml/System.IO.Compression/ZLibCompressionOptions.xml
  xml/System.IO.Compression/ZLibCompressionStrategy.xml
  xml/System.IO.Compression/ZLibStream.xml
  xml/System.Net.Http.Headers/HttpHeaders.xml
  xml/System.Net.WebSockets/ClientWebSocketOptions.xml
  xml/System.Net.WebSockets/WebSocketCreationOptions.xml
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-Meta

#10500 Add ArgumentException
  xml/System.ComponentModel/EnumConverter.xml
Labels: area-System.ComponentModel

#10498 Add missing doc for ICustomTypeDescriptor
  xml/System.ComponentModel/ICustomTypeDescriptor.xml
Labels: area-System.ComponentModel

#10506 Add note about UrlEncode
  xml/System.Net/WebUtility.xml
Labels: area-System.Net

#10490 Add Last System.Drawing Documentation for .NET 9
  xml/System.Drawing.Imaging.Effects/Effect.xml
  xml/System.Drawing/SystemColors.xml
  xml/ns-System.Drawing.Imaging.Effects.xml
Labels: area-System.Drawing, community-contribution

#10486 Corrected description for indexer
  xml/System.Data.Common/DbConnectionStringBuilder.xml
Labels: area-System.Data, community-contribution

#10516 Temp update
  .github/policies/disallow-edits.yml
Labels: area-Meta

#10505 Fix reference to SslCertificateTrust on Ssl*AuthenticationOptions
  xml/System.Net.Security/SslClientAuthenticationOptions.xml
  xml/System.Net.Security/SslServerAuthenticationOptions.xml
Labels: area-System.Net

#10509 Correct docs for DbConnection.State
  xml/System.Data.Common/DbConnection.xml
Labels: area-System.Data

#10519 Remove temporary policy update
  .github/policies/disallow-edits.yml
Labels: area-Meta

#10520 Add remaining missing .NET 9 docs for System.Collections
  xml/System.Collections.Concurrent/ConcurrentDictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Frozen/FrozenDictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Frozen/FrozenSet`1+AlternateLookup`1.xml
  xml/System.Collections.Generic/Dictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Generic/Dictionary`2.xml
  xml/System.Collections.Generic/HashSet`1+AlternateLookup`1.xml
  xml/System.Collections.Generic/HashSet`1.xml
Labels: area-System.Collections

#10529 Use filesMatchpattern instead of includesModifiedFiles
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10534 Use includeModifiedFile instead
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10537 Try moving if/then to Action section
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10526 Add remark about getting the thumbprint using a different algorithm
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
Labels: area-System.Security

#10544 Use matchAny
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10511 Add missing return values for VectorX.Create(ROS<float> values)
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector3.xml
  xml/System.Numerics/Vector4.xml
Labels: area-System.Numerics

#10541 Doc: AssemblyBuilder require fully trusted environment with trusted input
  xml/System.Reflection.Emit/AssemblyBuilder.xml
  xml/System.Reflection.Emit/ILGenerator.xml
  xml/System.Reflection.Emit/PersistedAssemblyBuilder.xml
Labels: area-System.Reflection.Emit

#10376 Modernize GetLogicalDrives docs
  xml/System.IO/Directory.xml
  xml/System/Environment.xml
Labels: area-System.IO, community-contribution

#10561 Clarify return values of Base64Url.Try* methods
  xml/System.Buffers.Text/Base64Url.xml
Labels: area-System.Buffers

#10546 Fix loophole with auto-merge label
  .github/policies/auto-merge.yml
Labels: area-Infrastructure

#10573 UUF: Change IndexOORException to ArgumentOORException
  xml/System.Collections.Immutable/ImmutableList`1.xml
Labels: area-System.Collections

#10569 UUF: Remove bad link
  xml/System.IO/PathTooLongException.xml
Labels: area-System.IO

#10564 Fix Lock "compiler speclet" URL
  xml/System.Threading/Lock.xml
Labels: area-System.Threading, community-contribution

#10576 Port System.Formats.Asn1 docs for .NET 9
  xml/System.Formats.Asn1/AsnDecoder.xml
Labels: area-System.Formats.Asn1

#10565 Add docs remarks for `IsRealNumber` handling of infinities
  xml/System.Numerics/INumberBase`1.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System/Double.xml
  xml/System/Half.xml
  xml/System/Single.xml
Labels: area-System.Numerics, community-contribution

#10583 Prevent doc edits to System.Formats.Asn1 APIs
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure

#10584 Fix typo and para tags
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
Labels: area-System.Text.Json

#10596 Fix displayed text
  xml/System.Text.Json.Serialization/JsonSourceGenerationMode.xml
Labels: area-System.Text.Json

#10587 Add note about allowing out of order metadata properties
  xml/System.Text.Json.Serialization/ReferenceHandler.xml
Labels: area-System.Text.Json

#10592 Remove confusing exception variable name
  snippets/csharp/System/AggregateException/Overview/exception1.cs
Labels: area-System.Runtime

#10594 Auto-close stale issues
  .github/policies/author-action.yml
Labels: area-Infrastructure

#10595 Fix typo
  xml/System.Windows.Forms/Control.xml
Labels: area-WinForms

#10396 Update AggregateException.xml
  xml/System/AggregateException.xml
Labels: area-System.Runtime, community-contribution

#10330 Update JsonSerializerOptions.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json, community-contribution

#10619 Document a behavior of string.Create
  xml/System/String.xml
Labels: area-System.Runtime

#10608 Corrected wrong value of ClientCertificateOptions
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net.Http, community-contribution

#10600 Fix supported schemes in docs
  xml/System.Net.Http/HttpClient.xml
Labels: area-System.Net.Http, community-contribution

#10623 Change "Base64" to "PEM" in reference to cert text formats
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
Labels: area-System.Security
