Repository dotnet/dotnet-api-docs, pull requests merged in 2024-08, with the labels that each got.

#10192 Update Enumerable.xml to remove unexpected ) characters
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq, community-contribution

#10203 Update DuplicateHandle remarks for .NET 9
  xml/System.Security.Cryptography/ECDsaOpenSsl.xml
  xml/System.Security.Cryptography/RSAOpenSsl.xml
  xml/System.Security.Cryptography/SafeEvpPKeyHandle.xml
Labels: area-System.Security

#10216 Port System.Linq new docs (second pass)
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/Queryable.xml
Labels: area-System.Linq

#10217 Port System.CodeDom and System.Runtime.InteropServices new docs
  xml/System.CodeDom.Compiler/IndentedTextWriter.xml
  xml/System.Runtime.InteropServices/NFloat.xml
Labels: area-System.Runtime.InteropServices

#10209 Port System.Collections new docs (second pass)
  xml/System.Collections.Concurrent/ConcurrentDictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Collections.Frozen/FrozenDictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Frozen/FrozenDictionary`2.xml
  xml/System.Collections.Frozen/FrozenSet.xml
  xml/System.Collections.Frozen/FrozenSet`1+AlternateLookup`1.xml
  xml/System.Collections.Frozen/FrozenSet`1.xml
  xml/System.Collections.Generic/OrderedDictionary`2+Enumerator.xml
  xml/System.Collections.Generic/OrderedDictionary`2+KeyCollection+Enumerator.xml
  xml/System.Collections.Generic/OrderedDictionary`2+KeyCollection.xml
  xml/System.Collections.Generic/OrderedDictionary`2+ValueCollection+Enumerator.xml
  xml/System.Collections.Generic/OrderedDictionary`2+ValueCollection.xml
  xml/System.Collections.Generic/OrderedDictionary`2.xml
  xml/System.Collections.Generic/PriorityQueue`2.xml
  xml/System.Collections.Generic/Stack`1.xml
  xml/System.Collections.ObjectModel/ReadOnlySet`1.xml
Labels: area-System.Collections

#10206 Port System.Text.Json new docs
  xml/System.Text.Json.Nodes/JsonArray.xml
  xml/System.Text.Json.Nodes/JsonObject.xml
  xml/System.Text.Json.Schema/JsonSchemaExporter.xml
  xml/System.Text.Json.Schema/JsonSchemaExporterContext.xml
  xml/System.Text.Json.Schema/JsonSchemaExporterOptions.xml
  xml/System.Text.Json.Serialization.Metadata/JsonObjectInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonParameterInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonParameterInfoValues.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonPropertyInfoValues`1.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfo.xml
  xml/System.Text.Json.Serialization.Metadata/JsonTypeInfoResolver.xml
  xml/System.Text.Json.Serialization/BinaryDataJsonConverter.xml
  xml/System.Text.Json.Serialization/JsonConverterFactory.xml
  xml/System.Text.Json.Serialization/JsonConverter`1.xml
  xml/System.Text.Json.Serialization/JsonSourceGenerationOptionsAttribute.xml
  xml/System.Text.Json/JsonSerializer.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Text.Json/JsonWriterOptions.xml
Labels: area-System.Text.Json

#10212 Port System.Buffers new docs (second pass)
  xml/System.Buffers.Binary/BinaryPrimitives.xml
  xml/System.Buffers.Text/Base64Url.xml
  xml/System.Buffers/NIndex.xml
  xml/System.Buffers/NRange.xml
  xml/System.Buffers/SearchValues.xml
Labels: area-System.Buffers

#10215 Port System.Diagnostics.Metrics new docs (second pass)
  xml/System.Diagnostics.Metrics/Gauge`1.xml
  xml/System.Diagnostics.Metrics/Instrument.xml
  xml/System.Diagnostics.Metrics/InstrumentAdvice`1.xml
  xml/System.Diagnostics.Metrics/Instrument`1.xml
  xml/System.Diagnostics.Metrics/Meter.xml
Labels: area-System.Diagnostics.Metric

#10207 Port System.Diagnostics new docs
  xml/System.Diagnostics.CodeAnalysis/FeatureGuardAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/FeatureSwitchDefinitionAttribute.xml
  xml/System.Diagnostics.Contracts/Contract.xml
  xml/System.Diagnostics/DiagnosticMethodInfo.xml
Labels: area-System.Diagnostics, community-contribution

#10213 Port System new docs (second pass)
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System/Char.xml
  xml/System/DateOnly.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Double.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/MemoryExtensions.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
  xml/System/Version.xml
Labels: area-System.Runtime

#10198 Open file dialog io exception Fixes #7998
  xml/System.Windows.Forms/OpenFileDialog.xml
Labels: area-WinForms, community-contribution

#10227 Document System.Runtime.InteropServices.Swift namespace
  xml/ns-System.Runtime.InteropServices.Swift.xml
Labels: area-System.Runtime.InteropServices

#10228 Port over System.Runtime.InteropServices docs for .NET 9
  xml/System.Runtime.InteropServices.Marshalling/ComVariantMarshaller.xml
  xml/System.Runtime.InteropServices.Marshalling/ReadOnlySpanMarshaller`2+ManagedToUnmanagedOut.xml
  xml/System.Runtime.InteropServices.Swift/SwiftSelf`1.xml
  xml/System.Runtime.InteropServices/CollectionsMarshal.xml
Labels: area-System.Runtime.InteropServices

#10238 System.Reflection.Emit.AssemblyBuilder: Fix the AssemblyBuilder example not to ignore created instances
  snippets/csharp/System.Reflection.Emit/AssemblyBuilder/Overview/24895.cs
Labels: area-System.Reflection.Emit, community-contribution

#10236 Fix code formatting
  snippets/csharp/System.ComponentModel/Win32Exception/Overview/win32exception.cs
Labels: community-contribution, needs-area-label

#10239 Update QuicReceiveWindowSizes.xml with .ctor summary
  xml/System.Net.Quic/QuicReceiveWindowSizes.xml
Labels: area-System.Net

#10241 Update .repoman.yml
  .repoman.yml
Labels: needs-area-label

#10210 Port System.IO new docs (second pass)
  xml/System.IO/File.xml
  xml/System.IO/Path.xml
  xml/System.IO/StreamWriter.xml
  xml/System.IO/TextWriter.xml
Labels: area-System.IO

#10208 Port Microsoft.Extensions new docs
  xml/Microsoft.Extensions.Caching.Distributed/IBufferDistributedCache.xml
  xml/Microsoft.Extensions.Caching.Hybrid/HybridCache.xml
  xml/Microsoft.Extensions.Caching.Hybrid/HybridCacheEntryFlags.xml
  xml/Microsoft.Extensions.Caching.Hybrid/HybridCacheEntryOptions.xml
  xml/Microsoft.Extensions.Caching.Hybrid/IHybridCacheSerializerFactory.xml
  xml/Microsoft.Extensions.Caching.Hybrid/IHybridCacheSerializer`1.xml
  xml/Microsoft.Extensions.Caching.Memory/CacheExtensions.xml
  xml/Microsoft.Extensions.Caching.Memory/MemoryCache.xml
  xml/Microsoft.Extensions.Configuration/ConfigurationManager.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceCollection.xml
  xml/Microsoft.Extensions.DependencyInjection/ServiceDescriptor.xml
  xml/Microsoft.Extensions.FileProviders.Physical/PhysicalDirectoryInfo.xml
  xml/Microsoft.Extensions.Hosting.WindowsServices/WindowsServiceLifetime.xml
  xml/Microsoft.Extensions.Hosting/Host.xml
  xml/Microsoft.Extensions.Hosting/HostApplicationBuilder.xml
  xml/Microsoft.Extensions.Hosting/SystemdHostBuilderExtensions.xml
  xml/Microsoft.Extensions.Hosting/WindowsServiceLifetimeHostBuilderExtensions.xml
  xml/Microsoft.Extensions.Hosting/WindowsServiceLifetimeOptions.xml
  xml/Microsoft.Extensions.Http.Logging/LoggingHttpMessageHandler.xml
  xml/Microsoft.Extensions.Http.Logging/LoggingScopeHttpMessageHandler.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger.xml
  xml/Microsoft.Extensions.Logging.Abstractions/NullLogger`1.xml
  xml/Microsoft.Extensions.Logging.Configuration/LoggerProviderOptionsChangeTokenSource`2.xml
  xml/Microsoft.Extensions.Logging.Console/ConsoleLoggerSettings.xml
  xml/Microsoft.Extensions.Logging.EventSource/LoggingEventSource.xml
  xml/Microsoft.Extensions.Logging/EventId.xml
  xml/Microsoft.Extensions.Logging/LoggerExternalScopeProvider.xml
  xml/Microsoft.Extensions.Logging/LoggerFilterRule.xml
  xml/Microsoft.Extensions.Logging/Logger`1.xml
Labels: area-Extensions-Caching

#10214 Port System.ComponentModel new docs (second pass)
  xml/System.ComponentModel/ComponentResourceManager.xml
  xml/System.ComponentModel/CustomTypeDescriptor.xml
  xml/System.ComponentModel/ICustomTypeDescriptor.xml
  xml/System.ComponentModel/PropertyDescriptor.xml
  xml/System.ComponentModel/TypeDescriptionProvider.xml
  xml/System.ComponentModel/TypeDescriptor.xml
Labels: area-System.ComponentModel

#10242 Add dispose in snippets
  snippets/cpp/VS_Snippets_Remoting/NclMailASync/cpp/mailasync.cpp
  snippets/csharp/System.Net.Mail/MailAddress/.ctor/mailasync.cs
  snippets/visualbasic/VS_Snippets_Remoting/NclMailASync/vb/mailasync.vb
Labels: area-System.Net, community-contribution

#10181 Clarify CompareExchange behavior
  xml/System.Threading/Interlocked.xml
Labels: area-System.Threading

#10249 Clarify `IStream::Write` parameter doc
  xml/System.Runtime.InteropServices.ComTypes/IStream.xml
Labels: area-System.Runtime.InteropServices

#10250 Remove porting tool artifacts and cross-reference the new JSO.Respect* properties.
  xml/System.Text.Json/JsonSerializerOptions.xml
Labels: area-System.Text.Json

#10248 Add remianing missing doc for Base64Url
  xml/System.Buffers.Text/Base64Url.xml
Labels: area-System.Buffers

#10256 Add remarks about FakeTimeProvider to the description of TimeProvider.
  xml/System/TimeProvider.xml
Labels: community-contribution, area-System.DateTime

#10259 Add remaining doc from issue 105988
  xml/System.Runtime.CompilerServices/ParamCollectionAttribute.xml
  xml/System.Text/StringBuilder.xml
Labels: area-System.Runtime.CompilerServices

#10265 Add remaining missing docs from issue 105982
  xml/System.Reflection.Emit/PersistedAssemblyBuilder.xml
  xml/System.Reflection/GenericParameterAttributes.xml
Labels: area-System.Reflection

#10281 Fix summary on Diagnostics.Activity.RootId
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics.Activity

#10285 Mention DateTimeKind unspecified in DateOnly.ToDateTime
  xml/System/DateOnly.xml
Labels: area-System.DateTime

#10283 Fix links to native winapi docs in SafeHandle
  xml/System.Runtime.InteropServices/SafeHandle.xml
Labels: area-System.Runtime.InteropServices

#10286 Fix typo in KeyConveter ctor sumary
  xml/System.Windows.Input/KeyConverter.xml
Labels: area-WPF

#10287 Remove reference to nonexisting parameter in PipeReader.CopyToAsync summary
  xml/System.IO.Pipelines/PipeReader.xml
Labels: area-System.IO.Pipelines

#10292 Updating the documentation for System.Numerics
  xml/System.Numerics/TotalOrderIeee754Comparer`1.xml
  xml/System.Numerics/Vector.xml
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector3.xml
  xml/System.Numerics/Vector4.xml
  xml/System/Double.xml
  xml/System/Half.xml
  xml/System/Single.xml
Labels: area-System.Numerics

#10294 Port System.Formats.Tar and System.Data undoc APIs from Preview7
  xml/System.Data/SqlDbType.xml
  xml/System.Formats.Tar/TarEntry.xml
Labels: area-Meta

#10297 Ensure that various inheritdoc comments can be resolved
  xml/System.Numerics/Vector.xml
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector3.xml
  xml/System.Numerics/Vector4.xml
Labels: area-System.Numerics

#10282 Remove redundant "Supports " from ResumeStoryboard Summary
  xml/System.Windows.Media.Animation/ResumeStoryboard.xml
Labels: area-WPF

#10301 Add undocumented docs for Quic and Http
  xml/System.Net.Http/HttpContent.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
  xml/System.Net.Quic/QuicConnectionOptions.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/System.Net.Quic/QuicStreamCapacityChangedArgs.xml
Labels: area-System.Net

#10323 Correct remarks for DataRow.SetModified
  xml/System.Data/DataRow.xml
Labels: area-System.Data

#10325 Fix an error in the output comment
  snippets/csharp/System/Object/GetType/GetTypeEx2.cs
Labels: area-System.Runtime, community-contribution

#10326 Fixes per UUF feedback
  snippets/csharp/System.Diagnostics/ProcessStartInfo/Verb/source.cs
  xml/Microsoft.CSharp/CSharpCodeProvider.xml
  xml/Microsoft.Extensions.Caching.Memory/MemoryCacheOptions.xml
  xml/System.CodeDom.Compiler/CodeDomProvider.xml
  xml/System.Collections/ArrayList.xml
  xml/System.Diagnostics/Process.xml
  xml/System.Diagnostics/ProcessStartInfo.xml
  xml/System.Drawing/Size.xml
  xml/System.IO/File.xml
  xml/System.IO/Path.xml
  xml/System.Text.Json/JsonSerializerOptions.xml
  xml/System.Windows.Forms/ListView.xml
  xml/System.Xml.Serialization/IXmlSerializable.xml
Labels: area-Meta

#10304 Add examples to FeatureGuard/FeatureSwitchDefinition docs
  xml/System.Diagnostics.CodeAnalysis/FeatureGuardAttribute.xml
  xml/System.Diagnostics.CodeAnalysis/FeatureSwitchDefinitionAttribute.xml
Labels: area-System.Diagnostics, community-contribution

#10195 Updates to remove unexpected ) characters, trim nearby spaces
  xml/System.ServiceModel.Security/SecurityMessageProperty.xml
  xml/System.ServiceModel/EndpointIdentity.xml
Labels: area-System.ServiceModel, community-contribution

#10193 Update ZipArchive.xml, ZipFile.xml
  includes/remarks/System.IO.Compression/ZipArchive/.ctor_Stream_ZipArchiveMode_Boolean_Encoding.md
  includes/remarks/System.IO.Compression/ZipFile/Open.md
  xml/System.IO.Compression/ZipArchive.xml
  xml/System.IO.Compression/ZipFile.xml
Labels: area-System.IO.Compression, community-contribution

#10260 Update PipeWriter.xml
  xml/System.IO.Pipelines/PipeWriter.xml
Labels: area-System.IO.Pipelines, community-contribution

#10021 Update BigInteger.xml
  xml/System.Numerics/BigInteger.xml
Labels: area-System.Numerics, community-contribution

#8741 Update sample.cs
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeWaitHandle/Overview/sample.cs
Labels: area-Microsoft.Win32, community-contribution

#10333 Fix build suggestions - Aug 2024
  xml/System.Threading.Channels/UnboundedPrioritizedChannelOptions`1.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading/Interlocked.xml
Labels: area-System.Threading

#10334 Fix compilation error and modernize
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeWaitHandle/Overview/Project.csproj
  snippets/csharp/Microsoft.Win32.SafeHandles/SafeWaitHandle/Overview/sample.cs
  xml/Microsoft.Win32.SafeHandles/SafeWaitHandle.xml
Labels: needs-area-label

#10338 Add missing System.Collections and System.Linq API docs.
  xml/System.Collections.Concurrent/ConcurrentDictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Concurrent/ConcurrentDictionary`2.xml
  xml/System.Collections.Frozen/FrozenDictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Frozen/FrozenDictionary`2.xml
  xml/System.Collections.Frozen/FrozenSet`1.xml
  xml/System.Collections.Generic/OrderedDictionary`2+KeyCollection.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/Queryable.xml
Labels: area-System.Collections

#9838 Update default value for Socket.ExclusiveAddressUse
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets
