Repository dotnet/dotnet-api-docs, pull requests merged in 2024-04, with the labels that each got.

#9778 Rectify issues in `BitConverter`
  xml/System/BitConverter.xml
Labels: area-System.Runtime, community-contribution

#9732 Update return value tables for Math.Pow
  xml/System/Math.xml
  xml/System/MathF.xml
Labels: area-System.Numerics

#9769 Add info about returning false from dialog window
  xml/System.Windows/Window.xml
Labels: area-WPF

#9784 Map QUEST issues to parent nodes
  quest-config.json
Labels: needs-area-label

#9725 Follow up editing for AutoResetEvent
  xml/System.Threading/AutoResetEvent.xml
Labels: area-System.Threading

#9788 Update links for System.Drawing
  xml/System.Drawing.Drawing2D/LineCap.xml
  xml/System.Drawing/Brushes.xml
  xml/System.Drawing/Color.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Pens.xml
Labels: area-System.Drawing

#9795 Provide more details for marking APIs as preview
  xml/System.Diagnostics.CodeAnalysis/ExperimentalAttribute.xml
  xml/System.Runtime.Versioning/RequiresPreviewFeaturesAttribute.xml
Labels: needs-area-label

#9812 Fix typo in Activity.GetTagItem() summary
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics, community-contribution

#9809 Update BitConverter.xml
  xml/System/BitConverter.xml
Labels: area-System.Runtime, community-contribution

#9763 Update SqlConnection.xml
  xml/System.Data.SqlClient/SqlConnection.xml
Labels: area-System.Data.SqlClient, community-contribution

#9796 Update FolderBrowserDialog.xml
  xml/System.Windows.Forms/FolderBrowserDialog.xml
Labels: area-WinForms, community-contribution

#9824 Update RegexValidator classes
  xml/System.Configuration/RegexStringValidator.xml
  xml/System.Configuration/RegexStringValidatorAttribute.xml
Labels: area-System.Configuration, needs-area-label

#9828 Fix SHA384/512 examples
  snippets/csharp/System.Security.Cryptography/SHA384/Overview/source.cs
  snippets/csharp/System.Security.Cryptography/SHA384Managed/Overview/source.cs
  snippets/csharp/System.Security.Cryptography/SHA512/Overview/source.cs
  snippets/csharp/System.Security.Cryptography/SHA512Managed/Overview/source.cs
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA384 Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA384 Example/VB/vb.vbproj
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA384Managed Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA384Managed Example/VB/vb.vbproj
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA512 Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA512 Example/VB/vb.vbproj
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA512Managed Example/VB/source.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic SHA512Managed Example/VB/vb.vbproj
Labels: area-System.Security

#9832 Fix incorrect xref in StructuralComparisons.xml
  xml/System.Collections/StructuralComparisons.xml
Labels: area-System.Collections, community-contribution

#9840 Fix up docs for CompositeFileProvider
  xml/Microsoft.Extensions.FileProviders/CompositeFileProvider.xml
Labels: needs-area-label

#9843 Improve NumberStyles docs
  xml/System.Globalization/NumberStyles.xml
Labels: area-System.Globalization, community-contribution

#9846 Format table
  xml/System.Globalization/NumberStyles.xml
Labels: area-System.Globalization

#9855 Enable auto-merge for publish PRs
  .github/policies/auto-merge.yml
  .github/policies/label-prs.yml
Labels: area-Infrastructure

#9848 Fix incorrect remarks in GCHandle.Free
  xml/System.Runtime.InteropServices/GCHandle.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#9814 Update HttpRequestHeader.xml - IfModifiedSince description's spelling correction.
  xml/System.Net/HttpRequestHeader.xml
Labels: area-System.Net, community-contribution

#9514 Update UIElement.xml
  xml/System.Windows/UIElement.xml
Labels: area-WPF, community-contribution

#9837 MailAddress: Clarify formatting elements versus details of them.
  xml/System.Net.Mail/MailAddress.xml
Labels: area-System.Net, community-contribution
