Repository dotnet/dotnet-api-docs, pull requests merged in 2024-07, with the labels that each got.

#10088 Fix typo in RSASignaturePaddingMode.Pss
  xml/System.Security.Cryptography/RSASignaturePaddingMode.xml
Labels: area-System.Security

#10086 Fix unitialized -> uninitialized typo in System.GC
  xml/System/GC.xml
Labels: area-System.Runtime, community-contribution

#10082 Update UnsafeAccessorAttribute.xml
  xml/System.Runtime.CompilerServices/UnsafeAccessorAttribute.xml
Labels: area-System.Runtime.CompilerServices

#10083 Add warning about possible DOS attack with untrusted input
  xml/System.Text.RegularExpressions/Regex.xml
Labels: area-System.Text.RegularExpressions

#10028 Update default values for XmlReaderSettings
  xml/System.Xml/XmlReaderSettings.xml
Labels: area-System.Xml, community-contribution

#10100 Updates for setting empty env variable
  xml/System/Environment.xml
Labels: area-System.Runtime

#10102 Updated Window.xml file
  xml/System.Windows/Window.xml
Labels: area-WPF

#10103 Update Operators.cs fixed console log params
  snippets/csharp/System/DateTimeOffset/op_Addition/Operators.cs
Labels: community-contribution

#8327 Add docs for Microsoft.Extensions.DependencyModel.Library and subclasses
  snippets/csharp/Microsoft.Extensions.DependencyModel/CompilationLibrary/Overview/CompilationLibrarySnippets.cs
  snippets/csharp/Microsoft.Extensions.DependencyModel/CompilationLibrary/Overview/CompilationLibrarySnippets.csproj
  snippets/csharp/Microsoft.Extensions.DependencyModel/CompilationLibrary/Overview/Program.cs
  xml/Microsoft.Extensions.DependencyModel/CompilationLibrary.xml
  xml/Microsoft.Extensions.DependencyModel/Library.xml
  xml/Microsoft.Extensions.DependencyModel/RuntimeLibrary.xml
Labels: community-contribution, area-DependencyModel

#10122 Add CryptographicException to docs of GetCertContentType
  xml/System.Security.Cryptography.X509Certificates/X509Certificate2.xml
Labels: area-System.Security

#10124 Fix typos in PS script
  snippets/powershell/VS_Snippets_CLR_System/system.collections.hashtable.class/ps/hashtable.ps1
Labels: needs-area-label

#10125 Update Complex.ToString to reflect formatting in .NET 8+
  xml/System.Numerics/Complex.xml
Labels: area-System.Numerics

#10127 Add metadata-enabled issue template
  .github/ISSUE_TEMPLATE/01-general-issue.yml
  .github/ISSUE_TEMPLATE/z-customer-feedback.yml
  docfx.json
Labels: area-Infrastructure

#10068 Update Window.xml
  xml/System.Windows/Window.xml
Labels: area-WPF, community-contribution

#10060 Add spacing in SemaphoreSlim docs
  xml/System.Threading/SemaphoreSlim.xml
Labels: area-System.Threading, community-contribution

#10108 HttpContent: Buffering is implementation dependent
  xml/System.Net.Http/HttpContent.xml
Labels: area-System.Net.Http, community-contribution

#9992 Documentation fix for Socket.Select
  xml/System.Net.Sockets/Socket.xml
Labels: area-System.Net.Sockets, community-contribution

#10136 Update String(sbyte*[,...]) docs about encoding
  xml/System/String.xml
Labels: area-System.Runtime

#10134 Added reference in Linq documentation from Xyz to XyzBy
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq, community-contribution

#10142 Update GC.AllocateArray documentation
  xml/System/GC.xml
Labels: area-System.Runtime

#10144 Don't compile C++ snippets
  .github/workflows/snippets5000.yml
Labels: area-Infrastructure

#10137 Clean up File.Replace docs
  xml/System.IO/File.xml
  xml/System.IO/FileInfo.xml
Labels: area-System.IO

#10148 Update System.Numerics.Complex
  docfx.json
  xml/System.Numerics/Complex.xml
Labels: area-System.Numerics

#10156 Port System.Security new docs
  xml/System.Security.Cryptography.X509Certificates/X509SubjectKeyIdentifierHashAlgorithm.xml
  xml/System.Security.Cryptography/CryptographicOperations.xml
  xml/System.Security.Cryptography/IncrementalHash.xml
  xml/System.Security.Cryptography/Kmac128.xml
  xml/System.Security.Cryptography/Kmac256.xml
  xml/System.Security.Cryptography/KmacXof128.xml
  xml/System.Security.Cryptography/KmacXof256.xml
  xml/System.Security.Cryptography/Shake128.xml
  xml/System.Security.Cryptography/Shake256.xml
Labels: area-System.Security

#10160 Port System.Text.RegularExpressions new docs
  xml/System.Text.RegularExpressions/Regex+ValueSplitEnumerator.xml
  xml/System.Text.RegularExpressions/Regex.xml
Labels: area-System.Text.RegularExpressions

#10158 Port System.Runtime new docs
  xml/System.Runtime.Serialization/ISerializationCodeDomSurrogateProvider.xml
  xml/System.Runtime/DefaultTaskSchedulerAwaiter.xml
  xml/System.Timers/ElapsedEventArgs.xml
Labels: area-System.Runtime

#10161 Port System.Xml new docs
  xml/System.Xml.Linq/XName.xml
  xml/System.Xml/XmlResolver.xml
Labels: area-System.Xml

#10162 Port System.Threading new docs
  xml/System.Threading.Channels/Channel.xml
  xml/System.Threading.Channels/UnboundedPrioritizedChannelOptions`1.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/TaskCompletionSource.xml
  xml/System.Threading.Tasks/TaskCompletionSource`1.xml
  xml/System.Threading.Tasks/TimeProviderTaskExtensions.xml
  xml/System.Threading/CancellationTokenSource.xml
  xml/System.Threading/Interlocked.xml
Labels: area-System.Threading

#10154 Port System.Runtime.InteropServices new docs
  xml/System.Runtime.InteropServices.Marshalling/ComVariant.xml
  xml/System.Runtime.InteropServices.Marshalling/ComVariantMarshaller+RefPropagate.xml
  xml/System.Runtime.InteropServices.Marshalling/ComVariantMarshaller.xml
  xml/System.Runtime.InteropServices.Marshalling/ReadOnlySpanMarshaller`2+ManagedToUnmanagedOut.xml
  xml/System.Runtime.InteropServices.Swift/SwiftError.xml
  xml/System.Runtime.InteropServices.Swift/SwiftIndirectResult.xml
  xml/System.Runtime.InteropServices.Swift/SwiftSelf.xml
  xml/System.Runtime.InteropServices.Swift/SwiftSelf`1.xml
  xml/System.Runtime.InteropServices/Architecture.xml
  xml/System.Runtime.InteropServices/NFloat.xml
  xml/System.Runtime.InteropServices/WasmImportLinkageAttribute.xml
Labels: area-System.Runtime.InteropServices

#10118 Update Path.GetTempPath description
  xml/System.IO/Path.xml
Labels: area-System.IO

#10153 Port System.Runtime.CompilerServices new docs
  xml/System.Runtime.CompilerServices/CallConvSwift.xml
  xml/System.Runtime.CompilerServices/ConfiguredTaskAwaitable+ConfiguredTaskAwaiter.xml
  xml/System.Runtime.CompilerServices/ConfiguredTaskAwaitable`1+ConfiguredTaskAwaiter.xml
  xml/System.Runtime.CompilerServices/OverloadResolutionPriorityAttribute.xml
  xml/System.Runtime.CompilerServices/ParamCollectionAttribute.xml
  xml/System.Runtime.CompilerServices/RuntimeFeature.xml
  xml/System.Runtime.CompilerServices/RuntimeHelpers.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter.xml
  xml/System.Runtime.CompilerServices/TaskAwaiter`1.xml
Labels: area-System.Runtime.CompilerServices

#10159 Port System.Text new docs
  xml/System.Text/ASCIIEncoding.xml
  xml/System.Text/Ascii.xml
  xml/System.Text/StringBuilder.xml
  xml/System.Text/UTF8Encoding.xml
Labels: area-System.Text.Encoding

#10167 Port System.Drawing.Primitives new docs
  xml/System.Drawing.Imaging.Effects/Effect.xml
  xml/System.Drawing.Printing/PrinterSettings+StringCollection.xml
Labels: area-System.Drawing

#10138 Fix various issues in response to UUF feedback
  snippets/csharp/System.Text.RegularExpressions/Regex/IsMatch/Project.csproj
  snippets/csharp/System.Text.RegularExpressions/Regex/IsMatch/ismatch1.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/IsMatch/ismatch2.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/IsMatch/ismatch3.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/IsMatch/ismatch4.cs
  snippets/csharp/System.Text.RegularExpressions/Regex/IsMatch/ismatch5.cs
  xml/System.Net/HttpWebRequest.xml
  xml/System.Windows.Forms/DataGridView.xml
  xml/System/Char.xml
  xml/System/Decimal.xml
Labels: area-System.Text.RegularExpressions

#10152 Port System & System.Numerics new docs
  xml/System.Numerics.Tensors/ReadOnlyTensorSpan`1+Enumerator.xml
  xml/System.Numerics.Tensors/ReadOnlyTensorSpan`1.xml
  xml/System.Numerics.Tensors/Tensor.xml
  xml/System.Numerics.Tensors/TensorPrimitives.xml
  xml/System.Numerics.Tensors/TensorSpan`1+Enumerator.xml
  xml/System.Numerics.Tensors/TensorSpan`1.xml
  xml/System.Numerics.Tensors/Tensor`1.xml
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Complex.xml
  xml/System.Numerics/IFloatingPoint`1.xml
  xml/System.Numerics/INumberBase`1.xml
  xml/System.Numerics/Vector.xml
  xml/System.Numerics/Vector2.xml
  xml/System.Numerics/Vector3.xml
  xml/System.Numerics/Vector4.xml
  xml/System.Numerics/Vector`1.xml
  xml/System/Array.xml
  xml/System/BitConverter.xml
  xml/System/Byte.xml
  xml/System/Char.xml
  xml/System/Console.xml
  xml/System/Convert.xml
  xml/System/DateOnly.xml
  xml/System/DateTime.xml
  xml/System/DateTimeOffset.xml
  xml/System/Decimal.xml
  xml/System/Delegate+InvocationListEnumerator`1.xml
  xml/System/Delegate.xml
  xml/System/Double.xml
  xml/System/Guid.xml
  xml/System/Half.xml
  xml/System/Int128.xml
  xml/System/Int16.xml
  xml/System/Int32.xml
  xml/System/Int64.xml
  xml/System/IntPtr.xml
  xml/System/Math.xml
  xml/System/MemoryExtensions.xml
  xml/System/ReadOnlySpan`1.xml
  xml/System/SByte.xml
  xml/System/Single.xml
  xml/System/String.xml
  xml/System/TimeOnly.xml
  xml/System/TimeSpan.xml
  xml/System/UInt128.xml
  xml/System/UInt16.xml
  xml/System/UInt32.xml
  xml/System/UInt64.xml
  xml/System/UIntPtr.xml
  xml/System/Uri.xml
  xml/System/Version.xml
Labels: area-System.Numerics

#10165 Port System.Collections new docs
  xml/System.Collections.Generic/Dictionary`2+AlternateLookup`1.xml
  xml/System.Collections.Generic/Dictionary`2.xml
  xml/System.Collections.Generic/HashSet`1+AlternateLookup`1.xml
  xml/System.Collections.Generic/HashSet`1.xml
  xml/System.Collections.Generic/IAlternateEqualityComparer`2.xml
  xml/System.Collections.Generic/OrderedDictionary`2+Enumerator.xml
  xml/System.Collections.Generic/OrderedDictionary`2+KeyCollection+Enumerator.xml
  xml/System.Collections.Generic/OrderedDictionary`2+KeyCollection.xml
  xml/System.Collections.Generic/OrderedDictionary`2+ValueCollection+Enumerator.xml
  xml/System.Collections.Generic/OrderedDictionary`2+ValueCollection.xml
  xml/System.Collections.Generic/OrderedDictionary`2.xml
  xml/System.Collections.Generic/Queue`1.xml
  xml/System.Collections.ObjectModel/ReadOnlySet`1.xml
Labels: area-System.Collections

#10168 Port System.Formats.Nrbf new docs
  xml/System.Formats.Nrbf/ArrayRecord.xml
  xml/System.Formats.Nrbf/ClassRecord.xml
  xml/System.Formats.Nrbf/NrbfDecoder.xml
  xml/System.Formats.Nrbf/PayloadOptions.xml
  xml/System.Formats.Nrbf/PrimitiveTypeRecord.xml
  xml/System.Formats.Nrbf/PrimitiveTypeRecord`1.xml
  xml/System.Formats.Nrbf/SZArrayRecord`1.xml
  xml/System.Formats.Nrbf/SerializationRecord.xml
  xml/System.Formats.Nrbf/SerializationRecordId.xml
  xml/System.Formats.Nrbf/SerializationRecordType.xml
Labels: area-Meta

#10169 Port Microsoft.Extensions.Primitives new docs
  xml/Microsoft.Extensions.Primitives/StringValues.xml
Labels: area-Extensions-Primitives

#10187 Fix up paramrefs - Microsoft.* namespaces
  xml/Microsoft.Extensions.DependencyInjection/ActivatorUtilities.xml
  xml/Microsoft.Extensions.DependencyInjection/ISupportRequiredService.xml
  xml/Microsoft.Extensions.Http/HttpMessageHandlerBuilder.xml
  xml/Microsoft.Extensions.Logging/ConsoleLoggerExtensions.xml
  xml/Microsoft.Extensions.Primitives/StringSegmentComparer.xml
  xml/Microsoft.SqlServer.Server/SqlMetaData.xml
Labels: area-Infrastructure
