Repository dotnet/dotnet-api-docs, pull requests merged in 2025-04, with the labels that each got.

#11156 Fix mismatched paramrefs (System.T*)
  xml/System.Text.RegularExpressions/GroupCollection.xml
  xml/System.Text/ASCIIEncoding.xml
  xml/System.Text/Decoder.xml
  xml/System.Text/Encoding.xml
  xml/System.Text/EncodingProvider.xml
  xml/System.Text/Rune.xml
  xml/System.Text/StringBuilder.xml
  xml/System.Text/UTF32Encoding.xml
  xml/System.Text/UTF7Encoding.xml
  xml/System.Text/UTF8Encoding.xml
  xml/System.Text/UnicodeEncoding.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading/LazyThreadSafetyMode.xml
  xml/System.Threading/ReaderWriterLock.xml
  xml/System.Threading/ThreadPool.xml
  xml/System.Transactions/TransactionManager.xml
Labels: area-Meta

#11157 Fix mismatched paramrefs (System.Xml/Xaml/Windows)
  xml/System.Windows/DataObject.xml
  xml/System.Windows/DependencyObjectType.xml
  xml/System.Windows/FrameworkElement.xml
  xml/System.Windows/GridLength.xml
  xml/System.Windows/NameScope.xml
  xml/System.Windows/Point.xml
  xml/System.Windows/SizeConverter.xml
  xml/System.Windows/StrokeCollectionConverter.xml
  xml/System.Windows/UIElement.xml
  xml/System.Xaml.Schema/XamlTypeInvoker.xml
  xml/System.Xaml/AttachableMemberIdentifier.xml
  xml/System.Xaml/XamlNodeQueue.xml
  xml/System.Xaml/XamlObjectWriter.xml
  xml/System.Xaml/XamlServices.xml
  xml/System.Xaml/XamlXmlReader.xml
  xml/System.Xml.Linq/XAttribute.xml
  xml/System.Xml.Linq/XProcessingInstruction.xml
  xml/System.Xml.Resolvers/XmlPreloadedResolver.xml
  xml/System.Xml.Schema/XmlSchemaObjectCollection.xml
  xml/System.Xml.Serialization/XmlAttributeEventArgs.xml
  xml/System.Xml.Serialization/XmlSerializationReader+CollectionFixup.xml
  xml/System.Xml.Xsl/XslCompiledTransform.xml
  xml/System.Xml/UniqueId.xml
  xml/System.Xml/XmlConvert.xml
  xml/System.Xml/XmlDictionaryReader.xml
  xml/System.Xml/XmlNodeReader.xml
  xml/System.Xml/XmlWriter.xml
Labels: area-Meta

#11159 stagger times
  .github/workflows/quest-bulk.yml
Labels: area-Infrastructure

#11146 Fix mismatched paramrefs (System.Numerics through System.Runtime*)
  xml/System.Numerics/BigInteger.xml
  xml/System.Numerics/Vector`1.xml
  xml/System.Reflection.Emit/AssemblyBuilder.xml
  xml/System.Reflection.Emit/DynamicILInfo.xml
  xml/System.Reflection.Emit/DynamicMethod.xml
  xml/System.Reflection.Emit/EnumBuilder.xml
  xml/System.Reflection.Emit/EventBuilder.xml
  xml/System.Reflection.Emit/FieldBuilder.xml
  xml/System.Reflection.Emit/ILGenerator.xml
  xml/System.Reflection.Emit/ModuleBuilder.xml
  xml/System.Reflection.Emit/ParameterBuilder.xml
  xml/System.Reflection.Emit/PersistedAssemblyBuilder.xml
  xml/System.Reflection.Emit/SignatureHelper.xml
  xml/System.Reflection.Metadata.Ecma335/MetadataRootBuilder.xml
  xml/System.Reflection/Assembly.xml
  xml/System.Reflection/ConstructorInfo.xml
  xml/System.Reflection/ICustomAttributeProvider.xml
  xml/System.Resources.Tools/ITargetAwareCodeDomProvider.xml
  xml/System.Resources.Tools/StronglyTypedResourceBuilder.xml
  xml/System.Resources/ResXResourceWriter.xml
  xml/System.Resources/ResourceManager.xml
  xml/System.Runtime.Caching/MemoryCache.xml
  xml/System.Runtime.InteropServices.ComTypes/IDataObject.xml
  xml/System.Runtime.InteropServices.WindowsRuntime/WindowsRuntimeBufferExtensions.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Runtime.InteropServices/NativeLibrary.xml
  xml/System.Runtime.InteropServices/_Type.xml
  xml/System.Runtime.Remoting/RemotingConfiguration.xml
  xml/System.Runtime.Remoting/RemotingServices.xml
Labels: area-Meta

#11164 Fix build warnings in CompareOptions
  xml/System.Globalization/CompareOptions.xml
Labels: area-System.Globalization

#8742 Modernize 3DES examples
  snippets/cpp/VS_Snippets_CLR/Cryptography.3DESCSP.CreateEncryptor.File/CPP/fileexample.cpp
  snippets/cpp/VS_Snippets_CLR/Cryptography.3DESCSP.CreateEncryptor.Memory/CPP/memoryexample.cpp
  snippets/cpp/VS_Snippets_CLR_Classic/classic TripleDESCryptoServiceProvider Example/CPP/source.cpp
  snippets/csharp/System.Security.Cryptography/TripleDES/Overview/Project.csproj
  snippets/csharp/System.Security.Cryptography/TripleDES/Overview/source.cs
  snippets/csharp/System.Security.Cryptography/TripleDESCryptoServiceProvider/Overview/fileexample.cs
  snippets/csharp/System.Security.Cryptography/TripleDESCryptoServiceProvider/Overview/memoryexample.cs
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DES.Create.File/VB/project.vbproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DES.Create.Memory/project.vbproj
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DESCSP.CreateEncryptor.File/VB/fileexample.vb
  snippets/visualbasic/VS_Snippets_CLR/Cryptography.3DESCSP.CreateEncryptor.Memory/VB/memoryexample.vb
  snippets/visualbasic/VS_Snippets_CLR_Classic/classic TripleDESCryptoServiceProvider Example/VB/source.vb
  xml/System.Security.Cryptography/TripleDES.xml
  xml/System.Security.Cryptography/TripleDESCryptoServiceProvider.xml
Labels: area-System.Security, community-contribution

#11147 Fix mismatched paramrefs (System.Security*)
  xml/System.Security.AccessControl/CompoundAce.xml
  xml/System.Security.AccessControl/CustomAce.xml
  xml/System.Security.AccessControl/FileSecurity.xml
  xml/System.Security.AccessControl/GenericAce.xml
  xml/System.Security.AccessControl/GenericAcl.xml
  xml/System.Security.AccessControl/GenericSecurityDescriptor.xml
  xml/System.Security.AccessControl/ObjectAce.xml
  xml/System.Security.AccessControl/ObjectAuditRule.xml
  xml/System.Security.AccessControl/RawAcl.xml
  xml/System.Security.AccessControl/RegistryAccessRule.xml
  xml/System.Security.Authentication.ExtendedProtection/ServiceNameCollection.xml
  xml/System.Security.Cryptography.Cose/CoseHeaderMap.xml
  xml/System.Security.Cryptography.Pkcs/CmsRecipient.xml
  xml/System.Security.Cryptography.Pkcs/ContentInfo.xml
  xml/System.Security.Cryptography.Pkcs/Pkcs12KeyBag.xml
  xml/System.Security.Cryptography.Pkcs/Pkcs12ShroudedKeyBag.xml
  xml/System.Security.Cryptography.Pkcs/Pkcs9AttributeObject.xml
  xml/System.Security.Cryptography.X509Certificates/CertificateRequest.xml
  xml/System.Security.Cryptography.X509Certificates/X509Certificate.xml
  xml/System.Security.Cryptography.X509Certificates/X509CertificateCollection.xml
  xml/System.Security.Cryptography.Xml/CipherData.xml
  xml/System.Security.Cryptography.Xml/EncryptedXml.xml
  xml/System.Security.Cryptography/CryptoStream.xml
  xml/System.Security.Cryptography/CryptographicAttributeObjectCollection.xml
  xml/System.Security.Cryptography/DSACryptoServiceProvider.xml
  xml/System.Security.Cryptography/DpapiDataProtector.xml
  xml/System.Security.Cryptography/RC2.xml
  xml/System.Security.Cryptography/RSA.xml
  xml/System.Security.Cryptography/RSAOpenSsl.xml
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
  xml/System.Security.Permissions/FileDialogPermission.xml
  xml/System.Security.Policy/ApplicationTrustCollection.xml
  xml/System.Security.RightsManagement/CryptoProvider.xml
Labels: area-System.Security

#11175 Add check for build warnings check
  .github/policies/auto-merge.yml
  .github/workflows/check-for-build-warnings.yml
Labels: area-Infrastructure

#11203 Update note about RuntimeInformation.RuntimeIdentifier being based on the build
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
Labels: area-System.Runtime.InteropServices

#11212 Add see also links to icon images
  xml/System.Drawing/SystemIcons.xml
Labels: needs-area-label

#11103 Improve HttpClient exception docs
  xml/System.Net.Http/HttpClient.xml
  xml/System.Net.Http/HttpResponseMessage.xml
Labels: area-System.Net.Http

#11197 Document WinHttpHandler trailer support
  xml/System.Net.Http/WinHttpHandler.xml
Labels: area-System.Net.Http

#11196 Extend TFO docs
  xml/System.Net.Sockets/SocketOptionName.xml
Labels: area-System.Net.Sockets

#11171 Clarify CookieContainer thread-safety
  xml/System.Net/CookieContainer.xml
Labels: area-System.Net

#11213 Add policy to close empty issues
  .github/policies/close-issues.yml
Labels: area-Infrastructure

#11214 Turn off comments from OPS
  .openpublishing.publish.config.json
Labels: area-Infrastructure

#11225 Add language slugs (System.Net)
  xml/System.Net.Http.Headers/AuthenticationHeaderValue.xml
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Http/SocketsHttpHandler.xml
Labels: area-System.Net.Http

#11220 Add language slugs (various areas)
  xml/Microsoft.VisualBasic.Compatibility.VB6/DirListBox.xml
  xml/Microsoft.VisualBasic.Compatibility.VB6/FileListBox.xml
  xml/Microsoft.Windows.Themes/BulletChrome.xml
  xml/Microsoft.Windows.Themes/ButtonChrome.xml
  xml/Microsoft.Windows.Themes/ClassicBorderDecorator.xml
  xml/Microsoft.Windows.Themes/DataGridHeaderBorder.xml
  xml/Microsoft.Windows.Themes/ListBoxChrome.xml
  xml/Microsoft.Windows.Themes/ScrollChrome.xml
  xml/System.Activities.Presentation/ActivityDesigner.xml
  xml/System.ComponentModel.Design/DesignerTransaction.xml
  xml/System.ComponentModel/ICustomTypeDescriptor.xml
  xml/System.IdentityModel.Services.Configuration/FederationConfiguration.xml
  xml/System.IdentityModel.Services/WSFederationAuthenticationModule.xml
  xml/System.Management.Instrumentation/ManagementCreateAttribute.xml
  xml/System.Management.Instrumentation/ManagementEntityAttribute.xml
  xml/System.Management.Instrumentation/ManagementNameAttribute.xml
  xml/System.Management.Instrumentation/ManagementQualifierAttribute.xml
  xml/System.Management.Instrumentation/ManagementQualifierFlavors.xml
  xml/System.Management.Instrumentation/ManagementReferenceAttribute.xml
  xml/System.Management.Instrumentation/WmiConfigurationAttribute.xml
  xml/System.ServiceModel.Channels/ReliableSessionBindingElement.xml
  xml/System.ServiceModel.Security.Tokens/SecureConversationSecurityTokenParameters.xml
  xml/System.ServiceModel/ServiceBehaviorAttribute.xml
Labels: area-Infrastructure

#11234 Code example cleanup
  xml/Microsoft.Extensions.Configuration.Ini/IniConfigurationProvider.xml
  xml/Microsoft.Extensions.Http/PolicyHttpMessageHandler.xml
  xml/System.Runtime.CompilerServices/InlineArrayAttribute.xml
  xml/System.Runtime.InteropServices.Swift/SwiftError.xml
  xml/System.Runtime.InteropServices.Swift/SwiftIndirectResult.xml
  xml/System.Runtime.InteropServices.Swift/SwiftSelf.xml
  xml/System.Runtime.InteropServices.Swift/SwiftSelf`1.xml
Labels: area-System.Runtime.InteropServices

#11222 Add language slugs (various areas)
  xml/System.DirectoryServices.AccountManagement/AdvancedFilters.xml
  xml/System.DirectoryServices.AccountManagement/AuthenticablePrincipal.xml
  xml/System.DirectoryServices/DirectoryEntry.xml
  xml/System.EnterpriseServices/ServicedComponent.xml
  xml/System.Messaging/DefaultPropertiesToSend.xml
  xml/System.Messaging/Message.xml
  xml/System.Messaging/MessageQueue.xml
  xml/System.Resources.Tools/StronglyTypedResourceBuilder.xml
  xml/System.Resources/ResXResourceReader.xml
  xml/System.Resources/ResourceManager.xml
  xml/System.Resources/ResourceReader.xml
Labels: area-Meta

#11226 Add language slugs (System.Diagnostics)
  xml/System.Diagnostics.CodeAnalysis/FeatureSwitchDefinitionAttribute.xml
  xml/System.Diagnostics.Tracing/EventSource.xml
  xml/System.Diagnostics/Debug.xml
  xml/System.Diagnostics/EventLog.xml
  xml/System.Diagnostics/EventLogInstaller.xml
  xml/System.Diagnostics/ProcessStartInfo.xml
  xml/System.Diagnostics/XmlWriterTraceListener.xml
Labels: area-System.Diagnostics

#11218 Add language slugs (System.Xml)
  xml/System.Xml.Linq/XAttribute.xml
  xml/System.Xml.Linq/XDocument.xml
  xml/System.Xml.Linq/XElement.xml
  xml/System.Xml.Linq/XName.xml
  xml/System.Xml.Linq/XNamespace.xml
  xml/System.Xml.Linq/XProcessingInstruction.xml
  xml/System.Xml.Linq/XStreamingElement.xml
  xml/System.Xml.Schema/XmlSchemaCollection.xml
  xml/System.Xml.Schema/XmlSchemaSet.xml
  xml/System.Xml.Serialization/XmlAttributeEventArgs.xml
  xml/System.Xml.Serialization/XmlAttributes.xml
  xml/System.Xml.Serialization/XmlSerializer.xml
  xml/System.Xml.XPath/XPathNavigator.xml
  xml/System.Xml.Xsl/XslTransform.xml
  xml/System.Xml/XmlDictionaryWriter.xml
  xml/System.Xml/XmlDocument.xml
  xml/System.Xml/XmlNamespaceManager.xml
  xml/System.Xml/XmlNode.xml
  xml/System.Xml/XmlReader.xml
  xml/System.Xml/XmlReaderSettings.xml
  xml/System.Xml/XmlTextReader.xml
  xml/System.Xml/XmlWriter.xml
Labels: area-System.Xml

#11224 Add language slugs (mostly System namespace)
  xml/System.Text.RegularExpressions/MatchCollection.xml
  xml/System.Text.RegularExpressions/Regex.xml
  xml/System.Text/Encoding.xml
  xml/System.Transactions/TransactionEventArgs.xml
  xml/System/Byte.xml
  xml/System/DateTime.xml
  xml/System/Environment.xml
  xml/System/Math.xml
  xml/System/MathF.xml
  xml/System/ObjectDisposedException.xml
  xml/System/String.xml
  xml/System/TimeZoneInfo.xml
  xml/System/Type.xml
Labels: area-Meta

#11223 Add language slugs (Security, Threading, Reflection, Runtime)
  xml/System.Reflection.Metadata/MetadataStringComparer.xml
  xml/System.Reflection/AssemblyName.xml
  xml/System.Reflection/AssemblyVersionAttribute.xml
  xml/System.Reflection/EventInfo.xml
  xml/System.Reflection/MethodInfo.xml
  xml/System.Runtime.CompilerServices/Unsafe.xml
  xml/System.Runtime.DurableInstancing/InstancePersistenceContext.xml
  xml/System.Runtime.InteropServices.WindowsRuntime/ReturnValueNameAttribute.xml
  xml/System.Runtime.Serialization/DataContractSerializer.xml
  xml/System.Security.Claims/Claim.xml
  xml/System.Security.Claims/ClaimsAuthorizationManager.xml
  xml/System.Security.Cryptography.X509Certificates/X500DistinguishedNameBuilder.xml
  xml/System.Security.Cryptography.Xml/CipherReference.xml
  xml/System.Security.Cryptography/RSA.xml
  xml/System.Security.Principal/WindowsIdentity.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading/SemaphoreSlim.xml
Labels: area-Meta

#11235 Fix format tag warnings
  xml/System.Globalization/CompareInfo.xml
  xml/System.Globalization/CultureAndRegionInfoBuilder.xml
  xml/System.Globalization/CultureInfo.xml
  xml/System.Globalization/RegionInfo.xml
  xml/System.Globalization/SortVersion.xml
Labels: area-System.Globalization

#11249 Clarify that schema URIs aren't hyperlinks
  xml/System.Security.Claims/ClaimTypes.xml
  xml/System.Security.Claims/ClaimValueTypes.xml
Labels: area-System.Security

#11239 [UUF] Fix output
  snippets/cpp/VS_Snippets_CLR/MathSample/CPP/mathsample.cpp
  snippets/csharp/System/Math/Overview/mathsample.cs
  snippets/fsharp/System/Math/Overview/mathsample.fs
  snippets/visualbasic/VS_Snippets_CLR/MathSample/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR/MathSample/VB/mathsample.vb
Labels: needs-area-label, user-feedback

#10808 Added OpenFileDialog.SelectReadOnly Property Value
  xml/System.Windows.Forms/OpenFileDialog.xml
Labels: area-WinForms, community-contribution

#10188 [RenderCapability.xml] minor copyedit, word choice
  xml/System.Windows.Media/RenderCapability.xml
Labels: area-WPF, community-contribution

#11255 Add OpenAI APIs
  _zip/missingapi.yml
Labels: area-Infrastructure

#11217 Add language slugs (WinForms)
  xml/System.Windows.Forms.Integration/WindowsFormsHost.xml
  xml/System.Windows.Forms/BindingContext.xml
  xml/System.Windows.Forms/ComboBox.xml
  xml/System.Windows.Forms/Control.xml
  xml/System.Windows.Forms/Cursor.xml
  xml/System.Windows.Forms/DataGridViewCell.xml
  xml/System.Windows.Forms/DataGridViewComboBoxColumn.xml
  xml/System.Windows.Forms/DataGridViewRow.xml
  xml/System.Windows.Forms/DomainUpDown.xml
  xml/System.Windows.Forms/ToolStripMenuItem.xml
  xml/System.Windows.Forms/TreeView.xml
Labels: area-WinForms

#11246 Clarify key length parameter
  xml/System.Security.Cryptography/Rfc2898DeriveBytes.xml
Labels: area-System.Security
