Repository dotnet/dotnet-api-docs, pull requests merged in 2025-08, with the labels that each got.

#11625 Fix remark about empty array
  snippets/csharp/System/String/IndexOfAny/IndexOfAny1.cs
  snippets/csharp/System/String/IndexOfAny/Program.cs
  snippets/csharp/System/String/IndexOfAny/Project.csproj
  snippets/csharp/System/String/IndexOfAny/ixany2.cs
  snippets/csharp/System/String/IndexOfAny/ixany3.cs
  snippets/fsharp/System/String/IndexOfAny/IndexOfAny1.fs
  snippets/visualbasic/System/String/IndexOfAny/IndexOfAny1.vb
  snippets/visualbasic/System/String/IndexOfAny/Project.vbproj
  snippets/visualbasic/System/String/IndexOfAny/ixany2.vb
  snippets/visualbasic/System/String/IndexOfAny/ixany3.vb
  xml/System/String.xml
Labels: area-System.Runtime

#11645 Add clarity that the Online mode can use cached data
  xml/System.Security.Cryptography.X509Certificates/X509RevocationMode.xml
Labels: area-System.Security

#11649 Respond to feedback (fast follow)
  snippets/csharp/System/String/IndexOfAny/IndexOfAny1.cs
  snippets/csharp/System/String/IndexOfAny/ixany2.cs
  snippets/csharp/System/String/IndexOfAny/ixany3.cs
Labels: area-System.Runtime

#11652 Use `nint` for native-sized integers in `Marshal`
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#11647 Add more area labels
  .github/policies/label-issues.yml
Labels: area-Infrastructure

#11687 Add documentation to the various reflection apis which directly interact with CurrentContextualReflectionContext
  xml/System.Reflection.Emit/AssemblyBuilder.xml
  xml/System.Reflection/Assembly.xml
  xml/System/Activator.xml
  xml/System/Type.xml
Labels: area-System.Reflection, community-contribution

#11719 Expose trimming attributes
  xml/_filter.xml
Labels: needs-area-label

#11737 Add warning about using untrusted input with ServiceDescriptionImporter
  xml/System.Web.Services.Description/ServiceDescriptionImporter.xml
Labels: area-System.Web, needs-area-label

#11741 add output for the CreateTextNode method example
  snippets/csharp/System.Xml/XmlDocument/CreateElement/source.cs
Labels: area-System.Xml, community-contribution

#11744 add output for the CreateTextNode method example in VB
  snippets/visualbasic/VS_Snippets_Data/Classic WebData XmlDocument.CreateElement Example/VB/source.vb
Labels: community-contribution, needs-area-label
