Repository dotnet/dotnet-api-docs, pull requests merged in 2025-09, with the labels that each got.

#11761 Update documentation for ZipArchive EntryName
  includes/remarks/System.IO.Compression/ZipArchiveEntry/Name.md
Labels: area-System.IO.Compression

#11762 Add explanation for DeflateStream byte differences
  xml/System.IO.Compression/DeflateStream.xml
Labels: area-System.IO.Compression

#11772 Recommend LibraryImportAttribute in DllImportAttribute docs
  xml/System.Runtime.InteropServices/DllImportAttribute.xml
Labels: area-System.Runtime.InteropServices, community-contribution

#11829 Correct bufferSize parameter descriptions in XML docs
  xml/System.IO/StreamReader.xml
  xml/System.IO/StreamWriter.xml
Labels: area-System.IO

#11836 Fix exception documentation to match parameter.
  xml/System.Security.Cryptography/HKDF.xml
Labels: area-System.Security

#8958 Update strmreader read2.cs
  snippets/csharp/System.IO/StreamReader/Read/strmreader read2.cs
Labels: area-System.IO, community-contribution

#11780 Enhance GetTempPath documentation for MacOS and Linux
  xml/System.IO/Path.xml
Labels: area-System.IO, community-contribution

#9815 Update ThreadLocal`1.xml
  xml/System.Threading/ThreadLocal`1.xml
Labels: area-System.Threading, community-contribution

#11387 Align DateOnly's Year, Month and Day properties with DateTime
  xml/System/DateOnly.xml
Labels: community-contribution, area-System.DateTime

#11105 Explain semantics of multiple calls to `CancellationTokenSource.Cancel`
  xml/System.Threading/CancellationTokenSource.xml
Labels: area-System.Threading, community-contribution

#9624 Update the doc for System.Diagnostics.Process
  xml/System.Diagnostics/Process.xml
Labels: area-System.Diagnostics.Process, community-contribution

#11849 Update remarks for UnhandledException event
  xml/System/AppDomain.xml
Labels: area-System.Runtime
