Repository dotnet/dotnet-api-docs, pull requests merged in 2025-02, with the labels that each got.

#10898 fix NetworkStream reading example description
  xml/System.Net.Sockets/NetworkStream.xml
Labels: area-System.Net.Sockets, community-contribution

#10903 Fix mismatched paramrefs for System.Linq, System.IO, System.Drawing, System.Globalization
  xml/System.Drawing.Design/ToolboxService.xml
  xml/System.Drawing.Drawing2D/GraphicsPath.xml
  xml/System.Drawing.Imaging/EncoderParameter.xml
  xml/System.Drawing/ColorConverter.xml
  xml/System.Drawing/Graphics.xml
  xml/System.Drawing/Icon.xml
  xml/System.Globalization/CompareInfo.xml
  xml/System.Globalization/CultureAndRegionInfoBuilder.xml
  xml/System.Globalization/EastAsianLunisolarCalendar.xml
  xml/System.Globalization/NumberFormatInfo.xml
  xml/System.IO.Compression/ZipFileExtensions.xml
  xml/System.IO.IsolatedStorage/IsolatedStorageFile.xml
  xml/System.IO.IsolatedStorage/IsolatedStorageFileStream.xml
  xml/System.IO.Packaging/PackUriHelper.xml
  xml/System.IO.Packaging/PackagePart.xml
  xml/System.IO.Packaging/PackageStore.xml
  xml/System.IO.Pipes/NamedPipeServerStream.xml
  xml/System.IO.Pipes/PipeStream.xml
  xml/System.IO/BufferedStream.xml
  xml/System.IO/Directory.xml
  xml/System.IO/DirectoryInfo.xml
  xml/System.IO/FileStream.xml
  xml/System.IO/FileStreamOptions.xml
  xml/System.IO/MemoryStream.xml
  xml/System.IO/Stream.xml
  xml/System.IO/StreamReader.xml
  xml/System.IO/StreamWriter.xml
  xml/System.IO/UnmanagedMemoryAccessor.xml
  xml/System.Linq.Expressions/Expression.xml
  xml/System.Linq/Enumerable.xml
  xml/System.Linq/ImmutableArrayExtensions.xml
  xml/System.Linq/ParallelEnumerable.xml
  xml/System.Linq/Queryable.xml
  xml/System.Messaging/MessageQueue.xml
Labels: needs-area-label

#10910 [HTTP] Fix remarks for Referer header
  xml/System.Net/HttpWebRequest.xml
Labels: area-System.Net

#10923 Update ms.topic metadata
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure

#10746 fix: broken or unwanted link pathTooLongException
  xml/System.IO/PathTooLongException.xml
Labels: area-System.IO, community-contribution

#10933 Add remark about NamedPipeServerStream.RunAsClient impersonation
  xml/System.IO.Pipes/NamedPipeServerStream.xml
Labels: area-System.IO

#10941 Update UriFormatException condition
  xml/System/Uri.xml
Labels: area-System.Runtime

#10942 Update AppWithOptions.csproj
  snippets/csharp/Microsoft.Extensions.Configuration/ConfigurationBuilder/Overview/AppWithOptions.csproj
Labels: area-Extensions-Configuration, community-contribution

#10905 Fix mismatched paramrefs for System.NET
  xml/System.Net.Http.Headers/HttpHeaders.xml
  xml/System.Net.Mail/Attachment.xml
  xml/System.Net.Mail/SmtpClient.xml
  xml/System.Net.NetworkInformation/GatewayIPAddressInformationCollection.xml
  xml/System.Net.NetworkInformation/MulticastIPAddressInformationCollection.xml
  xml/System.Net.NetworkInformation/PhysicalAddress.xml
  xml/System.Net.NetworkInformation/Ping.xml
  xml/System.Net.NetworkInformation/UnicastIPAddressInformationCollection.xml
  xml/System.Net.PeerToPeer.Collaboration/PeerContact.xml
  xml/System.Net.Security/NegotiateStream.xml
  xml/System.Net.Security/SslStream.xml
  xml/System.Net.Sockets/IPv6MulticastOption.xml
  xml/System.Net.Sockets/MulticastOption.xml
  xml/System.Net.Sockets/NetworkStream.xml
  xml/System.Net.Sockets/Socket.xml
  xml/System.Net.Sockets/SocketTaskExtensions.xml
  xml/System.Net.Sockets/TcpClient.xml
  xml/System.Net.Sockets/UdpClient.xml
  xml/System.Net/CookieContainer.xml
  xml/System.Net/CredentialCache.xml
  xml/System.Net/HttpListenerRequest.xml
  xml/System.Net/HttpWebRequest.xml
  xml/System.Net/IPAddress.xml
  xml/System.Net/SocketAddress.xml
  xml/System.Net/WebClient.xml
  xml/System.Net/WebHeaderCollection.xml
Labels: area-System.Net

#9366 Catch OperationCanceledException instead of TaskCanceledException
  xml/System.Net.Http/HttpClient.xml
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.Security/NegotiateStream.xml
Labels: area-System.Net.Http

#10974 Remove duplicate line in Math.xml
  xml/System/Math.xml
Labels: area-System.Runtime, community-contribution

#10976 Fix typo in Converter`2.xml
  xml/System/Converter`2.xml
Labels: area-System.Runtime, community-contribution

#10977 Update SortedSet`1.xml
  xml/System.Collections.Generic/SortedSet`1.xml
Labels: area-System.Collections, community-contribution

#10991 Only apply policy on PRs to main
  .github/policies/disallow-edits.yml
Labels: area-Infrastructure

#10967 Addition to Null Reference Exception
  snippets/csharp/System/NullReferenceException/Overview/example3.cs
  xml/System/NullReferenceException.xml
Labels: area-System.Runtime, community-contribution

#10993 [UUF] Add link to breaking change
  xml/System.Runtime.InteropServices/RuntimeInformation.xml
Labels: area-System.Runtime.InteropServices

#10995 Add missing word
  xml/System.Buffers/ReadOnlySequence`1.xml
Labels: area-System.Buffers

#10992 [UUF] Fix bracket indentation
  snippets/csharp/System/DateTime/ToString/ToString4.cs
  snippets/csharp/System/DateTime/ToString/tostring.csproj
Labels: area-System.Runtime

#10651 Add note about other types
  xml/ns-System.Net.Http.xml
Labels: area-System.Net, needs-area-label

#11022 Fix paths for System.Linq.AsyncEnumerable
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure
