Repository dotnet/dotnet-api-docs, pull requests merged in 2025-01, with the labels that each got.

#10803 Port type documentation for X509CertificateLoader
  xml/System.Security.Cryptography.X509Certificates/X509CertificateLoader.xml
Labels: area-System.Security

#10729 SFI: ROPC fixes for System.Web
  snippets/csharp/VS_Snippets_WebNet/FormsAuthenticationHashPassword/CS/formsauthenticationhashpasswordcs.aspx
  snippets/csharp/VS_Snippets_WebNet/System.Web.Management.SqlServices/CS/usingsqlservices.cs
  snippets/csharp/VS_Snippets_WebNet/System.Web.Security.IMembershipProvider/CS/imembershipprovider.cs
  snippets/csharp/VS_Snippets_WebNet/System.Web.Security.IMembershipProvider/CS/imembershipprovidergetallusers.cs
  snippets/csharp/VS_Snippets_WebNet/System.Web.Security.MembershipUser.Constructor/CS/newuser.cs
  snippets/csharp/VS_Snippets_WebNet/System.Web.UI.WebControls.ChangePassword.OnChangingPassword/CS/changepassword_cs.aspx
  snippets/csharp/VS_Snippets_WebNet/System.Web.UI.WebControls.ChangePassword/CS/changepassword_cs.aspx
  snippets/csharp/VS_Snippets_WebNet/System.Web.UI.WebControls.ParameterCollection_2/CS/paramcoll2cs.aspx
  snippets/csharp/VS_Snippets_WebNet/System.Web.UI.WebControls.SendMailErrorEventHandler/CS/changepassword_cs.aspx
  snippets/visualbasic/VS_Snippets_WebNet/FormsAuthenticationHashPassword/VB/formsauthenticationhashpasswordvb.aspx
  snippets/visualbasic/VS_Snippets_WebNet/System.Web.Management.SqlServices/VB/usingsqlservices.vb
  snippets/visualbasic/VS_Snippets_WebNet/System.Web.Security.IMembershipProvider/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_WebNet/System.Web.Security.IMembershipProvider/VB/imembershipprovider.vb
  snippets/visualbasic/VS_Snippets_WebNet/System.Web.Security.IMembershipProvider/VB/imembershipprovidergetallusers.vb
  snippets/visualbasic/VS_Snippets_WebNet/System.Web.UI.WebControls.ChangePassword.OnChangingPassword/VB/changepassword_vb.aspx
  snippets/visualbasic/VS_Snippets_WebNet/System.Web.UI.WebControls.ParameterCollection_2/VB/paramcoll2vb.aspx
  xml/System.Web.Configuration/ProcessModelSection.xml
  xml/System.Web.Management/SessionStateType.xml
  xml/System.Web.Management/SqlExecutionException.xml
  xml/System.Web.Management/SqlFeatures.xml
  xml/System.Web.Management/SqlServices.xml
  xml/System.Web.Security/ActiveDirectoryMembershipProvider.xml
  xml/System.Web.Security/FormsAuthentication.xml
  xml/System.Web.Security/MembershipUser.xml
  xml/System.Web.Security/MembershipUserCollection.xml
  xml/System.Web.Security/ValidatePasswordEventArgs.xml
  xml/System.Web.UI.WebControls/ChangePassword.xml
  xml/System.Web.UI.WebControls/EmbeddedMailObject.xml
  xml/System.Web.UI.WebControls/EmbeddedMailObjectsCollection.xml
  xml/System.Web.UI.WebControls/ParameterCollection.xml
  xml/System.Web.UI.WebControls/SendMailErrorEventArgs.xml
  xml/System.Web.UI.WebControls/SendMailErrorEventHandler.xml
Labels: needs-area-label

#10793 Fix paramrefs (System.Diagnostics, System.DirectoryServices)
  xml/System.Device.Location/GeoCoordinate.xml
  xml/System.Diagnostics/ActivityContext.xml
  xml/System.Diagnostics/ActivityLink.xml
  xml/System.Diagnostics/EventLog.xml
  xml/System.Diagnostics/PerformanceCounterCategory.xml
  xml/System.Diagnostics/ProcessStartInfo.xml
  xml/System.Diagnostics/TagList.xml
  xml/System.Diagnostics/TraceListenerCollection.xml
  xml/System.Diagnostics/XmlWriterTraceListener.xml
  xml/System.DirectoryServices.AccountManagement/PrincipalContext.xml
  xml/System.DirectoryServices.ActiveDirectory/ActiveDirectorySchedule.xml
  xml/System.DirectoryServices.ActiveDirectory/ActiveDirectorySchema.xml
  xml/System.DirectoryServices.ActiveDirectory/ActiveDirectorySchemaPropertyCollection.xml
  xml/System.DirectoryServices.ActiveDirectory/ActiveDirectorySiteLink.xml
  xml/System.DirectoryServices.ActiveDirectory/Domain.xml
  xml/System.DirectoryServices.ActiveDirectory/Forest.xml
  xml/System.DirectoryServices.ActiveDirectory/ForestTrustDomainInformation.xml
  xml/System.DirectoryServices.ActiveDirectory/ReadOnlyStringCollection.xml
  xml/System.DirectoryServices.Protocols/DirectoryAttribute.xml
  xml/System.DirectoryServices.Protocols/DirectoryRequest.xml
  xml/System.DirectoryServices.Protocols/DsmlRequestDocument.xml
  xml/System.DirectoryServices.Protocols/LdapConnection.xml
  xml/System.DirectoryServices.Protocols/LdapDirectoryIdentifier.xml
  xml/System.DirectoryServices.Protocols/SearchResultEntryCollection.xml
  xml/System.DirectoryServices.Protocols/SearchResultReferenceCollection.xml
  xml/System.DirectoryServices/DirectoryServicesPermission.xml
  xml/System.DirectoryServices/PropertyCollection.xml
Labels: area-Meta

#10790 Fix up paramrefs in System.Data, System.CodeDom, etc.
  xml/Microsoft.SqlServer.Server/SqlMetaData.xml
  xml/System.Activities.Presentation.Toolbox/ToolboxCategoryItems.xml
  xml/System.Activities.Presentation.View/DesignerView.xml
  xml/System.Activities.Presentation.View/ViewStateService.xml
  xml/System.Activities.Presentation/ContextItemManager.xml
  xml/System.Activities.Presentation/ServiceManager.xml
  xml/System.Activities.XamlIntegration/ActivityXamlServices.xml
  xml/System.AddIn.Contract.Collections/ICollectionContract`1.xml
  xml/System.AddIn.Contract/IListContract`1.xml
  xml/System.AddIn.Hosting/AddInStore.xml
  xml/System.AddIn.Pipeline/CollectionAdapters.xml
  xml/System.CodeDom.Compiler/CompilerErrorCollection.xml
  xml/System.CodeDom/CodeGotoStatement.xml
  xml/System.ComponentModel.Composition.Hosting/AssemblyCatalog.xml
  xml/System.ComponentModel.Composition.Hosting/CatalogExportProvider.xml
  xml/System.ComponentModel.Composition.Hosting/ComposablePartExportProvider.xml
  xml/System.ComponentModel.Composition.Primitives/Export.xml
  xml/System.ComponentModel.Design.Serialization/CodeDomSerializerBase.xml
  xml/System.ComponentModel.Design.Serialization/CodeDomSerializerException.xml
  xml/System.ComponentModel.Design.Serialization/ComponentSerializationService.xml
  xml/System.ComponentModel.Design.Serialization/ObjectStatementCollection.xml
  xml/System.ComponentModel.Design.Serialization/TypeCodeDomSerializer.xml
  xml/System.ComponentModel.Design/DesignSurface.xml
  xml/System.ComponentModel.Design/DesignerActionService.xml
  xml/System.ComponentModel.Design/EventBindingService.xml
  xml/System.ComponentModel/PropertyDescriptorCollection.xml
  xml/System.ComponentModel/PropertyTabAttribute.xml
  xml/System.ComponentModel/TimeSpanConverter.xml
  xml/System.Composition/CompositionContext.xml
  xml/System.Configuration/ConfigurationElement.xml
  xml/System.Configuration/ConfigurationPermission.xml
  xml/System.Configuration/RsaProtectedConfigurationProvider.xml
  xml/System.Data.Common.CommandTrees.ExpressionBuilder/DbExpressionBuilder.xml
  xml/System.Data.EntityClient/EntityDataReader.xml
  xml/System.Data.Objects/ObjectContext.xml
  xml/System.Data.Objects/ObjectQuery`1.xml
  xml/System.Data.Odbc/OdbcErrorCollection.xml
  xml/System.Data.Odbc/OdbcParameter.xml
  xml/System.Data.OleDb/OleDbParameter.xml
  xml/System.Data.OracleClient/OracleBoolean.xml
  xml/System.Data.OracleClient/OracleLob.xml
  xml/System.Data.SqlTypes/SqlFileStream.xml
  xml/System.Data/DataRelationCollection.xml
  xml/System.Data/DataRow.xml
  xml/System.Data/DataRowExtensions.xml
  xml/System.Data/DataRowView.xml
  xml/System.Data/DataSet.xml
  xml/System.Data/DataTable.xml
Labels: area-Infrastructure

#10816 Fix grammar
  xml/System.Security.Cryptography.X509Certificates/X509CertificateLoader.xml
Labels: area-System.Security

#10819 Fix loop counter and add project files
  snippets/csharp/System/Array/Clear/Program.cs
  snippets/csharp/System/Array/Clear/Project.csproj
  snippets/csharp/System/Array/Clear/clearstruct1.cs
  snippets/csharp/System/Array/Clear/example.cs
  snippets/fsharp/VS_Snippets_CLR_System/system.Array.Clear/fs/example.fs
  snippets/visualbasic/VS_Snippets_CLR_System/system.Array.Clear/vb/Program.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Array.Clear/vb/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Array.Clear/vb/clearstruct1.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Array.Clear/vb/example.vb
  xml/System/Array.xml
Labels: area-System.Runtime

#10822 File.OpenWrite doc improvements
  snippets/csharp/System.IO/FileInfo/OpenWrite/file openwrite.cs
  xml/System.IO/FileInfo.xml
Labels: area-System.IO

#10748 Remove Xamarin reference
  xml/System.Net.Mail/SmtpClient.xml
Labels: area-System.Net

#10823 Fix for Add/RemoveMemoryPressure doc
  xml/System/GC.xml
Labels: area-System.Runtime

#10830 Clarify index parameters
  xml/System/Array.xml
Labels: area-System.Runtime

#10838 Format code snippet
  snippets/xaml/VS_Snippets_Wpf/DeferredScrolling/xaml/window1.xaml
Labels: community-contribution, needs-area-label

#10821 Moving details from blog post
  xml/System.Net/ServicePoint.xml
  xml/System.Net/ServicePointManager.xml
Labels: area-System.Net

#10849 Fix description of ValueSplitEnumerator.Current
  xml/System.Text.RegularExpressions/Regex+ValueSplitEnumerator.xml
Labels: area-System.Text.RegularExpressions

#10853 Update Path.GetDirectoryName Snippet3
  snippets/csharp/System.IO/Path/ChangeExtension/pathmembers.cs
Labels: area-System.IO, community-contribution

#10848 Add note about thread safety
  xml/System.IO.Pipes/NamedPipeServerStream.xml
Labels: area-System.IO

#10831 Mention MEAI owners
  .github/policies/mention-owners.yml
Labels: area-Infrastructure

#10859 Misc notes for LCID deprecation and Metric observable counters report…
  xml/System.Diagnostics.Metrics/Meter.xml
  xml/System.Diagnostics.Metrics/ObservableCounter`1.xml
  xml/System.Diagnostics.Metrics/ObservableUpDownCounter`1.xml
  xml/System.Globalization/CultureInfo.xml
Labels: area-System.Diagnostics

#10828 [QUIC] Options classes fixes
  xml/System.Net.Quic/QuicClientConnectionOptions.xml
  xml/System.Net.Quic/QuicConnection.xml
  xml/System.Net.Quic/QuicConnectionOptions.xml
  xml/System.Net.Quic/QuicListener.xml
  xml/System.Net.Quic/QuicListenerOptions.xml
  xml/System.Net.Quic/QuicReceiveWindowSizes.xml
  xml/System.Net.Quic/QuicServerConnectionOptions.xml
  xml/System.Net.Quic/QuicStream.xml
  xml/ns-System.Net.Quic.Implementations.xml
  xml/ns-System.Net.Quic.xml
Labels: area-System.Net

#10854 [UUF] Code fence command names
  xml/System.Web.UI.WebControls/GridView.xml
Labels: area-System.Web

#10865 Update BoundField.xml
  xml/System.Web.UI.WebControls/BoundField.xml
Labels: area-System.Web

#10860 Fix up see also links
  xml/System.Data.SqlClient/SqlColumnEncryptionCertificateStoreProvider.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCngProvider.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionCspProvider.xml
  xml/System.Data.SqlClient/SqlColumnEncryptionKeyStoreProvider.xml
  xml/System.Data.SqlClient/SqlCommandColumnEncryptionSetting.xml
  xml/System.Data.SqlClient/SqlConnectionColumnEncryptionSetting.xml
  xml/System.Data/DataTable.xml
  xml/System.Diagnostics.Eventing.Reader/EventLogSession.xml
  xml/System.Diagnostics.Eventing.Reader/EventMetadata.xml
  xml/System.Drawing/Graphics.xml
  xml/System.IO.Packaging/PackWebResponse.xml
  xml/System.Net.Http/HttpClient.xml
  xml/System.Net.Http/HttpClientHandler.xml
  xml/System.Net.PeerToPeer.Collaboration/Peer.xml
  xml/System.Net.PeerToPeer/PnrpPermission.xml
  xml/System.Printing.Interop/PrintTicketConverter.xml
  xml/System.Printing/EnumeratedPrintQueueTypes.xml
  xml/System.Printing/PrintQueue.xml
  xml/System.Printing/PrintTicket.xml
  xml/System.Runtime.InteropServices.ComTypes/IStream.xml
  xml/System.Runtime.InteropServices.WindowsRuntime/ReadOnlyArrayAttribute.xml
  xml/System.Runtime.InteropServices.WindowsRuntime/ReturnValueNameAttribute.xml
  xml/System.Runtime.InteropServices.WindowsRuntime/WriteOnlyArrayAttribute.xml
  xml/System.Runtime.InteropServices/DefaultDllImportSearchPathsAttribute.xml
  xml/System.Runtime.InteropServices/Marshal.xml
  xml/System.Security.Cryptography/ECCurve+NamedCurves.xml
  xml/System.Speech.Recognition.SrgsGrammar/SrgsRule.xml
  xml/System.Speech.Recognition/Choices.xml
  xml/System.Speech.Recognition/Grammar.xml
  xml/System.Threading.Tasks/Parallel.xml
  xml/System.Threading.Tasks/Task.xml
  xml/System.Threading.Tasks/TaskCanceledException.xml
  xml/System.Threading.Tasks/TaskCreationOptions.xml
  xml/System.Threading.Tasks/TaskFactory.xml
  xml/System.Threading.Tasks/TaskSchedulerException.xml
  xml/System.Threading.Tasks/Task`1.xml
  xml/System.Threading/BarrierPostPhaseException.xml
  xml/System.Web.UI.MobileControls.Adapters.XhtmlAdapters/XhtmlControlAdapter.xml
  xml/System/AggregateException.xml
  xml/System/Exception.xml
  xml/ns-System.IO.Packaging.xml
  xml/ns-System.Net.Http.xml
  xml/ns-System.Printing.Interop.xml
  xml/ns-System.Speech.Synthesis.TtsEngine.xml
Labels: area-Meta

#10877 Correct typo and formatting
  snippets/csharp/System.Windows/Rect/Overview/MyApp.xaml
  snippets/csharp/System.Windows/Rect/Overview/MyApp.xaml.cs
  snippets/csharp/System.Windows/Rect/Overview/MyApp1.xaml
  snippets/csharp/System.Windows/Rect/Overview/MyApp1.xaml.cs
  snippets/csharp/System.Windows/Rect/Overview/RectExample.cs
  snippets/csharp/System.Windows/Rect/Overview/RectExample1.cs
  snippets/csharp/System.Windows/Rect/Overview/Snippets.csproj
Labels: area-WPF, community-contribution

#10882 Update live protection workflow
  .github/workflows/live-protection.yml
Labels: area-Infrastructure

#10782 Fix more tables
  xml/Microsoft.SqlServer.Server/SqlMetaData.xml
  xml/Microsoft.VisualBasic.ApplicationServices/WindowsFormsApplicationBase.xml
  xml/System.Buffers.Text/Utf8Formatter.xml
  xml/System.Buffers.Text/Utf8Parser.xml
  xml/System.Security.AccessControl/RegistryAccessRule.xml
  xml/System.Security.AccessControl/RegistryAuditRule.xml
  xml/System.Web.UI.Design/DataSourceDesigner.xml
  xml/System.Windows.Controls/ComboBox.xml
  xml/System.Windows.Forms.Design.Behavior/Behavior.xml
  xml/System.Windows.Media/BitmapCacheBrush.xml
  xml/System.Xml/XmlDocument.xml
  xml/System.Xml/XmlWriterSettings.xml
  xml/System/TimeZoneInfo+TransitionTime.xml
Labels: area-Infrastructure

#10750 Add remark about timeout scope on HttpCompletionOptions enum
  snippets/csharp/System.Net.Http/HttpCompletionOption/HttpCompletionOptionSnippets.cs
  snippets/csharp/System.Net.Http/HttpCompletionOption/HttpCompletionOptionSnippets.csproj
  snippets/csharp/System.Net.Http/HttpCompletionOption/Program.cs
  xml/System.Net.Http/HttpCompletionOption.xml
Labels: area-System.Net.Http, community-contribution

#10893 Remove System.Speech from source-of-truth assembly list
  .github/policies/disallow-edits.yml
  docfx.json
Labels: area-Infrastructure
