Repository dotnet/dotnet-api-docs, pull requests merged in 2025-06, with the labels that each got.

#11404 Add new ms.subservice values
  docfx.json
Labels: area-Infrastructure

#11247 Update SslProtocols property value
  xml/System.Net.Http/HttpClientHandler.xml
Labels: area-System.Net.Http

#11401 Add more detail to GetFunctionPointerForDelegate docs
  xml/System.Runtime.InteropServices/Marshal.xml
Labels: area-System.Runtime.InteropServices

#11394 Add a note describing feature switches as last resort option
  xml/System.Diagnostics.CodeAnalysis/FeatureSwitchDefinitionAttribute.xml
Labels: community-contribution, needs-area-label

#11376 Fix feature switch example
  xml/System.Diagnostics.CodeAnalysis/FeatureSwitchDefinitionAttribute.xml
Labels: area-System.Diagnostics, community-contribution

#11307 Fix description of ProcessStartInfo.Environment
  xml/System.Diagnostics/ProcessStartInfo.xml
Labels: area-System.Diagnostics

#11462 Update area mentionees
  .github/policies/mention-owners.yml
Labels: area-Infrastructure

#11486 Fix X509Certificate.GetSerialNumberString to indicate correct endianness
  xml/System.Security.Cryptography.X509Certificates/X509Certificate.xml
Labels: area-System.Security

#11487 Port some docs from IntelliSense
  xml/System.Net/IPAddress.xml
  xml/System.Net/IPNetwork.xml
Labels: area-System.Net

#11446 Fix UnicodeRanges documentation
  xml/System.Text.Unicode/UnicodeRanges.xml
Labels: area-System.Text.Encoding, community-contribution

#11425 Add link to RegEx docs
  xml/System.ComponentModel.DataAnnotations/RegularExpressionAttribute.xml
Labels: area-System.ComponentModel.DataAnnotations, user-feedback

#11500 Add missing project file
  snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CultureInfo.GetCultures/VB/Program.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CultureInfo.GetCultures/VB/Project.vbproj
  snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CultureInfo.GetCultures/VB/getcultures.vb
  snippets/visualbasic/VS_Snippets_CLR_System/system.Globalization.CultureInfo.GetCultures/VB/getcultures3.vb
Labels: area-System.Globalization

#11511 Fix FromBase64Transform.CanTransformMultipleBlocks to not say "always false".
  xml/System.Security.Cryptography/FromBase64Transform.xml
Labels: area-System.Security

#11439 Clarify order of signal handler execution for .NET 10
  xml/System.Runtime.InteropServices/PosixSignalRegistration.xml
Labels: area-System.Runtime.InteropServices
