Repository dotnet/dotnet-api-docs, pull requests merged in 2025-07, with the labels that each got.

#11252 BitArray.CopyTo(Array, Int32) may not use Array.Copy to copy the elem…
  xml/System.Collections/BitArray.xml
Labels: area-System.Collections, community-contribution

#11313 Fix wording of ldloca description
  xml/System.Reflection.Emit/OpCodes.xml
Labels: area-System.Reflection.Emit, community-contribution

#11314 Fix description of pointer in ldloca.s
  xml/System.Reflection.Emit/OpCodes.xml
Labels: area-System.Reflection.Emit, community-contribution

#11553 [WinHTTP] Document `MaxResponseDrainSize` default change
  xml/System.Net.Http/WinHttpHandler.xml
Labels: area-System.Net.Http

#11600 Remove redundant item closing tag from dotpoint list
  xml/System.Diagnostics/Activity.xml
Labels: area-System.Diagnostics, community-contribution

#11591 Remove invalid authors
  docfx.json
Labels: area-Infrastructure

#11593 Remove broken links - July 2025
  xml/System.Threading.Tasks/TaskCompletionSource`1.xml
  xml/System.Web.DynamicData/DynamicFilter.xml
  xml/System.Web.DynamicData/DynamicHyperLink.xml
  xml/System.Web.DynamicData/DynamicRouteExpression.xml
  xml/System.Web.DynamicData/QueryableFilterRepeater.xml
  xml/System.Web.DynamicData/QueryableFilterUserControl.xml
  xml/System.Web.UI.WebControls/Button.xml
  xml/System.Web.UI.WebControls/CheckBoxList.xml
  xml/System.Web.UI.WebControls/DropDownList.xml
  xml/System.Web.UI.WebControls/FileUpload.xml
  xml/System.Web.UI.WebControls/ImageButton.xml
  xml/System.Web.UI.WebControls/LinkButton.xml
  xml/System.Web.UI.WebControls/ListView.xml
  xml/System.Web.UI.WebControls/Menu.xml
  xml/System.Web.UI.WebControls/Repeater.xml
  xml/System.Web.UI.WebControls/RouteParameter.xml
  xml/System.Web.UI.WebControls/TextBox.xml
  xml/System.Web.UI/Page.xml
  xml/System.Web/HttpRequest.xml
  xml/System.Web/HttpServerUtility.xml
  xml/System.Windows.Controls/AdornedElementPlaceholder.xml
  xml/System.Windows.Controls/ExceptionValidationRule.xml
  xml/System.Windows.Controls/GroupStyle.xml
  xml/System.Windows.Controls/WebBrowser.xml
  xml/System.Windows.Data/Binding.xml
  xml/System.Windows.Data/BindingListCollectionView.xml
  xml/System.Windows.Data/CollectionViewSource.xml
  xml/System.Windows.Data/FilterEventArgs.xml
  xml/System.Windows.Data/FilterEventHandler.xml
  xml/System.Windows.Data/ListCollectionView.xml
  xml/System.Windows.Data/PropertyGroupDescription.xml
  xml/System.Windows/DataTemplate.xml
  xml/System.Windows/DataTrigger.xml
Labels: area-Meta

#11426 Clarify that sequence is sorted in example
  xml/System.Linq/Enumerable.xml
Labels: area-System.Linq, user-feedback

#10303 Fixed documentation for MemoryLoadBytes
  xml/System/GCMemoryInfo.xml
Labels: area-System.Runtime, community-contribution

#8959 Update strmreader read2.vb
  snippets/visualbasic/VS_Snippets_CLR/StrmReader Read2/VB/strmreader read2.vb
Labels: area-System.IO, community-contribution

#11621 Fix incorrect article
  xml/System/String.xml
Labels: area-System.Runtime, community-contribution

#11620 Improve TimeSpan.Divide parameter descriptions (#11619)
  xml/System/TimeSpan.xml
Labels: area-System.Runtime, community-contribution
